{include file="public/heard"}
    <body>
	     <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">报表统计</a>
                <a>
                    <cite>统计列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
	<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
	<div class="layui-col-md12">
	<div class="layui-card">
		<div class="layui-tab" lay-filter="test1">
		  <ul class="layui-tab-title">
			<li class="layui-this">充值卡</li>
			<li>用户</li>
			<li>日期</li>
			<li>结算方式</li>
			<li>运营商</li>
		  </ul>
		  <div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
			  <div class="layui-card-body ">
				<form class="layui-form layui-col-space5" >
							  <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="uid" placeholder="会员ID" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
								<input type="text" name="name" placeholder="用户名" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
                                <input class="layui-input"  autocomplete="off" placeholder="开始日期" name="start" id="start">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<input class="layui-input"  autocomplete="off" placeholder="截止日期" name="end" id="end">
								</div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" type="button" lay-submit="" lay-filter="sreach" lay-skin="select" lay-filter="type">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
								</form>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table" id="mlist" lay-filter="mlist">
                                <thead>
                                    <tr>
                                </thead>
                            </table>
                        </div>
			</div>
			<div class="layui-tab-item">
			  <div class="layui-card-body ">
				<form class="layui-form layui-col-space5" >
							  <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="uid1" placeholder="会员ID" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
								<input type="text" name="name1" placeholder="用户名" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
                                <input class="layui-input"  autocomplete="off" placeholder="开始日期" name="start1" id="start">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<input class="layui-input"  autocomplete="off" placeholder="截止日期" name="end1" id="end">
								</div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" type="button" lay-submit="" lay-filter="sreach1" lay-skin="select" lay-filter="type">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
								</form>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table" id="mlist1" lay-filter="mlist1">
                                <thead>
                                    <tr>
                                </thead>
                            </table>
                        </div>
				</div>
			<div class="layui-tab-item">
			  <div class="layui-card-body ">
				<form class="layui-form layui-col-space5" >
							  <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="uid2" placeholder="会员ID" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
								<input type="text" name="name2" placeholder="用户名" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
                                <input class="layui-input"  autocomplete="off" placeholder="开始日期" name="start2" id="start">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<input class="layui-input"  autocomplete="off" placeholder="截止日期" name="end2" id="end">
								</div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" type="button" lay-submit="" lay-filter="sreach2" lay-skin="select" lay-filter="type">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
								</form>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table" id="mlist2" lay-filter="mlist2">
                                <thead>
                                    <tr>
                                </thead>
                            </table>
                        </div></div>
			
			<div class="layui-tab-item">
			  <div class="layui-card-body ">
				<form class="layui-form layui-col-space5" >
							  <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="uid3" placeholder="会员ID" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
								<input type="text" name="name3" placeholder="用户名" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
                                <input class="layui-input"  autocomplete="off" placeholder="开始日期" name="start3" id="start">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<input class="layui-input"  autocomplete="off" placeholder="截止日期" name="end3" id="end">
								</div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" type="button" lay-submit="" lay-filter="sreach3" lay-skin="select" lay-filter="type">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
								</form>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table" id="mlist3" lay-filter="mlist3">
                                <thead>
                                    <tr>
                                </thead>
                            </table>
                        </div>
						</div>
			
			<div class="layui-tab-item">
			  <div class="layui-card-body ">
				<form class="layui-form layui-col-space5" >
							  <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="uid4" placeholder="会员ID" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
								<input type="text" name="name4" placeholder="用户名" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
                                <input class="layui-input"  autocomplete="off" placeholder="开始日期" name="start4" id="start">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<input class="layui-input"  autocomplete="off" placeholder="截止日期" name="end4" id="end">
								</div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" type="button" lay-submit="" lay-filter="sreach4" lay-skin="select" lay-filter="type">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
								</form>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table" id="mlist4" lay-filter="mlist4">
                                <thead>
                                    <tr>
                                </thead>
                            </table>
                        </div>
						</div>
		  </div>
		</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
	<script type="text/html" id="lirun">
      <p class="layui-bg-red">{{d.lirun}}</p>
    </script>
	<script type="text/html" id="action">
	<button class="layui-btn layui-btn-danger"  lay-event="del">删除</button>
	</script>
    <script>
	layui.use(['table','form','laydate','element'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery,laydate = layui.laydate,element = layui.element;;
        tableIn = table.render({
            elem: '#mlist',
            url: "",
            method: 'post',
			page:true,
			totalRow:true,
            cols: [[
			    {type: 'checkbox',width:30,minWidth:30},
				{field:'class',title:"通道", align: 'center', width:180,totalRowText: '合计：'},
			    {field:'cid',title: '订单总数',align: 'center',totalRow: true},
				{field:'money',title: '提交面额',align: 'center',totalRow: true},
				{field:'amt',title: '成功面额',align: 'center',totalRow: true},
				{field:'su',title: '用户金额',align: 'center',totalRow: true},
				{field:'supr',title: '系统金额',align: 'center',totalRow: true},
				{field:'spr',title: '获利金额',align: 'center',totalRow: true}
            ]],
			limit:15,
			limits:[10,20,50,60],
			data:[]
        });		
		element.on('tab(test1)', function(){
			$("#start").val('');
			$("#end").val('');
		  });
		form.on('submit(sreach)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var st=$("#start").val(),se=$("#end").val();
			var index = layer.load(3, {
					  shade: [0.1,'#fff'] //0.1透明度的白色背景
					});
                 tableIn.reload({
				     url: "{:U('simple/orders/index')}",
					page:{curr:1},
                     where:{
						 STime:st,
						 ETime:se,
						 Uid:$("input[name=uid]").val(),
						 Name:$("input[name=name]").val(),
						 Search:1
                     }
                 });
				 layer.close(index);
        });
		var nowTime=new Date();    
		var startTime=laydate.render({
			elem:'#start',
			type:'datetime',
			btns: ['confirm'],
			max:'nowTime',//默认最大值为当前日期
			done:function(value,date){
				endTime.config.min={    	    		
					year:date.year,
					month:date.month-1,//关键
					date:date.date,
					hours:date.hours,
					minutes:date.minutes,
					seconds:date.seconds
				};
				
			}
		})
		var endTime=laydate.render({
			elem:'#end',
			type:'datetime',
			btns: ['confirm'],
			max:'nowTime',
			done:function(value,date){   	   
				startTime.config.max={
						year:date.year,
						month:date.month-1,//关键
						date:date.date,
						hours:date.hours,
						minutes:date.minutes,
						seconds:date.seconds
				}
				
			}
		})
      });
	  
    </script>
	<script>
	layui.use(['table','form','laydate'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery,laydate = layui.laydate;
        tableIn1 = table.render({
            elem: '#mlist1',
            url: "",
            method: 'post',
			page:true,
			totalRow:true,
            cols: [[
			    {type: 'checkbox',width:30,minWidth:30},
				{field:'name',title:"用户名", align: 'center', width:180,totalRowText: '合计：'},
			    {field:'cid',title: '订单总数',align: 'center'},
				{field:'money',title: '提交面额',align: 'center',totalRow: true},
				{field:'amt',title: '成功面额',align: 'center',totalRow: true},
				{field:'su',title: '用户金额',align: 'center'},
				{field:'supr',title: '系统金额',align: 'center'},
				{field:'spr',title: '获利金额',align: 'center'}
            ]],
			limit:15,
			limits:[10,20,50,60],
			data:[]
        });		
		
		form.on('submit(sreach1)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var st=$("#start").val(),se=$("#end").val();
			var index = layer.load(3, {
					  shade: [0.1,'#fff'] //0.1透明度的白色背景
					});
                 tableIn1.reload({
				 url: "{:U('simple/orders/index')}",
					page:{curr:1
						 },
                     where:{
						 STime:st,
						 ETime:se,
						 Uid:$("input[name=uid]").val(),
						 Name:$("input[name=name]").val(),
						 Search:2
                     }
                 });
				 layer.close(index);
        });
	var nowTime=new Date();    
    var startTime=laydate.render({
    	elem:'#start1',
    	type:'datetime',
    	btns: ['confirm'],
    	max:'nowTime',//默认最大值为当前日期
    	done:function(value,date){
    	    endTime.config.min={    	    		
    	    	year:date.year,
    	    	month:date.month-1,//关键
                date:date.date,
                hours:date.hours,
                minutes:date.minutes,
                seconds:date.seconds
    	    };
    	    
    	}
    })
    var endTime=laydate.render({
    	elem:'#end1',
    	type:'datetime',
    	btns: ['confirm'],
    	max:'nowTime',
    	done:function(value,date){   	   
    	    startTime.config.max={
    	    		year:date.year,
        	    	month:date.month-1,//关键
                    date:date.date,
                    hours:date.hours,
                    minutes:date.minutes,
                    seconds:date.seconds
    	    }
    	    
    	}
    })
		
	
      });
	  
    </script>
	<script>
	layui.use(['table','form','laydate'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery,laydate = layui.laydate;
        tableIn2 = table.render({
            elem: '#mlist2',
            url: "",
            method: 'post',
			page:true,
			totalRow:true,
            cols: [[
			    {type: 'checkbox',width:30,minWidth:30},
				{field:'day',title:"日期", align: 'center', width:130,totalRowText: '合计：'},
			    {field:'cid',title: '订单总数',align: 'center',totalRow: true},
				{field:'money',title: '提交面额',align: 'center',totalRow: true},
				{field:'amt',title: '成功面额',align: 'center',totalRow: true},
				{field:'su',title: '用户金额',align: 'center',totalRow: true},
				{field:'supr',title: '系统金额',align: 'center',totalRow: true},
				{field:'spr',title: '获利金额',align: 'center',totalRow: true}
            ]],
			limit:15,
			limits:[10,20,50,60],
			data:[]
        });		
		
		form.on('submit(sreach2)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var st=$("#start2").val(),se=$("#end2").val();
			var index = layer.load(3, {
					  shade: [0.1,'#fff'] //0.1透明度的白色背景
					});
                 tableIn2.reload({
				    url: "{:U('simple/orders/index')}",
					page:{curr:1
						 },
                     where:{
						 STime:st,
						 ETime:se,
						 Uid:$("input[name=uid]").val(),
						 Name:$("input[name=name]").val(),
						 Search:3
                     }
                 });
				 layer.close(index);
        });
		var nowTime=new Date();    
		var startTime=laydate.render({
			elem:'#start2',
			type:'datetime',
			btns: ['confirm'],
			max:'nowTime',//默认最大值为当前日期
			done:function(value,date){
				endTime.config.min={    	    		
					year:date.year,
					month:date.month-1,//关键
					date:date.date,
					hours:date.hours,
					minutes:date.minutes,
					seconds:date.seconds
				};
				
			}
		})
		var endTime=laydate.render({
			elem:'#end2',
			type:'datetime',
			btns: ['confirm'],
			max:'nowTime',
			done:function(value,date){   	   
				startTime.config.max={
						year:date.year,
						month:date.month-1,//关键
						date:date.date,
						hours:date.hours,
						minutes:date.minutes,
						seconds:date.seconds
				}
				
			}
		})
		    
      });
	  
    </script>
	<script>
	layui.use(['table','form','laydate'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery,laydate = layui.laydate;
        tableIn3 = table.render({
            elem: '#mlist3',
            url: "",
            method: 'post',
			page:true,
			totalRow:true,
            cols: [[
			    {type: 'checkbox',width:30,minWidth:30},
				{field:'zhname',title:"银行", align: 'center', sort: true,width:80,totalRowText: '合计：'},
			    {field:'cid',title: '笔数',align: 'center',totalRow: true},
				{field:'money',title: '金额（远）',align: 'center',totalRow: true},
				{field:'su',title: '手续费',align: 'center',totalRow: true}
            ]],
			limit:15,
			limits:[10,20,50,60],
			data:[]
        });		
		
		form.on('submit(sreach3)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var st=$("#start3").val(),se=$("#end3").val();
			var index = layer.load(3, {
					  shade: [0.1,'#fff'] //0.1透明度的白色背景
					});
                 tableIn3.reload({
				    url: "{:U('simple/orders/index')}",
					page:{curr:1
						 },
                     where:{
						 st:st,
						 se:se,
						 Search:4
                     }
                 });
				 layer.close(index);
        });
		var nowTime=new Date();    
		var startTime=laydate.render({
			elem:'#start3',
			type:'datetime',
			btns: ['confirm'],
			max:'nowTime',//默认最大值为当前日期
			done:function(value,date){
				endTime.config.min={    	    		
					year:date.year,
					month:date.month-1,//关键
					date:date.date,
					hours:date.hours,
					minutes:date.minutes,
					seconds:date.seconds
				};
				
			}
		})
		var endTime=laydate.render({
			elem:'#end3',
			type:'datetime',
			btns: ['confirm'],
			max:'nowTime',
			done:function(value,date){   	   
				startTime.config.max={
						year:date.year,
						month:date.month-1,//关键
						date:date.date,
						hours:date.hours,
						minutes:date.minutes,
						seconds:date.seconds
				}
				
			}
		})
		    
      });
	  
    </script>
	<script>
	layui.use(['table','form','laydate'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery,laydate = layui.laydate;
        tableIn4 = table.render({
            elem: '#mlist4',
            url: "",
            method: 'post',
			page:true,
			totalRow:true,			
            cols: [[
			     {type: 'checkbox',width:30,minWidth:30},
				{field:'name',title:"渠道", align: 'center', sort: true,width:80,totalRowText: '合计：'},
			    {field:'cid',title: '笔数',align: 'center',totalRow: true},
				{field:'money',title: '提交面额',align: 'center',totalRow: true},
				{field:'amt',title: '成功面额',align: 'center',totalRow: true},
				{field:'su',title: '用户金额',align: 'center',totalRow: true},
				{field:'supr',title: '系统金额',align: 'center',totalRow: true},
				{field:'spr',title: '获利金额',align: 'center',totalRow: true}
            ]],
			limit:15,
			limits:[10,20,50,60],
			data:[]
        });		
		
		form.on('submit(sreach4)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var st=$("#start4").val(),se=$("#end4").val();
			var index = layer.load(3, {
					  shade: [0.1,'#fff'] //0.1透明度的白色背景
					});
                 tableIn4.reload({
				    url: "{:U('simple/orders/index')}",
					page:{curr:1
						 },
                     where:{
						 STime:st,
						 ETime:se,
						 Uid:$("input[name=uid]").val(),
						 Name:$("input[name=name]").val(),
						 Search:5
                     }
                 });
				 layer.close(index);
        });
		var nowTime=new Date();    
		var startTime=laydate.render({
			elem:'#start4',
			type:'datetime',
			btns: ['confirm'],
			max:'nowTime',//默认最大值为当前日期
			done:function(value,date){
				endTime.config.min={    	    		
					year:date.year,
					month:date.month-1,//关键
					date:date.date,
					hours:date.hours,
					minutes:date.minutes,
					seconds:date.seconds
				};
				
			}
		})
		var endTime=laydate.render({
			elem:'#end4',
			type:'datetime',
			btns: ['confirm'],
			max:'nowTime',
			done:function(value,date){   	   
				startTime.config.max={
						year:date.year,
						month:date.month-1,//关键
						date:date.date,
						hours:date.hours,
						minutes:date.minutes,
						seconds:date.seconds
				}
				
			}
		})
		   
      });
	  
    </script>
	
</html>