/*设置首页*/
#minirefresh{top: 2.2rem;height: auto;}
.setting-index-page .minirefresh-downwrap{top: 0.5rem;}
.setting-wrap{padding-top: 1.05rem;}
.setting-modules{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;background: #fff;padding: 0 0 0 1.1rem;}
.setting-modules .media img:first-child{margin-right: 1.1rem;}
.setting-modules .media-body{border-bottom: 1px solid #ddd;position: relative;height: 2.25rem;line-height: 2.25rem;padding-right: 2rem;}
.setting-modules .media-body:after{display: block;content: "";position: absolute;top: 0.7rem;right: 0.75rem;width: 0.5rem;height: 0.85rem;background: url("../../../images/index/sale_details_btn.png") no-repeat;background-size: 100%;}
.setting-modules .media-body.no-bg:after{background: none;}
.setting-modules .media:last-child .media-body{border-bottom: 0;}
.setting-modules .media-body .left-txt{font-size: 0.7rem;color: #6d6d6d;}
.setting-modules .media-body .right-txt{font-size: 0.6rem;color: #999;}
.btn-full{margin-top: 2.15rem;}

/*帮助中心*/
.setting-help-warp{padding-top: 0.9rem;}
.setting-help-warp .setting-modules{padding-left: 1.275rem;margin-bottom: 0.75rem;}
.setting-help-warp .media-body{margin-left: 2rem;height: 2.4rem;line-height: 2.4rem;}
.setting-help-warp .setting-modules .media-body:after{top:0.75rem;}
.setting-help-warp .media:first-child .media-body{margin: 0;}
.setting-help-warp .media img:first-child{margin-right: 0.9rem;}

/*常见问题*/
.setting-faq-page .minirefresh-downwrap{top:0;}
.modules-item{position: relative;padding: 0 0 0 0.75rem;background: #fff;}
.modules-item:after{display: block;content: "";position: absolute;top: 0.85rem;right: 0.75rem;width: 0.5rem;height: 0.85rem;background: url("../../../images/common/gray_details_btn.png") no-repeat;background-size: 100%;}
.modules-item.active:after{width: 0.85rem;height: 0.5rem;background: url("../../images/common/up-arrow-34@20.png") no-repeat;background-size: 100%;top: 1rem;}
.modules-item .media{border-bottom: 1px solid #ddd;padding: 0.7rem 0.75rem 0.7rem 0;cursor: pointer;font-size: 0.75rem;color: #333;}
.media-content{display:none;padding: 0.85rem 0.75rem;font-size: 0.7rem;color: #999;background: #f6f6f6;margin-left: -0.75rem;}
.modules-item.active .media-content{display: block;}
.setting-faq-page .media-body{width: 100%;}
.setting-faq-page .media-body .left-txt{width: 90%;padding-right: 0.5rem;height: 1.1rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/*文章详情*/
.article-detail-page .modules-item:after{background: none;}
.article-detail-page .media-content{display: block;background: #fff;}
.article-detail-page .media-content table, 
.article-detail-page .media-content img{width:100%;}
.article-detail-page .modules-item .media{font-size:1.3rem;color:#999;border-bottom:1px solid #f2f2f3;margin-right: 0.75rem;}

/*个人信息*/
.person-info-wrap{padding-top: 0.6rem;}
.person-info-wrap .setting-modules{padding-left: 0.75rem;margin-bottom: 0.6rem;}
.person-info-wrap .setting-modules .media img:first-child {margin-right: 0.75rem;}
