@charset"utf8";
.max-icon2{ background: url(../../images/common/mix-icon2.png) no-repeat; }
.posiRe{position:relative}
.recycle-info-warp{ width: 100%; overflow: hidden; }
.recycle-info-banner{ width: 100%; height:586px; background: url(../../images/enterpriseRecycle/join-banner.png) no-repeat center 0; position: relative;   }
.recycle-banner-btn{ width: 318px; height: 76px; display: block; background: #ccc; position: absolute; top: 334px; left: 464px; background: url(../../images/enterpriseRecycle/join-btn.png) no-repeat; }
.recycle-banner-btn:hover{ background: url(../../images/enterpriseRecycle/join-btn-pre.png) no-repeat; }
.business-advantage{ width: 100%; overflow: hidden; margin-top: 1px solid #dddddd; height: 542px; background: #fff; }
.business-main{ width: 100%; text-align: center; margin-top: 90px; }
.business-main h3{ font-size: 38px; color: #27baff; }
.business-main p{ font-size: 18px; color: #666666; line-height: 40px; }
.business-box{ width: 1320px; overflow: hidden; margin-top: 70px; }
.business-box li{ width: 330px; height: 284px; float: left; overflow: hidden; text-align: center; }
.business-box li i.max-icon2{ width: 100px; height: 100px; cursor: pointer; display: block; margin: 0 auto; }
.business-box li i.business-icon-service{ background-position: 0px -128px; }
.business-box li i.business-icon-all{ background-position: 0px -238px;   }
.business-box li i.business-icon-various{ background-position: 0px -348px;   }
.business-box li i.business-icon-capital{ background-position: 0px -458px;  }
.business-box li i.business-icon-service:hover{ background-position: -110px -128px; }
.business-box li i.business-icon-all:hover{ background-position: -110px -238px;   }
.business-box li i.business-icon-various:hover{ background-position: -110px -348px;   }
.business-box li i.business-icon-capital:hover{ background-position: -110px -458px;  }
.business-box li span{ font-size: 18px;color: #666666;margin: 17px 0;display: block; }
.business-row-com{width: 34px;height: 5px;margin: 0 auto;}
.business-row1{ background: #ff6a6c; }
.business-row2{ background: #9593fb; }
.business-row3{ background: #27baff; }
.business-row4{ background: #ffba43; }
.business-box li p{font-size: 14px;line-height: 24px;color: #999999;padding-top: 12px;}
.business-advantage.business-type{ background-color: #f9fafe; height: 840px;  }
.business-advantage.business-type .business-type-img{ width: 678px; height: 535px; margin: 0 auto; padding-top: 20px; }
.business-advantage.business-type .business-type-img img{width: 678px; height: 535px;}
.business-advantage.business-recycle{ height: 512px; background: #373737; }
.business-advantage.business-recycle .business-main h3{ color: #fff; }
.business-advantage.business-recycle .business-main p{ color: #aeaeae; }
.business-advantage.business-recycle .business-type-img{ width: 1078px; height: 132px; margin: 0 auto; padding-top: 60px; }
.business-advantage.business-recycle .business-type-img img{width: 1078px; height:132px;}
/*公众号*/
.web-wxOfficial-page{min-width: 1320px;}
.public-warp .recycle-info-banner{ height:476px; background: url(../../images/weixinOfficialAccount/narrate-banner.png) no-repeat center 0; }
.public-warp .recycle-info-banner .w1320{ position: relative; }
.web-wxOfficial-page .wx-qrcode-box{width: 254px;height: 254px;position: absolute;top: 90px;left: 642px;}
.public-warp-img{ width: 254px; height: 254px; }
.public-contern{ width: 100%; background: #fff; overflow: hidden; }
.public-main{ overflow: hidden; margin: 30px 152px;}
.public-contern .public-main span{ display: block; }
.public-contern .public-main .public-contern-img{ width: 406px; height: 405px; }
.public-contern .public-main .public-contern-img img{ width: 406px; height: 405px; }
.public-contern .public-main .public-contern-date{ width: 482px; height: 101px; padding-top: 120px; }
.public-contern .public-main .public-contern-date img{ width: 482px; height: 101px; }


