@charset"utf8";
/*banner样式*/
.main{ width: 100%; overflow: hidden; }
.main-banner{ width: 100%; height: 426px; overflow: hidden; position: relative; }
.main-banner .banner-warp{ position: relative; width: 100%; height: 426px; }
.banner-warp .banner-img{width: 100%; height: 100%; display: inline-block;}
.banner-warp .banner-img li{width: 100%; height: 100%;}
.banner-warp .banner-img li :first-child{ display: block; }
.banner-warp .banner-img .banner-box{position: absolute;width: 100%;height: 426px;top: 0;left: 0;background-position: center top;background-repeat: no-repeat;display: block;z-index: 1;overflow: hidden;}
.banner-box-href{position: relative; width: 100%; height: 100%;display: block;}

.main-cont-warp{width: 100%; position: absolute;top: 0px;}
.main-cont-box{position: relative;width: 1320px;margin: 0 auto;height: 426px;z-index: 3;overflow: hidden;}

.main-center{ width: 802px; height: 400px; position: relative;}
.main-btn{ position: absolute; width: 34px; height: 70px; cursor: pointer; display: none; }
.main-btn-prev{ top: 166px; left: 0; background: url(../../images/common/prev.png) no-repeat;  }
.main-btn-next{ top: 166px; right: 0; background: url(../../images/common/next.png) no-repeat;  }
.carousel-inner{ width: 100%; overflow: hidden; text-align: center; position: absolute; bottom: 10px; height: 18px; }
.carousel-inner li{ width: 10px; height: 10px; border-radius: 20px;margin-right: 4px;    display: inline-block; background: #fff; }
.carousel-inner li.selected{ background: #ffad00; }
.main-cont-choice{ position: absolute;
    top: 0px;
    right: 1px;
    width: 400px;
    height: 426px; }
.main-choice{ width: 100%;
    margin-top: 20px;
    background: #fff;
    border-radius: 10px; }
.main-choice h3{ height: 80px; line-height: 80px; text-align: center; font-size: 16px; color: #333333; }
.main-choice-list{ width: 100%; overflow: hidden;  }
.main-choice-list li{ width: 200px; height: 100px; float: left; text-align: center; color: #999999; font-size: 14px; cursor: pointer; }
.main-choice-list li.active p{ color: #27baff; }
.main-choice-list li i{ width: 44px; height: 44px; display: block; margin: 0 auto;  }
.main-choice-list li p{ padding-top: 4px; }
.main-choice-list li i.icon-recovery{ background-position: 0 -408px; }
.main-choice-list li i.icon-heart{ background-position: -52px -408px; }
.main-choice-list li i.icon-security{ background-position: -104px -408px; }
.main-choice-list li i.icon-fast{ background-position: -154px -408px; }
.main-choice-list li i.icon-laud{ background-position: 0 -460px; }
.main-choice-list li i.icon-interface{ background-position: -52px -460px; }
.main-choice-list li i.icon-channel{  background-position: -52px -460px; }
.main-choice-list li.active i.icon-recovery{ background-position: -236px -408px; }
.main-choice-list li.active i.icon-heart{ background-position: -288px -408px; }
.main-choice-list li.active i.icon-security{ background-position: -340px -408px; }
.main-choice-list li.active i.icon-fast{ background-position: -390px -408px; }
.main-choice-list li.active i.icon-laud{ background-position: -236px -460px; }
.main-choice-list li.active i.icon-channel{  background-position: -288px -460px; }
.main-choice-list li.active i.icon-interface{  background-position: -288px -460px; }

.head-top a.head-top-left:hover{ color: #00a6e8; text-decoration:underline; }
.head-top li a.txt-blue:hover{ color: #00a6e8; text-decoration:underline; }
.head-top li a.txt-red:hover{ color: #c4524b; text-decoration:underline; }

/*轮播图问题*/
.main-center-click{ width: 100%; height: 100%; display: block; }
.main-center-click li{ width: 100%; height: 100%; display: none; }
.main-center-click li.active{ display: block; }
.main-center-click .main-center-href{ width: 100%; height: 100%; display: inline-block;  }
/*公告*/
.main-notice{ overflow: hidden;  }
.notice{ overflow: hidden; height: 62px; position: relative;   }
.notice-cont{width: 100%; display: none; height: 62px; line-height: 62px; position: relative; font-size: 14px;}
.notice-cont .notice-tit{ padding-left: 54px; }
.notice-icon{ width: 49px; height: 44px; display: block; background: url(../../images/common/notice-icon.png) no-repeat;  position: absolute; top: 0; left: 0;   }
.notice-cont.active{ display: block; }
.notice-list{ width: 1160px; margin: 0 auto; }
.notice-list ul{ overflow: hidden; }
.notice-list ul li{ width: 175px; height: 140px; float: left; margin-top: 16px; font-size: 16px; color: #333333; }
.notice-list ul li.notice-list-spot{ width: 152px; height: 140px; }
.notice-list ul li.notice-list-spot span{ width: 8px;  height: 8px;  background: #d8d7d7; display: block; float: left; border-radius: 50px; margin: 0 16px; margin-top: 40px; }
.notice-list ul li i{ width: 68px; height: 68px; display: block; margin: 0 auto; }
.notice-list ul li i.icon-user{ background-position: 0 0; }
.notice-list ul li i.icon-card{ background-position: -78px 0; }
.notice-list ul li i.icon-money{ background-position: -156px 0; }
.notice-list ul li i.icon-withdrawals{ background-position: -235px 0; }
.notice-list ul li p{ line-height: 20px; text-align: center; padding-top: 10px; }
/*列表*/
.switch-warp{ width: 100%; border-bottom: 1px solid #ddd; overflow: hidden; background: #f9fafe;}
.switch-list{ width: 100%; border-radius: 10px;-webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);    box-shadow: 0 15px 30px rgba(0,0,0,0.1);    -webkit-transform: translate3d(0, -2px, 0);   transform: translate3d(0, -2px, 0); overflow: hidden; margin-top: 60px; margin-bottom: 60px; border: 1px solid #ddd; background: #fff;}
.switch-top{ width: 100%; height: 60px;  border-bottom: 1px solid #07baff;  }
.switch-top li{width:auto; height: 24px; padding: 18px 0; cursor: pointer; float: left; font-size: 16px; position: relative;    text-align: center; }
.switch-top li:after{content: "";display: block;position: absolute;top: 15px;right: -1px;width: 1px;height: 30px;background: #ddd;}
.switch-top li.active{ background: #27baff; color: #fff; }
.switch-top li i{ width: 24px; height: 24px; display: inline-block; vertical-align: top;margin-right: 5px;}
.switch-top li i.icon-hot{ background-position: 0px -102px; }
.switch-top li i.icon-bill{ background-position: 0px -136px; }
.switch-top li i.icon-gamCall{ background-position: 0px -170px; }
.switch-top li i.icon-fuel-card{ background-position: 0px -204px; }
.switch-top li.active i.icon-hot{ background-position: -34px -102px; }
.switch-top li.active i.icon-bill{ background-position: -34px -136px; }
.switch-top li.active i.icon-gamCall{ background-position: -34px -170px; }
.switch-top li.active i.icon-fuel-card{ background-position: -34px -204px; }
.switch-top li.active .switch-arrow-up{ display: block; position: absolute; bottom: -2px; left: 50%;         width:0px;         height:0px;        border-left:10px solid transparent;          border-right:10px solid transparent;         border-bottom:10px solid #fff;         font-size:0px;         line-height:0px;       margin: 0 auto;    }
.switch-arrow-up{ display: none; }
.switch-comm-box{ padding: 22px 18px 18px 20px;  }
.switch-comm:first-child{ display: block; }
.switch-comm{ display: none; width:1278px; overflow: hidden; border-top: 1px solid #dddddd; border-left: 1px solid #dddddd;}
.switch-comm .switch-box-list{ width: 213px; height:155px; cursor: pointer; position: relative;z-index: 0; float: left; display: inline-block; }
.switch-comm .switch-box{ width: 212px; height:154px;   border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd; }
.switch-comm .switch-box img{ width: 212px; height:154px;}
.switch-comm .switch-box-hover{position: relative;z-index: 2;}
.switch-comm .switch-box-hover .switch-box{ width: 211px;height:153px; border: 1px solid #27baff;position: absolute;top: 0;left: 0;-moz-box-shadow: 3px 3px 3px #d8d8d8;-webkit-box-shadow: 3px 3px 3px #d8d8d8;box-shadow: 3px 3px 3px #d8d8d8;}
.switch-comm .switch-box-hover .switch-box img{width: 208px;height:150px;}
.switch-btn{ display: none; width: 132px; height: 30px; line-height: 30px; text-align: center; color: #fff; background: #27baff; position: absolute; left: 40px; bottom: 10px; border-radius: 6px; }
.switch-btn:hover{ background: #00a6e8; }
.switch-bottom{ border-top: 1px dashed #ddd; line-height: 59px; text-align: center; font-size: 16px; color: #999;}
.switch-bottom .divider{display: inline-block;width: 0;height: 14px;border-left: 1px solid #ddd;margin: 0 10px;vertical-align: -2px;}
.switch-bottom .contact_qq{display: inline-block;height: 22px;vertical-align: -4px;}
.switch-box-list.switch-box-hover .switch-btn{ display: block; }
/*.switch-box-list.switch-box-hover img{ width: 210px; height:152px;}*/
/*我们能做什么*/
.content-show{ width: 100%; overflow: hidden; border-bottom: 1px solid #ddd; }
.content-show h3{ font-size: 38px;color: #333; text-align: center; margin-top: 30px; margin-bottom: 30px; }
.content-main{ width:1317px; height: 388px; margin-bottom: 80px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;  border-left: 1px solid #ddd; }
.content-comm{ width: 438px;height: 388px; cursor: pointer; border-right: 1px solid #ddd; float: left; text-align: center; }
.content-comm i{ width: 100px; height: 100px; display: block; margin-top: 72px; margin-left: 164px; }
.content-comm i.icon-waste{ background-position: 0px  -78px;  }
.content-comm i.icon-capital{ background-position: 0px -188px;  }
.content-comm i.icon-trade{ background-position: 0px  -298px;  }
.content-comm:hover i.icon-waste{ background-position: -110px  -78px;  }
.content-comm:hover i.icon-capital{ background-position: -110px -188px;  }
.content-comm:hover i.icon-trade{ background-position: -110px  -298px;  }
.content-comm span{ font-size: 18px; color: #666666; margin: 17px  0; display: block; }
.content-comm .content-row{ width: 34px; height: 5px; background: #6cd8aa; margin:0 auto; }
.content-comm p{ font-size: 14px; line-height: 24px; color: #999999; padding-top: 12px; }
/*常见问题*/
.faq{ font-size: 38px; text-align: center; margin-top: 30px; margin-bottom: 30px; }
/*需知*/
.know-main{ width: 100%; overflow: hidden;}
.know-cont{ width: 1318px;height:400px; border:1px solid #ddd; border-radius:4px;  overflow: hidden; margin-bottom: 80px; -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);box-shadow: 0 15px 30px rgba(0,0,0,0.1);-webkit-transform: translate3d(0, -2px, 0);transform: translate3d(0, -2px, 0); }
.know-cont .know-box{  width: 1318px;height:400px;  }
.know-cont .know-box .know-box-left{ width: 258px; height: 400px; border-right: 1px solid #ddd; }
.know-box-left .know-left-img{ width:258px; height: 250px;  }
.know-box-left .know-left-img img{ width:258px; height: 250px;  }
.know-box-left .know-left-list{ width: 258px; overflow: hidden; margin-top: 30px; }
.know-box-left .know-left-list li{ width: 120px; padding-left: 6px; margin-bottom: 10px; float: left; text-align: center; font-size: 14px; color: #666666;   }
.know-box-left .know-left-list li a{ color: #666666; padding-left: 10px; background: url(../../images/common/s.png) 0px center no-repeat;}
.know-box-left .know-left-list li a:hover{ color: #27baff; }
.know-box-right{ width: 1058px; }
.know-right-main{width: 1022px;  padding: 0 18px; }
.know-right-main ul{ width: 1022px; }
.know-right-main ul li{ width: 1022px; cursor: pointer; position: relative; line-height: 54px; border-bottom: 1px dashed #ddd; }
.know-right-main ul li b{ font-size: 14px; color: #333333; font-weight: 100;  }
.know-right-main ul li .know-explain{ display: none; padding-bottom: 10px; font-size: 14px; color: #666666; overflow: hidden; line-height: 30px; }
.know-right-main ul li.active .know-explain{ display: block; }
.know-right-main ul li.active b{ color: #d25851; }
.know-right-main ul li i{ width: 8px; height: 8px; display: block; position: absolute; top: 24px; right: 0px; }
.know-right-main ul li i.icon-down{  background-position:-262px -114px; }
.know-right-main ul li.active i.icon-down{ background-position:-244px -114px; }
/* .know-right-main ul li i.icon-right{ background-position:-262px -114px; } */
/*卡回收页面*/
.index-main-bg{ width: 100%; height:auto; overflow: hidden; background: #f9fafe; }
.index-main-bg .crumbs-main-box{padding: 15px 0;}
.card-recovery{ width: 100%; height: auto; overflow: hidden; border-top: 1px solid #ddd; background: #fff;  border-bottom: 1px solid #ddd;padding-bottom: 15px;}
.card-recovery-inner{ width: 1320px; overflow: hidden; margin-top: 10px; }
/*卡类*/
.recovery-card-type{height:54px;overflow: hidden;margin-bottom: 25px;}
.card-recovery-tit{display: table;width: 88px;height:100%;overflow: hidden;float: left;}
.card-recovery-tit p{display: table-cell;vertical-align: middle;color: #333333;font-size: 16px;}
.card-recovery-cont{width:1232px;float: left;}
.recovery-card-type .card-recovery-list{float: left;position: relative;margin-right: 16px;cursor: pointer;text-align: center;}
.card-recovery-bg{width: 208px;height: 54px;line-height: 54px;font-size: 16px;color: #fff;border-radius: 6px;/*background: url(../../images/common/card-bj.png) no-repeat;*/}
.card-recovery-bg.card-recovery-bill{background-position: 0 0;}
.card-recovery-list.active .card-recovery-bg.card-recovery-bill, .card-recovery-list .card-recovery-bill.hover{background-position: 0 -64px;}
.card-recovery-bg.card-recovery-game{background-position: 0 -128px;}
.card-recovery-list.active .card-recovery-bg.card-recovery-game, .card-recovery-list .card-recovery-game.hover{background-position: 0 -192px;}
.card-recovery-bg.card-recovery-fuel{background-position: 0 -256px;}
.card-recovery-list.active .card-recovery-bg.card-recovery-fuel, .card-recovery-list .card-recovery-fuel.hover{background-position: 0 -320px;}
.card-recovery-bg.card-recovery-ecommerce{background-position: 0 -444px;}
.card-recovery-list.active .card-recovery-bg.card-recovery-ecommerce, .card-recovery-list .card-recovery-ecommerce.hover{background-position: 0 -508px;}
.card-recovery-bg.card-recovery-video{background-position: 0 -572px;}
.card-recovery-list.active .card-recovery-bg.card-recovery-video, .card-recovery-list .card-recovery-video.hover{background-position: 0 -636px;}
.card-recovery-bg.card-recovery-ebusiness{background-position: 0 -700px;}
.card-recovery-list.active .card-recovery-bg.card-recovery-ebusiness, .card-recovery-list .card-recovery-ebusiness.hover{background-position: 0 -764px;}

.card-recovery-bg .mini-ico{width: 60px;height: 50px;display: block;position: absolute;right: 10px;bottom: -10px;background: url(../../images/index/recycle_ico.png) no-repeat;-webkit-transition: .3s;transition: .3s;}
.card-recovery-bg.card-recovery-bill .mini-ico{background-position: -6px -7px;right:100px;}
.card-recovery-bg.card-recovery-game .mini-ico{background-position: -92px -7px;right: 140px;}
.card-recovery-bg.card-recovery-fuel .mini-ico{background-position: -172px -7px;right: 148px;}
.card-recovery-bg.card-recovery-ecommerce .mini-ico{background-position: -264px -7px;right: 140px;}
.card-recovery-bg.card-recovery-video .mini-ico{background-position: -363px -7px;right: 137px;bottom: -10px;}
.card-recovery-bg.card-recovery-ebusiness .mini-ico{background-position: -300px -384px;right: 0;bottom: -8px;}
.card-recovery-list.active .mini-ico, .card-recovery-bg.hover .mini-ico{bottom: 10px;}
.card-recovery-list.active i{width: 30px;height: 30px;display: block;position: absolute;right: 0;bottom: 0;}
.card-recovery-list.active i.icon-treat{background-position: -22px -0px;}
.card-recovery-list a{display: block;color: #fff;padding-right: 14px;text-align: right;padding-left: 0px;padding-top:7px}
.card-recovery-list  .yellow-tag{ width: 51px;height: 41px; display: block;position: absolute;left: 0;top: 0;background: url(../../images/recycle/yellow-tag.png) no-repeat;-webkit-transition: .3s;transition: .3s;}

/*卡种*/
.recovery-card-major{overflow: hidden;display: none;}
.recovery-card-major.active{display: block;}
.recovery-card-mode{width: 100%;margin-bottom: 6px;overflow: hidden;position: relative;padding: 12px 0;}
.recovery-card-mode .card-recovery-tit{height: 54px;line-height: 54px;}
.recovery-card-mode .card-recovery-cont .recovery-mode-list{position: relative;float: left;width: 202.4px;padding: 100px 0 2px 0;cursor: pointer;font-size: 14px;color: #666;text-align: center;margin:6px 16px 6px 0;border-radius: 6px;border: 2px solid #bfcbd9;background: #f8fafc;}
.recovery-card-mode .card-recovery-cont .recovery-mode-list:nth-child(8n){margin-right: 0;}
.recovery-card-mode .card-recovery-cont .recovery-mode-list.active{border: 2px solid #399EFF!important;    background: #ffffff;}
.recovery-card-mode .card-recovery-cont .recovery-mode-list img{position: absolute;left: 12px;top: 6px;}
.recovery-card-mode .card-recovery-cont .recovery-mode-list.active i.max-icon{width: 26px;height: 26px;display: block;position: absolute;right: 0;bottom: 0;}
.recovery-card-mode .card-recovery-cont .recovery-mode-list.active i.icon-treat{background-position: -72px -2px;}
.recovery-mode-list .auto-label:before{display:block;content:"";position: absolute;top: 0;left: 0;width: 32px;height: 0;border-top: 18px solid #7edc87;border-right: 6px solid transparent;}
.recovery-mode-list .auto-label i{font-size: 12px;color: #fff;position: absolute;top: 0;left: 4px;}
.recovery-mode-list .man-label:before{display:block;content:"";position: absolute;top: 0;left: 0;width: 32px;height: 0;border-top: 18px solid #f44336;border-right: 6px solid transparent;}
.recovery-mode-list .man-label i{font-size: 12px;color: #fff;position: absolute;top: 0;left: 4px;}
.recovery-mode-list .max-discount{display:none;padding: 0px 12px 0px 3px;width: 36px;height: 30px;background: #27baff;font-size: 12px;color: #fff;position: absolute;top: 0;/*right: 99px;*/
	    background: url(../../images/index/max-discount.png) no-repeat;
    background-position: -1px -0px;
}
.recovery-mode-list.active .max-discount{display: block;}x

/*面值*/
.recovery-card-par{width: 100%;overflow: hidden;margin-top: 5px;}
.recovery-card-par .card-recovery-tit{height: 54px;line-height: 52x;}
.recovery-card-par .recovery-par-list{position: relative;float: left;    width: 202.4px;height: 76px;overflow:hidden;margin:6px 0px 6px 25px; text-align: center;cursor: pointer;font-size: 12px;color: #333333;border-radius: 6px;border: 2px solid #bfcbd9;}
.recovery-card-par .recovery-par-list:nth-child(8n){margin-right: 0;}
.recovery-card-par .recovery-par-list.active{border: 2px solid #399eff!important;}
.recovery-card-par .recovery-par-list .m_price{font-size: 16px;margin-top: 0px;margin: 15px 0 5px 0;}
.recovery-card-par .card-recovery-cont .recovery-par-list.active i.max-icon{width: 26px;height: 26px;display: block;position: absolute;right: 0;bottom: 0;}
.recovery-card-par .card-recovery-cont .recovery-par-list.active i.icon-treat{background-position: -72px -2px;}
.card-recovery-cont .retrieve-span{background: #ffeb7e; font-size: 12px; padding: 10px;line-height: 66px; color: #ff3d3d; border-radius: 4px;}
.card-recovery-cont .retrieve-detail span{color: #27baff;font-size: 14px;margin: 10px; border-bottom: 1px solid;}
.triangle_border_left span{display: block; width: 0;height: 0;border-width: 5px 5px 5px 0; border-style: solid; border-color: transparent #ffeb7e transparent transparent;position: absolute; top: 28px; left: 37.23%;}
/*提交方式*/
.recovery-card-mode.recovery-card-submit .recovery-mode-list{width: 182.4px;padding: 13px 20px 13px 0;font-size: 16px;color: #333;text-align: right;}
.recovery-card-mode.recovery-card-submit .recovery-mode-list i.card-icon{width: 30px;height: 30px;position: absolute;left:14px;top:13px;display: block;background: url(../../images/common/icon-24.png) no-repeat;}
.recovery-card-mode.recovery-card-submit .recovery-mode-list i.icon-batch{background-position:0 -474px;}
.recovery-card-mode.recovery-card-submit .recovery-mode-list i.icon-single-card{background-position:-34px -474px;}
.recovery-mode-error{width: 100%;font-size: 14px;padding-left: 86px;color: #d25851;line-height: 18px;overflow: hidden;}

.submit-mode-cont{ overflow: hidden; display: none; }
.submit-mode-cont.active{ display: block; }
.submit-mode-cont .batch-cont{ overflow: hidden; float: left; }
.submit-mode-cont .batch-cont .form-control{width: 1200px;height: 232px;border: 2px solid #bfcbd9;text-indent: 0;word-wrap: normal;display: block;color: #666;overflow: auto;padding: 0 10px;line-height: 33px;font-size: 14px;margin: 0;font-family: Tahoma;background: url(../../images/common/textarea.gif) 0 0;background-attachment: local;border-radius: 6px;}
.submit-mode-cont .batch-cont .form-control.active{ border: 2px solid #27baff; }
/*.recovery-card-mode .card-recovery-cont .recovery-mode-list i.icon-card-dx{ background-position:-34px -406px;  }
.recovery-card-mode .card-recovery-cont .recovery-mode-list i.icon-card-lt{ background-position:0 -441px; }
.recovery-card-mode .card-recovery-cont .recovery-mode-list i.icon-card-yd{ background-position:-34px -441px; }*/

.batch-cont .batch-textarea-erro{ display: none; line-height: 20px;font-size: 18px; position: relative; overflow: hidden; padding-top: 10px; padding-left: 20px;  }
.batch-cont .batch-textarea-erro i{ width: 16px; height: 16px; position: absolute; left: 0; top: 12px;  }
.batch-cont .batch-textarea-erro i.icon-error2{ background-position: -26px -60px; }

.submit-mode-cont .batch-prompt{width: 364px;float: left;overflow: hidden;}
.batch-prompt-info{width: 364px;overflow: hidden;height: 236px;position: relative;}
.batch-info{display: block;width: 288px;color: #d25851;position: absolute;top: 48px;left: 44px;padding: 33px 15px;background: #ffebeb;border: 1px solid #faccc6;border-radius: 4px;}
.service-arrow-left{position: absolute;left: -6px;top: 63px;width: 0;height: 0;border-bottom: 7px solid transparent;border-top: 7px solid transparent;border-right: 5px solid #faccc6;font-size: 0;line-height: 0;}
.card-recovery-operation{width: 100%;height: auto;overflow: hidden;}
.card-operation{padding: 28px 0 0;overflow: hidden;}
.card-operation-btn{float: left;width: 132px;height: 42px;line-height: 42px;text-align: center;background: #399eff;border-radius: 6px;color: #fff;font-size: 16px;}
.card-operation-btn:hover{background: #58b4fb;}
.card-operation-txt{float: left;line-height: 42px;/*padding-left: 42px;*/font-size: 14px;color:#999;}
.card-recovery-agree{line-height: 32px;position: relative;padding-left: 18px;}
.card-recovery-agree i{width: 14px;height: 14px;cursor: pointer;display: block;position: absolute;left: -1px;top: 10px;}
#single .card-recovery-agree i{top:12px;}
.card-recovery-agree i.icon-agree-up{background-position:-278px -78px;}
.card-recovery-agree i.icon-agree-off{background-position:-279px -100px;}
.card-recovery-agree a{color:#789e00;}
.card-submit-btn{width: 300px;height: 48px;text-align: center;color: #fff;background: #399eff;display: block;margin: 0 auto;border-radius: 6px;line-height: 48px;font-size: 18px;}
.card-submit-btn:hover{background: #58b4fb;}


/*供货折扣*/
#discountWrap{margin: 10px 0 12px 0;}
.submit-mode-inner span.submit-mode-float{ overflow: hidden; }
.submit-mode-inner span.submit-mode-float .submit-float{ width: 318px; height: 38px; margin-left: 10px; margin-top: 4px; line-height: 38px; position: relative; background: #ffef99; border:1px solid #dccd7b; padding-left: 10px; }
.submit-mode-inner span.submit-mode-float .submit-float-left{position: absolute;left: -10px;top: 10px;width: 0;height: 0;border-bottom: 10px solid transparent;border-top: 10px solid transparent;border-right: 10px solid #dccd7b;font-size: 0px;line-height: 0px;}
.submit-mode-inner span.submit-mode-float .submit-mode-green{ display: none; color: #0bbf06; }

/*单卡提交*/
.submit-mode-inner{ width: 100%; height: 54px; line-height: 54px; }
.submit-mode-inner span{ float: left; }
.submit-mode-inner span.submit-mode-tit{ width: 88px; color: #333; font-size: 16px; }
.submit-mode-inner span.submit-mode-input{ width: 392px; height: 54px; }

.submit-mode-inner .submit-mode-i{ width: 344px; height: 30px; color: #999999; border-radius: 6px;   padding: 10px 12px;    font: 16px arial;    border: 1px solid #b8b8b8;    border-bottom: 1px solid #ccc;    vertical-align: top; outline: none;    box-shadow: none; }
.submit-mode-cont .mode-inner-error{ display: none;width: 100%;line-height: 24px;position: relative;overflow: hidden;padding-top: 0;padding-left: 114px; margin-top: -20px;  }
.submit-mode-cont .mode-inner-error i{width: 16px;height: 16px;position: absolute;left: 88px;top: 4px;}
.submit-mode-cont .mode-inner-error i.icon-error2{background-position: -26px -60px;}
.submit-mode-padd{ padding-left: 88px; }
.recovery-submit-mode{ overflow: hidden; }
/**/
.trade-flow-main{ width: 100%; height:auto; overflow: hidden; background: #f9fafe; padding: 40px 0; }
.w1320.recycle-main{ width:1318px; border-radius: 6px; background: #fff; border: 1px solid #ddd; }
.w1320.recycle-main h3{ font-size: 38px; text-align: center; color: #333; margin: 36px 0; }
.w1320.recycle-main .notice-list{ padding-bottom: 0; }
.w1320.recycle-main .notice-list ul li{ height: 110px; cursor: pointer; }
.w1320.recycle-main .notice-list ul li.notice-list-spot{ cursor: default; }
.recycle-main-cont{ width: 1160px; margin: 0 auto; overflow: hidden;  margin-bottom: 20px; }
.recycle-main-cont .recycle-explain-list{ width: 600px; display: none; padding-top: 10px; position: relative; }
.recycle-main-cont .recycle-explain-list.active{ display: block; }
.recycle-main-cont .recycle-explain-list i.recycle-up{position: absolute;top: 4px; width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #faccc6;font-size: 0px;line-height: 0px;margin: 0 auto;}
.recycle-main-cont .recycle-explain-list.recycle-list1 i.recycle-up{left: 78px;}
.recycle-main-cont .recycle-explain-list.recycle-list2 i.recycle-up{left: 408px;}
.recycle-main-cont .recycle-explain-list.recycle-list2 .recycle-main-explain{ margin-left: 120px; }
.recycle-main-cont .recycle-explain-list.recycle-list3 i.recycle-up{left: 734px;}
.recycle-main-cont .recycle-explain-list.recycle-list3 .recycle-main-explain{ margin-left: 420px; }
.recycle-main-cont .recycle-explain-list.recycle-list4 i.recycle-up{left: 1060px;}
.recycle-main-cont .recycle-explain-list.recycle-list4 .recycle-main-explain{ margin-left: 560px; }

.recycle-main-cont .recycle-main-explain{ width: 574px; height: auto; padding:  25px 12px; background: #ffebeb; color: #d25851; border-radius: 4px; overflow: hidden; border: 1px solid #faccc6; }
.recycle-main-cont .recycle-main-explain p{ font-size: 12px; line-height: 20px; }
.recycle-main-cont .recycle-main-explain a{ color: #d25851;text-decoration: underline;}
.recycle-main-cont .recycle-main-explain a:hover{color: #27baff;text-decoration: underline;}
/*我要卖卡*/
.sell-card-page .card-recovery{border-top:0;padding-top: 0;}

.null-card-data{width:265px;height:50px;line-height:50px;border:2px solid red;border-radius:6px;text-align:center;}
/*卡回收页面*/
.content-show.cardrecovery-show{  border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;  }
.cardrecovery-show h3{ color: #333;     margin-top: 80px; }
.cardrecovery-show-list{ width: 100%; overflow: hidden; margin-bottom: 80px; }
.cardrecovery-show-list ul{ height: 60px; line-height: 60px; overflow: hidden; text-align: center; }
.cardrecovery-show-list ul li{ float: left; width:438px;  font-size: 16px; cursor: pointer; position: relative; }
.cardrecovery-show-list ul li.site-nav-pipe{ width: 1px; height: 14px; background: #dddddd; margin-top: 22px;  list-style: none;border-style: none;}
.cardrecovery-show-list ul li.active{ color: #27baff; }
.cardrecovery-show-list ul li.active i.card-small-box{ position: absolute; bottom: 0; left: 50%; width: 64px; height: 3px; display: block; background: #27baff; border-radius: 20px;margin-left: -32px;}
.cardrecovery-show-box{ padding: 22px 18px 18px 20px; overflow: hidden;   }
.cardrecovery-show-box .cardrecovery-show-comm.active{ display: block; }
.cardrecovery-show-box .cardrecovery-show-comm{ display: none; width: 1278px;border-top: 1px solid #dddddd;border-left: 1px solid #dddddd;  overflow: hidden;  }
.cardrecovery-show-box .cardrecovery-show-comm .card-comm-list{ width: 213px;height: 155px;cursor: pointer;position: relative;z-index: 0;float: left;display: inline-block; }

.cardrecovery-show-box .cardrecovery-show-comm .card-switch-box{ width: 212px;height: 154px;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd; }
.cardrecovery-show-box .cardrecovery-show-comm .card-switch-btn{ display: none;width: 132px;height: 30px;line-height: 30px;text-align: center;color: #fff;background: #27baff;position: absolute;left: 40px;bottom: 10px;border-radius: 6px; }
.cardrecovery-show-box .cardrecovery-show-comm  img{width: 212px;height: 153px;}
.cardrecovery-show-box .cardrecovery-show-comm .switch-box-hover{ position: relative; z-index: 2; }
.cardrecovery-show-box .cardrecovery-show-comm .switch-box-hover .card-switch-box{width: 211px;height: 153px;border: 1px solid #27baff;position: absolute;top: 0;left: 0;-moz-box-shadow: 3px 3px 3px #d8d8d8;-webkit-box-shadow: 3px 3px 3px #d8d8d8;box-shadow: 3px 3px 3px #d8d8d8;}
.cardrecovery-show-box .cardrecovery-show-comm .switch-box-hover .card-switch-btn{display: block;}
.cardrecovery-show-box .cardrecovery-show-comm .switch-box-hover.card-comm-list img{width: 210px;height: 151px;}
.card-height{ width: 100%; overflow: hidden; height: 40px; background: #f9fafe; }

/*新增实时消耗时间*/
.card-recovery-duration{width: 100%;font-size: 14px;padding-left: 88px;color: #789b18;line-height: 18px;overflow: hidden;}
.batch-consume-duration{width: 100%;font-size: 14px;color: #c48de8;line-height: 18px;overflow: hidden;border-top: 1px dashed #ddd;padding-top: 5px;margin: 5px 0 0 88px;}

/*当天限额 */
.card-recovery-limit{font-size: 16px;color: #789e00;padding-left: 42px;}

/*话费卡选择面值提醒功能*/
.layui-layer-page.lxf-layer-con .layui-layer-content .card-submit-tipcon{padding: 10px 20px 10px 50px;min-width: 280px;font-size: 14px;color: #333;line-height: 24px;}
.layui-layer-page.lxf-layer-con .layui-layer-btn{text-align: center;}

.batch-info.nocode{display: none;line-height: 24px;text-align: center;font-size: 15px;padding: 45px 15px;}

/*首页官网动态*/
.border-b_ddd{border-bottom: 1px solid #ddd;}
.web-trends{background: #f9fafe; padding: 30px 0 54px;}
.web-trends .title{font-size: 38px;text-align: center;color: #333;}

.web-trends .crumbs-nav-box{ overflow: hidden;margin: 22px auto 28px;}
.web-trends .crumbs-nav-box li{ width: 187px; float: left; position: relative; text-align: center; font-size: 16px;line-height: 34px;}
.web-trends .crumbs-nav-box li.list-division{ width: 1px; color: #ddd; }
.web-trends .crumbs-nav-box a{display: block;color: #333; cursor: pointer;}
.web-trends .crumbs-nav-box a:hover{color: #45b5f0;}

.web-trends .box{border: 1px solid #ddd;border-radius: 4px;background: #fff;}
.web-trends .box .module{width: 50%;}
.web-trends .content-pad-l{padding: 0 33px 0 38px;}
.web-trends .content-pad-r{padding: 0 45px 0 26px;}
.web-trends .box .top{height: 50px;line-height: 50px;margin-top: 13px;margin-bottom: 8px;}
.web-trends .box .subtit{position: relative;padding-left: 30px;font-size: 18px;color: #333;}
.web-trends .box .subtit:before{content: "";position: absolute;top:13px;left:0;width: 24px;height: 24px;background: url(../../images/common/icon-24.png) no-repeat 0 -1291px;}
.web-trends .box .subtit.industry:before{background: url(../../images/common/icon-24.png) no-repeat -34px -1291px;}
.web-trends .box .subtit:after{content: "";position: absolute;bottom: 0;left: 5px;width: 109px;height: 1px;background: url(../../images/common/home-line.png) no-repeat 0 0;}
.web-trends .box .more{font-size: 16px;color: #45b5f0;text-decoration: underline;}

.web-trends .list li{position: relative;}
.web-trends .list .tag{position: absolute;top: 18px;left: 0;width: 24px;height: 24px;background: url(../../images/common/icon-24.png) no-repeat -34px -1325px;text-align: center;color: #fff;}
.web-trends .list .tag.red-tag{background: url(../../images/common/icon-24.png) no-repeat 0 -1325px;}
.web-trends .list a{display: block;font-size: 14px;color: #666;line-height: 52px;border-bottom: 1px dashed #c2c2c2;margin-left: 36px;overflow: hidden;}
.web-trends .list a:hover{color: #45b5f0;}

.web-trends .pageing-cont{padding: 55px 0 30px 0;}
.web-trends .g-pagination{height: auto;}
.web-trends .g-pagination span{display: inline-block;padding: 5px 0;}
.web-trends .g-pagination span a{height: 28px;line-height: 28px;border: 1px solid #ddd;border-radius: 2px;color: #666;}
.web-trends .g-pagination span a:hover{border: 1px solid #27baff;color: #27baff;}
.web-trends .g-pagination span.current02 a{border: 1px solid #27baff;color: #fff;font-weight: normal;}
.web-trends .g-pagination span.f-noClick a{cursor: not-allowed;}
.web-trends .g-pagination span.f-noClick a:hover{border: 1px solid #ddd;color: #666;}
.web-trends .g-pagination span input{border-color:#ddd;width: 28px;height: 28px;line-height: 28px;background:#fff;font-size: 12px;color: #666;}
.web-trends .g-pagination span a.page-sure{background: #fff;color: #999;}