{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 添加支付宝</title>{/block}
{block name="heardcss"}
 <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css" rel="stylesheet">

	{/block}
	{block name="content"}

<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12 center-box">
            <div class="alert alert-warning">请输入实名认证下的支付宝账号，否则可能提现失败</div>
        </div>
        <div class="col-sm-12">
            <form class="form-horizontal m-t-md layer-content-form" id="addAliPayAccountForm" method="post" action="">
                <input type="hidden" name="id" value="{$res.id}" />

                <div class="form-group">
                    <label class="control-label">开户人姓名：</label>
                    <div class="col-sm">
                        <span class="form-control noBorder">{$u.username}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">身份证号码：</label>
                    <div class="col-sm">
                        <span class="form-control noBorder">{:tfen($u.idcard,4,8)}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">支付宝账号：</label>
                    <div class="col-sm">
                        <input name="account" type="text" value="{$res.accounts}" class="form-control" placeholder="请输入您的支付宝账号" id="aliPayAccount">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">交易密码：</label>
                    <div class="col-sm col-sm-162">
                        <input name="tradePassword" type="password" value="" class="form-control" placeholder="请输入交易密码" id="tradePassword">
                    </div>
                    <!--没有设置交易密码-->
                                        <div class="col-sm col-sm-110">
                        <span class="form-control noBorder">
                            <a class="text-red" href="javascript:forgetTradePwdFn();">忘记交易密码？</a>
                        </span>
                    </div>
                                    </div>

                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="col-sm">
                        <div class="errorTip color_f00"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        <button class="btn btn-w-full btn-blue" type="button" id="submitAliPayAccountFormBtn">立即添加 </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" value="{notempty name="$u.jiaoyimima"}{:md5($u.jiaoyimima)}{/notempty}" id="isOpenTradePaaword"><!--是否开启交易密码-->
{/block}
{block name="js"}
<!-- 全局js -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>

<script>
    var jiyi="{:U('home/member/editPass')}",alilist="{:U('home/member/alipay')}";
</script>
<script src="__JS__/common/conttab_child.js"></script>
<script src="__JS__/profileManage/aliPayAccount/addAliPayAccountInit.js?v=12"></script>
{/block}



