{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 信息管理</title>{/block}
{block name="heardcss"}

    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css" rel="stylesheet">
    <link href="__CSS__/profileManage/profileManage.css" rel="stylesheet">

	{/block}
{block name="content"}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                                <ul class="nav nav-tabs">
    <li    ><a class="J_menuItem" curhref="{:U('home/member/userinfo')}">基本资料</a></li>
    <li   ><a class="J_menuItem" curhref="{:U('home/member/addTel')}">手机设置</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/AuthenInit')}">实名认证</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/bankAccount')}">银行账号</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/aliPay')}">支付宝账号</a></li>
   <!--<li  ><a class="J_menuItem" curhref="{:U('home/member/weixin')}">微信帐号</a></li>-->
    <li class="active" ><a class="J_menuItem" curhref="{:U('home/member/addpwd')}">密码管理</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/editemail')}">邮箱设置</a></li>
    <!-- <li ><a class="J_menuItem" curhref="{:U('home/member/qqbind')}">QQ绑定</a></li>
    <li ><a class="J_menuItem" curhref="{:U('home/member/wxbind')}">微信绑定</a></li> -->
</ul>               <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="panel-body">
                            <!--已经绑定手机或邮箱，也设置了登录密码  修改登录密码页面-->
                            <form class="form-horizontal m-t" id="modifyLoginPasswordForm" action="http://api.renrenxiaoka.com/m/member/passwordManage/securityPassword/updateMemberSetPassword.do">
                                <div class="form-group">
                                    <div class="col-sm-3 col-sm-offset-4">
                                                                                <ul class="form-btn-group clearfix">
        <li class="pull-left selected">
        <a class="btn" href="{:U('home/member/addpwd')}">
            <i class="ico24 blue-lock"></i>登录密码管理<b></b>
        </a>
    </li>
    <li class="pull-right">
        <a class="btn" href="{:U('home/member/editPass')}">
            <i class="ico24 blue-shield"></i>交易密码管理<b></b>
        </a>
    </li>
    </ul>                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">原登录密码：</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="" value="" class="form-control" placeholder="请输入原登录密码" id="oldLoginPwd">
                                    </div>
                                    <div class="col-sm-1">
                                        <a href="javascript:forgetLoginPwd();" class="red-tip">忘记原密码？</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">新登录密码：</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="" value="" class="form-control" placeholder="请输入新登录密码" id="newLoginPwd">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">确认新密码：</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="" value="" class="form-control" placeholder="请重新输入一次新密码" id="newLoginPwdAgain">
                                    </div>
                                </div>
<!--                                <div class="form-group">-->
<!--                                    &lt;!&ndash;修改登录密码只需要验证原登录密码，不需要用手机或者邮箱接收验证码&ndash;&gt;-->
<!--                                    <label class="col-sm-4 control-label">验证码：</label>-->
<!--                                    <div class="col-sm-2">-->
<!--                                        <input type="text" name="" value="" class="form-control" placeholder="请输入验证码" id="code">-->
<!--                                    </div>-->

<!--                                </div>-->
								{:token()}
                                <div class="form-group">
                                    <div class="col-sm-3 col-sm-offset-4">
                                        <div class="errorTip color_f00"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-4">
                                        <a class="btn btn-w-m btn-blue" href="javascript:void(0);" id="submitModifyLoginPwdFormBtn">保存</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="js"}
<script>
    var ctxPath = "{:U('home/login/retrieve')}",editPass="{:U('home/member/editPass')}";
</script>
<script src="__JS__/common/profileManage/common_profile.js"></script>
<script src="__JS__/common/conttab_child.js"></script>
<script src="__JS__/profileManage/passwordManage/modifyLoginPwd.js"></script>


{/block}
