{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 信息管理</title>{/block}
{block name="heardcss"}

    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css" rel="stylesheet">
    <link href="__CSS__/profileManage/profileManage.css" rel="stylesheet">

	{/block}
{block name="content"}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                                <ul class="nav nav-tabs">
    <li    ><a class="J_menuItem" curhref="{:U('home/member/userinfo')}">基本资料</a></li>
    <li   class="active"><a class="J_menuItem" curhref="{:U('home/member/addTel')}">手机设置</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/AuthenInit')}">实名认证</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/bankAccount')}">银行账号</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/aliPay')}">支付宝账号</a></li>
    <!--<li  ><a class="J_menuItem" curhref="{:U('home/member/weixin')}">微信帐号</a></li>-->
    <li  ><a class="J_menuItem" curhref="{:U('home/member/addpwd')}">密码管理</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/editemail')}">邮箱设置</a></li>


</ul>   
<div class="tab-content">
                    <div class="tab-pane active">
                        <div class="panel-body">
						
                            <form class="form-horizontal p-xl" id="updatePhoneInitForm">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">您当前绑定的手机号：</label>
                                    <div class="col-sm-3">
                                        <span class="form-control noBorder height-auto text-blue">{:tfen($u.photo,3,4)}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">短信验证码：</label>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" name="code" value="" placeholder="请输入验证码" id="phoneCode">
                                    </div>
                                    <div class="col-sm-1">
                                        <a class="btn btn-danger" id="getPhoneCode" href="javascript:void(0);">获取验证码</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-3">
                                        <div class="errorTip color_f00"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-3">
                                        <a class="btn btn-w-m btn-blue" href="javascript:void(0);" id="nextVerifyPhoneBtn">下一步</a>
                                    </div>
                                </div>
                            </form>
							 <form class="form-horizontal p-xl" id="phoneSettingIndexForm" style="display:none">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">新手机号码：</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" name="newPhone" value="" placeholder="请输入要绑定的手机号" id="phone">
                                    </div>
                                </div>
                                
                                                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">短信验证码：</label>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" name="code" value="" placeholder="请输入验证码" id="phoneCodea">
                                    </div>
                                    <div class="col-sm-1">
                                        <a class="btn btn-danger" id="getPhoneCodea" href="javascript:void(0);">获取验证码</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-3">
                                        <div class="errorTip color_f00"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-3">
                                        <a class="btn btn-w-m btn-blue" href="javascript:void(0);" id="submitPhoneSetIndexFormBtn">立即提交</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{/block}
{block name="js"}
<script>
    var ctxPath = {domain: "",_csrf:"",staticDomain:""};
</script>
<script src="__JS__/common/profileManage/common_profile.js"></script>
<script src="__JS__/common/conttab_child.js"></script>
<script src="__JS__/profileManage/phoneSetting/updatePhoneInit.js?v=21"></script>


{/block}
