{extend name="layout/user"}
{block name="css"}
<link href="__CSS__/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>	
<link href="__CSS__/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>	
{/block}
{block name="text"}
<style>
.dataTable{
text-align:center
}</style>
 <div class="page-inner">
     <div class="page-title">
                <h3 class="breadcrumb-header">提现记录</h3>
        </div>
	<div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                   <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">提现记录</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="example3" class="display table" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                                <tr>
                                                    <td>序号</td>
													<td>订单号</td>
													<td>提现金额</td>
													<td>实际到账</td>
													<td>收款账号</td>
													<td>账号类型</td>
													<td>账户余额</td>
													<td>订单状态</td>
													<td>审核结果</td>
													<td>提交时间</td>
													<td>审核时间</td>
                                                </tr>
                                            </thead>
											<tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                      </div>
			   </div>

		</div>
	</div>
{/block}
{block name="js"}
{include file="layout/footda"/}
<script>
$(function(){
   var t = $('#example3').DataTable({
        language: {
            "url": url
        },
		'searching': false,
		'bLengthChange':false,
		"pagingType": "full_numbers",
		"serverSide":true,
		'orderable' : false,
		"order": [[ 0, 'desc' ]],
		"ajax": "",
		"columnDefs": [
                    {
                        "targets": 7,
                        "render": function ( data, type, full, meta ) {
						     var str='<p class="text-danger">等待审核</p>';
							 if(data==1)str='<p class="text-success">出款成功</p>';
							 if(data==2)str='<p class="text-muted">退回申请</p>';
                            return str;
                        }
                    },
					{
                        "targets": 5,
                        "render": function ( data, type, full, meta ) {
							 if(data==1)str='<p class="text-muted">余额提现</p>';
							 if(data==2)str='<p class="text-muted">佣金提现</p>';
                            return str;
                        }
                    },
					{
                        "targets": 3,
                        "render": function ( data, type, full, meta ) {
                            return '<p class="text-danger">'+data+'</p>';
                        }
                    }
                ],
	    "columns": [
			{ "data": "id" },
			{ "data": "order" ,'orderable' : false,},
			{ "data": "money" ,'orderable' : false, },
			{ "data": "price"},
			{ "data": "zh"},
			{ "data": "txtype" },
			{ "data": "umoney" },
			{ "data": "status" },
			{ "data": "content" },
			{ "data": "addtime" },
			{ "data": "shtime" },
		]
				   
		});
})
</script>
{/block}