{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 提现详情</title>{/block}
{block name="heardcss"}
    <link href="__CSS__/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css" rel="stylesheet">
	{/block}
{block name="content"}
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12 horizontal-center-box text-center">
            <div class="panel panel-default">
                <div class="panel-heading text-center">提现详情</div>
                <div class="panel-body">
                    <div class="row">
                        <!--左边-->
                        <div class="col-sm-6 content-part">
                            <div class="row">
                                <div class="col-sm-6 text-right">提现单号：</div>
                                <div class="col-sm-6 text-left">{$da.order}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-right">姓名：</div>
                                <div class="col-sm-6 text-left">{$da.username}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-right">提现金额：</div>
                                <div class="col-sm-6 text-left">￥{$da.money}</div>
                            </div>
                                                        <div class="row">
                                <div class="col-sm-6 text-right">处理时间：</div>
                                <div class="col-sm-6 text-left text-warning">{$da.shtime}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-right">提交IP：</div>
                                <div class="col-sm-6 text-left text-warning">/</div>
                            </div>
                        </div>

                        <!--右边-->
                        <div class="col-sm-6 content-part">
                            <div class="row">
                                <div class="col-sm-6 text-right">提现方式：</div>
                                <div class="col-sm-6 text-left">
                                                                        {$da.type}
                                                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-right">
                                                                        {$da.zhname}
                                                                    </div>
                                <div class="col-sm-6 text-left">

                                                                        {$da.zh}
                                                                    </div>
                            </div>
                                                        <div class="row">
                                <div class="col-sm-6 text-right">申请时间：</div>
                                <div class="col-sm-6 text-left">{$da.addtime}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-right">状态：</div>
                                <div class="col-sm-6 text-left">{switch name="$da.status"}
								{case value="1"}提现成功{/case}
								{case value="2"}退款{/case}
								{default/}
								 审核中
								{/switch}
                                                                    </div>
                            </div>

                            
                        </div>
                    </div>
                    <div class="row m-t-xl">
                        <div class="col-sm-12">
                            <a class="btn btn-w-m btn-blue" href="javascript:void(0);" id="backToWithdrawCashRecord">返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{/block}
{block name="js"}
<!-- 全局js -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>

<!-- 自定义js -->
<script src="__JS__/content.js?v=1.0.0"></script>

<script src="__JS__/common/conttab_child.js"></script>
<script>
    $(function(){
        //移除提现详情页面，显示提现记录页面  注意顺序   先显示再关闭
        $("#backToWithdrawCashRecord").click(function () {
            $('#side-menu .J_menuItem',parent.document).each(function () {
                var curTabHref = $(this).attr("href");
                if ($(this).parents('li').hasClass("active")) {
                    showFrame(curTabHref);
                }
            });

            var curHref = window.location.href;
            closeFrame(curHref);
        });
    });
</script>

{/block}
