{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 账户流水</title>{/block}
{block name="content"}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <!--查询部分 start-->
            <div class="search-toolbar">
                <form role="form" class="form-inline" id="queryForm">
                    <input type="hidden" name="_csrf" value="e73ba083-c73f-4c4c-b2f2-9f51170855b7" id="csrf"/>
                    <input type="hidden" name="keywords" value=""><!--关键字-->
                    <input type="hidden" name="orderType" value="" id="orderType"><!--排序方式-->

                    <input type="hidden" name="region" value="TODAY" id="timeRegion"><!--时间查询按钮类型 默认今天-->
                    <input type="hidden" name="startDate" value="" id="startDate"><!--时间查询开始-->
                    <input type="hidden" name="endDate" value="" id="endDate"><!--时间查询结束-->

                    <input type="hidden" name="pageSize" value="10" id="pageSize"><!--每页显示多少条记录 默认显示10条-->
                    <input type="hidden" name="pageNumber" value="1" id="pageNumber"><!--查询页码-->

                    <div class="form-group">
                        <label>订单查询:</label>
                        <input name="orderNumber" value="" type="text" class="form-control" placeholder="请输入订单号查询">
                    </div>
                    <div class="form-group">
                        <label>类型查询:</label>
                        <select class="form-control" name="type">
                            <option value="" selected="selected">全部</option>
                            <option value="1">单卡兑换</option>
                            <option value="2">批量兑换</option>
                            <option value="3">提现</option>
                            <option value="4">加/扣款</option>
                            <option value="5">佣金</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>状态查询:</label>
                        <select class="form-control" name="status">
                            <option value="" selected="selected">全部</option>
                            <option value="1">增加余额</option>
                            <option value="2">减少余额</option>
                        </select>
                    </div>
                    <br>

                    <div class="form-group">
                        <label>时间查询:</label>
                        <input id="timeStart" class="form-control laydate-icon" placeholder="YYYY-MM-DD hh:mm:ss">
                        -
                        <input id="timeEnd" class="form-control laydate-icon" placeholder="YYYY-MM-DD hh:mm:ss">
                    </div>
                    <div class="form-group button-group" id="dateBtns">
                        <button region="LASTDAY" type="button" class="btn btn-default btn-xs">昨天</button>
                        <button region="TODAY" type="button" class="btn btn-default btn-xs">今天</button>
                        <button region="WEEK" type="button" class="btn btn-default btn-xs">近7天</button>
                        <button region="1" type="button" class="btn btn-default btn-xs">近一月</button>
                        <button region="NONE" type="button" class="btn btn-default btn-xs">忽略</button>
                    </div>
                    <br>

                    <div class="form-group">
                        <label></label>
                        <button class="btn btn-w-m72 btn-blue m-r-14" type="button" id="search">确定查询</button>
                        <!--<button onclick="doHistory();" class="btn btn-w-m72 btn-blue m-r-14" type="button" id="searchHistory">切换到一月前的账单查询</button>-->
                    </div>
                </form>
            </div>
            <!--查询部分 end-->

            <table id="dataTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>订单号</th>
                        <th>批量订单号</th>
                        <th>类型</th>
                        <th>变动金额</th>
                        <th>变动后</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody class="dataWraper">
                    
                </tbody>
            </table>

            <!--分页-->
            <div class="row myPager" id="queryPagination"></div>

        </div>
    </div>
</div>
{/block}
{block name="js"}
<!-- Data Tables -->
<script src="__JS__/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__JS__/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="__JS__/common/conttab_child.js"></script>
<script src="__JS__/common/common-util.js"></script>
<script src="__JS__/common/page-data.js?v=13"></script>
<script src="__JS__/accountStatement/accountStatement.js?v=10"></script>
{/block}
