{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 提现记录</title>{/block}
{block name="heardcss"}
    <link href="__CSS__/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css" rel="stylesheet">
	{/block}
{block name="content"}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <!--查询部分 start-->
            <div class="search-toolbar">
                <form role="form" class="form-inline" id="queryForm">
                    <input type="hidden" name="_csrf" value="e73ba083-c73f-4c4c-b2f2-9f51170855b7" id="csrf"/>
                    <input type="hidden" name="keywords" value=""><!--关键字-->
                    <input type="hidden" name="orderType" value="" id="orderType"><!--排序方式-->

                    <input type="hidden" name="region" value="TODAY" id="withdrawRegion"><!--提现时间按钮类型 默认今天-->
                    <input type="hidden" name="startDate" value="" id="withdrawStartDate"><!--提现时间开始-->
                    <input type="hidden" name="endDate" value="" id="withdrawEndDate"><!--提现时间结束-->

                    <input type="hidden" name="pageSize" value="10" id="pageSize"><!--每页显示多少条记录 默认显示10条-->
                    <input type="hidden" name="pageNumber" value="1" id="pageNumber"><!--查询页码-->

                    <div class="form-group">
                        <label>提现时间:</label>
                        <input id="timeStart" class="form-control laydate-icon" placeholder="YYYY-MM-DD hh:mm:ss">
                        -
                        <input id="timeEnd" class="form-control laydate-icon" placeholder="YYYY-MM-DD hh:mm:ss">
                    </div>
                    <div class="form-group button-group" id="dateBtns">
                        <button region="LASTDAY" type="button" class="btn btn-default btn-xs">昨天</button>
                        <button region="TODAY" type="button" class="btn btn-default btn-xs">今天</button>
                        <button region="WEEK" type="button" class="btn btn-default btn-xs">近7天</button>
                        <button region="1" type="button" class="btn btn-default btn-xs">近一月</button>
                        <!--<button region="3" type="button" class="btn btn-default btn-xs">近三月</button>-->
                        <button region="NONE" type="button" class="btn btn-default btn-xs">忽略</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-w-m72 btn-primary m-r-14" type="button" id="search">确定查询</button>
                    </div>
                </form>
            </div>
            <!--查询部分 end-->

            <table id="dataTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>提现单号</th>
                        <th>提现方式</th>
                        <th>姓名</th>
                        <th>帐号</th>
                        <th>提现金额</th>
                        <th>手续费</th>
                        <th>实际到账金额</th>
                        <th>申请时间</th>
                        <th>处理时间</th>
                        <th>状态</th>
                        <th>管理</th>
                    </tr>
                </thead>
                <tbody class="dataWraper">

                </tbody>
            </table>

            <!--分页-->
            <div class="row myPager" id="queryPagination"></div>

        </div>
    </div>
</div>

{/block}
{block name="js"}
<script>
var ctxPath="{:U('home/moneylog/tixian')}",detail="{:U('home/member/getDetail')}";
</script>
<script src="__JS__/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__JS__/plugins/dataTables/dataTables.bootstrap.js"></script>

<script src="__JS__/common/conttab_child.js"></script>
<script src="__JS__/common/common-util.js"></script>
<script src="__JS__/common/page-data.js?v=10"></script>
<script src="__JS__/withdrawCashRecord/withdrawCashRecord.js?v=11"></script>
{/block}
