{extend name="layout/user"}
{block name="css"}
<link href="__CSS__/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>	
<link href="__CSS__/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>	
{/block}
{block name="text"}
<style>
.dataTable{
text-align:center
}</style>
 <div class="page-inner">
     <div class="page-title">
                <h3 class="breadcrumb-header">充值记录</h3>
        </div>
	<div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                   <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">充值记录</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="example3" class="display table" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                                <tr>
                                                    <td>序号</td>
													<td>订单号</td>
													<td>充值金额</td>
													<td>账户余额</td>
													<td>充值通道</td>
													<td>订单状态</td>
													<td>充值时间</td>
                                                </tr>
                                            </thead>
											<tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                      </div>
			   </div>

		</div>
	</div>
{/block}
{block name="js"}
{include file="layout/footda"/}
<script>
$(function(){
   var t = $('#example3').DataTable({
        language: {
            "url": url
        },
		'searching': false,
		'bLengthChange':false,
		"pagingType": "full_numbers",
		"serverSide":true,
		'orderable' : false,
		"order": [[ 0, 'desc' ]],
		"ajax": "",
		"columnDefs": [
                    {
                        "targets": 5,
                        "render": function ( data, type, full, meta ) {
						     var str='<p class="text-danger">未支付</p>';
							 if(data==1)str='<p class="text-success">出款成功</p>';
							 if(data==2)str='<p class="text-muted">订单过期</p>';
                            return str;
                        }
                    }
                ],
	    "columns": [
			{ "data": "id" },
			{ "data": "out_trade_no" ,'orderable' : false,},
			{ "data": "money" ,'orderable' : false, },
			{ "data": "umoney", 'orderable' : false,},
			{ "data": "type"},
			{ "data": "status" },
			{ "data": "addtime" }
		]
				   
		});
})
</script>
{/block}