{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 信息管理</title>{/block}
{block name="heardcss"}

    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css" rel="stylesheet">
    <link href="__CSS__/profileManage/profileManage.css" rel="stylesheet">

	{/block}
{block name="content"}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                                <ul class="nav nav-tabs">
        <li  class="active"    ><a class="J_menuItem" curhref="{:U('home/member/userinfo')}">基本资料</a></li>
    <li   ><a class="J_menuItem" curhref="{:U('home/member/addTel')}">手机设置</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/AuthenInit')}">实名认证</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/bankAccount')}">银行账号</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/aliPay')}">支付宝账号</a></li>
    <!--<li  ><a class="J_menuItem" curhref="{:U('home/member/weixin')}">微信帐号</a></li>-->
    <li ><a class="J_menuItem" curhref="{:U('home/member/addpwd')}">密码管理</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/editemail')}">邮箱设置</a></li>
   <!--  <li ><a class="J_menuItem" curhref="{:U('home/member/qqbind')}">QQ绑定</a></li>
    <li ><a class="J_menuItem" curhref="{:U('home/member/wxbind')}">微信绑定</a></li> -->
</ul>                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-6 center-box">
                                    <div class="alert alert-warning">
                                        {:C('title')}不会以任何形式公开您的个人隐私。完善个人资料，更能轻松快速销卡哦~
                                    </div>
                                </div>
                            </div>

                            <form class="form-horizontal m-t">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label color9">用户编号：</label>
                                    <div class="col-sm-7">
                                        <span class="form-control noBorder">{$u.id}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label color9">用户名：</label>
                                    <div class="col-sm-7">
                                        <span class="form-control noBorder height-auto">
                                                                                        <!--有昵称-->
                                            <span>{$u.user}</span>
                                            <!-- <a class="text-green text-underline m-l-md" href="javascript:openNickNameModal('修改用户昵称');">修改</a> -->
                                                                                    </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label color9">真实姓名：</label>
                                    <div class="col-sm-7">
									{gt name="$u.real" value="0"}
									  <span class="form-control noBorder height-auto">
                                                                                        <!--已认证 认证后不能修改 点击“查看”进入到“实名认证”页面-->
                                            <span>{$u.username}</span>
                                            <a class="btn btn-green btn-xs m-l-md" href="javascript:void(0);">已认证</a>
                                            <a class="text-green text-underline m-l-md" href="javascript:gotoRealnamePage();">查看</a>
                                                                                    </span>

									{else/}
                                        <span class="form-control noBorder height-auto">
                                                                                        <!--未认证-->
                                            <span class="text-red m-r-md">未知</span><a class="text-blue text-underline" href="javascript:gotoRealnamePage();">马上去实名认证</a>
                                                                                    </span>
																					{/gt}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label color9">联系QQ：</label>
                                    <div class="col-sm-7">
                                        <span class="form-control noBorder height-auto">
                                                   {$u.qq}                                     <!--没有设置QQ-->
                                            <a class="text-blue pos-rela" href="javascript:openQQnumberModal('设置QQ号码');">{empty name="$u.qq"}设置{else/}修改{/empty}QQ号码</a>
											{empty name="$u.qq"}
                                            <p class="help-block color999">请设置您的QQ号码，方便我们在处理您提交的卡密有问题时能及时联系到您。</p>{/empty}
                                                                                    </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label color9">手机绑定：</label>
                                    <div class="col-sm-7">
                                        <span class="form-control noBorder height-auto">
										   {empty name="$u.photo"}
                                                                                          <!--没有绑定-->
                                            <span class="color999">手机未绑定</span>
                                            <a class="text-green text-underline m-l-md" href="javascript:gotoPhoneSet();">立即绑定&gt;&gt;</a>


										   {else/}
                                                                                          <!--已经绑定-->
                                            <span>{:tfen($u.photo,3,4)}</span><a class="text-green text-underline m-l-md" href="javascript:gotoPhoneSet();">更换手机</a>
											{/empty}
                                                                                    </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label color9">邮箱绑定：</label>
                                    <div class="col-sm-7">
                                        <span class="form-control noBorder height-auto">
                                                                                         <!--没有绑定-->
                                            {empty name="$u.email"}
                                                                                          <!--没有绑定-->
                                            <span class="color999">邮箱未绑定</span>
                                            <a class="text-green text-underline m-l-md" href="javascript:gotoMailSet();">立即绑定&gt;&gt;</a>


										   {else/}
                                                  <!--已经绑定-->
                                            <span>{:tfen($u.email,3,4)}</span><a class="text-green text-underline m-l-md" href="javascript:gotoMailSet();">更换邮箱</a>
											{/empty}
                                                                                    </span>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="col-sm-5 control-label color9">QQ绑定：</label>
                                    <div class="col-sm-7">
                                        <span class="form-control noBorder height-auto">
                                                                                         
                                            <span>已绑定</span><a class="text-green text-underline m-l-md" href="javascript:gotoQQbindPage();">更换绑定</a>
                                                                                    </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label color9">微信绑定：</label>
                                    <div class="col-sm-7">
                                        <span class="form-control noBorder height-auto">
                                                                                       
                                            <span class="color999">微信未绑定</span>
                                            <a class="text-green text-underline m-l-md" href="javascript:gotoWXbindPage();">立即绑定&gt;&gt;</a>
                                            <p class="help-block color999">必须先绑定微信，才可使用微信提现</p>
                                                                                    </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label color9">关注公众号：</label>
                                    <div class="col-sm-7">
                                        <span class="form-control noBorder height-auto">
                                                                                       
                                            <span class="color999">未关注</span>
                                            <a class="text-green text-underline m-l-md" href="javascript:gotoFollowWxPage();">立即关注&gt;&gt;</a>
                                            <p class="help-block color999">必须先关注公众号，才可使用微信提现</p>
                                                                                    </span>
                                    </div>
                                </div> -->

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--设置或修改用户昵称-->
<div class="modal inmodal" id="setOrModifyNickNameModal">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" placeholder="昵称为2-20个字符，汉字、字母、数字、字符组成" class="form-control" id="nickName">
                </div>
                <div class="form-group">
                    <div class="errorTip color_f00"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue btn-w-full" onclick="updateNickName();">保存</button>
            </div>
        </div>
    </div>
</div>

<!--设置或修改QQ号码-->
<div class="modal inmodal" id="setOrModifyQQModal">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group"><input type="text" placeholder="请输入QQ号码" class="form-control" id="qqNumber"></div>
                <div class="form-group"><div class="errorTip color_f00"></div></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue btn-w-full" onclick="updateQqNumber();">保存</button>
            </div>
        </div>
    </div>
</div>


{/block}
{block name="js"}
<script>
    var ctxPath = {domain: "",_csrf:"",staticDomain:""};
	var qqurl="{:U('home/member/addqq')}";
</script>
<script src="__JS__/common/profileManage/common_profile.js?v=10"></script>
<script src="__JS__/common/conttab_child.js"></script>
<script src="__JS__/common/profileManage/baseProfile/baseProfile.js?v=16"></script>

{/block}
