{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 信息管理</title>{/block}
{block name="heardcss"}

    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css" rel="stylesheet">
    <link href="__CSS__/profileManage/profileManage.css" rel="stylesheet">

	{/block}
{block name="content"}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                                <ul class="nav nav-tabs">
    <li    ><a class="J_menuItem" curhref="{:U('home/member/userinfo')}">基本资料</a></li>
    <li   ><a class="J_menuItem" curhref="{:U('home/member/addTel')}">手机设置</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/AuthenInit')}">实名认证</a></li>
    <!--<li  ><a class="J_menuItem" curhref="{:U('home/member/bankAccount')}">银行账号</a></li>-->
    <li  ><a class="J_menuItem" curhref="{:U('home/member/aliPay')}">支付宝账号</a></li>
    <!--<li class="active" ><a class="J_menuItem" curhref="{:U('home/member/weixin')}">微信帐号</a></li>-->
    <li  ><a class="J_menuItem" curhref="{:U('home/member/addpwd')}">密码管理</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/editemail')}">邮箱设置</a></li>
    <!-- <li ><a class="J_menuItem" curhref="{:U('home/member/qqbind')}">QQ绑定</a></li>
    <li ><a class="J_menuItem" curhref="{:U('home/member/wxbind')}">微信绑定</a></li> -->
</ul>   
{eq name="$u.real" value="0"}             
<div class="tab-content">
                    <div class="tab-pane active">
                        <div class="panel-body">

                            <!--①、未实名，且未添加银行卡-->
                            <div class="status-box">
                                <div class="status-box-icon pull-left"><i class="ico140 red-card"></i></div>
                                <div class="status-box-text">
                                    <h3 class="text-red">您还没有进行实名认证，无法添加银行卡！</h3>
                                    <p class="color999">添加银行卡前必须先进行实名认证</p>
                                    <p class="color999">如有问题，请联系客服咨询</p>
                                    <a class="btn btn-blue phone" href="javascript:gotoRealnamePage();"><i class="id-card-ico"></i>实名认证</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		{else/}
		  {gt name="$num" value="0"}
		      <div class="panel-body card-list-body">
						<div id="weixinAccountId">
			  {volist name="$li" id="p"}
                <div class="card-list-item"><div class="card-item-icon pull-left"><i><img src="{$p.hread}" class="round-ali-ico"></i></div><div class="status-box-text"><p><span class="color999">微信昵称：</span>{$p.user}</p><p><span class="color999">OpenID：</span>{$p.accounts}</p><p><span class="color999">添加时间：</span>{$p.create_time}</p></div><input type="hidden" value="{$p.id}" name="id"><i class="delete-ico" onclick="deleteid(this,{$p.id})"></i></div>
				{/volist}
				</div>
                            <a class="btn btn-blue" href="javascript:gotoFollowWeiXinAccount();">继续添加账号</a>
                  </div>
				{else/}
				  <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="panel-body">
                            <!--未绑定微信账号-->
                            <a class="dashed-box" href="javascript:gotoFollowWeiXinAccount();">
                                <i class="add-wxzh-ico"></i><span class="dashed-box-words">立即绑定</span>
                            </a>
                            <p class="text-center"><a class="color666" href="javascript:gotoFollowWeiXinAccount();">添加提现使用的微信账号</a></p>
                        </div>
                    </div>
                </div>
			{/gt}
		{/eq}
				
            </div>
        </div>
    </div>
</div>


<!--删除支付宝账号确认交易密码模态框-->
<div class="modal inmodal" id="sureTradePwdModal">
    <div class="modal-dialog modal-dialog-w500">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">删除微信账号 - 确认交易密码</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="password" placeholder="请输入交易密码" class="form-control inline-block" id="tradePassword">
                    <!--没有设置交易密码-->
                                        <a class="text-red" href="javascript:gotoTradePwdPageFromModel();">忘记交易密码？</a>
                </div>
                <div class="form-group">
                    <div class="errorTip color_f00"></div>
                </div>
                <input type="hidden" value="" id="delId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue btn-w-full" onclick="sureDelSeltedAliPayAccount();">确定</button>
            </div>
        </div>
    </div>
</div>
				
				



{/block}
{block name="js"}
<input type="hidden" value="{notempty name="$u.jiaoyimima"}{:md5($u.jiaoyimima)}{/notempty}" id="isOpenTradePaaword"><!--是否开启交易密码-->
<script>
    var ctxPath = "{:U('home/member/addweixin')}";
	var jiyi="{:U('home/member/editPass')}",shanc="{:U('home/member/deleteBankCard')}";
</script>
<script src="__JS__/common/profileManage/common_profile.js"></script>
<script src="__JS__/common/conttab_child.js"></script>
<script src="__JS__/common/profileManage/baseProfile/baseProfile.js"></script>

<script src="__JS__/profileManage/weChatAccount/noAddWeChatAccount.js"></script>


{/block}
