{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 我要提现</title>{/block}
{block name="heardcss"}
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css?v=20181024001" rel="stylesheet">

{/block}
{block name="content"}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">我要提现</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 center-box">
                            <div class="alert alert-warning">提现金额扣除手续费后要大于等于1元</div>
                        </div>
                    </div>

                    <form class="form-horizontal m-t-md" id="withdrawCashForm" method="post" action="">
                        <input type="hidden" name="_csrf" value="e73ba083-c73f-4c4c-b2f2-9f51170855b7" id="csrf"/>
                         <input type="hidden" name ='platform' value="1" id='platform' ><!-- 平台 : 1.PC端    2.手机浏览器端    3.微信端-->
                        <div class="form-group">
                            <label class="col-sm-5 control-label">可提现余额：</label>
                            <div class="col-sm-3">
                                <span class="form-control noBorder text-orange">￥{$u.money}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">收款人：{$u.username}</label>
                            <div class="col-sm-3">
                                <span class="form-control noBorder">
								{eq name="$u.real" value="0"}
                                    <!--未实名-->
                                    <span class="text-red m-r-md">未知</span><a class="text-blue text-underline" href="javascript:gotoRealName();">马上去实名认证</a>
                                                                    </span>
																	{else/}
																	<span class="m-r-md">{$u.username}</span><span class="btn btn-green btn-xs">已认证</span>
                                                                    </span>

																	{/eq}
                            </div>
                        </div>
                        <!-- 提现方式 -->
                        
                        <div class="form-group">
                            <label class="col-sm-5 control-label">提现方式：</label>
                            <div class="col-sm-2">
                            
                               <select class="form-control" name="type" onchange="selectWithDrawType(this.value)" id="withDrawType">
                                 
                              	</select>
                            </div>
                            <div class="col-sm-3">
                                <!--<span class="right_red_tip">备注：单笔提款限额<i id="limitMoney">?</i>万元</span>-->
                                <span class="right_red_tip" id="limitMoneyTip"></span>
                            </div>
                        </div>

                        <div class="form-group" id="accountSelectId" style="display: none;">
                        
                            <label class="col-sm-5 control-label">帐号选择：</label>
                            <div class="col-sm-3">
                          		<!-- 银行卡 -->
                                <select class="form-control" name="bankCardId" onchange="selectBankCard(this.value)"  id="bankCardSelect">

                                </select>
                                <!-- 支付宝 -->
                                <select class="form-control" name="bankCardId" onchange="selectAlipayAccount(this.value)"  id="alipayAccountSelect" >

                                </select>
                                <!-- 微信 -->
                                <select class="form-control" name="bankCardId" onchange="selectWeChatAccount(this.value)" id="weChatAccountSelect">
                                 
                                </select>
                                 
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-5 control-label">提现金额：</label>
                            <div class="col-sm-2">
                                <input name="money" type="text" value="" class="form-control" id="curWithdrawMoney">
                            </div>
                            <div class="col-sm-3">
                                <input type="hidden" id="useableMoney" value="{$u.money}"><!--可提现余额-->
                                <button type="button" class="btn btn-primary" id="withdrawAllMoney">全部提现</button>
                            </div>
                             
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">交易密码：</label>
                            <div class="col-sm-3">
                                <input name="tradePassword" type="password" value="" class="form-control" placeholder="请输入交易密码" id="tradePassword">
                            </div>
							{empty name="$u.jiaoyimima"}
                            <!--没有设置交易密码-->
                              <div class="col-sm-3">
                                <span class="form-control noBorder">
                                    <a class="text-blue text-underline" href="javascript:gotoSetTradePassword();">去开启交易密码</a>
                                </span>
                            </div>{/empty}
                                                    </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label"></label>
                            <div class="col-sm-4">
                                <div id="errorTip" class="color_f00"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-3">
                                <button class="btn btn-w-m btn-blue" type="button" id="submitWithdrawFormBtn">立即提现</button>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="{gt name="$u.real" value="0"}true{else/}false{/gt}" id="isRealNameAuthen"><!--是否实名认证-->
<!--<input type="hidden" value="" id="isBindWx">微信绑定状态（ 1：绑定，2：解绑,3：未绑定）-->
<!-- <input type="hidden" value="3" id="isFollowWx">是否关注微信公众号（1：已关注2：未关注，） -->

<input type="hidden" value="{empty name="$u.jiaoyimima"}false{else/}true{/empty}" id="isOpenTradePaaword"><!--是否开启交易密码-->


{/block}
{block name="js"}
<script>
   var banklist="{:U('home/moneylog/banklist')}",txjl="{:U('home/member/recharge')}";
   var alixian={:C('alixian')},wxxian={:C('wxxian')},bankxian={:C('bankxian')};
</script>
<script src="__JS__/common/conttab_child.js"></script>
<script src="__JS__/common/gotoAnotherPage.js"></script>
<script src="__JS__/withdrawCash/withdrawCash.js?v=25"></script>

{/block}
