{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 信息管理</title>{/block}
{block name="heardcss"}

    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css" rel="stylesheet">
    <link href="__CSS__/profileManage/profileManage.css" rel="stylesheet">

	{/block}
{block name="content"}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                                <ul class="nav nav-tabs">
    <li    ><a class="J_menuItem" curhref="{:U('home/member/userinfo')}">基本资料</a></li>
    <li   ><a class="J_menuItem" curhref="{:U('home/member/addTel')}">手机设置</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/AuthenInit')}">实名认证</a></li>
    <!--<li  ><a class="J_menuItem" curhref="{:U('home/member/bankAccount')}">银行账号</a></li>-->
    <li  ><a class="J_menuItem" curhref="{:U('home/member/aliPay')}">支付宝账号</a></li>
    <!--<li  ><a class="J_menuItem" curhref="{:U('home/member/weixin')}">微信帐号</a></li>-->
    <li  ><a class="J_menuItem" curhref="{:U('home/member/addpwd')}">密码管理</a></li>
    <li  ><a class="J_menuItem" curhref="{:U('home/member/editemail')}">邮箱设置</a></li>
    <!--<li ><a class="J_menuItem" curhref="{:U('home/member/qqbind')}">QQ绑定</a></li>-->
    <!--<li class="active"><a class="J_menuItem" curhref="{:U('home/member/wxbind')}">微信绑定</a></li>-->
</ul>               
 <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="panel-body">
                            <!--未绑定微信-->
                            <a class="dashed-box" href="javascript:toWeChatLogin();">
                                <i class="add-wx-ico"></i><span class="dashed-box-words">立即绑定</span>
                            </a>
 							<p class="text-center"><a class="color666" href="javascript:void(0);">绑定微信后，可以使用该微信登录这个帐号</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="js"}
<script>
    var ctxPath = {domain: "http://www.renrenxiaoka.com",_csrf:"e73ba083-c73f-4c4c-b2f2-9f51170855b7",staticDomain:"https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com"};
</script>
<script src="__JS__/common/profileManage/common_profile.js"></script>
<script src="__JS__/common/conttab_child.js"></script>
<script src="__JS__/common/profileManage/baseProfile/baseProfile.js"></script>

{/block}
