{include file="public/heard"}
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="/">首页</a>
            <a href="">系统管理</a>
            <a>
              <cite>角色管理</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <button class="layui-btn" onclick="xadmin.open('添加用户','{:U('simple/admin/roleAdd')}')"><i class="layui-icon"></i>添加权限</button>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                              <thead>
                                <tr>

                                  <th>ID</th>
                                  <th>角色名</th>
                                  <th>状态</th>
								  <th>时间</th>
                                  <th>操作</th>
                              </thead>
                              <tbody>
							  {volist name="list" id="k"}
                                <tr>
                                  <td>{$k.group_id}</td>
                                  <td>{$k.title}</td>
                                  <td>{eq name="$k.status" value="1"}<span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>{else/}<span class="layui-btn layui-btn-danger layui-btn-mini">已停用</span>{/eq}</td>
                                  <td>{:date("Y/m/d H:i:s",$k.addtime)}</td>
                                  <td class="td-manage">
                                    <a onclick="member_stop(this,{$k['group_id']})" href="javascript:;"  title="{eq name='$k.status' value='1'}启用{else/}停用{/eq}">
                                      {eq name="$k.status" value="1"}<i class="icon iconfont">&#xe719;</i>{else/}<i class="icon iconfont">&#xe71a;</i>{/eq}
                                    </a>
                                    <a title="编辑"  onclick="xadmin.open('编辑','{:U('simple/admin/roleAdd',['id'=>$k['group_id']])}')" href="javascript:;">
                                      <i class="layui-icon">&#xe642;</i>
                                    </a>
                                    <a title="删除" onclick="member_del(this,{$k['group_id']})" href="javascript:;">
                                      <i class="layui-icon">&#xe640;</i>
                                    </a>
                                  </td>
                                </tr>
								{/volist}
                              </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                                {$list->render()}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script>
	
      /*用户-停用*/
      function member_stop(obj,id){
	         var s=1,str="启用",icon="&#xe719;",msg="已启用";
			 if($(obj).attr('title')=='启用'){
			    s=0,str="停用",icon="&#xe71a;",msg="已停用";
			 }
          layer.confirm('确认要'+str+'吗？',function(index){
		    
			 $.post("{:U('simple/admin/roleKg')}",{id:id,state:s},function(p){
			    if(p.code==1){
				    $(obj).attr('title',str);
					$(obj).find('i').html(icon);
					$(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html(msg);
					layer.msg(msg,{icon: 6,time:1000},function(){
					   location.reload();
					});
					
				}else{
				    layer.msg("修改失败！",{icon: 5,time:1000});
				}
			 })
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              $.post('{:U("simple/admin/groupDel")}',{id:id},function(e){
				  $(obj).parents("tr").remove();
				  layer.msg('已删除!',{icon:1,time:1000});
			  })
              
          });
      }

    </script>
</html>