/*------ 主回收页面 ------*/
.recovery-card-mode .card-recovery-cont .recovery-mode-list.maintain{background: #ddd;}
.data-type-operator.maintain .max-discount{background: #f5cc26;padding: 0 5px 0 8px;}
#priceWrap .recovery-par-list.price_maintain{background: #ddd;cursor: not-allowed;}
#priceWrap .recovery-par-list.price_maintain .maintain_tag{display: block;content: "";height: 20px;font-size: 12px;color: #fff;position: absolute;top: 0;right: 0;background: #f5cc26;padding: 0 5px 0 8px;}
.card-submit-btn.no-allowed{background: #ddd;cursor: not-allowed;}



/*------ 单卡回收 ------*/
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-ul li a{display: block;}
#opeMaintainTip{display: none;margin: -4px 0;}
#priceWrap .cardrecycle-btn-list.price_maintain{background: #ddd;cursor: not-allowed;}
#priceWrap .cardrecycle-btn-list.price_maintain .maintain_tag{display: block;content: "";height: 20px;font-size: 12px;color: #fff;position: absolute;top: 0;right: 0;background: #f5cc26;padding: 0 5px 0 8px;}