{extend name="layout/user"}
{block name="css"}
<link href="__CSS__/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>	
<link href="__CSS__/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>	
{/block}
{block name="text"}
 <div class="page-inner">
     <div class="page-title">
                <h3 class="breadcrumb-header">续费记录</h3>
        </div>
	<div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                   <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">续费记录</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="apis" class="display table" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                                <tr>
                                                    <td>记录ID</td>
													<td>订单号</td>
													<td>网站名称</td>
													<td>类型</td>
													<td>消耗金额</td>
													<td>续费时长</td>
													<td>续费时间</td>
                                                </tr>
                                            </thead>
											<tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                      </div>
			   </div>

		</div>
	</div>

{/block}
{block name="js"}
{include file="layout/footda"/}
<script>
$(function(){
  
    $('#apis').DataTable({
        'language': {
            "url": url
        },
		'bLengthChange':false,
		"pagingType": "full_numbers",
		"serverSide":true,
		"ajax": "",
	    "columns": [
		    { "data": "id"},
			{ "data": "order" ,"bSortable": false},
			{ "data": "name"},
			{ "data": "type"},
			{ "data": "money" ,"bSortable": false},
			{ "data": "shic","bSortable": false },
			{ "data": "addtime","bSortable": false }
		],
        columnDefs: [
		   {
			targets: 3,
	        orderable : false,
	        render: function(data,type,row,meta) {
			     let str="<p class='text-danger'>续费开通</p>";
				 if(data==1)str="<p class='text-info'>增加域名</p>";
				return str;
	        }
			}
			
       ]			
	});
 })
</script>

{/block}