{include file="public/heard"}
<style>
.site-doc-icon{
    margin-bottom: 10px;
	height: auto;
	display: inline-block;
}

</style>
    <body>
	<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">系收款账号</a>
            <a>
              <cite>二维码管理</cite></a>
          </span>
		  <span style="float:right">
		  <a class="layui-btn layui-btn-small layui-btn-danger" style="line-height:1.6em;margin-top:3px;" onclick="javascript:history.back(-1)" title="刷新">
            <i class="layui-icon layui-icon-return" style="line-height:30px"></i></a>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a></span>
        </div>
       <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                          收款账号：<em style="color:red">{$u.account}</em> <button class='layui-btn layui-btn-normal' onclick='toUp()'>上传二维码</button>
                        </div>
                        <div class="layui-card-body ">
                          <ul class="layui-timeline">
						  {foreach name="list" key="k" item="v" empty="$empty"}
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">{gt name="$k" value="0"}{$k}元目录{else/}主图{/gt}</h3>
								<ul class="site-doc-icon" >
								 {foreach name="v" key="kk" item="vv"}
								  <li style="float:left;list-style-type: none;margin:auto 10px">
									<div class="layui-anim"><img style="width:150px;height:150px" src="{$vv}"></div>
									<div class="layui-text" style="margin-top:8px"><strong>{gt name="$k" value="0"}{$k}.{$kk}元{else/}主图{/gt}</strong> <button style="float: right;" class='layui-btn layui-btn-danger' onclick='toDel({$u.sid},{$k},"{$kk}")'>删除</button></div>
									
								  </li>
								 {/foreach}
								</ul>
                              </div>
                            </li>                     
                            {/foreach}
                          </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </body>
	 <script>
	 function toUp(){
	   xadmin.open('二维码上传',"{:U('simple/ewm/upfiel',['id'=>$u.sid])}");
	 }
	 var $;
	 layui.use(['table','laypage','form'], function() {
        $ = layui.jquery;
	 })
	 function toDel(a,b,c){
			$.post("{:U('simple/ewm/toDel')}",{a:a,b:b,c:c},function(res){
			   if(res.code==1){
			     layer.msg(res.msg,{time:1000,icon:1},function(){
				   location.reload();
				 });
			   }else{
			      layer.msg(res.msg,{time:1000,icon:2});
			   }
			})
		 }
	 </script>
</html>