{include file="public/heard"}
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">系收款账号</a>
            <a>
              <cite>系统账户</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <button class="layui-btn" onclick="xadmin.open('添加账号','{:U('simple/ewm/ewmEdit')}')"><i class="layui-icon"></i>添加</button>
						</div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form" lay-data="{id: 'list'}" id="list" lay-filter="list">
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> 
    </body>
	<script type="text/html" id="state">
    <input type="checkbox" name="state" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="state" {{ d.state == 1 ? 'checked' : '' }}>
    </script>
	<script type="text/html" id="status">
   {{#  if(d.status == 1){ }}
      <p class="layui-bg-black">额度限制</p>
     {{#  } else { }}
     <p class="layui-bg-red">正常支付</p>
     {{#  } }}
    </script>
	<script type="text/html" id="action">
    <a href="{:U('simple/ewm/ewmList')}?id={{d.id}}" class="layui-btn layui-btn-xs">二维码管理</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
   </script>
    <script>
	
	layui.use(['table','laypage','form'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery,laypage = layui.laypage;
        tableIn = table.render({
            elem: '#list',
            url: "{:U('simple/ewm/pay')}",
            method: 'post',
			page:true,
            cols: [[
			    {type: 'checkbox',width:30,minWidth:30},
			    {field: 'id', align: 'center',title: 'ID',width:80},
				{field: 'uid', align: 'center',title: 'UID',width:100},
				{field: 'account', align: 'center',title: '收款账号', width:100},
                {field: 'type', align: 'center',title: '类型', width:100},
                {field: 'quota', align: 'center',title: '限额',width:150,edit:"#text"},
				{field: 'cnum', align: 'center',title: '二维码数量',width:150},
				{field: 'status', align: 'center',title: '状态',toolbar: '#status',width:150},
                {field: 'state',align: 'center', title: '开关',toolbar: '#state',width:150},
                {field: 'addtime',align: 'center', title: '添加时间',width:150},
                {title: '操作',align: 'center', toolbar: '#action'}
            ]]
        }); 
		form.on('select(type)', function(data){
		  var index = layer.load(3, {
					  shade: [0.1,'#fff'] //0.1透明度的白色背景
					});
                 tableIn.reload({
					page:{curr:1
						 },
                     where:{
                         type:data.value
                     }
                 });
				 layer.close(index);
    
		  
		}); 
		table.on('edit(list)', function(obj){
         loading =layer.load(1, {shade: [0.1,'#fff']});
            var id = obj.data.id,str = obj.value,field=obj.field;
            $.post('{:U("simple/ewm/eSet")}',{'id':id,'count':str,'field':field},function (res) {
                layer.close(loading);
				if(res.code==1){
				  layer.msg(res.msg,{time:1000,icon:1});
				}else{
					layer.msg(res.msg,{time:1000,icon:2});
					return false;
				}
            })		  
		});
  
		form.on('switch(state)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var id = this.value;
            var authopen = obj.elem.checked===true?1:0;
				$.post('{:U("simple/ewm/eSet")}',{'id':id,'count':authopen,'field':'state'},function (res) {
					layer.close(loading);
					if (res.code==1) {
					    layer.msg(res.msg,{time:1000,icon:1});
						tableIn.reload();
					}else{
						layer.msg(res.msg,{time:1000,icon:2});
						return false;
					}
				})
        });
		table.on('tool(list)', function(obj){
            var data = obj.data;
			console.log(data);
            if(obj.event === 'del'){
                layer.confirm('您确定要删除该记录吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:U('simple/ewm/eDel')}",{id:data.id,tab:'up'},function(res){
                        layer.close(loading);
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });
      });
    </script>
</html>