{include file="public/heard"}
    <body>
	     <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">通道管理</a>
                <a>
                    <cite>类型列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
							 <button class="layui-btn" type="button"  onclick="xadmin.open('新增类型','/cedit',850,500)" ><i class="layui-icon"></i>新增类型</button> 
                        </div>
						 
                        <div class="layui-card-body ">
                            <table class="layui-table" id="mlist" lay-filter="mlist">
                                <thead>
                                    <tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
	<script type="text/html" id="caoz">
		<div class="layui-btn-group">
		<button class="layui-btn" onclick="xadmin.open('编辑','/cedit?id={{d.id}}',850,500)" >编辑</button>
		<button class="layui-btn layui-btn-danger"  lay-event="del">删除</button>
		</div>
   </script>
	
    <script>
	layui.use(['table','form','laydate'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery,laydate = layui.laydate;
        tableIn = table.render({
            elem: '#mlist',
            url: "/copaer",
            method: 'post',
			page:true,
            cols: [[
			    {type: 'checkbox',width:30,minWidth:30},
				{field:'id',title:"ID", align: 'center', sort: true,},
			    {field:'name',title: '类型名',align: 'center'},
				{field:'addtime',title: '添加时间',align: 'center',sort: true,},
                { align: 'center',title:'操作',toolbar: '#caoz'}
            ]],
			limit:15,
			limits:[10,20,50,60]
        });		
		table.on('tool(mlist)', function(obj){
            var data = obj.data;
			console.log(obj.event);
			switch(obj.event){
               case 'del':
                layer.confirm('您确定要删除该记录吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("/cdel",{id:data.id,tab:'Operator'},function(res){
                        layer.close(loading);
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
			  break;
			  return false;
            }
        });
      });
	  
    </script>
</html>