{include file="public/heard"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_email" name="name" value="{:isset($da.name)?$da.name:""}" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>导航图50*50</label>
                        <div class="layui-input-block" style="width:30%">
                            <img id="icon" src="{:isset($da.iconUrl)?$da.iconUrl:""}" width="200" height="200">
							  <input type="hidden" name="iconUrl" value="">
							  <button type="button"   class="layui-btn" id="test">
								  <i class="layui-icon">&#xe67c;</i>上传图片
								</button>
							</div>
                       </div>
                       
                       
                                           <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>首页寄售图片160*88</label>
                        <div class="layui-input-block" style="width:30%">
                            <img id="icon2" src="{:isset($da.imgs)?$da.imgs:""}" width="200" height="200">
							  <input type="hidden" name="imgs" value="">
							  <button type="button"   class="layui-btn" id="test1">
								  <i class="layui-icon">&#xe67c;</i>上传图片
								</button>
							</div>
                       </div>

                       
                       
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
						<input type="hidden" name="id" value="{:isset($da.id)?$da.id:""}">
                        <button class="layui-btn" type='button' lay-filter="aby" lay-submit="">保存</button></div>
				</form>
            </div>
        </div>
        <script>

        
        
        
        
        
        layui.use('upload', function(){
		  var upload = layui.upload,layer = layui.layer;
		  //执行实例
		  var uploadInst = upload.render({
			 elem: '#test' //绑定元素
			,url: '{:U("simple/system/upload")}' //上传接口
			,done: function(res){
				 if(res.code==1){
					$("#icon").attr('src',res.url);
					$("input[name=iconUrl]").val(res.url);
					layer.msg(res.info,{time:1000,icon:1});
				 }else{
					layer.msg(res.info,{time:1000,icon:2});
				 }
			}
			,error: function(){
			  //请求异常回调
			}
		  });
		   //执行实例
		  var uploadInst = upload.render({
			 elem: '#test1' //绑定元素
			,url: '{:U("simple/system/upload")}' //上传接口
			,done: function(res){
				 if(res.code==1){
					$("#icon2").attr('src',res.url);
					$("input[name=imgs]").val(res.url);
					layer.msg(res.info,{time:1000,icon:1});
				 }else{
					layer.msg(res.info,{time:1000,icon:2});
				 }
			}
			,error: function(){
			  //请求异常回调
			}
		  });
		});
        
        
        
layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,upload = layui.upload,
                layer = layui.layer;
				layer.ready(function(){
                //监听提交
                form.on('submit(aby)',
                   function(data) {
						var loading =layer.load(3, {shade: [0.1,'#fff']});
						$.post("",data.field,function(res){
								layer.close(loading);
								if (res.code==1) {
									layer.alert(res.msg,{icon:1},function(){
									  xadmin.close();
						              xadmin.father_reload();
									});
								}else{
									layer.alert(res.msg,{icon:2});
								}
						})
						return false;                  
                });
				});

            });</script>
    </body>

</html>