/*提现账号*/
.null_data .realname_ico{background: url(../../../images/profileManage/withdrawAccount/no_real.png) no-repeat 0 0;background-size: 100%;}
.null_data .no_bindwx_ico{background: url(../../../images/profileManage/withdrawAccount/no_weixin.png) no-repeat 0 0;background-size: 100%;}
.null_data .no_followWx_ico{background: url(../../../images/profileManage/withdrawAccount/no_official.png) no-repeat 0 0;background-size: 100%;}
.null_data .no_password_ico{background: url(../../../images/profileManage/withdrawAccount/no_password.png) no-repeat 0 0;background-size: 100%;}
.null_data .btn{margin-top: 1.25rem;}
.null_data .btn-sm{width: 6.75rem;}

/*微信账号*/
.has-bindAndFollowWx-box{position: relative;top: 2.2rem;}
.has-bindAndFollowWx-box .box{width: 17.25rem;height: 5.25rem;margin: 1.1rem auto 2.15rem;text-align: center;padding: 0.475rem 0 0.625rem;
    background: url(../../../images/profileManage/withdrawAccount/acco_weixin_bj.png) no-repeat 0 0;background-size: 100%;}
.has-bindAndFollowWx-box .dec-tit{display: inline-block;font-size: .6rem;color: #fff;opacity: .8;line-height: 1.85rem;position: relative;padding-left: 2.5rem;margin-bottom: 0.3rem;}
.has-bindAndFollowWx-box .dec-tit:before{display: block;content: "";position: absolute;top: 0;left: 0;width: 1.85rem;height: 1.85rem;
    background: url(../../../images/profileManage/withdrawAccount/white_wx_icon.png) no-repeat 0 0;background-size: 100%;}
.has-bindAndFollowWx-box .dec-con{font-size: 0.7rem;color: #fff;line-height: 1rem;}

/*银行卡账号*/
.addBankCard-warp{position: relative;top: 2.2rem;}
.top-tip{border-bottom: 1px solid #ffe8a1;padding: 0.425rem 0 0.425rem 0.75rem;background: #ffecc0;font-size: 0.6rem;color: #d68c34;position: relative;}
.tip-ico-parent{padding-left: 2.15rem;}
.tip-ico-parent:before{display: inline-block;content: "";position: absolute;top: 0.425rem;left: 0.75rem;width: 0.9rem;height: 0.9rem;
    background: url(../../../images/profileManage/realNameAuthen/icon_rem_draw.png) no-repeat 0 0;background-size: 100%;}

.setting-modules{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;background: #fff;padding: 0 0 0 0.75rem;margin-top: 0.75rem;}
.setting-modules .media img:first-child{margin-right: 0.3rem;}
.setting-modules .media-body{border-bottom: 1px solid #ddd;position: relative;height: 2.6rem;line-height: 2.6rem;padding-right: 0.75rem;}
/*.setting-modules .media-body:after{display: block;content: "";position: absolute;top: 0.7rem;right: 0.75rem;width: 0.5rem;height: 0.85rem;
    background: url("../../../../web/images/index/sale_details_btn.png") no-repeat;background-size: 100%;}*/
/*.setting-modules .media-body.no-bg:after{background: none;}*/
.setting-modules .media:last-child .media-body{border-bottom: 0;}
.setting-modules .media-body .left-txt{font-size: 0.7rem;color: #666;width: 3.75rem;}
.setting-modules .media-body .right-txt{font-size: 0.7rem;color: #333;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;text-align: right;}

.setting-modules .media-body .form-group{margin: 0;position: relative;}
.setting-modules .media-body .form-control{border: 0;border-radius: 0;font-size: 0.7rem;color: #333;width: 100%;height: 2.55rem;line-height: 1.1rem;padding: 0.375rem 0.75rem 0.375rem 0;}
.form-control:focus{box-shadow: none;}
.form-group a{position: absolute;top: .5rem;right:0.75rem;padding: 0.5rem 0 0.5rem 0.5rem;}
.form-group a.right52{right: 2.6rem;}
.form-group a.delete{display: none;}
.form-group .delete b{display: block;width: .75rem;height: .75rem;background: url(../../../../web/images/common/form/com_dele_icon.png) no-repeat 0 0;background-size: 100%;}
.form-group .showPassword, .form-group .hidePassword{padding: .325rem 0 .325rem .15rem;}
.form-group .showPassword b{display: block;background: url(../../../../web/images/common/form/open_eye_icon.png) no-repeat 0 0;background-size: 100%;}
.form-group .hidePassword b{display: block;background: url(../../../../web/images/common/form/close_eye_icon.png) no-repeat 0 0;background-size: 100%;}

.forgot-password{font-size: 0.65rem;color: #d25851;height: 1.65rem;line-height: 1.65rem;margin: .25rem .75rem .25rem 0;}
.full-btn{display: block;margin: 0 .75rem .6rem;font-size: 0.85rem;}

.bankCard-list-wrap{padding-top: 0.55rem;}
.bankCard-list-wrap .bankCard-list{margin: 0 0.75rem;}
.bankCard-list li{max-width: 690px;height: 5.25rem;margin: 0 auto 0.6rem;background: url(../../../images/profileManage/withdrawAccount/bankAccount/yhk_bj.png) no-repeat 0 0;background-size: 100%;}
.bankCard-list li:last-child{margin-bottom: 0;}
.bankCard-list li .media{padding: 0.6rem 0.75rem 0 0.8rem;}
.bankCard-list li .tit{font-size: 0.8rem;color: #fff;line-height: 0.95rem;}
.bankCard-list li .subhead{font-size: 0.7rem;color: #fff;}
.bankCard-list li .desc{font-size: 1rem;color: #fff;margin-left: 3.4rem;position: relative;margin-top: 0.6rem;line-height: 1.5rem;}
.bankCard-list li .delete-ico{position: absolute;top:0;right: 0.75rem;}
.delete-ico{width: 1rem; height: 1rem;background: url("../../../images/profileManage/withdrawAccount/white_dele_icon.png") no-repeat 0 0;background-size: 100%;cursor: pointer;}
.bankCard-list li .edit-ico{position: absolute;top: 0;right: 2.8rem;padding: 0.75rem;}
.edit-ico{width: 1rem; height: 1rem;background: url("../../../images/profileManage/withdrawAccount/white_edit_icon.png") no-repeat 0 0;background-size: 100%;}

.modal-header{padding: 0.75rem 1rem 0.35rem 1rem;}
.modal-title{font-size: 16px;color: #999;font-weight: 500;}
.modal-header .close{font-weight: normal;}
.modal-body{padding-bottom: 0.3rem;}
.modal-body .form-group{margin-bottom: 0.5rem;}
.modal-body .form-group.mt-0{margin-bottom: 0;}
.modal-body .form-control{font-size: 0.7rem;}
.modal-body .tradePass-related{float: right;position: static;font-size: 0.7rem;}
.errorTip{font-size: 0.7rem;color: #fc3a2e;}
.errorTip.wrong{position: relative;padding-left: 1rem;}
.errorTip.wrong:before{display: block;content: "";position: absolute;top: 0.1rem;left: 0;width: 0.8rem;height: 0.8rem;background: url("../../../images/common/warning.png") no-repeat 0 0;background-size: 100%;}
.modal-footer .full-btn{width: 100%;margin: 0;}

/*支付宝账号*/
.addAliAccount-warp{position: relative;top: 2.2rem;}
.aliAccount-list-wrap{padding-top: 0.55rem;}
.aliAccount-list-wrap .bankCard-list{margin: 0 0.75rem;}
.aliAccount-list-wrap li{background: url(../../../images/profileManage/withdrawAccount/aliPayAccount/zfb_bj.png) no-repeat 0 0;background-size: 100%;}
.aliAccount-list-wrap li .media-body{font-size: 0.8rem;color: #fff;line-height: 1.85rem;}
.aliAccount-list-wrap li .desc{margin-top: 1rem;}

/*微信账号 */
.wxAccount-list-wrap li{position: relative;background: url(../../../images/profileManage/withdrawAccount/weiXinAccount/wx_bj.png) no-repeat 0 0;background-size: 100%;}
.wxAccount-list-wrap li .media{padding: 0.7rem 0.75rem 0 0.7rem;}
.wxAccount-list-wrap li .media img:first-child{display: block;border-radius: 50%;}
.wxAccount-list-wrap li .media-body{width: 4.5rem;overflow: hidden;line-height: 1.2rem;}
.wxAccount-list-wrap li .media-body .font16{font-size: 0.8rem;}
.wxAccount-list-wrap li .media-body .font14{font-size: 0.7rem;}
.wxAccount-list-wrap li .delete-ico{top: auto;bottom: 0.7rem;}
