#minirefresh .minirefresh-downwrap{top: 0;}
.top-bg{height: 6.6rem;background: url("../../../images/enterpriseRecycle/join_banner.png") no-repeat center;background-size: 100%;border-bottom: 1px solid #ddd;}
.cooperation-btn{display: block;font-size: 0.85rem;margin: 1rem 0.75rem 1rem;}

.advantage-box{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding-left: 0.75rem;background: #fff;}
.advantage-box .list-header{font-size: 0.75rem;color:#333;padding: 0.675rem 0;border-bottom: 1px solid #ddd;}
.advantage-box .media{padding: 0.7rem 0;border-bottom: 1px solid #ddd;}
.advantage-box .media:last-child{border-bottom: 0;}
.advantage-box .media .tit{font-size: 0.7rem;color: #666;margin: 0.325rem 0 0.225rem 0;}
.advantage-box .media .desc{font-size: 0.6rem;color: #666;}