/*新卡类*/
.cardnav-group.clearfix{
padding: 0 .1rem .1rem .1rem;
text-align: center;
    /*height: 160px;*/

}
.cardnav-group > li {
    float: left;
    width: 33.33333%;
    white-space: nowrap;
    padding: 5px 0px 20px 0px;
    /*padding: 0 0 .15rem 0;*/
    /*height: 90px;*/
}
.cardnav-group > li > a {
    display: block;
    padding: 0 .5rem;
    font-size: .12rem;
    color: #666;
    height: 60px;
}
.cardnav-group > li > a > img {
    display: block;
    margin: 0 auto;
    margin-bottom: -8px;
    border-radius: 7px;
    height: 60px;
}
/*新卡种*/
/*.cardsort-listing{*/
/*margin: 0px 5px 5px 5px;	*/
/*}*/
.cardsort-listing > ul {
margin: 1px 5px 1px 5px;	
}
.cardsort-listing > ul > li {
width: 50%;
    float: left;
    /*padding: 5px 5px 5px 5px;*/
}
.cardsort-listing > ul > li a.list-items.active, .cardsort-listing > ul > li a.list-items.active:active {
        /*border: 2px solid #399EFF!important;*/
    background-color: #fff;
    /*border-radius: 6px;*/
    /*text-align: center;*/
    /*height: 66px;*/
}
/*.cardsort-listing > ul > .active, .cardsort-listing > ul .active:active {*/
/*        border: 2px solid #399EFF!important;*/
/*    background-color: #fff;*/
/*    border-radius: 6px;*/
/*    text-align: center;*/
/*    height: 66px;*/
/*}*/
.actionsheet-menu .list-items{
        background-color: #f4f8f9;
    border-radius: 6px;
    text-align: center;
}
.card-select{border-top: 1px solid #f0f2f4;/*border-bottom: 1px solid #ddd;*/padding: 0 0 0 .75rem;background: #fff;margin-top: .6rem;}
.media{border-bottom: 1px solid #f0f2f4;height: 2.5rem;line-height: 2.5rem;}
.media:last-child{border-bottom: 0;}
.media .item-label{width: 3.15rem;font-size: 16px;color: #666;text-align: left;}
.actionsheet-menu .list-items span{
    /*display: block;*/
    height: 13px;
    line-height: 13px;
    font-size: 15px;
    margin: 0 .05rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
    color: #666;	
}
.actionsheet-menu .list-items.active:after {
content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1.5px solid #fe5339;
    border-radius: 6px;
}
.actionsheet-menu .list-items {
    position: relative;
    display: block;
    /*border-bottom: 1px solid #ddd;*/
    height: 70px;
    line-height: 2.1rem;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    border-radius: 6px;
    text-align: center;
}

/*新面值*/
.cardFaceValue-listing > ul {
margin: 1px 5px 1px 5px;	
}
.cardFaceValue-listing > ul > li {
width: 33.33333%;
float: left;	
}
.cardFaceValue-listing > ul > li > a{
position: relative;
    display: block;
    background-color: #f4f8f9;
    height: 70px;
    line-height: 2.1rem;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    border-radius: 6px;
    text-align: center
}
.actionsheet-menu .list-itemm .color-orange{
font-size: 5px;	
line-height: 18px;
}
.actionsheet-menu .list-itemm span {
    font-size: .7rem;
       display: block;
}
.cardFaceValue-listing > ul > li > .list-itemm.active:after{
content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1.5px solid #fe5339;
    border-radius: 6px;
}



/*卡类*/
.card-select .media .media-body{font-size: 18px;color: #666;}
.card-select .media .card-type-item{display: none;}
.card-select .media .card-type-item.active{display: block;}
.card-select .media .card-type-img{float:right;width: 0rem;height: 1.5rem;margin: .5rem 0 0 0;}
.card-select .media .right-arrow{margin: 0 .75rem;}
.new_activity{font-size: 0.6rem !important; color: #0bbf06 !important;}

/*卡种*/
.card-select .media .card-sort-img{float: right;width: 0rem;height: 1.95rem;margin: .25rem 0 0 0;}
.card-select #cardSortMedia .right-arrow{margin: 0 0.75rem 0 0.2rem;}

/*折扣*/
.media .inpt{width: 100%;height: 1.5rem;line-height: 1.5rem;font-size: .7rem;vertical-align: top;margin: .5rem 0;padding: 0 .75rem 0 0;}
.card-select .media .discount-tip-ico{width: 2.25rem;height: 2.25rem;padding: 0.75rem;}

.card-recycle-duration{font-size: 0.6rem;color: #f38315;padding: .3rem .75rem .5rem;}
.batch-consume-duration{display: none;font-size: 0.6rem;color: #c48de8;padding: 0 .75rem;}

/*卡密示例*/
.card-sample-box{text-align: right;padding: 0 .75rem;}
.card-sample-box a{display: inline-block;font-size: .7rem;height: 2rem;line-height: 2rem;}
.card-recovery-limit{color: #789e00;}

/*批量提交输入框*/
.batch-mode{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:0 0 0 .75rem;background: #fff;}
.card-list-box{border-bottom: 1px solid #ddd;padding-right: .75rem;}
.batch-mode textarea{border: 0;border-radius: 0;outline: 0;padding: 0;margin: .75rem 0;font-size: .7rem;color:#333;line-height: 22px;overflow-y: auto;background-color: #fff;background-image: linear-gradient(transparent 50%, transparent, #fcfcfc 50% );-webkit-background-size: 44px 44px;background-size: 44px 44px;resize: none;}
.batch-mode textarea:focus{box-shadow:none;border: 0;}

.card-input-info{padding-right: .75rem;}
.tidy-btn{font-size: .65rem;padding: .15rem .225rem;margin-top: .4rem;}
.card-input-info span{height:2.15rem;line-height:2.15rem;font-size: .65rem;color: #999;}
.card-input-info strong{font-weight: normal;}

/*单卡提交输入框*/
.single-mode{display: none;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 0 0 0 .75rem;background: #fff;}
.recycle-wrap .delete-ico{display: none;}

/*卡密规则*/
.card-rules-tip{font-size: .6rem;color: #d25851;padding: .3rem .75rem .5rem;}

/*固定底部*/
.recycle-footer .row{margin: 0;height: 2.35rem;overflow: hidden;margin: 0px 10px 10px 10px;}
.recycle-footer .left-agreement{background: #515558;padding: 0 0 0 .75rem;}
.recycle-footer .isAgree{width: 1.125rem;height: 2.35rem;line-height: 2.35rem;margin-right: 0.25rem;}
.recycle-footer .isAgree .checkbox{margin: .725rem 0 0 0;}
.recycle-footer .agree-txt{width: 88%;font-size: .6rem;color: #ddd;}
.recycle-footer .agree-txt p{margin: .275rem 0 0 0;}
.recycle-footer .agree-txt a{font-size: .6rem;color: #ddd;}
.recycle-footer .right-commit-btn{font-size: .75rem;padding: 0;line-height: 2.35rem;border-radius: 0;background: linear-gradient(to right, #00aaff 0%, #0085fe 100%);width: 100%;    border-radius: 6px;}
.recycle-footer .right-commit-btn.disabled:hover{background-color: #45b5f0;border-color: #45b5f0;opacity: .65;}
.recycle-footer .right-commit-btn.no-allowed{background: #ddd;border-color: #ddd;}

/*底部弹层*/
.cardtype-listing, .cardsort-listing, .cardFaceValue-listing, .cardSubmitWay-listing{background: #fff;/*padding-left: .75rem;*/max-height: 12.75rem;overflow-x: hidden;overflow-y: auto;}
.actionsheet-menu .list-item{position:relative;display: block;border-bottom: 1px solid #ddd;height: 70px;line-height: 2.1rem;cursor: pointer;    margin: 5px 5px 5px 5px;}
.actionsheet-menu .list-item:last-child{border-bottom: 0;}
/*.cardtype-listing .card-type-img{width: 1.5rem;height: 1.5rem;vertical-align: top;margin: .3rem .75rem 0 0;}*/
.cardsort-listing .card-sort-img{width: 100px;height: 40px;vertical-align: top;margin: 4px 2px 2px 2px;}
.actionsheet-menu .list-item span{font-size: .7rem;color: #333;}

.actionsheet-menu .list-item.active:after{position: absolute;top: .75rem;right: .75rem;content: '';display: block;width: .6rem;height: .6rem;background: url("../../images/recycle/choose_type_icon.png") no-repeat;background-size: 100%;}

.loading{font-size: .7rem;color: #999;}
.actionsheet-pop .loading{height: 2.1rem;line-height: 2.1rem;text-align: center;}
.media .loading img, .actionsheet-pop .loading img{width: 1rem;height: 1rem;margin-right: .5rem;}

.null-data{font-size: .7rem;color: #999;}
.actionsheet-pop .null-data{line-height: 2.1rem;text-align: center;}

#facevalue-selected .color-orange{font-size: 0.75rem;position: absolute;right: 7%;}
.text-decoration{text-decoration: line-through;}
.layui-m-layer .sure-submit-layer .card-submit-tipcon{text-align: left;}

/* 维护相关 */
.actionsheet-menu .list-item .maintance-label{margin: 0 0 0 0.5rem;color: #6687f7;font-size: 0.8rem;}

