body{background: #ffeda4;}
img{vertical-align: baseline;}
header.navbar{background-color: #ffeda4;}
.text-center{margin-top: 0.5rem;margin-bottom: 0.5rem;}
.head_xs{width: 100%; height: 6.6rem; background-repeat: no-repeat;  background-position: 50%;  background-image:url("../../../images/inviteFriends/banner_act.png"); background-size: 100%;margin-top: 2rem; }

.table { margin: 0 auto; text-align: center;    border-top-left-radius: 12px; border-top-right-radius: 12px;}
.titles{font-size: 0.85rem;color: #515558; }

/*--------------------------邀请方式-----------------------------*/

.way{ background-repeat: no-repeat; background-position: 1.2px;  background-image:url("../../../images/inviteFriends/invite_bj.png");  background-size: 100% 100%;  margin: 0 auto;  margin-top: 1.25rem;  margin-bottom: 2.5rem;  padding: 0 0.75rem;  padding-top: 1.375rem;  padding-bottom: 1.25rem;  min-height: 17.5rem;  position: relative;  }
.way_p{color: #ea6948;font-size: 0.5rem;}
.way1_box{ float: left;width: 7.75rem; height: 9.3rem; margin-left: 0.4rem;margin-right: 0.4rem;background-image: url(../../../images/inviteFriends/way01.png);background-size: 100% 100%;}
.way1_box .way1_box_p{font-size: 1.2rem;text-align: center; margin-top: 85%;color: #ea6948;}
.way2_box{ float: right;width: 7.75rem; height: 9.3rem; margin-left: 0.4rem;margin-right: 0.4rem; background-image: url(../../../images/inviteFriends/way02.png);background-size: 100% 100%;}
.copy_txt{    width: 6.75rem; height: 2.7rem;  text-align: center;  border: 0;  border-radius: 7px;  margin: 0 auto;  margin-top: 77%;color: #666666;font-size: .45rem;
    outline:none;padding-top: 0.5rem; resize: none;line-height: 0.9rem;    padding: 0.5rem;background-color: #fff;}

.act-btn{background-image: url(../../../images/inviteFriends/share_btn.png);}
.login-btn{background-image: url(../../../images/inviteFriends/get_btn.png);}
.real-btn{background-image: url(../../../images/inviteFriends/real_btn.png);}
.or_btn{display: block; background-size: 100%;  width: 8.625rem; height: 1.93rem;  position: absolute; bottom: 2rem;  left: 5rem;  z-index: 111;  background-color: transparent;}



/*-------------------------最高0.3佣金----------------------*/

.Rebate{ background-repeat: no-repeat; background-position: 1.2px;  background-image:url("../../../images/inviteFriends/cash_bj.png");  background-size: 100% 100%;  margin: 0 auto;  margin-top: 1.2rem;  margin-bottom: 2.5rem;  padding: 0 30px;  padding-top: 1.5rem;  padding-bottom: 1.5rem;  -moz-box-shadow: 10px 17px 0 #fce8bc;  min-height: 11.5rem;  position: relative;  }
.Rebate_p{color: #999999;font-size: 0.55rem;}
.Rebate_a{color: #ea6948;}

.table_tr{color: #fff;background: #ea6948;font-size: 0.55rem;}
.table_tr .table_td_l{border-top-left-radius: 12px;border: 0;}
.table_tr .table_td_r{border-top-right-radius: 12px;border: 0;}
.table-bordered{ border: 0;}
.table-bordered td{padding:0.45rem;}
table tr td{font-size: 0.4rem;}
table tr td span{color: #ea6948;}
.remarks{color: #ea6948;font-size: 0.4rem;}
.remarks_detail{color: #27baff;font-size: 0.4rem;margin-right: 0;}
.case-btn{    position: fixed;  right: 3%;  top: 55.5%;  height: 2.6rem;  outline: none;  border: 0;  width: 2.6rem;  background: transparent;  background-image: url(../../../images/inviteFriends/float_icon.png); background-size: 100%; z-index: 1111;}
/*#main {  padding-top:90px;  text-align:center;  }*/

/*-------------------------推广员升级条件  ------------------------------------*/

.condition{ background-repeat: no-repeat; background-position: 1.2px;  background-image:url("../../../images/inviteFriends/expand_bj.png");  background-size: 100% 100%;   margin: 0 auto;  margin-top: 48px;  padding: 0 30px;  padding-top: 2rem;  padding-bottom: 1rem;  -moz-box-shadow: 10px 17px 0 #fce8bc;  min-height: 11.5rem;  position: relative;  }
.condition_p{color: #999999;font-size: 0.55rem;}

/*--------------------------活动说明-----------------------------*/

.explain{font-weight: bold; width: 0.6rem;height: 0.6rem;background-image: url(../../../images/inviteFriends/activity_up_btn.png);background-size: 100%;background-color: transparent;}
.explain_unfold{font-weight: bold; width: 0.6rem;height: 0.6rem;background-image: url(../../../images/inviteFriends/activity_unfold_btn.png);background-size: 100%;background-color: transparent;}
.explain_{font-size: 0.75rem;color: #666666;}
.explain_1{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.wz_p{ font-size: 0.6rem; color: #666666;margin-bottom: 2rem;padding: 0 0.8rem;
    }
.wz_p span{color: #ff5454;}
#div3{display:none;}

/*遮罩层*/
#fullbg {  background-color:#333;  left:0px;  opacity:0.8;  position:absolute;  top:0px;  z-index:1112; }

#dialog { background-color:#FFF;  display:none;width: 95%; left: 2%; position:fixed !important; /* 案例弹窗 */   top:41%;   z-index:9999; border: 2px solid #81C6EA; }
#dialog p {margin:0 0 12px;  }
#dialog p.close { text-align:right;}
#dialog p span{color: #0bbf06;}
#dialog p.detail{font-size: 30px;margin: 25px 125px;}
#dialog p.explains{font-size: 0.65rem;padding: 1.375rem 1.625rem;}
.close{opacity: 1;}
.close_Btn{background-image: url(../../../images/inviteFriends/close_btn.png);background-size: 100% 100%;width: 56px;height: 56px; background-color: #fff; border: 0;}

/*复制分享链接弹窗*/
#copy_log { background-color: #fff; position: fixed; margin-bottom: 0; width: 100%; bottom: 0; z-index: 10002;display: none;}
.detail{font-size: 0.7rem; color: #666666;padding: 1rem 1.7rem;border-top: solid 1px #999999;}
.weixinIcon{background-image: url(../../../images/inviteFriends/share_wechat_icon.png)}
.qqIcon{background-image: url(../../../images/inviteFriends/share_qq_icon.png)}
.shareSina{background-image: url(../../../images/inviteFriends/share_sina_icon.png)}
.qqIcon_kj{background-image: url(../../../images/inviteFriends/share_space_icon.png)}

.me-but {  font-size: 0.32rem;  display: table;  width: 100%;  }
.me-but .me-but-item { display: table-cell;  text-align: center;  vertical-align: middle;  padding: 0.3rem 0;  position: relative; width: 25%;}
.me-but .me-but-item .me-but-icon { display: block; color: #e2c188;  width: 2rem;height: 2rem; background-size: 100%; margin: 0.1rem auto;    background-color: #fff;;}
.me-but .me-but-item .me-but-order { color: #999999; }
