.notice-wrap{margin-bottom: 1rem;}
.notice-list-warp{padding: 0 0.75rem;}
.notice-time{font-size: 0.55rem;color: #999;line-height: 1.55rem;text-align: center;}

.card-header{padding: 0.7rem 1.1rem 0.625rem 0.8rem;background: #fff;border: 0;}
.card-header h5{font-size: 0.8rem;color: #333;}

.card-body{height: 2.1rem;line-height: 1.05rem;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;padding: 0 1rem 0 0.8rem;font-size: 0.7rem;color: #999;margin-bottom: 0.75rem;}
.card-body.show{display: block;height: auto;}

.card-footer{margin: 0 0.75rem 0 0.8rem;padding: 0.5rem 0;border-top: 1px solid #ddd;}
.card-footer .media{background: url(../../../images/common/gray_details_btn.png) no-repeat right center;background-size: 0.5rem 0.7rem;}
.card-footer .media.show{background: url(../../../images/common/details_up_btn.png) no-repeat right center;background-size: 0.7rem 0.5rem;}
.veiw-detail{font-size: 0.75rem;color: #45b5f0;}

.minirefresh-theme-default .minirefresh-downwrap{top: 0;}