#minirefresh{top:2.2rem;height: auto;}
.module .module-tit{line-height: 2rem;font-size: 0.7rem;color: #333;padding: 0 0.75rem;}
.module .media{padding: 0.375rem 0.75rem;font-size: 0.7rem;color: #333;background: #fff;position: relative;}
.module .media:after{display: block;content: "";position: absolute;top: 0.7rem;right: 0.75rem;width: 0.5rem;height: 0.85rem;background: url("../../../images/index/sale_details_btn.png") no-repeat 0 0;background-size: 100%;}
.module .media-body p{line-height: 1.5rem;}

.withdraw-accounts .media{display: none;padding: 0.2rem 0.75rem;font-size: 0.75rem;}
.withdraw-accounts .media.active{display: flex;}
.withdraw-accounts .media-body p{line-height: 1.85rem;}
.withdraw-accounts .has-account{color: #6d6d6d;}
.withdraw-accounts .no-account{color: #b2aea8;}
.withdraw-accounts .media-body .right-txt{font-size: 0.6rem;color: #0bbf06;margin-right: 1.3rem;}

.actionsheet-listing{max-height: 12.75rem;overflow-x: hidden;overflow-y: auto;background: #fff;padding-left: .75rem;}
.actionsheet-listing .media{position: relative;border-bottom: 1px solid #ddd;height: 2.1rem;line-height: 2.1rem;cursor: pointer;}
.actionsheet-listing .media:last-child{border-bottom: 0;}
.actionsheet-listing .media.active:after{position: absolute;top: .75rem;right: .75rem;content: '';display: block;width: .6rem;height: .6rem;background: url("../../../images/recycle/choose_type_icon.png") no-repeat;background-size: 100%;}
.module .media .w74{margin-right: 0.4rem;}
.module .media .bank-img{margin-right: 0.2rem;}
.module .media .bank-card{font-size: 0.6rem;color: #999;margin-left: -2.05rem;line-height: 1rem;}
.module .bank-account-media:after, .module .ali-account-media:after, .module .wx-account-media:after{top: 1.25rem;}
.module .media .ali-account, .module .media .wx-account{font-size: 0.6rem;color: #999;line-height: 1rem;}
.drawAccount-listing .media{height: 1.85rem;padding: 0.625rem 0;}
.drawAccount-listing .media img:first-child{margin-right: 0.425rem;}
.drawAccount-listing .media-body p:first-child{line-height: 0.7rem;margin-bottom: 0.7rem;font-size: 0.7rem;color: #6d6d6d;}
.drawAccount-listing .media-body p:last-child{line-height: 0.6rem;font-size: 0.6rem;color: #999;}
.drawAccount-listing .media.active:after{top: 1.25rem;}

.withdraw-money{margin: 0.8rem 0 0 0;padding: 0.6rem 0.75rem 0;background: #fff;}
.withdraw-money .balance{font-size: 0.7rem;color: #0bbf06;}
.withdraw-money .money-box{padding-bottom: 0.3rem;border-bottom: 1px solid #ddd;height: 2rem;line-height: 2rem;margin-top: 0.675rem;display: -webkit-flex;
    display: flex;justify-content: space-between;align-items: center;width: 100%;}
.withdraw-money .money-box .money-sign{font-size: 1.35rem;color: #ff7800;flex: 0 1 1.7rem;}
.withdraw-money .money-box input{height: 2rem;line-height: 2rem;font-size: 1.35rem;color: #ff7800;flex-grow: 1;overflow: hidden;}
.withdraw-money .money-box input::-webkit-input-placeholder{font-size: 0.6rem;}
.withdraw-money .money-box input::-moz-placeholder{font-size: 0.6rem;}
.withdraw-money .money-box input:-ms-input-placeholder{font-size: 0.6rem;}
.withdraw-money .money-box input::-ms-input-placeholder{font-size: 0.6rem;}
.withdraw-money .money-box input::placeholder{font-size: 0.6rem;}
.withdraw-money .money-box .btn{font-size: 0.6rem;flex: 0 1 3.5rem;}
.withdraw-money .limit-tip{font-size: 0.7rem;color: #d25851;line-height: 2.2rem;}

.withdraw-tradepass{margin: 0.8rem 0 0 0;position: relative;}
.withdraw-tradepass .lock{display: block;width: 1.1rem;height: 1.1rem;position: absolute;top: .575rem;left: 0.75rem;background: url(../../../images/common/form/login_pass_icon.png) no-repeat 0 0;background-size: 100%;}
.withdraw-tradepass .form-control{border: 0;font-size: 0.7rem;color: #333;padding:0.6rem 0 0.6rem 2.5rem;}
.withdraw-tradepass .form-control:focus{box-shadow: none;}
.withdraw-tradepass a{display: none;position: absolute;top: .25rem;right:0;padding: 0.5rem 0 0.5rem 0.5rem;}
.withdraw-tradepass a.delete{right: 2.6rem;}
.withdraw-tradepass .delete b{display: block;width: .75rem;height: .75rem;background: url(../../../images/common/form/com_dele_icon.png) no-repeat 0 0;background-size: 100%;}
.withdraw-tradepass a.isShowPass{display: block;padding: .325rem 0 .325rem .15rem;right: 0.75rem;}
.withdraw-tradepass .showPassword b{display: block;background: url(../../../images/common/form/open_eye_icon.png) no-repeat 0 0;background-size: 100%;}
.withdraw-tradepass .hidePassword b{display: block;background: url(../../../images/common/form/close_eye_icon.png) no-repeat 0 0;background-size: 100%;}

.forget-pass{padding-right: 0.75rem;text-align: right;margin: 2px 0 4px 0;}
.forget-pass a{display: inline-block;font-size: 0.65rem;color:#d25851;line-height: 2rem;}
#submitWithdrawFormBtn{color: #fff;margin: 0 0.75rem;}