/**
 * date： 2018-1-9 14:44:46
 * author： lxf
 * description: 账户总览样式
 */
.notice{position: relative;margin-bottom: 20px;padding: 20px 35px 20px 55px;font-size: 14px;color:#333;}
.iconimg{position: absolute;top: -1px;left: -1px;z-index: 3;}
.notice_iconimg{width: 49px;height: 44px;background: url(../../images/common/notice-icon.png) 0 0;}
.notice-title:hover{color:#d25851;}
.notice-text{display: inline-block;max-width: 500px;_width: 400px;height: 20px;line-height: 20px;overflow: hidden;text-overflow: ellipsis;vertical-align: middle;white-space: nowrap;color: #999;}

.info_iconimg{width: 43px;height: 43px;background: url(../../images/common/zixun-tag.png) 0 0;}
.info .notice-text{max-width: 750px;_width: 650px;}
.info .notice-text:hover{color: #999;}

.account-view-page .contact-box{border: 0;font-size: 14px;color: #999;padding-top: 0;margin-top: 20px;border-right: 1px solid #ddd;height: 80px;}
.user-security label{font-weight: 500;}
.user-security-progress{display: inline-block;vertical-align: middle;width: 100px;}
.progress{position: relative;height: 12px;line-height: 12px;font-size: 12px;overflow: hidden;background-color: #eeeeef;border-radius: 12px;margin-bottom: 0;}
.progress-bar{position: absolute;top: 0;left: 0;overflow: hidden;border-radius: 12px;}

/*首先帐号什么也没有完成一定会有10%的安全等级进度*/
.progress .securelevel-1{width: 10%;background-color: #f96868;}
.progress .securelevel-2{width: 20%;background-color: #fdb31c;}
.progress .securelevel-3{width: 30%;background-color: #46be8a;}
.progress .securelevel-4{width: 40%;background-color: #0bbf06;}
.progress .securelevel-5{width: 50%;background-color: #0bbf06;}
.progress .securelevel-6{width: 60%;background-color: #0bbf06;}
.progress .securelevel-7{width: 70%;background-color: #0bbf06;}
.progress .securelevel-8{width: 80%;background-color: #0bbf06;}
.progress .securelevel-9{width: 90%;background-color: green;}

.contact-box a.text-blue{padding-left: 15px;color: #27baff;}
.contact-box .text-orange, .contact-box .text-green{font-size: 18px;}
.contact-box .btn{color:#fff;font-size: 14px;}
.contact-box .btn-danger{background-color: #f16d60;border-color: #f16d60;}
.contact-box .btn-danger:hover{background-color: #d76257;border-color: #d76257;}
.contact-box .btn-blue{background-color: #27baff;border-color: #27baff;}
.contact-box .btn-blue:hover{background-color:#00a6e8;border-color: #00a6e8;}

.box .part-one{margin: 0 10px;/*border-bottom: 1px solid #ddd;*/padding-bottom: 15px;}
.box .part-one .col-sm-4{position: relative; padding: 0;}
.user-security-tiplink{position: absolute;bottom: 40px;right: 10px;width: 122px;color: #f16d60!important;}
.contact-box .exit-btn{position: absolute;top: 32px;right: 20px;}
@media (max-width: 1300px){
    .box .part-one .col-sm-4:nth-child(1){
        width: 40%;
    }
    .box .part-one .col-sm-4:nth-child(2){
        width: 24%;
    }
    .box .part-one .col-sm-4:nth-child(3){
        width: 36%;
    }
    .user-security-tiplink{
        right: 0;
    }
}

.box hr{margin: 5px 35px 0 35px;}

.security-group{padding: 0 87px 0 65px;}
.security-group li{float: left;display: inline;width: 200px;height: 280px;overflow: hidden;text-align: center;margin: 20px 0 5px 45px;border: 1px solid #ddd;border-radius: 5px;box-shadow: 0 0 7px rgba(0,0,0,.15);}
.security-item-bg{position: relative;width: 200px;height: 200px;overflow: hidden;text-align: center;border-bottom: 1px solid #ddd;color: #ccc;background-color: #fff;box-shadow: 0 1px 2px rgba(0,0,0,.1);}
.security-item-bg .security-item-icon{display: inline-block;width: 74px;height:74px;background: url("../../images/common/icon-74.png") no-repeat;margin-top: 42px;font-size: 0;}
.security-item-bg .icon-phone{background-position: 0 0;}
.security-item-bg .icon-idcard{background-position: 0 -84px;}
.security-item-bg .icon-lock{background-position: 0 -168px;}
.security-item-bg .icon-envelope{background-position: 0 -252px;}
.security-item-bg .icon-wx{background-position: 0 -336px;}
.security-item-bg .icon-qq{background-position: 0 -420px;}
.security-item-bg .icon-code{background-position: 0 -504px;}
.security-item-bg h5{position: absolute;left: 0;bottom: 20px;width: 100%;margin: 0;line-height: 22px;}
.security-item-action .btn{display: block;height: 36px;line-height: 36px;width: 140px;margin: auto;margin-top: 18px;padding: 0;font-size: 16px;}
.security-item-action .btn-primary{color: #fff;border-color: #27baff;background-color: #27baff;}
.security-item-action .btn-primary:hover{border-color: #00a6e8;background-color: #00a6e8;}
.ico20{display: inline-block;width: 20px;height: 20px;background: url(../../images/common/com-icon.png) no-repeat;vertical-align: top;margin: 8px 6px 0 0;font-size: 0;}
.security-item-action .ico-phone{background-position: 0 -86px;}
.security-item-action .ico-idcard{background-position: -30px -86px;}
.security-item-action .ico-lock{background-position: -60px -86px;}
.security-item-action .ico-envelope{background-position: -90px -86px;}
.security-item-action .ico-wx{background-position: -120px -86px;}
.security-item-action .ico-qq{background-position: -150px -86px;}

.has-bind .security-item-bg.phone{background: url("../../images/accountOverview/phone-bj.png") no-repeat 0 0;}
.has-bind .security-item-bg.idcard{background: url("../../images/accountOverview/name-bj.png") no-repeat 0 0;}
.no-set .security-item-bg.lock{background: url("../../images/accountOverview/password-bj.png") no-repeat 0 0;}
.has-bind .security-item-bg.envelope{background: url("../../images/accountOverview/email-bj.png") no-repeat 0 0;}
.has-bind .security-item-bg.wx{background: url("../../images/accountOverview/weixin-bj.png") no-repeat 0 0;}
.has-bind .security-item-bg.qq{background: url("../../images/accountOverview/qq-bj.png") no-repeat 0 0;}

.has-bind .icon-phone{background-position: -84px 0;}
.has-bind .icon-idcard{background-position: -84px -84px;}
.no-set .icon-lock{background-position: -84px -168px;}
.has-bind .icon-envelope{background-position: -84px -252px;}
.has-bind .icon-wx{background-position: -84px -336px;}
.has-bind .icon-qq{background-position: -84px -420px;}
.has-bind .icon-qrcode{display: inline-block;width: 100px;height: 100px;background: url("../../images/common/erweima-gzh.png") no-repeat 0 0;background-size: 100%;margin-top: 43px;}
.has-bind .security-item-bg h5, .no-set .security-item-bg h5{color:#fff;}
.has-bind .no-attention{padding: 24px 0;}
.has-bind .no-attention p{margin: 0;font-size: 14px;color: #999;}
.has-attention-bg{height: 100%;background: url("../../images/accountOverview/gzh-bj.png") no-repeat 0 0;}
.has-attention-bg .icon-wx{display: inline-block;width: 74px;height: 74px;background: url(../../images/common/icon-74.png) no-repeat -84px -336px;margin-top: 42px;font-size:0;}
.has-attention-bg h5{padding: 0 16px;text-align: left;line-height: 20px;color: #fff;font-size: 14px;font-weight: 500;margin: 15px 0 20px 0;}
.has-attention-bg .btn-blue{background-color: #27baff;border-color: #27baff;color: #fff;}
.has-attention-bg .btn-blue:hover{background-color: #00a6e8;border-color: #00a6e8;color: #fff;}