{extend name="layout/index" /} 
{block name="content"}
<link href="/static1/home/css/index.css" rel="stylesheet"/>
<link href="__CSS__/login/login.css" rel="stylesheet"/>
<script type="text/javascript" src="__JS__/common/layer/layer.js"></script>
		<script type="text/javascript" src="__JS__/login/login.js?v=22"></script>
<style>
.inao{
    padding: 5px 60px;
    border-radius: 5px;
    border: 1px solid #fff;
	outline:none;
	background: #03A9F4;
    color: #FFF;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
}
.inao:hover{
      background: #e91e63;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0px 5px 5px rgba(132, 80, 80, 0.075), 0px 0px 8px rgba(0, 0, 0, 0.6);
}
.login-main {
    width: 384px;
    height: 362px;
    background: #fff;
    border-radius: 10px;
    margin-top: 35px;
	}
.shuru{
    width: 200px;
    height: 34px;
    padding: 1px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #939393;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
  .inpp{
    text-indent: 0px !important;
    position: absolute !important;
    bottom: 60px !important;
    left: 20% !important;
    display: block !important;
    border: none !important;
    color: #fff !important;
    border-radius: 25px !important;
    height: 52px !important;
    line-height: 52px !important;
    width: 60% !important;
    font-size: 16px !important;
    cursor: pointer !important;
    background: #46a9ff !important;
    background: linear-gradient(left, #469dff, #46c9ff) !important;
    background: -ms-linear-gradient(left, #469dff, #46c9ff) !important;
    background: -webkit-linear-gradient(left, #469dff, #46c9ff) !important;
    background: -moz-linear-gradient(left, #469dff, #46c9ff) !important;
  }
</style>
<div class="banner-wrap">
    <div class="banner-btn"><a href="/recycle.html">我有卡要回收</a></div>
    <div class="notify">
        <div class="notify-bg"></div>
        <div class="notify-txt w1400 clear">
            <span class="left">
            <strong><i></i>网站公告</strong>
					<div class="notify-list" id="notify-list">
						<!--<span class="notice-icon fl"></span>-->
						<ul class="notice-ul">
						{volist name="newss" id="p"}
							<li><a class="link" href="{:U('home/index/newsDetail',['id'=>$p.id])}" title="{$p.title}">{$p.title}</a></li>
						{/volist}
						<!--<span class="gray3">{$p.addtime}</span>  <i class="txt-red"><i>|</i>【{:C('title')}】{$p.title}：</i><span class="gray9">{$p.contents}</span>-->
						</ul>
					</div>
            </span>
            <a href="//ww/help-notice.html" class="more">更多公告> </a>
        </div>
    </div>
</div>

<div class="join-step-index" style="margin: 0px 0px 50px 0px;">
    <div class="w1400">
        <ul class="clear">
            <li class="txt"><i class="s1"></i><b>注册账号</b></li>
            <li><div class="line">登录{:C('title')}账户</div><em></em></li>
            <li class="txt"><i class="s2"></i><b>实名认证</b></li>
            <li><div class="line">绑定提现账号</div><em></em></li>
            <li class="txt"><i class="s3"></i><b>提交卡密</b></li>
            <li><div class="line">平台验证</div><em></em></li>
            <li class="txt"><i class="s4"></i><b>验卡成功</b></li>
            <li><div class="line">相应资金到账</div><em></em></li>
            <li class="txt"><i class="s5"></i><b>账户提现</b></li>
            <li><div class="line">银行卡或支付宝</div><em></em></li>
            <li class="txt last"><i class="s6"></i><b>交易成功</b></li>
        </ul>
    </div>
</div>

<div class="swiper-category">
    <div class="w1400">
        <div class="tab-title" tab-title="true">
            <ul class="clear">
                <li dtype="0" class="hover">
                    <a><i class="s1"></i>热门回收</a>
                    <span class="cover"><img src="/static1/home/images/c01.png" width="130" height="65"></span>
                </li>
                <li dtype="1">
                    <a><i class="s2"></i>话费充值卡</a>
                    <span class="cover"><img src="/static1/home/images/c02.png" width="130" height="65"></span>
                </li>
                <li dtype="2">
                    <a><i class="s3"></i>游戏充值卡</a>
                    <span class="cover"><img src="/static1/home/images/c03.png" width="130" height="65"></span>
                </li>
                <li dtype="3">
                    <a><i class="s4"></i>加油充值卡</a>
                    <span class="cover"><img src="/static1/home/images/c04.png" width="130" height="65"></span>
                </li>
                <li dtype="4">
                    <a><i class="s5"></i>电商购物卡</a>
                    <span class="cover"><img src="/static1/home/images/c05.png" width="130" height="65"></span>
                </li>
                <li dtype="6">
                    <a><i class="s7"></i>美食出行卡</a>
                    <span class="cover"><img src="/static1/home/images/c06.png" width="130" height="65"></span>
                </li>
                <li dtype="5">
                    <a><i class="s6"></i>视频影音卡</a>
                    <span class="cover"><img src="/static1/home/images/c07.png" width="130" height="65"></span>
                </li>
            </ul>
        </div>
    </div>
</div>



		<!-- 切换列表 -->
		<div class="switch-warp">
			<div class="w1320">
				<div class="switch-list">
					<div class="switch-top">
						<ul>
							<li class="active">
								<!-- <i class="small-icon icon-hot"></i> -->
								<i><img src="__IMG__/hot-icon.png" /></i>
								热门回收
								<span class="switch-arrow-up"></span>
							</li>

														<!--<li class="switch-division"></li>-->
							<li>
								<!-- <i class="small-icon icon-bill"></i> -->
								<i><img src="__IMG__/shou.png" /></i>
								话费卡
								<span class="switch-arrow-up"></span>
							</li>
														<!--<li class="switch-division"></li>-->
							<li>
								<!-- <i class="small-icon icon-bill"></i> -->
								<i><img src="__IMG__/you.png" /></i>
								游戏卡
								<span class="switch-arrow-up"></span>
							</li>
														<!--<li class="switch-division"></li>-->
							<li>
								<!-- <i class="small-icon icon-bill"></i> -->
								<i><img src="__IMG__/tong.png" /></i>
								加油卡
								<span class="switch-arrow-up"></span>
							</li>
														<!--<li class="switch-division"></li>-->
							<li>
								<!-- <i class="small-icon icon-bill"></i> -->
								<i><img src="__IMG__/shop.png" /></i>
								商超卡
								<span class="switch-arrow-up"></span>
							</li>
														<!--<li class="switch-division"></li>-->
							<li>
								<!-- <i class="small-icon icon-bill"></i> -->
								<i><img src="__IMG__/cs.png" /></i>
								视频卡
								<span class="switch-arrow-up"></span>
							</li>
														<!--<li class="switch-division"></li>-->
							<li>
								<!-- <i class="small-icon icon-bill"></i> -->
								<i><img src="__IMG__/sss.png" /></i>
								电商卡
								<span class="switch-arrow-up"></span>
							</li>
							
						</ul>
					</div>
					<div class="switch-conten">
						<div class="switch-comm-box">
							<div class="switch-comm">
							{volist name="newy" id="l"}
								<a href="{:U('home/index/recycle')}" title="{$l.name}" >
									<div class="switch-box-list" title="{$l.name}">
										<div class="switch-box">
											<img src="{$l.phoneRecycleIcon}" alt="{$l.name}" />
											<a href="{:U('home/index/recycle')}" title="{$l.name}"  class="switch-btn">1我有卡要回收</a>
										</div>
									</div>
								</a>
								{/volist}								
							</div>

							<div class="switch-comm">
							{volist name="list" id="p"}
							{eq name="$p.class" value="0"}
								<div class="switch-box-list" title="{$p.name}">
									<div class="switch-box">
										<img src="{$p.phoneRecycleIcon}" alt="{$p.name}" />
										<a href="{:U('home/index/recycle')}" title="{$p.name}" class="switch-btn">我有卡要回收</a>
									</div>
								</div>
								{/eq}
						    {/volist}
							
							</div>
							<div class="switch-comm">
								{volist name="list" id="p"}
							{eq name="$p.class" value="1"}
								<div class="switch-box-list" title="{$p.name}">
									<div class="switch-box">
										<img src="{$p.phoneRecycleIcon}" alt="{$p.name}" />
										<a href="{:U('home/index/recycle')}" title="{$p.name}" class="switch-btn">我有卡要回收</a>
									</div>
								</div>
								{/eq}
						    {/volist}
								
							</div>
							<div class="switch-comm">
														{volist name="list" id="p"}
							{eq name="$p.class" value="3"}
								<div class="switch-box-list" title="{$p.name}">
									<div class="switch-box">
										<img src="{$p.phoneRecycleIcon}" alt="{$p.name}" />
										<a href="{:U('home/index/recycle')}" title="{$p.name}" class="switch-btn">我有卡要回收</a>
									</div>
								</div>
								{/eq}
						    {/volist}
							
							</div>
							<div class="switch-comm">
									{volist name="list" id="p"}
							{eq name="$p.class" value="4"}
								<div class="switch-box-list" title="{$p.name}">
									<div class="switch-box">
										<img src="{$p.phoneRecycleIcon}" alt="{$p.name}" />
										<a href="{:U('home/index/recycle')}" title="{$p.name}" class="switch-btn">我有卡要回收</a>
									</div>
								</div>
								{/eq}
						    {/volist}
							</div>
							<div class="switch-comm">
								{volist name="list" id="p"}
							{eq name="$p.class" value="5"}
								<div class="switch-box-list" title="{$p.name}">
									<div class="switch-box">
										<img src="{$p.phoneRecycleIcon}" alt="{$p.name}" />
										<a href="{:U('home/index/recycle')}" title="{$p.name}" class="switch-btn">我有卡要回收</a>
									</div>
								</div>
								{/eq}
						    {/volist}
								
								</div>
							<div class="switch-comm">
										{volist name="list" id="p"}
							{eq name="$p.class" value="6"}
								<div class="switch-box-list" title="{$p.name}">
									<div class="switch-box">
										<img src="{$p.phoneRecycleIcon}" alt="{$p.name}" />
										<a href="{:U('home/index/recycle')}" title="{$p.name}" class="switch-btn">我有卡要回收</a>
									</div>
								</div>
								{/eq}
						    {/volist}
								
							</div>
							
						</div>
						<div class="switch-bottom">
							如回收列表里面没有您想要出售的卡，可以联系在线客服咨询： {:C('phone')} <span class="divider"></span>
							<a href="http://wpa.qq.com/msgrd?v=3&amp;uin={:C('kefu')}&amp;site=qq&amp;menu=yes" class="txt-blue">在线QQ客服</a>
							<!--<a class="contact_qq">
								<script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODE3Nzg5NV80ODI3OTNfNDAwODg4OTI1OV8"></script>
							</a>-->
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="content-show">
			<h3>我们能做什么？</h3>
			<div class="w1320">
				<div class="content-main">
					<div class="content-comm">
						<i class="max-icon icon-waste"></i>
						<span>解决浪费</span>
						<div class="content-row"></div>
						<p>直接面对用户回收，足不</br>
						出户即可提交卡号卡密完成回收交易</br>
						解决每年上十亿礼品卡闲置的问题。</p>
					</div>
					<div class="content-comm">
						<i class="max-icon icon-capital"></i>
						<span>资金回流</span>
						<div class="content-row"></div>
						<p>让企业置闲、员工福利、</br>
						亲友相赠等方式获取的礼品卡快速变</br>
						现，以达到资金回流最大化实现利益</p>
					</div>
					<div class="content-comm">
						<i class="max-icon icon-trade"></i>
						<span>交易多样</span>
						<div class="content-row"></div>
						<p>提供线上回收、线下交易</br>
						API接口等多种交易方式，还可以根</br>
						据用户自由定制实现交易多样化方式</p>
					</div>
				</div>
			</div>
		</div>

		<div class="web-trends">
			<div class="w1320">
				<h3 class="title">官网动态</h3>
				<div class="crumbs-nav-box">
					<ul>
																			<li>
								<a href="{:U('home/index/cardArticle',['type'=>1])}">卡券介绍</a>
							</li>

														<li class="list-division">|</li>
																				<li>
								<a href="{:U('home/index/cardArticle',['type'=>2])}">卡券购买</a>
							</li>

														<li class="list-division">|</li>
																				<li>
								<a href="{:U('home/index/cardArticle',['type'=>3])}">卡券使用</a>
							</li>

														<li class="list-division">|</li>
																				<li>
								<a href="{:U('home/index/cardArticle',['type'=>4])}">卡券查询</a>
							</li>

														<li class="list-division">|</li>
																				<li>
								<a href="{:U('home/index/cardArticle',['type'=>5])}">卡券回收</a>
							</li>

														<li class="list-division">|</li>
																				<li>
								<a href="{:U('home/index/cardArticle',['type'=>6])}">行业资讯</a>
							</li>

														<li class="list-division">|</li>
																				<li>
								<a href="{:U('home/index/cardArticle',['type'=>7])}">常见问题</a>
							</li>

																		</ul>
				</div>
				<div class="box box-shadow-com clear">
					<div class="module fl" id="faqArticleModule">
						<div class="content-pad-l">
							<div class="top">
								<span class="subtit fl">常见问题</span>
								<a class="more fr" href="{:U('home/index/cardArticle',['type'=>7])}">更多>></a>
							</div>

							<ul class="list">
								<!--<li>
									<i class="tag red-tag">1</i>
									<a href="#">支持回收的二手卡有哪些？</a>
								</li>-->
							</ul>

							<form>
								<input type="hidden" name="articleClassifyId" value="7"/>
								<input type="hidden" name="pageNumber" value="1" class="pageNumberHid">
							</form>
						</div>

						<div id="faqArticlePagination"></div>
					</div>
					<div class="module fr" id="industryArticleModule">
						<div class="content-pad-r">
							<div class="top">
								<span class="subtit industry fl">行业资讯</span>
								<a class="more fr" href="{:U('home/index/cardArticle',['type'=>6])}">更多>></a>
							</div>

							<ul class="list">
								<!--<li>
									<i class="tag red-tag">1</i>
									<a href="#">支持回收的二手卡有哪些？</a>
								</li>-->
							</ul>

							<form>
								<input type="hidden" name="articleClassifyId" value="6"/>
								<input type="hidden" name="pageNumber" value="1" class="pageNumberHid">
							</form>
						</div>

						<div id="industryArticlePagination"></div>
					</div>
				</div>
			</div>
		</div>
		<script>
		$("#zuce").click(function(){
		   location.href="/registered.html";
		})
		$("#login").click(function(){
		   var oName=$("input[name=user]").val();
		   var oPass=$("input[name=pass]").val();
		   if(oName==null || oName==""){
		    layer.msg('请输入用户名或手机号！', {icon: 2,shade: [0.4, '#000'],time : 1000});return false;
		   }
		   if(oPass==null || oPass==""){
		    layer.msg('请输入密码！', {icon: 2,shade: [0.4, '#000'],time : 1000});return false;
		   }
		   $(this).text('登录中...');
		   var token = $("input[name=__token__]").val();
		   var index=layer.load();
		   $(this).attr("disabled",true);
		   $.post("/loginIndex",{name:oName,password:oPass,__token__:token,type:1},function(e){
		        $("#login").attr("disabled",false);
				layer.close(index);
				if(e.code==1){
					layer.msg(e.msg,{icon: 1,shade: [0.4, '#000'],time : 1000},function(){
					  window.location.href="/member.html";
					});
				}else{
					$("input[name=__token__]").val(e.token);
		            $("#login").text('登录');
					layer.msg(e.msg, {icon: 2,shade: [0.4, '#000'],time : 1000});return false;
				}
			})
		})
		</script>
{/block}