{extend name="layout/card" /} 
{block name="content"}
			<div class="list-right-main list-cordcoupons">
									<div class="list-right-tit">
										<h3>
											{:newsTYpe($type)}列表
										</h3>
									</div>
									<ul>
									{volist name="li" id="p"}
												<li>
																<a href="{:U('home/index/newsDetail',['id'=>$p.id])}">{$p.title}</a>
															</li>
		{/volist}
										</ul>
	
									<!-- 页码显示 -->
<div class="pageing-cont">
	<div class="g-pagination">
        	{$li->render()}				
	</div>
</div>
									
																		
								</div>
			{/block}