{extend name="layout/index" /} 
{block name="content"}
	<div class="head-nav">
		<div class="w1320">
			<div class="head-view-con fl">
				<div class="head-view-tit">全部回收类型</div>
				
								<div class="head-view-sort">
					<!-- 移动出现下拉列表 -->
					{include file="layout/ullist" /}
				</div>
								
			</div>

			<div class="head-view-list fl">
				<ul>
					<li >
						<a href="/">首页</a>
					</li>
					<li >
					<a href="{:U('home/index/recycle')}" target="_blank">我要销卡</a>
					</li>
					<!-- <li >
						<a href="{:U('home/index/weixin')}" target="_blank">公众号</a>
					</li>
					<li >
					<i class="hot-ico"></i>
						<a href="{:U('home/index/retrieve')}" target="_blank">新人活动</a>
					</li> -->
					<li >
						<a href="{:U('home/index/inviteFriends')}" target="_blank">邀请有礼</a>
					</li>
				
					<li>
						<a href="{:U('home/member/index')}" target="_blank">个人中心</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>			
			<div class="recycle-info-warp">
				<div class="recycle-info-banner">
					<div class = "w1320 posiRe">
						<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=4008889259&amp;site=qq&amp;menu=yes" target="_blank" class="recycle-banner-btn"></a>
					</div>
				</div>
				<div class="business-advantage">
					<div class="w1320">
						<div class="business-main">
							<h3>企业回收优势</h3>
							<p>专业回收，值得信赖，资金能快速回流</p>
						</div>
						<div class="business-box">
							<ul>
								<li>
									<i class="max-icon2 business-icon-service"></i>
									<span>一对一的服务</span>
									<div class="business-row-com business-row1">
									</div>
									<p>
										我们出色的专业服务团队<br />团队确保交易安全放心满意
									</p>
								</li>
								<li>
									<i class="max-icon2 business-icon-all"></i>
									<span>种类丰富，卡券齐全</span>
									<div class="business-row-com business-row2">
									</div>
									<p>
										提供回收类型覆盖线上<br />线下等几十种礼品卡卡券
									</p>
								</li>
								<li>
									<i class="max-icon2 business-icon-various"></i>
									<span>交易方式多样</span>
									<div class="business-row-com business-row3">
									</div>
									<p>
										我们提供线上、线下、API<br />接口，为您定制多种交易方式
									</p>
								</li>
								<li>
									<i class="max-icon2 business-icon-capital"></i>
									<span>极速资金回流</span>
									<div class="business-row-com business-row4">
									</div>
									<p>
										我们在验卡成功后立即<br />打款资金回流速度超乎想象
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
	
				<div class="business-advantage business-type">
					<div class="w1320">
						<div class="business-main">
							<h3>企业回收卡类</h3>
							<p>丰富多样的卡券回收，应有尽有</p>
						</div>
						<div class="business-type-img">
							<img src="https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com/template/web/images/enterpriseRecycle/all-card.png" alt="" />
						</div>
					</div>
				</div>
	
				<div class="business-advantage business-recycle">
					<div class="w1320">
						<div class="business-main">
							<h3>企业回收流程</h3>
							<p>简单四步，回收快捷方便又高效率</p>
						</div>
						<div class="business-type-img">
							<img src="https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com/template/web/images/enterpriseRecycle/recycle-step.png" alt="" />
						</div>
					</div>
				</div>
	
			</div>
			
			
			{/block}