{extend name="layout/help" /} 
{block name="content"}
<link href="__CSS__/index/index.css?v=20190103" rel="stylesheet" />

    <div class="comm-main">
				<div class="crumbs-main">
					<div class="w1320">
						<div class="crumbs-main-box">
							<a href="/">{:C('title')}</a> > <a href="{:U('home/index/help')}">帮助中心</a>
						</div>
	
						<div class="list-comm-warp">
							<div class="list-comm-left box-shadow-com">
								<dl>
									<dt>
										<i class="small-icon icon-help"></i><a href="{:U('home/index/help')}">帮助中心</a>
									</dt>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>50])}" {eq name="type" value="50"}class="txt-blue"{/eq}>联系我们</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>51])}" {eq name="type" value="51"}class="txt-blue"{/eq}>交易方式</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>52])}" {eq name="type" value="52"}class="txt-blue"{/eq}>卖卡流程</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>54])}" {eq name="type" value="54"}class="txt-blue"{/eq} >隐私政策</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>55])}"  {eq name="type" value="55"}class="txt-blue"{/eq}>注册协议</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>56])}" {eq name="type" value="56"}class="txt-blue"{/eq}>商家合作</a>
																			</dd>
																		<dd>
																				<i class="comm-icon href-icon"></i>
										<a href="{:U('home/index/gongg')}" >网站公告</a>
																			</dd>
																		<dd>
																				<i class="comm-icon href-icon"></i>
										<a href="{:U('home/index/faq')}" class="txt-blue">常见问题</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>57])}" {eq name="type" value="57"}class="txt-blue"{/eq}>免责声明</a>
																			</dd>
																	</dl>
							</div>
							<div class="list-comm-right box-shadow-com">
								
								<div class="list-right-main">
									<div class="list-right-tit">
										<h3>常见问题</h3>
									</div>
									
									<div class="know-main">
										<div class="w1320">
											<div class="know-cont">
												
												<div class="know-box">
													<div class="know-box-right fl">
														
														<div class="know-right-main">
															<ul>
																																																																<li class="active">
																																	<i class="max-icon icon-down"></i>
																	<b>1、回收放款需要多长时间</b>
																	<div class="know-explain">
																	<p style="text-indent:2em;color:#666;font-size:1.2em;line-height:1.5em">人人销卡暂时只针对网站公布回收的二手卡进行回收处理，目前支持回收的卡包括电商卡、商超卡、加油卡、游戏卡、话费卡等50余种，如 果没有您想要提交的卡，您可以联系客服，后期我们会会逐步的发布更多的卡类回收，详情请参考网站公示。</p>
																	</div>
																</li>
																
																																																																<li>
																																	<i class="max-icon icon-down"></i>
																	<b>2、哪些二手卡不支持回收</b>
																	<div class="know-explain">
																	<p style="text-indent:2em;color:#666;font-size:1.2em;line-height:1.5em">人人销卡暂时只针对网站公布回收的二手卡进行回收处理，目前支持回收的卡包括电商卡、商超卡、加油卡、游戏卡、话费卡等50余种，如 果没有您想要提交的卡，您可以联系客服，后期我们会会逐步的发布更多的卡类回收，详情请参考网站公示。</p>
																	</div>
																</li>
																
																																																																<li>
																																	<i class="max-icon icon-down"></i>
																	<b>3、二手卡回收需要手续费吗</b>
																	<div class="know-explain">
																	<p style="text-indent:2em;color:#666;font-size:1.2em;line-height:1.5em">人人销卡暂时只针对网站公布回收的二手卡进行回收处理，目前支持回收的卡包括电商卡、商超卡、加油卡、游戏卡、话费卡等50余种，如 果没有您想要提交的卡，您可以联系客服，后期我们会会逐步的发布更多的卡类回收，详情请参考网站公示。</p>
																	</div>
																</li>
																
																																																																<li>
																																	<i class="max-icon icon-down"></i>
																	<b>4、支持回收的二手卡有哪些</b>
																	<div class="know-explain">
																	<p style="text-indent: 2em; color: rgb(102, 102, 102); font-size: 1.2em; line-height: 1.5em;">人人销卡暂时只针对网站公布回收的二手卡进行回收处理，目前支持回收的卡包括电商卡、商超卡、游戏卡等50余种，如 果没有您想要提交的卡，您可以联系客服，后期我们会会逐步的发布更多的卡类回收，详情请参考网站公示。</p>
																	</div>
																</li>
																
																																																																<li>
																																	<i class="max-icon icon-down"></i>
																	<b>5、游戏卡和话费卡必看问题</b>
																	<div class="know-explain">
																	<p style="text-indent:2em;color:#666;font-size:1.2em;line-height:1.5em">人人销卡暂时只针对网站公布回收的二手卡进行回收处理，目前支持回收的卡包括电商卡、商超卡、加油卡、游戏卡、话费卡等50余种，如 果没有您想要提交的卡，您可以联系客服，后期我们会会逐步的发布更多的卡类回收，详情请参考网站公示。</p>
																	</div>
																</li>
																
																																																																<li>
																																	<i class="max-icon icon-down"></i>
																	<b>6、电子卡与实体卡区别</b>
																	<div class="know-explain">
																	<p style="text-indent:2em;color:#666;font-size:1.2em;line-height:1.5em">人人销卡暂时只针对网站公布回收的二手卡进行回收处理，目前支持回收的卡包括电商卡、商超卡、加油卡、游戏卡、话费卡等50余种，如 果没有您想要提交的卡，您可以联系客服，后期我们会会逐步的发布更多的卡类回收，详情请参考网站公示。</p>
																	</div>
																</li>
																
																																																
															</ul>
															
														</div>
													</div>
							
												</div>
											</div>
										</div>
									</div>
								</div>
</div>
						</div>
	
					</div>
				</div>
			</div>

    {/block}
								
						