{extend name="layout/help" /} 
{block name="content"}
<link href="__CSS__/index/index.css?v=20190103" rel="stylesheet" />
			<div class="comm-main">
				<div class="crumbs-main">
					<div class="w1320">
						<div class="crumbs-main-box">
							<a href="/">{:C('title')}</a> > <a href="{:U('home/index/help')}">帮助中心</a> > <a href="javascript:void(0)">网站公告</a>
						</div>
	
						<div class="list-comm-warp">
							<div class="list-comm-left box-shadow-com">
								<dl>
									<dt>
										<i class="small-icon icon-help"></i><a href="{:U('home/index/help')}">帮助中心</a>
									</dt>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>50])}" {eq name="type" value="50"}class="txt-blue"{/eq}>联系我们</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>51])}" {eq name="type" value="51"}class="txt-blue"{/eq}>交易方式</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>52])}" {eq name="type" value="52"}class="txt-blue"{/eq}>卖卡流程</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>54])}" {eq name="type" value="54"}class="txt-blue"{/eq} >隐私政策</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>55])}"  {eq name="type" value="55"}class="txt-blue"{/eq}>注册协议</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>56])}" {eq name="type" value="56"}class="txt-blue"{/eq}>商家合作</a>
																			</dd>
																		<dd>
																				<i class="comm-icon href-icon"></i>
										<a href="{:U('home/index/gongg')}" class="txt-blue">网站公告</a>
																			</dd>
																		<dd>
																				<i class="comm-icon href-icon"></i>
										<a href="{:U('home/index/faq')}" >常见问题</a>
																			</dd>
																		<dd>
																				<i class="comm-icon text-icon"></i>
										<a href="{:U('home/index/help',['type'=>57])}" {eq name="type" value="57"}class="txt-blue"{/eq}>免责声明</a>
																			</dd>
																	</dl>
							</div>
							
							<div class="list-comm-right box-shadow-com">
								<div class="list-right-main list-notice">
									<div class="list-right-tit">
										<h3 class="txt-blue">
											网站公告
										</h3>
										<div class="list-notice-cont">
											<!-- <s class="list-notice-line"></s> -->
											
											<ul class="list-notice-ul">
											{volist name="li" id="p"}
												<li class="list-notice-item active ">
													<div class="notice-item-spot">
														<i class="icon-spot"></i>
													</div>
													<div class="notice-item-main">
														<div class="notice-item-tit">
														<a href= "{:U('home/index/newsDetail',['id'=>$p.id])}">
															<h5 class="fl">【{:C('title')}】{$p.title}<i class="icon-new"></i></h5>
														</a>
															
															<p class="fr">{$p.addtime}</p>
														</div>
														<!-- <span class="notice-item-c"> 
															
														</span>-->
													</div>
												</li>
                                               {/volist}												
											</ul>
																					</div>
										
																				<!-- 页码显示 -->
<div class="pageing-cont">
	<div class="g-pagination">
        				{$li->render()}
	</div>
</div>
								
									</div>
									
								</div>
							</div>
							
						</div>
	
					</div>
				</div>
			</div>
	
			

    {/block}
								
						