{extend name="layout/index" /} 
{block name="content"}
 <link href="__JS__/common/layer/skin/layer.css" rel="stylesheet"/>
<link href="__CSS__/bootstrap.min.css" rel="stylesheet"/>
<link href="__CSS__/inviteFriends.css" rel="stylesheet"/>

<div class="head-nav">
		<div class="w1320">
			<div class="head-view-con fl">
				<div class="head-view-tit">全部回收类型</div>
				
								<div class="head-view-sort">
					<!-- 移动出现下拉列表 -->
					{include file="layout/ullist" /}
				</div>
								
			</div>

			<div class="head-view-list fl">
				<ul>
					<li >
						<a href="/">首页</a>
					</li>
					<li >
					<a href="{:U('home/index/recycle')}" target="_blank">我要销卡</a>
					</li>
					<!-- <li >
						<a href="{:U('home/index/weixin')}" target="_blank">公众号</a>
					</li>
					<li >
					<i class="hot-ico"></i>
						<a href="{:U('home/index/retrieve')}" target="_blank">新人活动</a>
					</li> -->
					<li class="active">
						<a href="{:U('home/index/inviteFriends')}" target="_blank">邀请有礼</a>
					</li>
				
					<li>
						<a href="{:U('home/member/index')}" target="_blank">个人中心</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

	 <div class="head_xs"></div>
        <!--最高0.3%返佣-->
        <div class=" Rebate">
            <p class="text-center Rebate_p">好友注册后每次销卡，您都能永久得到最高0.3%佣金，您
                <a class="Rebate_a">推广员级别越高，佣金也越高</a>！</p>
            <table class="table table-bordered">
                <tr class="table_tr">
                    <td class="table_td_l">推广员级别</td>
                    <td class="table_td_r" >邀请人可享佣金</td>
                </tr>
                <tr>
                    <td>普通推广员</td>
                    <td>每次销卡卡密面值 <span>*约0.1%</span></td>
                </tr>
                <tr>
                    <td>中级推广员</td>
                    <td>每次销卡卡密面值 <span>*约0.2%</span></td>
                </tr>
                <tr >
                    <td>高级推广员</td>
                    <td>每次销卡卡密面值 <span>*约0.3%</span></td>
                </tr>
            </table>
            <p class="text-center remarks">注：实际返现佣金比例可能会有小范围波动，具体以实际返现为主，具体产品返现。
                <a href="#" class="remarks_detail">查看详情>></a>
            </p>
            <button id="main" class="case-btn" onclick="showBg();"></button>
        </div>
        <!--推广员升级条件-->
        <div class="condition">
            <p class="text-center condition_p">
                推广员级别越高，能得到的佣金越多，升级方式有A、B两种方式，只要满足任意一种，就可以自动升级
            </p>
            <table class="table table-bordered" >
                <tr class="table_tr">
                    <td class="table_td_l">推广员级别</td>
                    <td style=" border: 0;">升级条件A</td>
                    <td class="table_td_r">升级条件B</td>
                </tr>
                <tr>
                    <td>普通推广员</td>
                    <td>注册默认</td>
                    <td>注册默认</td>
                </tr>
                <tr>
                    <td>中级推广员</td>
                    <td>拥有2有效下级 </td>
                    <td>所有下级销卡总面值达2000000元 </td>
                </tr>
                <tr >
                    <td>高级推广员</td>
                    <td>拥有5有效下级</td>
                    <td>所有下级销卡总面值达5000000元 </td>

                </tr>
            </table>
            <p class="text-center remarks">
                （成功销卡卡密总面值达到￥300.0元，即为有效下级）
            </p>
        </div>
        <!--邀请方式-->
        <div class="way">
                        <p class="text-center way_p">以下邀请方式，任意一种邀请成功都可佣金返现</p>
            
            <div class="text-center">

                <div class="way1_box">
                                        <p class="way1_box_p">？？？</p>
                                    </div>
                <div class="way2_box">
                                        <textarea class="copy_txt" name="" id="3" cols="30" rows="10">暂无邀请链接，请登录后获取链接</textarea>
                                    </div>
            </div>
                        <a href="{:U('home/login/index')}" class="public-btn login-btn"></a>
                    </div>
        <!--活动说明-->
        <div class="explain"></div>
        <div class="text-left wz_p">
            <p>1、为保障用户已邀请的好友不会流失或者后面变成自己邀请自己，我们开通邀请功能、销卡、提现都需要通过实名认证，而且 <span>一个身份证只能实名认证一个帐号，可以有效保障用户邀请好友的权益；</span> </p>
            <p>2、好友访问邀请链接，会自动在他浏览器保存您的邀请链接该链接一个月内有效，也就是说只要您好友访问过您的邀请链接，只要是他一个月内注册，就算是您邀请的；</p>
            <p>3、浏览器上保存的邀请链接，会新的覆盖旧的。比如好友先访问A用户的邀请链接，但是当时没注册，后面又访问B用户的邀请链接，并且在一个月内注册了，那他就算是B用户邀请的；</p>
            <p>4、邀请按用户编号优于邀请链接的原则，比如好友先访问A用户的邀请链接，但是注册的时候，在注册页面填写“推广员编号”是B用户的编号，那他就算B用户邀请的； </p>
            <p>5、<span>实际返现佣金比例可能会有小范围波动，具体以实际返现为主，具体产品返现</span>，点击<a href="#" class="text-blue">查看详情&gt;&gt;</a></p>
            <p>6、另若发现邀请人恶意刷佣金，一经查实将禁用帐号。</p>
            <p>7、如有疑问请联系QQ客服：{:C('kefu')}。(咨询时间：9:00-18:00)。</p>
            <p><span>* 本活动最终解释权在法律范围内归{:C('title')}所有</span></p>
        </div>
        <!--遮罩层-->
        <div id="fullbg"></div>
        <!--对话框-->
        <div  class="text-center" id="dialog">
            <p class="close"><button class="close_Btn" onclick="closeBg();"></button></p>
            <p class="detail">案例说明</p>
            <p class="explains"><span>好友每次销卡，都能得到佣金返现，</span>比如好友成功销卡卡密总面
                值10W，则邀请人可以获得300元（100000元*0.3%）佣金奖励</p>
        </div>


			{/block}