{extend name="layout/newaDetail" /} 
{block name="content"}
<div class="w1320">

						<div class="crumbs-main-box">
							<a href="/">{:C('title')}首页</a> > 
							<a href="{:U('home/index/cardArticle',['type'=>$h.type])}">
							{:newsTYpe($h.type)}文章列表</a> >
							 <a href="javascript:void(0);">{$h.title}</a>
						</div>
	
						<div class="list-comm-warp">
							
							<div class="list-comm-right box-shadow-com">
								<div class="list-right-main list-cordcoupons list-service">
									<div class="list-right-tit">
										<h2 class="txt-blue">
											{$h.title}
										</h2>
									</div>

									<div class="list-article-cont">
										<div class="list-article-top">
											<p>
												来源：<a href="{$h.url}" class="txt-brown">{$h.lai}</a>
											</p>
											<p>
												分类：<a href="{:U('home/index/newsDetail',['type'=>$h['type']])}" class="txt-brown">{:newsTYpe($h.type)}</a>
											</p>
											<p>
												发布时间：{$h.addtime}
											</p>
										</div>
										<div class="list-article-centent">
											{$h.contents}
										</div>
										
										<div class = "paging">
																																</div>
									</div>
									
								</div>
							</div>
						</div>
	
					</div>
{/block}