{extend name="layout/index" /} 
{block name="content"}
<link href="__CSS__/recycle/recycle.css?v=20181212" rel="stylesheet"/>
	<script type="text/javascript" src="__JS__/identificationUnqion.js?v=20190815"></script>

<script type="text/javascript" src="__JS__/recycle/recycle-data.js?v=1.2"></script>
		<script type="text/javascript" src="__JS__/recycle/recycle-comm.js?v=2019181254"></script>
		<script type="text/javascript" src="__JS__/common/cardRecycle-comm.js?v=8890708"></script>
		<script type="text/javascript" src="__JS__/common/jquery.cookie.js"></script>
		<script type="text/javascript" src="__JS__/common/recycle-cookie.js"></script>
    <script>var part="{:U('home/index/retrieve')}",login="{:U('home/login/index')}",real="{:U('home/member/AuthenInit')}";</script>
</div>			
<style>
.navbar li .card-drop-menu{
    top: 46px;	
}
.card-recovery-bg {
    width: 208px;
    height: 70px;
    line-height: 54px;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
        background-color: #f96197;
    box-shadow: 1px 3px 13px rgba(249,97,151,.2);
}
.card-recovery-bg.card-recovery-game {
        background-color: #10aeff;
    box-shadow: 1px 3px 13px rgba(16,174,255,.2);
}
.card-recovery-bg.card-recovery-fuel {
    background-color: #926dde;
    box-shadow: 1px 3px 13px rgba(146,109,222,.2);
}
.card-recovery-bg.card-recovery-ecommerce {
background-color: #f5465a;
    box-shadow: 1px 3px 13px rgba(245,70,90,.2);
}
.card-recovery-bg.card-recovery-video {
    background-color: #20d071;
    box-shadow: 1px 3px 13px rgba(32,208,133,.2);
}
.card-recovery-bg .mini-ico {bottom: 8px;}
</style>			
			<form id="cardForm" name="cardForm" action="{:U('home/api/batchCard')}" method="post">
<div class="card-recovery" style="    padding: 20px 0;">
	<div class="w1320">
		<div class="card-recovery-inner">
			<input type="hidden" id="submitPlatform" name="submitFrom" value="1" /><!-- 提交平台：1、PC端	3、手机端 -->
			
						<div class="recovery-card-type" style="height: 70px;">
	<div class="card-recovery-tit">
		<p>选择卡类：</p>
	</div>
	<div class="card-recovery-cont" style="height: 70px;">
		{volist name="cate_list" id="vo"}
		<div class="card-recovery-list {eq name="type" value="$vo['id']"}active{/eq}" id="{$vo['id']}">
		<div id="yellowTag">
			<!-- <em class = "yellow-tag"></em> -->
			</div>
			
			<div class="card-recovery-bg card-recovery-bill">
							
				<b class="mini-ico" style="background: url('{$vo.iconUrl}') no-repeat;background-size:cover;width:50px;background-position: -0px;"></b>
				<i class="max-icon icon-treat"></i>
				<a href="{:U('home/index/recycle',['type'=>$vo['id']])}">{$vo.name}</a>
			</div>
		</div>
		{/volist}
		
		<!--
						<div class="card-recovery-list {eq name="type" value="1"}active{/eq}" id="1">
						<div class="card-recovery-bg card-recovery-game">
							
				<b class="mini-ico"></b>
				<i class="max-icon icon-treat"></i>
				<a href="{:U('home/index/recycle',['type'=>1])}">音乐读书</a>
			</div>
		</div>
						<div class="card-recovery-list {eq name="type" value="3"}active{/eq}" id="3">
						<div class="card-recovery-bg card-recovery-fuel">
							
				<b class="mini-ico"></b>
				<i class="max-icon icon-treat"></i>
				<a href="{:U('home/index/recycle',['type'=>3])}">美食出行</a>
			</div>
		</div>
						<div class="card-recovery-list {eq name="type" value="4"}active{/eq}" id="4">
						<div class="card-recovery-bg card-recovery-ecommerce">
							
				<b class="mini-ico"></b>
				<i class="max-icon icon-treat"></i>
				<a href="{:U('home/index/recycle',['type'=>4])}">联通卡密</a>
			</div>
		</div>
						<div class="card-recovery-list {eq name="type" value="5"}active{/eq}" id="5">
						<div class="card-recovery-bg card-recovery-video">
							
				<b class="mini-ico"></b>
				<i class="max-icon icon-treat"></i>
				<a href="{:U('home/index/recycle',['type'=>5])}">其他卡类</a>
			</div>
		</div>
		-->
		
		<!--				<div class="card-recovery-list {eq name="type" value="6"}active{/eq}" id="6">-->
		<!--				<div class="card-recovery-bg card-recovery-ebusiness">-->
							
		<!--		<b class="mini-ico"></b>-->
		<!--		<i class="max-icon icon-treat"></i>-->
		<!--		<a href="{:U('home/index/recycle',['type'=>6])}">电商卡回收</a>-->
		<!--	</div>-->
		<!--</div>-->
						<input type="hidden" id="productClassifyId" name="productClassifyId" value="{$type}" />

	</div>

</div>
<div class="batch-consume-duration" id="bathConsumeDuration"></div>
			<!-- 话费卡回收 -->
			<div class="recovery-card-major active">
				<div class="recovery-card-mode">
					<div class="card-recovery-tit">
						<p>选择商品：</p>
					</div>
					<div class="card-recovery-cont" id="operatorsWrap">
					</div>
					<input type="hidden" id="operatorId" name="channelid" value="1" />
					<input type="hidden" id="chooseOperatorId" name="chooseOperatorId" value="" />
				</div>
				<div class="batch-consume-duration" id="bathConsumeDuration"></div>
				<div class="recovery-card-par" style="padding: 12px 0;">
					<div class="card-recovery-tit">
						<p>选择面值：</p>
					</div>
					<div class="card-recovery-cont" id="priceWrap"></div>
					<div class="card-recovery-duration" id="recentConsumeDuration"></div>
					
					<input type="hidden" id="price" name="money" value="" />
				</div>
				<div class="batch-consume-duration" id="bathConsumeDuration"></div>
				<div class="submit-mode-inner hide" id="discountWrap">
	    			<span class="submit-mode-tit">
	    				供货折扣：
	    			</span>
	    			<span class="submit-mode-input">
	    				<input type="text" name="discount" id="cardDiscount" class="submit-mode-i" placeholder="允许输入的折扣是0%到0%" />
	    			</span>
	    			<span class="submit-mode-float">
	    				<div class="submit-float">
	    					<i class="submit-float-left"></i><span id="discountTip">可以输入的折扣值：0% ~ 0%，数值越高回收越慢</span>
	    				</div>
	    				<p class="submit-mode-green">
	    					根据您输入的折扣，该卡￥500面值，回收价格是￥460元
	    				</p>
	    			</span>
	    		</div>

				<div class="recovery-card-mode recovery-card-submit">
					<div class="card-recovery-tit">
						<p>提交方式：</p>
					</div>
					<div class="card-recovery-cont">
						<div class="recovery-mode-list active">
							<i class="card-icon icon-batch"></i>
							<i class="max-icon icon-treat"></i>
							批量提交
						</div>
						<!--<div class="recovery-mode-list">-->
						<!--	<i class="card-icon icon-single-card"></i>-->
						<!--	<i class="max-icon icon-treat"></i>-->
						<!--	单卡提交-->
						<!--</div>-->
					<!--	<div class="recovery-mode-list" onclick="location='/autoSend.html'">
							<i class="card-icon icon-single-card"></i>
							<i class="max-icon icon-treat"></i>
							智能提交
						</div>-->
						<!--&lt;!&ndash; 三角形 &ndash;&gt;-->
												<div id="activityTips">
							<!-- <div class="triangle_border_left">
							    <span></span>
							</div>
							<span class="retrieve-span">
								新用户注册，首张话费卡按面值回收
							</span>
							<a class="retrieve-detail" href="http://www.renrenxiaoka.com/retrieveActivity/retrieve.html"><span>查看活动详情</span></a> -->
						</div>	
						
											</div>
					<div class="recovery-mode-error" id="recycleRulesWrap">
						【卡密规则】 <span id="cardRules"></span><span id="cardTips">；面值一定要选择正确，如造成损失后果自负！</span>
					</div>
					<input type="hidden" id="type" name="type" value="2" />
					<input type="hidden" id="cardNumRule" value="" />
					<input type="hidden" id="cardPassRule" value="" />
			    </div>
				<div class="recovery-submit-mode">
					<!-- <input type="hidden" name="type" value="" />
				  	<input type="hidden" name="cardtype" value="0" />
				  	<input type="hidden" name="cardprice" value="0" /> -->
			    	<!-- 批量提交 -->
			    	<div class="submit-mode-cont active" id="batch">
			    		<div class="card-recovery-tit">
							<p>卡/卡密：</p>
						</div>
						
						<div class="card-recovery-cont">
							<div class="batch-cont">
								<textarea class="form-control" name="tempcards"  id="batchCardlist" ></textarea>
								<input type="hidden" name="cards" id="cards" />
								<div class="batch-textarea-erro">
									<i class="comm-icon icon-error2"></i>
									<p class="txt-red"></p>
								</div>
							</div>
							<!--<div class="batch-prompt">-->
								<!-- <div class="batch-prompt-error">-->
								<!--	<i class="comm-icon icon-error"></i>【卡密规则】 卡号为19位，密码18位；面值一定要选择正确，如造成损失后果自负！-->
								<!--</div>-->
							<!--	<div class="batch-prompt-info">-->
							<!--		<div class="batch-info">-->
							<!--			<i class="service-arrow-left"> </i>-->
							<!--			卡号与卡密之间请用英文或者中文逗号或者空格隔开，每张-->
							<!--			卡占用一行用“回车键”隔开，例如：-->
							<!--			0111001702060546320，100304016583597830-->
							<!--			0111001702060546321，105754083583500026	-->
							<!--		</div>-->
							<!--		<div class="batch-info nocode">-->
							<!--			<i class="service-arrow-left"> </i>-->
							<!--			此卡种无需卡号，只需填写卡密，<br>每张一行用<strong class="text-orange">"回车(Enter键)"</strong>隔开！-->
							<!--		</div>-->
							<!--	</div>-->

							<!--</div>-->
										
							<div class="card-recovery-operation">
								<div class="card-operation">
									<!--<a href="javascript:void(0);" class="card-operation-btn">整理卡号/卡密</a>-->
									<p class="card-operation-txt">已经输入<i class="txt-red">0</i>张面值<i class="txt-orange">￥<span id="priceTip">0</span></i>元的卡，每次最多可提交<span id="maxSubmitCount">0</span>张</p>
									<p class="card-operation-txt card-recovery-limit"></p>
								</div>
								<div class="card-recovery-agree">
									<i class="max-icon2 icon-agree-up icon-agree-off"></i>
									我已阅读，理解并同意<a href="{:U('home/index/help',['type'=>9])}" target="_blank">《转让协议》</a>									
								</div>
                               <div class="card-recovery-agree">
									<i class="max-icon2 icon-agree-up icon-agree-off"></i>
                                 我已确认该 卡号卡密 <e style="color:red">来源合法</e>，如有问题，本人愿意承担一切法律责任。									
								</div>
								<div class="card-recovery-submit">
									<input type="hidden" id="isAgree2" name="isAgree2" value="1"/>
									<a href="javascript:void(0);" class="card-submit-btn" id="cardBatchBtn">确定批量提交</a>
								</div>
							</div>
						</div>
						
			    	</div>

			    	<!-- 单卡提交 -->
			    	<div class="submit-mode-cont" id="single"> 
			    		<div class="submit-mode-inner">
			    			<span class="submit-mode-tit">
			    				输入卡号：
			    			</span>
			    			<span class="submit-mode-input">
			    				<input type="text" class="submit-mode-i" name="cardNumber" id="cardNum" placeholder="请输入充值卡号/账号" />
			    			</span>
			    			<span class="submit-mode-tit">
			    				输入卡密：
			    			</span>
			    			<span class="submit-mode-input">
			    				<input type="text" class="submit-mode-i" id="cardPass" placeholder="请输入充值卡密/登陆密码" />
								<input type="hidden" name="cardPassword" id="cardPassHid">
			    			</span>
			    		</div>
			    		<div class="mode-inner-error">
			    			<i class="comm-icon icon-error2"></i><p class="txt-red"></p>
			    		</div>
			    		<div class="card-recovery-cont submit-mode-padd">
			    			<div class="card-recovery-operation">
								<!-- <div class="card-operation">
									<a href="javascript:void(0);" class="card-operation-btn">整理卡号/卡密</a>
									<p class="card-operation-txt">已经输入<i class="txt-red">0</i>张面值<i class="txt-orange">￥0</i>元的卡，每次最多可提交100张</p>
								</div> -->
								<div class="card-recovery-agree">
									<i class="max-icon icon-agree-up icon-agree-off"></i>
									我已阅读，理解并同意<a href="{:U('home/index/help',['type'=>58])}" target="_blank">《转让协议》</a>
									<span class="card-recovery-limit"></span>
								</div>
                              <div class="card-recovery-agree">
									<i class="max-icon icon-agree-up icon-agree-off"></i>
                                 我已确认该 卡号卡密 <e style="color:red">来源合法</e>，如有问题，本人愿意承担一切法律责任。									
								</div>
								<div class="card-recovery-submit">
								  	<input type="hidden" id="isAgree1" name="isAgree1" value="1"/>
									<a href="javascript:void(0);" class="card-submit-btn" id="cardOneBtn">确定单卡提交</a>
								</div>
							</div>
			    			
			    		</div>
						
			    	</div>
			    	
			    				    						<input type="hidden" id="memberNumber" value="" /><!-- 用户编号 -->
										
					<input type="hidden" id="memberTodayLimit" value="" /><!--用户今日限额-->
					<input type="hidden" id="discountHidFromId" value="" />
					<input type="hidden" id="discountHidEndId" value="" />
			    </div>

			</div>

		</div>
	</div>
</div>
</form>

<!--<div class="card-height">-->

<!--</div>-->

	
			{/block}