{extend name="layout/index" /} 
{block name="content"}
<link rel="stylesheet" type="text/css" href="__CSS__/retrieve/retrieve.css?v=7b2b21bd52">

<div class="head-nav">
		<div class="w1320">
			<div class="head-view-con fl">
				<div class="head-view-tit">全部回收类型</div>
				
								<div class="head-view-sort">
					<!-- 移动出现下拉列表 -->
					{include file="layout/ullist" /}
				</div>
								
			</div>

			<div class="head-view-list fl">
				<ul>
					<li >
						<a href="/">首页</a>
					</li>
					<li >
					<a href="{:U('home/index/recycle')}" target="_blank">我要销卡</a>
					</li>
					<!-- <li >
						<a href="{:U('home/index/weixin')}" target="_blank">公众号</a>
					</li>
					<li class="active">
					<i class="hot-ico"></i>
						<a href="{:U('home/index/retrieve')}" target="_blank">新人活动</a>
					</li> -->
					<li >
						<a href="{:U('home/index/inviteFriends')}" target="_blank">邀请有礼</a>
					</li>
				
					<li>
						<a href="{:U('home/member/index')}" target="_blank">个人中心</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>			
	<div class="recycle-info-warp public-warp">
			<div class="recycle-info-banner"></div>
		</div>
	
  		<div class="meetingCard_">
  			<div class="meetingCard_box">
  				<textarea class="copy_txt" id = "copy_txt" name="" cols="30" rows="10">新用户首张X元面值话费卡，就可以兑换X元，例如：首张500元面值话费卡，就可以兑换500元……;以此类推，不限面值，机会难得，赶快行动吧！</textarea>
  				<div class="recycle-info-banner" id = "redBtn"></div>
  			</div>
  			<!-- 失去资格 -->
			<div id="cue" ></div>
  		</div>  		  		
  		
  		<!--活动说明-->
  		<div class="explain_">
	  		<div class="explain"></div>
		    <div class="text-left wz_p">
		        <p>1、新注册用户，<span>首张话费卡</span>，我们网站 <span>按话费卡的面值100%回收</span>，并且不限面值。即100元面值话费卡，就可以兑换100元！500元面值话费卡，就可以兑换500元！  </p>
		        <p>2、即使是之前销卡成功过其他种类的卡密，但只要没有销卡成功过话费卡的用户，也都有资格参与该活动；</p>       
		        <p>3、<span>该活动只能参与一次</span>，并且一次只有一张话费卡享受活动的价格，如果批量提交多张卡密，那其他话费卡，按网站的正常价格回收；</p>
		        <p>4、一个身份证号码，只能参与一次活动</p>
		        <p>5、<span>另若发现有人恶意利用活动刷奖励，一经查实将禁用帐号，并且冻结帐号资金!</span></p>
				<p>6、如有疑问请联系QQ客服：4008889259。(咨询时间：9:00- 18:00)。</p>
		    </div>
  		
  		</div>

			{/block}