{extend name="layout/index" /} 
{block name="content"}
<link href="__CSS__/enterpriseRecycle/info.css" rel="stylesheet"/>

	<div class="head-nav">
		<div class="w1320">
			<div class="head-view-con fl">
				<div class="head-view-tit">全部回收类型</div>
				
								<div class="head-view-sort">
					<!-- 移动出现下拉列表 -->
					{include file="layout/ullist" /}
				</div>
								
			</div>

			<div class="head-view-list fl">
				<ul>
					<li >
						<a href="/">首页</a>
					</li>
					<li >
					<a href="{:U('home/index/recycle')}" target="_blank">我要销卡</a>
					</li>
					<!--<li class="active">
						<a href="{:U('home/index/weixin')}" target="_blank">公众号</a>
					</li>
					<li >
					<i class="hot-ico"></i>
						<a href="{:U('home/index/retrieve')}" target="_blank">新人活动</a>
					</li>-->
					<li >
						<a href="{:U('home/index/inviteFriends')}" target="_blank">邀请有礼</a>
					</li>
					<li>
						<a href="/" target="_blank">API对接</a>
					</li>
					<li>
						<a href="{:U('home/member/index')}" target="_blank">个人中心</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>			
			<div class="recycle-info-warp public-warp">
	
				<div class="recycle-info-banner">
					<div class="w1320">
						<div class="wx-qrcode-box" style="width: 254px;height: 254px;    position: absolute;    top: 90px;    left: 642px;">
							<img src="{:C('wxgzhewm')}" class="public-warp-img" alt="" />
						</div>
					</div>
					
				</div>
	
				<div class="public-contern">
					<div class="w1320">
						<div class="public-main">
							<span class="public-contern-img fr">
								<img src="https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com/template/web/images/weixinOfficialAccount/narrate01.png" alt="" />
							</span>
							<span class="public-contern-date fl">
								<img src="https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com/template/web/images/weixinOfficialAccount/Word01.png" alt="" />
							</span>
						</div>
						<div class="public-main">
							<span class="public-contern-date fr">
								<img src="https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com/template/web/images/weixinOfficialAccount/Word02.png" alt="" />
							</span>
							<span class="public-contern-img fl">
								<img src="https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com/template/web/images/weixinOfficialAccount/narrate02.png" alt="" />
							</span>
						</div>
						<div class="public-main">
							<span class="public-contern-img fr">
								<img src="https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com/template/web/images/weixinOfficialAccount/narrate03.png" alt="" />
							</span>
							<span class="public-contern-date fl">
								<img src="https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com/template/web/images/weixinOfficialAccount/Word03.png" alt="" />
							</span>
						</div>
						<div class="public-main">
							<span class="public-contern-date fr">
								<img src="https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com/template/web/images/weixinOfficialAccount/Word04.png" alt="" />
							</span>
							<span class="public-contern-img fl">
								<img src="https://renrenxiaoka-resource.oss-cn-shenzhen.aliyuncs.com/template/web/images/weixinOfficialAccount/narrate04.png" alt="" />
							</span>
							
						</div>
	
					</div>	
				</div>
	
			</div>

			{/block}