<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <style type="text/css">
            html{background: #f7f7f7;}
            body{background: #fff;color: #333;font-family: "MicrosoftYaHei" , "微软雅黑" ,Verdana,Arial;margin: 2em auto 0 auto;width: 80%;padding: 1em 2em;-moz-border-radius: 11px;-khtml-border-radius: 11px;-webkit-border-radius: 11px;border-radius: 11px;border: 1px solid #dfdfdf;}
            a{color: #2583ad;text-decoration: none;}
            a:hover{color: #d54e21;}
            h1{border-bottom: 1px solid #dadada;clear: both;color: #666;margin: 5px 0 5px 0;padding: 0;padding-bottom: 1px;text-align: center;}
            h2{text-align:center;font-size:30px;}
            p{text-align: center;font-size:18px;}
            div{margin-bottom:80px;}
            ul{width:400px;margin:0 auto;}
        </style>
    </head>
    <body>
        <h1 id="logo">
            <img  src="__IMG__/timg.jpg" width="80%" />
        </h1>
        <h2 style="text-align:left">
            服务暂停： <?php echo(strip_tags($msg));?>
        </h2>
		
        <div>
        
        </div>
    </body>
</html>