html, body{height: 100%;}
.myMessage-wrap li{border-bottom: 1px solid #ddd;padding: 0 0.75rem;}
.myMessage-wrap .media-body{width: 10rem;}
.myMessage-wrap .media-body h5{padding: 1.175rem 0 1.075rem;color: #333;}