
/*登陆页面*/
.login-warp{ width: 100%; height: auto; overflow: hidden; }
.login-warp-bg{ width: 100%; height: 570px; background: url(../../images/login/k3WmJBKNmM.jpg) no-repeat center; }
.login-main{ width: 384px; height: 462px; background: #fff; border-radius: 10px; margin-top: 75px; }
.login-tit{ width: 384px; height: 50px; line-height: 50px; }
.login-tit span{ width: 192px; float: left; cursor: pointer; color: #333333;  background: #e6e6e6; font-size: 18px; text-align: center; }
.login-tit span.fl{ border-radius: 10px 0 0 0; }
.login-tit span.fr{ border-radius: 0 10px  0 0;  }
.login-tit span.active{ background: #fff; }
.login-from{ overflow: hidden;}
.login-from-com{ overflow: hidden;   margin: 0 23px;}
.login-content{ overflow: hidden;  display: none;}
.login-content.active{ display: block; }
.login-mainly{ width: 336px; height: 42px; border-radius: 4px; position: relative; line-height: 44px;  border: 1px solid #ddd; } 
.login-mainly input{width: 69%;padding: 12px 0px 12px 54px;border: 0;outline: 0;font-family: "Microsoft YaHei";font-size: 12px;}
.login-mainly label.ico-account{width: 44px;height: 33px;margin-top: 5px;background: none;border-right: 1px solid #ddd;float: left;position: absolute;overflow: hidden;}
.login-mainly label.ico-account i{width: 40px;height: 33px;display: inline-block;}
.login-mainly label.ico-account .login-icon-user {background-position: 12px -708px;}
.login-mainly label.ico-account .login-icon-pass {background-position: -23px -708px;}
.login-mainly label.ico-account .login-icon-pass2{background-position: -23px -742px;}
.login-mainly label.ico-account .login-icon-iphone{ background-position: 12px -742px; }
.login-mainly label.ico-account .login-icon-code{ background-position: 12px -776px; }
.login-mainly label.ico-account .login-icon-number{ background-position: -24px -1184px; }
.login-code { overflow: hidden; }
.login-code .login-mainly{ width: 212px; float: left; }
.login-code .login-code-btn{ width: 114px; height: 40px;  line-height: 40px; text-align: center; float: right; margin-top: 28px; background: #f16d60; border-radius: 6px; color: #fff; }
.login-mainly i{ display: inline-block; }
.login-mainly .inputIcon-close{ display: none; width: 19px;height: 19px; background-position: -51px -60px;position: absolute;top: 14px;right: 6px;z-index: 99;cursor: pointer;}
.login-from-com .login-remember{ width: 318px; height: 44px; line-height: 44px; padding-left: 20px; position: relative; font-size: 12px; font-family: '宋体'; }
.login-from-com .login-remember i{ width: 14px;height: 14px;  cursor: pointer;display: block;position: absolute;left: -1px;top: 17px; }
.login-from-com .login-remember i.login-icon-on{ background-position: -278px -78px; }
.login-from-com .login-remember i.login-icon-off{ background-position: -279px -100px;}
.login-from-com .login-remember a{ color: #999999; }
.login-from-com .login-remember a:hover{ color: #27baff; }
.login-from-com .login-remember a.txt-red{ color: #db6d5e; }
.login-btn{ width: 338px; overflow: hidden; }
.com-btn{ border-radius: 6px; background: #27baff; width: 100%; height: 44px; text-align: center; color: #fff; display: block; font-size: 20px; line-height: 44px; }
.login-share{ width: 100%; margin-top: 15px; line-height: 34px; }
.login-share p{ font-size: 14px; }
.login-share span{ width: 30px;height: 30px; display: block;  margin: 0 5px;  }
.login-share span.share-qq{ background-position: -244px -215px; }
.login-share span.share-weixin{ background-position: -244px -175px; }
.login-share span.share-qq:hover{ background-position: -284px -215px; }
.login-share span.share-weixin:hover{ background-position: -284px -175px; }
.login-share a{ width: 30px; height: 30px; display: inline-block;}
.login-from-prompt{  height: 40px; margin-left: 23px; }
.login-mg26{ margin-top: 26px; }
.login-from-prompt .error-info{ width: 312px; height: 28px; padding-left:24px; line-height: 28px;  display: block; background: #ffebeb; margin-top: 10px; position: relative; border:1px solid #faccc6; }
.login-from-prompt .error-info i{ width: 18px; height: 18px; display: block; position: absolute; top: 6px; left: 1px; }
.login-from-prompt .error-info i.login-error-icon{background-position: -24px -60px;}
.login-from-prompt .success-info{ border: none; background: none; }
.login-from-prompt .error-info i.login-success-icon{background-position: -78px -60px;}
.login-code .login-code-btn.login-code-gray{ background: #f5f6f7; color: #999999; cursor: default; }
.login-from-com .login-content .login-code .login-code-btn{font-size: 16px;}
/*注册修改*/
.register-warp-bg{ width: 100%; height: 728px; background: url(../../images/login/register-bj.png) no-repeat center; }
.find-warp-bg{ width: 100%; height: 612px; background: url(../../images/login/find-password-bj.png) no-repeat;background-size: cover; }
.register-warp-cont{ width: 750px;/*height: 614px;*/ margin: 0 auto; padding-top: 57px; }
.register-warp-cont.register-pannel{padding-top: 40px;}
.register-main{ width: 748px;/*height: 612px; */border: 1px solid #dddddd; border-radius: 10px; overflow: hidden; background: #fff;padding-bottom: 25px; }
.register-main .login-from{ width: 384px; margin: 0 auto; }
.register-main h3{ font-size: 18px; color: #333333; text-align: center; padding: 30px 0 25px;  }
.register-main .login-from-prompt .error-info{ margin-top: 0; }
.register-main .login-remember{ text-align: center; }
.register-main .login-share{ margin-top: 8px; }
.register-main .login-remember a.txt-orange{ color: #ff7200; }
.register-main .register-cue-box{ text-align: right; line-height: 26px; font-size: 12px;  }
.register-main .login-code .login-code-btn{ background: #0bbf06; }
.register-main .login-code .login-code-btn.login-code-gray{ background: #f5f6f7;color: #999999;cursor: default; }
.register-main .login-from .com-btn{ background: #ff7800;}

/*找回密码*/
.find-warp-bg .register-main{ height: 474px;  }


/*成功页面*/
/*.register-success-warp{ padding-top: 210px; height: 518px;  }*/
.register-success-warp .register-warp-cont{ padding-top: 170px; }
.register-success-warp .register-warp-cont .register-main{ height: 306px; }
.success-main{ width: 100%; overflow: hidden; }
.register-main .success-main .com-btn{ width:164px; margin: 10px auto; }
.success-main-info{  position: relative;     padding: 40px 20px 40px 230px; font-size: 16px;}
.success-main-info i{ float: left; }
.success-icon{ width: 50px; height: 50px; display: block; position: absolute; top: 30px; left: 160px;  }
.border-blue{ border:1px solid #27baff; }
.btn-gray{ background: #ccc; cursor:not-allowed;  }
/*跳转登陆*/
.qq-warp-cont{ width: 750px;height:462px;margin: 0 auto;padding-top: 120px; }
.qq-warp-cont h3{padding:26px;}
.qq-warp-cont .register-main{ height:462px; }
.bind-main{ text-align: center; }
.bind-head{ width: 100px; height: 100px; border-radius: 200px; margin:10px auto; }
.bind-head img{ width: 100px; height: 100px; border-radius: 200px; }
.bind-name{ font-size: 14px; color: #333333; margin-top: 20px; }
.bind-info{ font-size: 12px; color: #666; font-family: '宋体'; margin-top: 10px; }
.bind-main-btn{ margin-top: 20px; }
.register-main .bind-main-btn a.com-btn{ background: #f16d60; }
.bind-com-btn{ width: 336px; margin-top: 23px; border-radius: 6px;background: #fff;height: 44px;text-align: center;color: #f16d60;display: block;font-size: 20px;line-height: 44px; border: 1px solid #f16d60;}
.bind-btn{ font-size:12px; font-family: '宋体'; line-height: 20px; color: #999999; padding-top: 10px; }
.register-warp-cont.bind-warp-cont{ padding-top: 80px; }
/*.register-warp-cont.bind-warp-cont .register-main{ height: 508px; }*/
.register-warp-cont.bind-warp-cont .register-main h3{ margin-top: 25px; margin-bottom: 0px; padding:0px; }
.register-warp-cont.bind-warp-cont .register-main .login-from .com-btn{ background: #f16d60; }
.register-warp-cont.bind-warp-cont .login-btn{ margin-top: 26px; }
.register-warp-cont.bind-warp-cont.bind-has-cont { padding-top: 120px; }
.register-warp-cont.bind-warp-cont.bind-has-cont .register-main{ height: 400px; }
/*修改*/
.com-btn:hover{ background: #00a6e8; }
.login-code .login-code-btn:hover{  background: #d76257;  }
.register-main .login-code .login-code-btn:hover{ background: #0bae06; }
.register-main .login-from .com-btn:hover{ background: #ff6600; }
.register-warp-cont.bind-warp-cont .register-main .login-from .com-btn:hover{ background: #d76257; }
.register-main .bind-main-btn a.com-btn:hover{ background: #d76257; }
.bind-com-btn:hover{ width: 334px; height: 42px; line-height: 43px; color: #c7574c; border: 2px solid #c7574c; }

