
/** * date： 2018-1-15 10:27:55 * author： lxf * description: 资料管理公共样式*/
.tabs-container .nav-tabs li{padding-right: 5px;}
.tabs-container .nav-tabs li a{display: block;font-size: 16px;font-weight: 500;color: #666;padding: 13px 27px;line-height: 20px;background-color: #eee;text-shadow: 1px 1px 0 rgba(255,255,255,1);border: 1px solid;border-color: #eee;border-color: rgba(255,255,255,0);}
.tabs-container .nav-tabs li a:hover{background-color: #e5e5e5;text-shadow: 1px 1px 0 rgba(255,255,255,0.6);}
.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus{color: #27baff;font-weight: 500;font-size: 16px;border-bottom-color: #fff;background-color: #fff;box-shadow: -1px -2px 3px rgba(0,0,0,.05), 1px 0 1px rgba(0,0,0,.05);}
.tabs-container .panel-body{min-height: 500px;padding-top: 60px;}
.status-box{position: relative;width: 822px;overflow: hidden;margin: 20px 0 30px 50px;padding: 80px 50px 80px 100px;border: 1px solid #ddd;background-color: #f5f6f7;border-radius: 3px;}
.ico140{display: block;width: 140px;height: 140px;background: url("../../images/common/icon-140.png") no-repeat 0 0;font-size: 0;}
.status-box-icon .red-phone{background-position: 0 -150px;}
.status-box-icon .real-name{background-position: 0 -300px;}
.status-box-icon .cry-face{background-position: 0 -600px;}
.status-box-icon .sand-glass{background-position: 0 -450px;}
.status-box-icon .red-card{background-position: 0 -750px;}
.status-box-icon .green-shield{background-position: 0 -900px;}
.status-box-icon .green-envelope{background-position: 0 -1050px;}
.status-box-icon .green-qq-card{background-position: 0 -1200px;}
.status-box-icon .green-wx-card{background-position: 0 -1350px;}
.status-box-icon .red-wxfollow-card{background-position: 0 -1500px;}
.status-box-icon .green-wx-follow{background-position: 0 -1650px;}
.status-box-icon .red-ali{background-position: 0 -1800px;}
.status-box-icon .red-warn{background-position: 0 -1950px;}
.waiting{display: block;width: 140px;height: 140px;background: url("../../images/profileManage/waiting.png") no-repeat 0 0;font-size: 0;}
.status-box-text{overflow: hidden;zoom: 1;padding-left: 40px;}
.status-box-text h3{font-weight: 500;font-size: 24px;}
.status-box-text p{font-size: 14px;}
.btn.phone{position: relative;padding: 10px 18px 9px 48px;font-size: 16px;}
.phone .phone-ico{position: absolute;top: 11px;left: 22px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: 0 -86px;}
.wram-tips{clear: both;/*width: 820px;*/margin: 50px 0 0 50px;font-size: 14px;color: #999;line-height: 30px;}
.wram-tips h5{font-weight: 500;font-size: 16px;color: #333;padding-bottom: 7px;}
.wram-tips ul{padding-left:0;}
.has-realname .status-box-text p{margin: 0;color: #333;}
.has-realname .btn-xs{padding: 2px 12px;font-size: 14px;vertical-align: 4px;}
.red-tip{line-height: 34px;position: relative;color:#d25851;}
.red-tip .red-ico{position: absolute;top: 9px;left: -20px;width: 16px;height: 16px;background: url(../../images/common/com-icon.png) no-repeat 0 -60px;}
.status-box-text .text-red{color:#f16d60;}
.status-box-text .text-orange{color:#ff7200;}
.phone .id-card-ico{position: absolute;top: 11px;left: 22px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: -30px -86px;}
.phone .lock-ico{position: absolute;top: 11px;left: 22px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: -60px -86px;}
.phone .mail-ico{position: absolute;top: 11px;left: 22px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: -90px -86px;}
.phone .wx-ico{position: absolute;top: 11px;left: 22px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: -120px -86px;}
.phone .qq-ico{position: absolute;top: 11px;left: 22px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: -150px -86px;}
.smallReturn{position: absolute;left: -24px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: -90px -116px;}

/*银行账号*/
.dashed-box{position:relative;display: block;width: 300px;height: 160px;margin: 60px auto 20px;overflow: hidden;text-align: center;padding: 50px 0;border: 1px dashed #bfcbd9;border-radius: 3px;cursor: pointer;}
.add-card-ico{position: absolute;top: 48px;left: 118px;width: 64px;height: 64px;background: url(../../images/common/mix-icon.png) no-repeat -74px -1012px;}
.add-qq-ico{position: absolute;top: 34px;left: 118px;width: 64px;height: 64px;background: url(../../images/common/mix-icon.png) no-repeat -148px -1012px;}
.add-wx-ico{position: absolute;top: 34px;left: 118px;width: 64px;height: 64px;background: url(../../images/common/mix-icon.png) no-repeat -222px -1012px;}
.add-ali-ico{position: absolute;top: 47px;left: 118px;width: 64px;height: 64px;background: url(../../images/common/mix-icon.png) no-repeat -370px -1012px;}
.add-wxzh-ico{position: absolute;top: 34px;left: 118px;width: 64px;height: 64px;background: url(../../images/common/add_64.png) no-repeat;}
.dashed-box-words{position: absolute;top: 108px;left: 122px;margin-left: 0;font-size: 16px;color: #666;}
.tabs-container .tab-pane .card-list-body{padding-top: 20px;padding-left: 120px;}
.card-list-item{position: relative;width: 822px;overflow: hidden;margin: 0 0 24px 0;padding: 20px;border: 1px solid #ddd;background-color: #f5f6f7;border-radius: 3px;}
.round-card-ico{display: block;width: 64px;height: 64px;background: url(../../images/common/mix-icon.png) no-repeat 0 -1012px;font-size: 0;margin-top: 14px;}
.round-ali-ico{display: block;width: 64px;height: 65px;background: url(../../images/common/mix-icon.png) no-repeat -296px -1012px;font-size: 0;margin-top: 14px;}
.card-list-item .status-box-text{padding: 0 60px 0 20px;}
.card-list-item .btn-xs{padding: 2px 12px;font-size: 14px;vertical-align: 4px;}
.update-ico{position:absolute;top: 54px;right: 54px;width: 24px;height: 24px;background: url(../../images/common/icon-24.png) no-repeat 0 -1189px;font-size: 0;cursor: pointer;}
.delete-ico{position:absolute;top: 54px;right: 20px;width: 24px;height: 24px;background: url(../../images/common/icon-24.png) no-repeat 0 -1019px;font-size: 0;cursor: pointer;}
.modal-dialog.modal-dialog-w500{width: 500px;}
.modal-body .inline-block{display: inline-block;width: 300px;margin-right:10px;}

/*密码管理*/
.form-btn-group{margin: 0;padding: 0;}
.form-btn-group li .btn{position: relative;width: 170px;height: 54px;line-height: 54px;background: #fff;border: 2px solid #bfcbd9;margin: 0;padding: 0;overflow: hidden;font-size: 16px;color: #999;padding-left:30px;}
.form-btn-group li.selected .btn{color: #27baff;border-color: #27baff;}
.form-btn-group li .btn .ico24{top:15px;left:18px;font-size: 0;}
.btn .blue-lock{background-position: 0 -1053px;}
.selected .btn .blue-lock{background-position: -36px -1053px;}
.btn .blue-shield{background-position: 0 -1087px;}
.selected .btn .blue-shield{background-position: -36px -1087px;}
.form-btn-group .selected .btn b{display: block;width: 26px;height: 26px;overflow: hidden;position: absolute;right: -2px;bottom: -1px;background: url(../../images/common/mix-icon.png) no-repeat -244px -79px;}
.codeImg{width: 112px;height: 34px;cursor: pointer;}
#modifyLoginPasswordForm .red-tip{color: #f16d60;margin-left: -20px;}
#modifyLoginPasswordForm .red-tip:hover{color: #d25851;}
.center-box li{float: none!important;display: inline-block;margin: 0 12px;}
.m-t-b-30{margin: 30px auto;}
.yellow-tip-box{position: relative;padding-left: 30px;}
.yellow-tip-box .yellow-tip-ico{position: absolute;top: 16px;left: 6px;width: 16px;height: 16px;background-image: url(../../images/common/com-icon.png);background-position: -214px -60px;}
.wechat-follow .center-box{width: 330px;}
.wechat-follow .alert-warning{margin-bottom:0;}
.wechat-follow .dashed-box{margin: 42px auto 20px;height: 300px;padding: 1px;}
.wechat-follow .dashed-box img{width: 100%;height: 100%;}
@media (max-width: 1400px){.tabs-container .nav-tabs li a{padding: 10px 12px;}}

/* 实名验证taps*/
.tab-menus{width: 362px;margin: 0 auto;border-radius: 7px;border: 1px solid #8cb800;margin-bottom: 20px;}
.memu_tap{width:362px;margin:0 0 0 270px;border-radius: 7px;border: 1px solid #8cb800;margin-bottom: 20px;}
.memu_tap a:hover{color:#a3cf17;}
.tab-content .tab-pane .tab-pane .panel-body .tab-menus{width: 362px;margin: 0 auto;border-radius: 11px;border: 1px solid #8cb800;margin-bottom: 50px;}
.menu_one{width: 33.3%;height: 50px;line-height: 50px;text-align: center;color: #8cb800;float: left;font-size: 16px;}
.menu_one a{color:#8cb800 !important;font-size: 16px !important;}
.bg{background-color: #8cb800;color:#fff !important;}
.bg a{color:#fff !important;}
.right_ra{border-bottom-right-radius: 3px ;border-top-right-radius:3px;}
.left_ra{border-bottom-left-radius: 3px;border-top-left-radius: 3px;}
.center_w{}
.cue{text-align: center;width: 650px;background-color: #d8f3ff;margin: 16px 12%;border: 1px solid;padding: 0;padding: 10px;color: #42bff2;border-radius: 5px;}
.cue p{margin: 0 0 0 16px;position: relative;}
.warn-icon{width: 16px;height: 16px;left: 40px;top: 2px;position: absolute;background-image: url(../../images/profileManage/com-icon.png);background-position: 0 -146px;}
.com-icon{position: absolute;top: 11px;left: 22px;width: 20px;height: 20px;background-image: url(../../images/profileManage/com-icon.png);background-position: 0 -150px;}

/* 中级认证*/.header-box{height:100px;}
.header-reture{padding: 10px;margin: 17px;}
.header-reture span{color: #999999;margin: 0 0 0 20px;position: relative;float: right;}
.header-box-info{float: left;text-align: center;width: 580px;background-color: #ffef99;margin: 0 21%;border: 1px solid;padding: 0;padding: 10px;color: #705a50;border-radius: 5px;}
.header-box-info p{margin: 0;}
.w-1205{min-width: 1250px;max-width: 1300px;}
.tabs-container .tab-pane .panel-body .pad-20{padding:20px;}
.authenPage_all .page_middle{}
.authenPage_all .page_middle .middle_one{margin: 20px 0;}
.authenPage_all .page_middle .middle_one .xs_IdAuthen{width: 50%;margin: 0 auto;float: left;}
.shenfenz{float: left;margin: 0 17px;}
.shenfenzBox{width: 175px;height: 175px;float: left;}
.xs_IdAuthen{float: left;width: 50%;height: 175px;text-align: center;line-height: 175px;}
.xs_IdAuthenFace{float: left;width: 175px;margin: 0 0 0 175px;}
.addBorder{display: none !important;}
.xs{position: relative;overflow: hidden;text-decoration: none;text-indent: 0;color: #fff;font-size: 16px;}
.xs a:hover{color:#6c8e00;}
.xs a{position: absolute;width: 100%;bottom: -71px;text-align: center;color: #f5f5f5; display:none;}
.head1{width:100%;height:50px;line-height:50px;color:#323232;background:#F7F7F7;text-align:center;border-bottom:5px solid #EFEFEF;}
.cancel{width:50px;height:50px;color:#989898;position:absolute;}
.save_btn{margin: 20px auto;border: none;height: 50px;width: 160px;background: #27baff !important;border-radius: 3px !important;font-family: "微软雅黑";font-size: 16px;color: #fff;line-height: 40px;}
.info_list{width:40%;height:50px;float: left;margin-bottom: 30px;}
.list_left{height: 50px;font-size: 16px;color: #636363;line-height: 50px;float: left;width: 175px;text-align: right;}
.list_left2{width:97%;margin-left:3%;height:50px;font-size:16px;color:#636363;line-height:50px;float:left;}
.list_left2 span{color:#A04E52;font-size:12px;margin-left:5px;}
.list_right{height: 50px;color: #636363;font-size: 16px;line-height: 50px;margin-left: 65px;float: left;position: relative;}
.edit{width:100%;height:50px;color:#898989;font-size:16px;border:none;}
.id_img_wp{width:100%;margin:0 auto;min-height:210px;min-height: 240px;line-height: 175px;}
.img_wp{width: 175px;margin: 0 5% 0 5%;float: left;cursor: pointer;height: 175px;overflow: hidden;}
.img_wp img{width:100%;height:100%;}
.img_intro{color:#383838;text-align:right;float: left;font-size:16px;color:#3890f9;}
.w_175{width:175px;color:#666;}
.page-m{width:100%;}
.custom-date-style{background-color: red !important;}
.some_class{width: 175px;outline: none;border: 1px solid #ddd;padding: 0 0 0 10px;font-size: 14px;border-radius: 8px !important;color: #333;}
.textarea_text{width: 180px;height: 175px;border: 0px none;color: #3890f9;line-height: 22px;font-size: 16px;resize:none;padding: 60px 0px;outline: none;}
.wz_p{color: #999;font-size: 14px;margin: 0 auto;width: 60%;}
.blue-icon1{position: absolute;top:0;left:0;width: 48px;height: 46px;background-image: url(../../images/profileManage/bule-icon1.png);padding-left: 3px;}
.blue-icon2{position: absolute;top:0;left:0;width: 48px;height: 46px;background-image: url(../../images/profileManage/bule-icon2.png);padding-left: 3px;}
.blue-icon3{position: absolute;top:0;left:0;width: 48px;height: 46px;background-image: url(../../images/profileManage/bule-icon3.png);padding-left: 3px;}
.right-icon{position: absolute;top:0;right:0;width: 24px;height: 24px;background-image: url(../../images/profileManage/right-icon.png);display:none;}
.right-icon .one{display:block;}
.error-icon{position: absolute;left: -24px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: -22px -57px;}
.time-icon{position: absolute;right: 10px;bottom: 15px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: -22px -142px;}
.atime-icon{position: absolute;right: 10px;bottom: 15px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: -106px -60px;}
.natureInput{outline: none;border: 0;}
.center-w{text-align:center;width: 80%;}

/* 中级错误提示*/
.display-none{display:none;}
.timeS-error span{color: red;position: relative;float: left;font-size: 16px;width: 100%;height: 30px;top: -20px;left: 260px;}
.timeE-error span{color: red;position: relative;float: left;font-size: 16px;width: 100%;height: 30px;top: -20px;left: 260px;}
.zmz-error span{color: red;position: relative;float: left;font-size: 16px;width: 100%;height: 30px;top: -70px;left: 260px;}
.fmz-error span{color: red;position: relative;float: left;font-size: 16px;width: 100%;height: 30px;top: -70px;left: 260px;}
.sczm-error span{color: red;position: relative;float: left;font-size: 16px;width: 100%;height: 30px;top: 0;left: 260px;}
.timea-error span{color: red;position: relative;float: left;font-size: 16px;width: 100%;height: 30px;top: -20px;left: 260px;}
.timeb-error span{color: red;position: relative;float: left;font-size: 16px;width: 100%;height: 30px;top: -20px;left: 260px;}

/* 高级*/
.code-icon{width: 50px;height: 44px;background-image: url(../../images/common/code-icon.png);}
.remind{text-align: center;width: 650px;background-color: #d8f3ff;margin: 16px 138px;border: 1px solid;padding: 0;padding: 10px;color: #42bff2;border-radius: 5px;}
.remind p{margin: 0 0 0 16px;position: relative;}
.zfbPhoneImgBox{float: left;width: 335px;height: 415px;margin: 0 48px;}
.zfbPhoneImgBox img{width: 100%;height: 100%;}
.codeBox{float: left;width: 335px;height: 415px;margin: 0 48px 0 0;position: relative;}
.codeBox_Img{width: 280px;height: 280px;margin: 20px auto;}
.codeBox_Img img{width: 100%;height: 100%;}
.codeBox_icon{width: 260px;height: 86px;margin: 0 auto;}
.codeBox_icon img{width: 100%;height: 100%}
.magin_auto{margin: 0 auto;width: 68%;}
.page-middle{width: 1200px;margin: 0 0 70px 70px;}
.magin_senior{width: 75%;margin: 0 auto;}
.finish{position: absolute;left: 39px;bottom: 105px;width: 259px;}

