{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 邀请管理</title>{/block}
{block name="heardcss"}
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
	<link href="__CSS__/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css" rel="stylesheet">
    <link href="__CSS__/common/detail.css" rel="stylesheet">{/block}
{block name="content"}

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-caption">
                <h2>
                    普通推广员<span class="sep">|</span>
                    <span class=""><font class="color666 font16">已获得佣金：</font> <font class="text-orange">￥{$u.yongjin}</font></span>
                    <a class="text-blue font16 m-l-sm" href="javascript:gotoAccountFinance();">账户流水&gt;&gt;</a>
                    <!--<span class="color999 font14">(还需邀请<font class="color333">10</font>个有效下级，即可升级<font class="color333">高级推广员</font>，享受更高的佣金返现)</span>-->
                    <span class="color999 font14">(还需邀请2个有效下级，即可升级中级推广员，享受更高的佣金返现)</span>
                </h2>
            </div>
            <div class="gray-box">
                <span class="m-r-100"><font class="color666 font16">邀请下级总人数：</font><font class="text-blue font20">{$num}</font>人</span>
                <span>
                    <font class="color666 font16">有效下级：</font>
                    <font class="text-blue font20">{$okn}</font>人
                    <font class="color999 font14">(达到销卡总面值为<i class="text-orange">￥300.00</i>元以上，即为有效下级)</font>
                </span>
            </div>
            <div class="alert alert-yellow">
			   <p class="font16">邀请好友注册并销卡，即可获得<span class="text-orange">现金奖励</span>哦！</p>
                {gt name="$u.real" value="0"}
                    <div class="invite-link-box">
                    <input type="text" value="告诉您一个靠谱的高价回收话费卡、游戏卡、加油卡的网站！{$url}" class="link-box font14 color666" readonly="readonly" id="InviteLink"/>
                    <button class="btn btn-blue btn-lg font16 m-t-n-xs" id="btnCopy">复制分享</button>
					{else}
					<div class="invite-link-box">
                    <div class="link-box font14 color666">只有通过实名认证，才有专属邀请链接哦~</div>
                    <a class="btn btn-red btn-lg font16 m-t-n-xs" href="javascript:gotoRealName();">去实名认证</a>
					{/gt}
                </div>
                            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!--查询部分 start-->
            <div class="search-toolbar">
                <form role="form" class="form-inline" id="queryForm">
                    <input type="hidden" name="_csrf" value="e73ba083-c73f-4c4c-b2f2-9f51170855b7" id="csrf"/>
                    <input type="hidden" name="keywords" value=""><!--关键字-->
                    <input type="hidden" name="orderType" value=""><!--排序方式-->

                    <input type="hidden" name="region" value="NONE" id="timeRegion"><!--查询时间类型-->
                    <input type="hidden" name="startDate" value="" id="startDate"><!--时间查询开始-->
                    <input type="hidden" name="endDate" value="" id="endDate"><!--时间查询结束-->

                    <input type="hidden" name="priceOrder" value="" class="sortHideInpt" id="priceOrder"><!--销卡总面值排序-->
                    <input type="hidden" name="commisionOrder" value="" class="sortHideInpt" id="commisionOrder"><!--佣金排序-->

                    <input type="hidden" name="pageSize" value="10" id="pageSize"><!--每页显示多少条记录 默认显示10条-->
                    <input type="hidden" name="pageNumber" value="1" id="pageNumber"><!--查询页码-->

                    <div class="form-group">
                        <label>编号查询:</label>
                        <input name="subordinateMemberNumber" value="" type="text" class="form-control" placeholder="请输入下级用户编号">
                    </div>
                    <div class="form-group">
                        <label>类型查询:</label>
                        <select class="form-control" name="type">
                            <option value="" selected="selected">全部</option>
                            <option value="2">未生效下级</option>
                            <option value="1">有效下级</option>
                        </select>
                    </div>

                    <br>
                    <div class="form-group">
                        <label>注册时间:</label>
                        <input id="timeStart" class="form-control laydate-icon" placeholder="YYYY-MM-DD hh:mm:ss">
                        -
                        <input id="timeEnd" class="form-control laydate-icon" placeholder="YYYY-MM-DD hh:mm:ss">
                    </div>
                    <div class="form-group button-group" id="dateBtns">
                        <button region="LASTDAY" type="button" class="btn btn-default btn-xs">昨天</button>
                        <button region="TODAY" type="button" class="btn btn-default btn-xs">今天</button>
                        <button region="WEEK" type="button" class="btn btn-default btn-xs">近7天</button>
                        <button region="1" type="button" class="btn btn-default btn-xs">近一月</button>
                        <button region="NONE" type="button" class="btn btn-default btn-xs">忽略</button>
                    </div>
                    <br>

                    <div class="form-group">
                        <label></label>
                        <button class="btn btn-w-m72 btn-blue m-r-14" type="button" id="search">确定查询</button>
                    </div>
                </form>
            </div>
            <!--查询部分 end-->

            <table id="dataTable" class="table table-bordered table-hover dataTable space-l-30">
                <thead>
                    <tr>
                        <th>注册时间</th>
                        <th>用户编号</th>
                        <th>下级类型</th>
                        <th class="m_sort sorting" cursort="sorting" sorthideid="priceOrder">销卡总面值</th>
                        <th class="m_sort sorting" cursort="sorting" sorthideid="commisionOrder">佣金</th>
                    </tr>
                </thead>
                <tbody class="dataWraper"></tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">本页合计</th>
                        <th id="totalPriceCurPage">?</th>
                        <th id="commisionCurPage">?</th>
                    </tr>
                    <tr>
                        <th colspan="3">查询总计</th>
                        <th id="totalPriceTotal">?</th>
                        <th id="commisionTotal">?</th>
                    </tr>
                </tfoot>
            </table>

            <!--分页-->
            <div class="row myPager" id="queryPagination"></div>

        </div>
    </div>
</div>
{/block}
{block name="js"}
<!-- Data Tables -->
<script src="__JS__/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__JS__/plugins/dataTables/dataTables.bootstrap.js"></script>

<script>
    var ctxPath = "{:U('home/moneylog/asset')}";
</script>
<script src="__JS__/common/conttab_child.js"></script>
<script src="__JS__/common/common-util.js"></script>
<script src="__JS__/common/gotoAnotherPage.js"></script>
<script src="__JS__/common/page-data.js?v=12"></script>
<script src="__JS__/inviteManage/inviteManage.js?v=12"></script>
{/block}
