{extend name="layout/user"}
{block name="css"}
<link href="__CSS__/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>	
<link href="__CSS__/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>	
{/block}
{block name="text"}
 <div class="page-inner">
     <div class="page-title">
                <h3 class="breadcrumb-header">我的下级</h3>
        </div>
	<div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                   <div class="panel panel-white">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="apis" class="display table" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                                <tr>
                                                    <td>序号</td>
													<td>用户名</td>
													<td>账户余额</td>
													<td>手机号</td>
													<td>收款费率</td>
													<td>汇款费率</td>
													<td>账户状态</td>
													<td>注册时间</td>
                                                </tr>
                                            </thead>
											<tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                      </div>
			   </div>

		</div>
	</div>

{/block}
{block name="js"}
{include file="layout/footda"/}
<script>
$(function(){
  
    $('#apis').DataTable({
        'language': {
            "url": url
        },
		"fnInitComplete": function (oSettings, json) {
			$('.btn-xs').each(function () {
				var content = $(this).attr('data-content');
				$(this).popover({html:true,container:'body',content:content});
			})
        },
		"pagingType": "full_numbers",
		"serverSide":true,
		"ajax": "",
	    "columns": [
		    { "data": "id","bSortable": false },
			{ "data": "user" ,"bSortable": false},
			{ "data": "money","bSortable": true },
			{ "data": "photo" ,"bSortable": false},
			{ "data": null,"bSortable": false },
			{ "data": null,"bSortable": false },
			{ "data": "state" },
			{ "data": "addtime" }
		],
        columnDefs: [
		   {
				targets: 2,
				//sWidth:'30%',
				orderable : false,
				render: function(data,type,row,meta) {
					return "<p class='text-danger'>"+data+"</p>";
				}
			},
			{
				"targets": 4,
				"render": function ( data, type, full, meta ) {
					var str="<p class='text-danger'>支付宝："+full.alipay[0]+"%；微信："+full.wxpay[0]+"%</p>";
					return str;
				}
			},
			{
				"targets": 5,
				"render": function ( data, type, full, meta ) {
					var str="<p class='text-danger'>"+full.tx[0]+"</p>";
					return str;
				}
			}
			,
			{
				"targets": 6,
				"render": function ( data, type, full, meta ) {
					var str="<p class='text-info'>未审核</p>";
					if(data==1)str="<p class='text-success'>正常</p>";
					if(data==2)str="<p class='text-danger'>冻结</p>";
					return str;
				}
			}
       ]			
	});
 })
</script>

{/block}