{extend name="layout/user"}
{block name="text"}
 <div class="page-inner">
                    <div class="page-title">
                        <h3 class="breadcrumb-header">开通分站</h3>
                    </div>
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-body">
  <div class="row white">
				<div class="block">

					<div class="col-xs-12 col-sm-6 col-md-3">
							<ul class="pricing">
								<li style="padding:0">
									<h1>经典版本</h1>
								</li>
								<li><img src="__IMG__/100X125.gif"  width="200px" height="200px"></li>
								<li>
                                    <button type="button" class="btn btn-success btn-rounded">开  通</button>
								</li>
							</ul>
					</div>
				</div><!-- /block -->
			</div><!-- /row -->
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
        </div>
{/block} 
{block name="js"}
{include file="layout/foot"/}
<script>
$(".btn").click(function(){
   layer.msg('分站功能正在抓紧施工！', {
			  icon: 1,
			  time: 1000 //2秒关闭（如果不配置，默认是3秒）
			});
})
</script>
{/block}