{extend name="layout/user"}
{block name="css"}
<link href="__CSS__/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>	
<link href="__CSS__/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>	
{/block}
{block name="text"}
 <div class="page-inner">
                    <div class="page-title">
                        <h3 class="breadcrumb-header">代理信息</h3>
                    </div>
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                        <div class="col-md-12" style="padding-left:0;">
                                            <table id="ods" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>记录编号</th>
														<th>分站地址</th>
														<th>后台地址</th>
														<th>账户余额</th>
														<th>分站状态</th>
                                                        <th>操作IP</th>
                                                        <th>操作时间</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
        </div>
{/block}
{block name="js"}
{include file="layout/footda"/}
<script>
$(function(){
  
    $('#ods').DataTable({
        'language': {
            "url": url
        },
		"pagingType": "full_numbers",
		"serverSide":true,
		'bLengthChange':false,
		'searching': false,
		"ajax": "",
	    "columns": [
		    { "data": "id","bSortable": false },
			{ "data": "out_trade_no","bSortable": false},
			{ "data": "order","bSortable": false },
			{ "data": "type" ,"bSortable": false},
			{ "data": "money" ,"bSortable": false},
			{ "data": "status" },
			{ "data": null ,"bSortable": false}
		],
        columnDefs: [
		   {
			targets: 2,
			//sWidth:'30%',
	        orderable : false,
	        render: function(data,type,row,meta) {
	        	/* var text = "";
	        	if(row.dataParamType=='boolean' && data=="1"){
	        		return "是";
	        	}else if(row.dataParamType=='boolean' && data=="0"){
	        		return "否";
	        	}else if (row.dataParamType=='textarea'){
	        		var text = data;
	        		if(data.length>100){
	        			var tx = data.substring(0,40).replace(/[\r\n]/g,"")
	        			text = tx + "..." + "<a title='" + data.toString() + "'>[显示详情]</a>";
	        		}
		        	return text==null?"":text;
	        	}else{
	        		return data;
	        	} */
				return "<p class='text-danger'>"+data+"</p>";
	        }
		  },{
				// targets用于指定操作的列，从第0列开始，-1为最后一列，这里第六列
				// return后边是我们希望在指定列填入的按钮代码
				"targets": -1,
				"render": function ( data, type, full, meta ) {
				     var str="";
					 str += "<div class='btn-group'><button type = 'button' class='btn btn-primary' id = 'editButton' ><i class='fa fa-edit'></i> 设置</button>";
					 str += "<button type = 'button' class='btn btn-success' id = 'editButton' ><i class='fa fa-dollar'></i> 续费</button></div>";
					return str;
				}
			}
			
       ]			
	});
 })
</script>

{/block}