/**
 * date： 2018-1-9 09:57:11
 * author： lxf
 * description: 首页框架样式
 */
.fixed-nav #content-main{height: calc(100% - 121px);overflow: hidden;}
/*body.fixed-sidebar.mini-navbar #page-wrapper{margin: 0 0 0 220px;}*/

/*------框架首页头部------*/
.fixed-nav #wrapper{padding-top: 160px;}
/*.fixed-nav .navbar-fixed-top{background: #fff; min-width: 1200px!important;}*/

/*head-top start*/
.fixed-nav .head-top{height: 34px;line-height: 34px;background: #f5f5f5;font-size: 14px;}
.fixed-nav .head-top .welcome{color:#808080;padding-left:20px;}

/*账户*/
.fixed-nav .head-top .navbar-customer{float: right;padding-right: 24px;}
.fixed-nav .head-top .navbar-item{float: left;position: relative;height: 34px;}
.navbar-customer.navbar-nav .navbar-link{position: relative;z-index: 9;*position: static;display: inline-block;vertical-align: middle;line-height: 34px;font-size: 14px;color: #666;zoom:1;-webkit-transition: .3s;transition: .3s;overflow: hidden;padding: 0;}
.navbar-customer.navbar-nav .navbar-link{height: 34px;}
.navbar-customer .navbar-user{padding: 0 20px 0 0;}
.navbar-customer .navbar-link .userimg{width: 28px;height: 28px;vertical-align: top;border-radius: 50%;margin: 2px 0 0 0;}
.navbar-customer .navbar-link .username{color:#27baff;}
.navbar-nav .navbar-divider{width: 0;height: 14px;margin-top: 10px;overflow: hidden;border-left: 1px solid #ddd;}

.navbar-customer .navbar-link s.caret{position: absolute;left: 0;bottom: 0;display: none;color: #ddd;border-top: 0 none;border-bottom: 5px dashed;border-bottom: 5px solid \9;border-left-width: 7px;border-right-width: 7px;}
.navbar-customer .navbar-user .navbar-link s.caret{left: 50%;}

.navbar-user .dropdown-menu{left:-40px;}
.navbar-account{width: 285px;padding: 20px;overflow: hidden;}
.navbar-account-name{position: relative;height: 80px;overflow: hidden;padding: 0 0 15px 75px;border-bottom: 1px solid #f0f0f0;}
.navbar-account-name .avatar{display: block;position: absolute;top: 0;left: 0;width: 64px;height: 64px;border-radius: 50%;}
.navbar-account-name h4{/*height: 24px;line-height: 24px;*/padding: 4px 0;margin: 0;}
.navbar-account-name .username:hover{color: #27baff;}
.navbar-account-name p.h6{margin: 0;line-height: 1.5;color:#999;}
.navbar-account-nav ul{width: 100%;border-bottom: 1px solid #f0f0f0;padding: 15px 0;}
.navbar-account-nav ul li{float: left;width: 49%;line-height: 14px;text-align: center;}
.navbar-account-nav ul li.b-r-1{border-right: 1px solid #ddd;}
.navbar-account-nav a.color666:hover{color: #27baff;}
.navbar-account-nav p{text-align: center;padding: 10px 0 0 0;margin: 0;}
.navbar-account-nav p a{color: #999;}

/*注销*/
.navbar-customer .navbar-login-out{padding: 0 20px;}
.navbar-customer.navbar-nav .navbar-login-out .navbar-link{color:#d25851;}
.navbar-customer.navbar-nav .navbar-login-out .navbar-link:hover{text-decoration: underline;}

/*帮助*/
.navbar-customer .navbar-help{padding: 0 44px 0 0;}
.navbar-customer .navbar-help .navbar-link{padding: 0 0 0 12px;}
.navbar-help .ico_help{background-position: -301px -78px;top: 10px;}
.navbar-help .navbar-link s.caret{margin-left: 18px;}

.navbar-help .dropdown-menu{text-align: center;width: 180px;right: 44px;left: auto;top: 34px;z-index: 900;}
.navbar-help .dropdown-menu p{margin: 0;padding: 15px 0;line-height: 20px;overflow: hidden;}
.navbar-help .dropdown-menu p.link a{color:#666;}
.navbar-help .dropdown-menu p.link a:hover{color: #27baff;}
.navbar-help .dropdown-menu p.tel{border-top: 1px dotted #eee;border-bottom: 1px dotted #eee;}
.navbar-help .dropdown-menu p.tel span{padding: 3px 5px;display: inline-block;}
.navbar-help .dropdown-menu p.link a.text-blue{color: #27baff;}
.open .navbar-link s.caret, .open .dropdown-menu{display: block;}

/*head-logo start*/
.fixed-nav .head-logo{width: 100%;height: 78px;background: #fff;}
.fixed-nav .head-logo a{display: inline-block;height: 78px;padding: 6px 0 7px 0;margin-left: -10px;}

/*head-nav start*/
.fixed-nav .head-nav{width: 100%;height: 48px;line-height: 48px;background: #27baff;}
.fixed-nav .head-nav .all-type{position: relative;cursor: pointer;width: 220px;height: 48px;background: #f16d60;color: #fff;}
.fixed-nav .head-nav .all-type-title{position: relative;}
.ico-all{left: 46px;top: 12px;background-position: -34px -68px;}
.fixed-nav .head-nav .all-type-title span{padding-left: 76px;font-size: 16px;}

.fixed-nav .head-nav .all-type-sort{display: none;position: absolute;top: 48px;left: 0;z-index: 999;width: 100%;background: #fff;box-shadow: 0 10px 15px rgba(0,0,0,0.5);}
.fixed-nav .head-nav .all-type-sort ul{margin: 0;padding: 0;}
.fixed-nav .head-nav .all-type-sort li{padding: 6px 0;cursor: pointer;font-size: 16px;border-bottom: 1px solid #f2f2f2;}
.fixed-nav .head-nav .all-type-sort li a{position: relative;display: block;padding-left: 32px;line-height: 48px;color: #8d8b89;text-align: center;}
.fixed-nav .head-nav .all-type-sort li a:after{content: "";display: none;position: absolute;top: 0;right: -14px;z-index: 10;width:0;height:0;border-width:24px 0 24px 14px;border-style:solid;border-color:transparent transparent transparent #5199ff;}
.fixed-nav .head-nav .all-type-sort li .list-icon-comm{display: block;width: 24px;height: 24px;background: url(../images/common/nav-recycle-icon.png) no-repeat 0 0;position: absolute;left: 54px;top: 12px;}
.fixed-nav .head-nav .all-type-sort li .icon-iphone{background-position: 0 0;}
.fixed-nav .head-nav .all-type-sort li .icon-game{background-position: 0 -68px;}
.fixed-nav .head-nav .all-type-sort li .icon-refueling-card{background-position:0 -34px;}
.fixed-nav .head-nav .all-type-sort li .icon-ecommerce-card{background-position:0 -102px;}
.fixed-nav .head-nav .all-type-sort li .icon-enterprise{background-position: 0 -136px;}
.fixed-nav .head-nav .all-type-sort li .icon-video{background-position: 0 -170px;}
.fixed-nav .head-nav .all-type-sort li .icon-ebusiness{background-position: 0 -204px;}

.fixed-nav .head-nav .all-type-sort li:hover a{background: #5199ff;color: #fff;}
.fixed-nav .head-nav .all-type-sort li:hover a:after{display: block;}
.fixed-nav .head-nav .all-type-sort li:hover .icon-iphone{background-position: -34px 0;}
.fixed-nav .head-nav .all-type-sort li:hover .icon-game{background-position: -34px -68px;}
.fixed-nav .head-nav .all-type-sort li:hover .icon-refueling-card{background-position: -34px -34px;}
.fixed-nav .head-nav .all-type-sort li:hover .icon-ecommerce-card{background-position: -34px -102px;}
.fixed-nav .head-nav .all-type-sort li:hover .icon-enterprise{background-position: -34px -136px;}
.fixed-nav .head-nav .all-type-sort li:hover .icon-video{background-position: -34px -170px;}
.fixed-nav .head-nav .all-type-sort li:hover .icon-ebusiness{background-position: -34px -204px;}
.fixed-nav .head-nav .all-type-sort li .right-arrow{display: none;width: 12px;height: 12px;background: url(../images/common/left1.png) no-repeat -29px -2px;position: absolute;right: 0;top: 18px;}
.fixed-nav .head-nav .all-type-sort li:hover .right-arrow{display: block;}

.fixed-nav .head-nav .web-static-nav{padding-left: 45px;color: #fff;font-size: 16px;}
.fixed-nav .head-nav .web-static-nav li{float: left;position: relative;}
.fixed-nav .head-nav .web-static-nav li.active{background: url("../images/common/cover.png");}
.fixed-nav .head-nav .web-static-nav li:hover{background: url("../images/common/cover.png");}
.fixed-nav .head-nav .web-static-nav li a{display: block;padding: 0 24px;color: #fff;}


/*------框架左侧导航------*/
#side-menu .menuItem{padding: 19px 20px 19px 25px;}
#side-menu .menuItem .nav-label{padding-left: 35px;font-size: 16px;}
.menuItem .ico_account_view{background-position: 0 -509px;}
.menuItem:hover .ico_account_view, #side-menu > li.active .ico_account_view{background-position: -34px -509px;}

.menuItem .ico_draw{background-position: 0 -543px;}
.menuItem:hover .ico_draw, #side-menu > li.active .ico_draw{background-position:-34px -543px;}

.menuItem .ico_draw_list{background-position: 0 -577px;}
.menuItem:hover .ico_draw_list, #side-menu > li.active .ico_draw_list{background-position: -34px -577px;}

.menuItem .ico_sell_card{background-position: 0 -611px;}
.menuItem:hover .ico_sell_card, #side-menu > li.active .ico_sell_card{background-position: -34px -611px;}

.menuItem .ico_sell_list{background-position: 0 -645px;}
.menuItem:hover .ico_sell_list, #side-menu > li.active .ico_sell_list{background-position: -34px -645px;}

.menuItem .ico_data_manage{background-position: 0 -679px;}
.menuItem:hover .ico_data_manage, #side-menu > li.active .ico_data_manage{background-position: -34px -679px;}

.menuItem .ico_account_finance{background-position: 0 -1223px;}
.menuItem:hover .ico_account_finance, #side-menu > li.active .ico_account_finance{background-position: -34px -1223px;}

.menuItem .ico_invite_manage{background-position: 0 -1257px;}
.menuItem:hover .ico_invite_manage, #side-menu > li.active .ico_invite_manage{background-position: -34px -1257px;}

/*#side-menu .contact_qq{display: block;padding: 45px 40px 20px 40px;}*/
#side-menu .contact_qq{display: block;width: 92px;margin: 45px auto 20px;}
.ico_qq{display: block;width: 140px;height:34px;background: url("../images/common/mix-icon.png") no-repeat 0 -968px;margin: 0 auto;}
#side-menu .contact_qq:hover i.ico_qq{background-position: -150px -968px; }
#side-menu .contact_phone{margin: 0 10px;color: #fff;overflow: hidden;text-align: center;white-space: nowrap;}
#side-menu .contact_phone p{font-size: 22px;margin: 0;}
#side-menu .contact_phone h5, #side-menu .contact_phone small{font-size: 14px;margin: 0;}

.fixed-nav .slimScrollDiv #side-menu{padding-bottom: 170px;}
#side-menu > li.active{border-left: 0;background: #2f4050;}


/*------框架首页底部------*/
#page-wrapper .footer{height: 120px;border-top: 1px solid #ddd;padding: 10px 40px;}
#page-wrapper .footer p{line-height: 34px;color: #999;font-size: 14px;}
#page-wrapper .footer p.line{margin-bottom: 10px;border-bottom: 1px solid #ddd;padding-bottom: 10px;}
#page-wrapper .footer a{color: #999;}
#page-wrapper .footer a:hover{color: #27baff;}

.top-prompt .w1320{width: 1320px;margin: 0 auto;}
.top-prompt .fl{float: left;}
.fixed-nav .top-prompt{background: #fde4bc;}
.fixed-nav .top-prompt .left-part{width: 85%;height: 100%;overflow: hidden;}
.fixed-nav .top-prompt .left-part span{display: inline-block;max-width: 85%;height: 100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.fixed-nav .top-prompt .view-detail-btn{margin-left: 20px;color: #27baff;}
.fixed-nav .top-prompt .close-btn{float: right;cursor: pointer;width: 20px;height: 20px;background: url(../images/common/close_sw_icon.png) no-repeat;background-size: 100%;margin-top: 7px;}

/*网页最小宽度限定*/
.w_warp{min-width: 1300px;}
@media (max-width: 1300px) {
    .w_warp{overflow-x: scroll;}
}

