body{background: #ffeda4;}
img{vertical-align: baseline;}
.text-center{margin-top: 20px;margin-bottom: 20px;}
.head_xs{width: 100%; height: 560px; background-repeat: no-repeat;  background-position: 50%;  background-image:url("../images/inviteFriends/invite-act.png");  }
@media screen and (max-width:1111px){
    .head_xs{
        width: 1111px;  height: 560px;
        background-image:url("../images/inviteFriends/invite-act.png");
    }
}
.table { width: 63%;  margin: 0 auto;    margin-top: 25px;text-align: center;    border-top-left-radius: 12px; border-top-right-radius: 12px;    border-collapse: inherit;}
/*-------------------------------------------------------------------最高0.3佣金---------------------------------------------------------------------------*/

.Rebate{ background-repeat: no-repeat; background-position: 50%;  background-image:url("../images/inviteFriends/cash-bj.png");  background-size: 100% 100%;  width: 1090px;  -webkit-border-radius: 9px;  -moz-border-radius: 9px;  border-radius: 9px;  margin: 0 auto;  margin-top: 48px;  margin-bottom: 100px;  padding: 0 30px;  padding-top: 55px;  padding-bottom: 50px;  -moz-box-shadow: 10px 17px 0 #fce8bc;  min-height: 460px;  position: relative;  }
.Rebate_p{color: #999999;font-size: 20px;}
.Rebate_a{color: #ea6948;}

.table_tr{color: #fff;background: #ea6948;font-size: 18px;}
.table_tr .table_td_l{border-top-left-radius: 12px;border: 0;}
.table_tr .table_td_r{border-top-right-radius: 12px;border: 0;}
table tr td{font-size: 16px;}
table tr td span{color: #ea6948;}
.remarks{color: #ea6948;font-size: 16px;padding-top: 20px}
.remarks_detail{color: #27baff;font-size: 16px;margin-left: 35px;}
.case-btn{    position: absolute;  right: -28px;  top: 32%;  height: 30px;  outline: none;  border: 0;  width: 46px;  background: #ffeda4;  background-image: url(../images/inviteFriends/case-btn.png);  }
.case-btn:hover{background-image: url(../images/inviteFriends/case-btn-pre.png);}
#main {  padding-top:90px;  text-align:center;  }

/*-------------------------推广员升级条件  ------------------------------------*/

.condition{ background-repeat: no-repeat; background-position: 50%;  background-image:url("../images/inviteFriends/expand-bj.png");  background-size: 100% 100%;  width: 1090px;  -webkit-border-radius: 9px;  -moz-border-radius: 9px;  border-radius: 9px;  margin: 0 auto;  margin-top: 48px;  margin-bottom: 100px;  padding: 0 30px;  padding-top: 55px;  padding-bottom: 50px;  -moz-box-shadow: 10px 17px 0 #fce8bc;  min-height: 460px;  position: relative;  }
.condition_p{color: #999999;font-size: 20px;}

/*--------------------------邀请方式-----------------------------*/

.way{ background-repeat: no-repeat; background-position: 50%;  background-image:url("../images/inviteFriends/invite-bj.png");  background-size: 100% 100%;  width: 1090px;  -webkit-border-radius: 9px;  -moz-border-radius: 9px;  border-radius: 9px;  margin: 0 auto;  margin-top: 48px;  margin-bottom: 100px;  padding: 0 30px;  padding-top: 55px;  padding-bottom: 50px;  -moz-box-shadow: 10px 17px 0 #fce8bc;  min-height: 700px;  position: relative;  }
.way_p{color: #ea6948;font-size: 20px;}
.way1_box{ float: left;width: 350px; height: 390px; margin-left: 100px;margin-right: 50px;background-image: url(../images/inviteFriends/way01.png);background-size: 100% 100%;}
.way1_box .way1_box_p{font-size: 37px;text-align: center; margin-top: 77%;color: #ea6948;}
.way2_box{ float: left;width: 350px; height: 390px; margin-left: 100px;margin-right: 50px;background-image: url(../images/inviteFriends/way02.png);background-size: 100% 100%;}
.copy_txt{    width: 270px; height: 70px;  text-align: center;  border: 0;  border-radius: 7px;  margin: 0 auto;  margin-top: 72%;color: #666666;font-size: 20px;
    outline:none;padding-top: 20px; resize: none;}

.public-btn{display: block; width: 345px; height: 78px; position: absolute; bottom: 60px;  left: 375px;  z-index: 111;  border: 0;  outline: none;  background-color: transparent;}
.act-btn{background-image: url(../images/inviteFriends/act-btn.png);}
.act-btn:hover{background-position: 0 -88px;}
.login-btn{background-image: url(../images/inviteFriends/act-btn.png);background-position: 0px 167px;}
.login-btn:hover{background-position: 0 79px;}
.real-btn{background-image: url(../images/inviteFriends/act-btn.png);background-position: 0 -176px;}
.real-btn:hover{background-position: 1px -264px;}

/*--------------------------邀请方式-----------------------------*/

.explain{width: 328px;height: 72px; background-image: url(../images/inviteFriends/rule-icon.png);background-size: 100% 100%;margin: 0 auto;}
.wz_p{  width: 1111px; margin: 30px auto; font-size: 18px; color: #333333;margin-bottom: 70px;}
.wz_p span{color: #ff162a;}
/*遮罩层*/


#fullbg {  background-color:Gray;  left:0px;  opacity:0.5;  position:absolute;  top:0px;  z-index:1000; }
#dialog { background-color:#FFF;  display:none;width: 800px;  height:200px;  left:35%;  margin:-100px 0 0 -100px; position:fixed !important; /* 浮动对话框 */  position:absolute;  top:50%;   z-index:9999; border: 2px solid #81C6EA; }
#dialog p {margin:0 0 12px;  }
#dialog p.close { text-align:right;}
#dialog p span{color: #0bbf06;}
#dialog p.detail{font-size: 30px;margin: 25px 125px;}
#dialog p.explains{font-size: 18px; margin: 0 125px;}
.close{opacity: 1;}
.close_Btn{background-image: url(../images/inviteFriends/close-btn.png);background-size: 100% 100%;width: 56px;height: 56px; background-color: #fff; border: 0;}
/*header 和footer-href底部样式于bootstrap冲突*/
.footer-href{font-size: 12px;}
.footer-follow-box .footer-follow-img img{width: 98px; height: 98px;}
h1{margin: 0; padding: 0;}
 a:hover {  text-decoration: none; }
.footer-follow-box .footer-follow-tit{color: #666;}
.fl{color: #666;}



