.allCard-classify-wrap{margin-top: 4.95rem;margin-bottom: 5rem;}
.allCard-classify-wrap .fixed-top{top: 2.2rem;background: #45b5f0;margin-bottom: 0.6rem;}

.tab-content{padding: 0 0.75rem;}
.tab-content li{max-width: 690px;margin: 0 auto 0.6rem;}
.tab-content li:last-child{margin-bottom: 0;}
.phoneCard-bg:nth-child(3n+1){background: url("../../../images/productClassify/phoneCard/yd_bj.png") no-repeat;background-size: 100%;}
.phoneCard-bg:nth-child(3n+2){background: url("../../../images/productClassify/phoneCard/dx_bj.png") no-repeat;background-size: 100%;}
.phoneCard-bg:nth-child(3n+3){background: url("../../../images/productClassify/phoneCard/lt_bj.png") no-repeat;background-size: 100%;}

.tab-content li .media{padding: 1.2rem 0.75rem;}
.tab-content li .media-body{width: 13.7rem;overflow: hidden;}
.tab-content li .right-arrow{margin-left: 0.75rem;}

.gameCard-bg:nth-child(3n+1){background: url("../../../images/productClassify/gameCard/red_bj.png") no-repeat;background-size: 100%;}
.gameCard-bg:nth-child(3n+2){background: url("../../../images/productClassify/gameCard/orange_bj.png") no-repeat;background-size: 100%;}
.gameCard-bg:nth-child(3n+3){background: url("../../../images/productClassify/gameCard/blue_bj.png") no-repeat;background-size: 100%;}

.tab-content li.gasCard-bg{background: url("../../../images/productClassify/gasCard/zsh_bj.png") no-repeat;background-size: 100%;}
.tab-content li.ecoCard-bg{background: url("../../../images/productClassify/ecomCard/jde_bj.png") no-repeat;background-size: 100%;}
.tab-content li.videoCard-bg{background: url("../../../images/productClassify/videoCard/video_bj.png") no-repeat;background-size: 100%;}
.tab-content li.ebusinessCard-bg{background: url("../../../images/productClassify/ebusiness_bj.png") no-repeat;background-size: 100%;}
