@media (max-width: 1300px) {
    .w1320 {width: 1080px;margin: 0 auto;}
    .card-recovery-tit, .submit-mode-inner span.submit-mode-tit{width: 90px;padding-left: 10px;}
    .card-recovery-cont{width: 990px;}
    .recovery-mode-error{padding-left:90px;}
    .submit-mode-cont .batch-cont{width: 564px;height:auto;}
    .submit-mode-cont .batch-cont .form-control{width: 540px;height:300px;}
    .submit-mode-cont .batch-prompt{height: 300px;}
    .w1320.recycle-main{width: 1058px;}
    .notice-list{width: 1040px;}
    .notice-list ul li{width: 162px;}
    .notice-list ul li.notice-list-spot{width: 120px;}
    .recycle-main-cont{width: 1040px;}
    .recycle-main-cont .recycle-explain-list.recycle-list2 i.recycle-up{left:360px;}
    .recycle-main-cont .recycle-explain-list.recycle-list3 i.recycle-up{left:640px;}
    .recycle-main-cont .recycle-explain-list.recycle-list3 .recycle-main-explain{margin-left: 338px;}
    .recycle-main-cont .recycle-explain-list.recycle-list4 i.recycle-up{left:920px;}
    .recycle-main-cont .recycle-explain-list.recycle-list4 .recycle-main-explain{margin-left: 440px;}
    .submit-mode-padd{padding-left:100px;}
    .submit-mode-cont .mode-inner-error{padding-left:120px;}
    .submit-mode-cont .mode-inner-error i{left:100px;}
    .recovery-card-mode .card-recovery-cont .recovery-mode-list:nth-child(8n){margin-right: 16px;}
    .recovery-card-par .recovery-par-list:nth-child(8n){margin-right: 16px;}
    .card-recovery-duration{padding-left: 98px;}
}

.back-top{
    position: fixed;
    bottom: 0;
    right: 1px;
    z-index: 100;
}
.back-top a{
    width: 84px;
    height: 84px;
    margin: 0;
}