{extend name="layout/member" /} 
{block name="heard"}<title>{:C('title')} - 首页内容(账户总览)</title>{/block}
{block name="heardcss"}
 <link href="__CSS__/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="__CSS__/animate.css" rel="stylesheet">
    <link href="__CSS__/style.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/common/customer.css" rel="stylesheet">
	<link href="__CSS__/common/detail.css" rel="stylesheet">
    <link href="__JS__/common/layer/skin/layer.css" rel="stylesheet"/>
	{/block}

{block name="content"}
<body class="white-bg sell-card-detail">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-caption">
                <a class="pull-right text-blue return" href="javascript:void(0);" id="returnSellCardRecord">返回</a>
                <h2>单号：{$order}<span class="sep">|</span><span class="text-muted">提交时间：{$time}</span></h2>
            </div>

            <div class="alert alert-info">
                此次交易共<span class="text-orange">{$d.count} 张</span>卡，交易成功：{$d.ok}张，
                失败 <span class="text-red">{$d.no} 张</span>，您共获得： <span class="text-orange">{$d.money}元</span>，
                款项已经打入您的账户余额中，你可以到账户总览查看。
            </div>

            <!--表格-->
            <table id="dataTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>卡种</th>
                        <th>卡号</th>
                        <th>卡密</th>
                        <th>归属地</th>
                        <th>提交面值</th>
                        <th>实际面值</th>
                        <th>实际可得</th>
                        <th>状态</th>
                        <th>备注</th>
                        <th>提交时间</th>
                        <th>处理时间</th>
                    </tr>
                </thead>
                <tbody class="dataWraper">
                                    
					{foreach name="res" id="p"}
						<tr>
                        <td>{$p.operatorName}</td>                       
                        <td class="copy-btn" title="{$p.card_no}（点击可复制）" data-clipboard-text="{$p.card_no}">{$p.card_no}</td>
                        <td class="copy-btn" title="{$p.card_key}（点击可复制）" data-clipboard-text="{$p.card_key}">{$p.card_key}</td>
                        <td>{$p.area}</td>
                        <td><span class="text-orange">￥{$p.money}</span></td>
                        <td><span class="text-orange">￥{$p.settle_amt}</span></td>
                        <td><span class="text-dark-green">￥{$p.amount}</span></td>
                        <td>{$p.sta}</td>
                        <td><span class="text-red">{$p.remarks}</span></td>
                        <td>{$p.create_time}</td>
                        <td>{gt name="$p.state" value="0"}{$p.update_time}{else/}--{/gt}</td>
                    </tr>
					{/foreach}
                                </tbody>

            </table>
			<input type="hidden" id="orderId" value="{$order}" />
            <input type="hidden" id="orderType" value="1" />
                        <input type="hidden" id="canBeChangeSubmitType" value="true" />
            <a class="btn btn-blue btn-sm sell-card" href="javascript:void(0);" id="resubmit"><i class="submit-card-ico"></i>一键提交失败卡密</a>
                       	            <a class="btn btn-blue btn-sm sell-card" href="javascript:void(0);" id="gotoSellCardPage"><i class="sell-card-ico"></i>我要卖卡</a>
        </div>
    </div>

</div>
{/block}
{block name="js"}
<!-- 全局js -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>

<!-- 自定义js -->
<script src="__JS__/content.js?v=1.0.0"></script>

<!-- Data Tables -->
<script src="__JS__/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__JS__/plugins/dataTables/dataTables.bootstrap.js"></script>

<script type="text/javascript" src="__JS__/common/layer/layer.js"></script>
<script type="text/javascript" src="__JS__/common/clipboard.min.js"></script>

<script src="__JS__/sellCardRecord/sellCardDetail.js?v=13"></script>
<script src="__JS__/common/conttab_child.js"></script>
<script>
var tiji="{:U('home/api/retijiao')}";
    $(function(){

        function closeCurFrameFn(){
            var curHref = window.location.href;
            closeFrame(curHref);
        }

        //移除卖卡记录详情页面，显示卖卡记录页面  注意顺序   先显示再关闭
        $("#returnSellCardRecord").click(function () {
            $('#side-menu .J_menuItem',parent.document).each(function () {
                var curTabHref = $(this).attr("href");
                if ($(this).parents('li').hasClass("active")) {
                    showFrame(curTabHref);
                }
            });
            // var sellCardRecordHref = ctxPath.domain+'/member/sellCardRecord/index.do';
            // showFrame(sellCardRecordHref);

            closeCurFrameFn();
        });

        //我要卖卡
        $("#gotoSellCardPage").click(function () {
            var sellCardHref = "{:U('home/member/sellCard')}";
            addFrame(sellCardHref, '3', '我要卖卡');

            closeCurFrameFn();
        });
        
        var clipboard = new ClipboardJS('.copy-btn');
        clipboard.on('success', function(e) {           
            layer.msg("复制成功！", {icon : 1,shade : [ 0.4, '#000' ],time : 2000});
            e.clearSelection();
        });

        clipboard.on('error', function(e) {
            layer.msg("复制失败可能浏览器内核不支持，请手动复制", {icon : 2,shade : [ 0.4, '#000' ],time : 2000});
        });

    });
</script>
{/block}
