<div class="footer">
	<!--
    <div class="f-top">
        <div class="wrap1100 clear">
        	
            <div class="left go-link">
                <p><b>网站导航</b></p>
                <p>
                    <span><a href="{:U('home/index/cardArticle',['type'=>1])}">卡券介绍</a></span>
                    <span><a href="{:U('home/index/cardArticle',['type'=>2])}">卡券购买</a></span>
                    <span><a href="{:U('home/index/cardArticle',['type'=>3])}">卡券使用</a></span>
                    <span><a href="{:U('home/index/cardArticle',['type'=>4])}">卡券查询</a></span>
                    <span><a href="{:U('home/index/cardArticle',['type'=>5])}">卡券回收</a></span>
                    <span><a href="{:U('home/index/cardArticle',['type'=>6])}">行业资讯</a></span>
                </p>
            </div>
            <div class="left contact-us">
                <p class="first"><b>联系我们</b></p>
                <p class="tel">{:C('phone')}</p>
                <p>联系邮箱：{:C('kefu')}@qq.com</p>
            </div>
            <div class="left service">
                <div class="tcenter"><img class="gzh-img" src="{:C('wxgzhewm')}" width="170" height="170"><div>关注{:C('title')}微信公众号</div></div>
            </div>
           
            
            <div class="left service zxkf-mag" style="float: right;">
                <p><a href="http://wpa.qq.com/msgrd?v=3&uin={:C('kefu')}&Site=%E6%B7%BB%E5%8A%A0%E5%AE%A2%E6%9C%8DQQ%E8%B4%AD%E4%B9%B0%E7%BB%AD%E8%B4%B9%E4%B8%8D%E8%BF%B7%E8%B7%AF&Menu=yes" target="_blank" rel="nofollow"><img src="/static1/home/images/qq_online.png" width="143" height="40" alt></a></p>
                <p>09:00-19:30</p>
            </div>
        </div>
    </div>
    -->
    <div class="f-btm">
        <div class="wrap1100">
            <p class="tcenter">{:C('coltd')}<a href="http://beian.miit.gov.cn/" target="_blank"><img style="vertical-align:middle;width:20px;height:20px" src="/static1/home/images/wbimg.png" alt="{:C('beian')}">{:C('beian')}</a></p>
            <a target="cyxyv" style="border:0px" href="/" rel="nofollow"><img src="/static1/home/images/label_lg_90020.png" style="width:148px;height:48px;"></a>
            <a target="_blank" rel="nofollow" style="border:0px" href="/">
                <img src="/static1/home/images/kxwz.png" style="width:148px;height:48px;">
            </a>
            <a href="http://beian.miit.gov.cn/publish/query/indexFirst.action" class="txt" rel="nofollow" target="_blank"><i class="s3"></i>工信部ICP<br>域名备案</a>
            <a href="http://www.cyberpolice.cn/wfjb/" class="txt" target="_blank" rel="nofollow"><i class="s4"></i>网络违法犯罪<br>举报中心</a>
            <a href="https://www.12377.cn/" class="txt" target="_blank" rel="nofollow"><i class="s2"></i>不良信息<br>举报中心</a>
        </div>
    </div>
</div>
 <!--footer END -->
<a class="back-top" style="display:none" data-click="back-top"></a>
<div class="right-bar">
    <ul>
        <li class="move-left">
            <a href="http://wpa.qq.com/msgrd?v=3&uin={:C('kefu')}&Site=%E6%B7%BB%E5%8A%A0%E5%AE%A2%E6%9C%8DQQ%E8%B4%AD%E4%B9%B0%E7%BB%AD%E8%B4%B9%E4%B8%8D%E8%BF%B7%E8%B7%AF&Menu=yes" target="_blank" class="online"><i class="msg"></i><span>在线咨询</span></a>
            <div class="hide-menu tcenter">
                <p class="bt">您也可以拨打客服电话：</p>
                <p class="tel">{:C('phone')}</p>
                <p class="font12">09:00-19:30</p>
            </div>
        </li>
        <li class="move-left">
            <a href="javascript:" class="move-top"><i class="wx"></i><span>关注<br>微信</span></a>
            <div class="hide-menu2"><img src="{:C('wxgzhewm')}" width="140" height="140"></div>
        </li>
        <!--<li><a href="/contactus.html" class="move-top"><i class="fk"></i><span>意见<br>反馈</span></a></li>-->
        <li><a href="javascript:" data-click="back-top" class="move-top" id="btnTop"><i class="top"></i><span>返回<br>顶部</span></a></li>
    </ul>
</div>
</body>
</html>