<link href="/static1/home/css/common.css" rel="stylesheet"/>
<link href="/static1/home/css/reset.css" rel="stylesheet"/>
<link href="/static1/home/css/index.css" rel="stylesheet"/>
<link href="/static1/home/css/swiper.min.css" rel="stylesheet"/>
    <div class="header" style="position: fixed;z-index: 1918726988;">
        <div class="header-content">
            <a href="/" class="logo" style="left:3%"><img src="{:C('logo')}" width="160" height="50" alt="/"></a>
            <div class="navbar">
                <ul class="clear">
                    <li><a href="/" class="cur"><i class="home"></i>首页</a></li>
                    <li class="relative">
                        <a href="/recycle.html"><i class="card"></i>卡劵回收<em class="arrow"></em></a>
                        <div class="card-drop-menu">
                            <div class="imglist clear">
                            	{volist name="cate_list" id="vo"}
                                <a href="/recycle/type/{$vo.id}.html"><span class="item img1" style="background: url('{$vo.imgs}') no-repeat; background-size:160px 88px;"></span><em>{$vo.name}</em></a>
                                {/volist}
                                <!--
                                <a href="/recycle/type/1.html"><span class="item img2"></span><em>音乐读书卡回收</em></a>
                                <a href="/recycle/type/3.html"><span class="item img3"></span><em>美食出行卡回收</em></a>
                                <a href="/recycle/type/4.html"><span class="item img4"></span><em>电影票劵卡回收</em></a>
                                <a href="/recycle/type/5.html"><span class="item img5"></span><em>其他卡类卡回收</em></a>
                                -->
                                <!--<a href="////video.html"><span class="item img6"></span><em>视频影音卡回收</em></a>-->
                            </div>
                            <div class="hot-search clear" style="overflow: hidden;">
                            	<!--<strong class="left">热门回收：</strong>-->
                            	
                            </div>
                        </div>
                    </li>
                    <li><a href="{:C('djkj')}" target="_blank"><i class="intro"></i>低价卡劵</a></li>
                    <li><a href="/whelp.html"><i class="contact"></i>联系我们</a></li>
                    <li><a href="/member.html"><i class="help"></i>会员中心</a></li>
                </ul>
            </div>
            <div class="oper">
                <ul class="clear">
                	{neq name="login" value="1"}
                    <li id="login_a"><a href="/loginIndex.html" class="cur">登录</a></li>
                    <li id="register_a"><a href="/registered.html">立即注册</a></li>
                    {else/}
                    <li id="user_a" class="relative hide" style="    display: block;">
                        {empty name="$u.qq"}
                        <img class="user-img" src="/static1/home/images/default07.png" width="42" height="41">
                        {else/}
                        <img class="user-img" src="http://q4.qlogo.cn/headimg_dl?dst_uin={$u.qq}&spec=100" width="42" height="41">
                        {/empty}
                        <em class="user-name color399eff">{:empty($u.user)?$u.photo:$u.user}</em>
                        <div class="login-out-drop-menu" style="    padding-top: 14px;">
                            <div class="wrap">
                                <div class="l_bg">
                                    <a href="/member/index" class="member_link">
                                        {empty name="$u.qq"}
                                        <img class="img" src="/static1/home/images/default07.png" width="66" height="66">
                                        {else/}
                                        <img class="img" src="http://q4.qlogo.cn/headimg_dl?dst_uin={$u.qq}&spec=100" width="66" height="66" style="border-radius: 50%;">
                                        {/empty}
                                        <div class="l_info">
                                            <div id="logx_nick">用户名 {:empty($u.user)?$u.photo:$u.user}</div>
                                            <div id="logx_name">用户编号 {$u.id}</div>
                                            <div id="logx_userId">余额 {$u.money}元</div>
                                        </div>
                                        <a href="javascript:void(0)" onclick="loginout()" class="btn logout">安全退出</a>
                                        <a href="/member/index" class="btn member">会员中心</a>
                                    </a>
                                </div>
                                <div id="xshouw">
                                    <a href="/recycle.html" class="ico1"><i></i><span>我要卖卡</span></a>
                                    <a href="{:U('home/order/batchCardIndex')}" class="ico2"><i></i><span>卖卡记录</span></a>
                                    <a href="{:U('home/member/tixian')}" class="ico3"><i></i><span>我要提现</span></a>
                                    <a href="{:U('home/member/recharge')}" class="ico4"><i></i><span>提现记录</span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {/neq}
                    <li class="relative">
                        <a>?</a>
                        <div class="contact-drop-menu">
                            <div class="wrap">
                                <i class="sj"></i>
                                <div class="list">
                                    <a href="/whelp.html"><i class="c1"></i>帮助中心</a>
                                    <a href="/whelp/type/52.html"><i class="c2"></i>卖卡流程</a>
                                    <a href="/cardArticle/type/7.html"><i class="c3"></i>帮助中心</a>
                                </div>
                                <div class="tel">
                                    <p>{:C('phone')}</p>
                                    <p>客服热线</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!-- oper END -->
        </div>
    </div>
    <div style="    height: 65px;"></div>