<!--<div class="main-cont-list fl">-->
<!--						<ul>-->
<!--														<li>-->
<!--								<a href="{:U('home/index/recycle',['type'=>0])}">-->
<!--																		<i class="list-icon-comm icon-iphone"></i>-->
<!--																		<i class="right-arrow"></i>-->
<!--									话费卡回收-->
<!--								</a>-->
<!--							</li>-->
							
<!--														<li>-->
<!--								<a href="{:U('home/index/recycle',['type'=>1])}">-->
<!--																		<i class="list-icon-comm icon-game"></i>-->
<!--																		<i class="right-arrow"></i>-->
<!--									游戏卡回收-->
<!--								</a>-->
<!--							</li>-->
							
<!--														<li>-->
<!--								<a href="{:U('home/index/recycle',['type'=>3])}">-->
<!--																		<i class="list-icon-comm icon-refueling-card"></i>-->
<!--																		<i class="right-arrow"></i>-->
<!--									加油卡回收-->
<!--								</a>-->
<!--							</li>-->
							
<!--														<li>-->
<!--								<a href="{:U('home/index/recycle',['type'=>4])}">-->
<!--																		<i class="list-icon-comm icon-ecommerce-card"></i>-->
<!--																		<i class="right-arrow"></i>-->
<!--									商超卡回收-->
<!--								</a>-->
<!--							</li>-->
							
<!--														<li>-->
<!--								<a href="{:U('home/index/recycle',['type'=>5])}">-->
<!--																		<i class="list-icon-comm icon-video"></i>-->
<!--																		<i class="right-arrow"></i>-->
<!--									视频卡回收-->
<!--								</a>-->
<!--							</li>-->
							
<!--														<li>-->
<!--								<a href="{:U('home/index/recycle',['type'=>6])}">-->
<!--																		<i class="list-icon-comm icon-ebusiness"></i>-->
<!--																		<i class="right-arrow"></i>-->
<!--									电商卡回收-->
<!--								</a>-->
<!--							</li>-->
							
														<!-- <li>
<!--								<i class="small-icon list-icon-comm icon-iphone">-->
<!--								</i>-->
<!--								<i class="right-arrow">-->
<!--								</i>-->
<!--								<a href="javascript:void(0);">话费卡回收</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<i class="small-icon list-icon-comm icon-game">-->
<!--								</i>-->
<!--								<i class="right-arrow">-->
<!--								</i>-->
<!--								<a href="javascript:void(0);">话费卡回收</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<i class="small-icon list-icon-comm icon-refueling-card">-->
<!--								</i>-->
<!--								<i class="right-arrow">-->
<!--								</i>-->
<!--								<a href="javascript:void(0);">话费卡回收</a>-->
<!--							</li> -->
							
<!--							<li>-->
<!--								<a href="{:U('home/index/enterprise')}" target="_blank">-->
<!--									<i class="list-icon-comm icon-enterprise"></i>-->
<!--									<i class="right-arrow"></i>-->
<!--									企&nbsp;业&nbsp;回&nbsp;收-->
<!--								</a>-->
<!--							</li>-->
<!--						</ul>-->
<!--					</div>-->