/*个人中心首页*/
.member-info-box{width: 100%;height: 6.5rem;overflow: hidden;background: url("../../images/index/person_bj.png") no-repeat 0 0;background-size: 100%;}
.member-info-box .navbar{padding: 0;height: 2.2rem;line-height: 2.2rem;}
.member-info-box .navbar .w44{width: 2.6rem;height: 2.2rem;padding: .55rem .75rem;}
.member-info{padding: 0 .75rem;}
.member-info .user-photo{width: 2.75rem;height: 2.75rem;}
.member-info .user-nickname{font-size: 0.8rem;color: #fff;margin: 0.375rem 0 0.25rem 0;}
.member-info .user-nickname .no-nickname{position: relative;padding-right: 1.25rem;}
.member-info .user-nickname .no-nickname:after{display: block;content: '';width: 0.75rem;height: 0.75rem;background: url("../../images/index/system_edit_icon.png") no-repeat 0 0;background-size: 100%;position: absolute;top: 0;right: 0;}
.member-info .user-number{font-size: 0.6rem;color: #fff;}
.member-info .edit{font-size: 0.6rem;color: #fff;margin-right: 0.5rem;margin-top: 0.375rem;}
.member-info .right-arrow{margin-top: 0.375rem;}

#minirefresh{height: auto;top: 6.5rem;bottom: 2.5rem;}
.minirefresh-theme-default .minirefresh-downwrap{top: 0;}
.account-balance-box{border-bottom: 1px solid #ddd;padding: 0.575rem 0.75rem 0.4rem 0.75rem;background: #fff;margin-bottom: 1.075rem;}
.account-balance-tit{font-size: 0.7rem;color: #333;position: relative;padding-left: 2rem;line-height: 1.25rem;margin-bottom: 0.725rem;}
.account-balance-tit:before{display: block;content: '';width: 1.25rem;height: 1.25rem;background: url("../../images/index/list_menu_money.png") no-repeat 0 0;background-size: 100%;position: absolute;top: 0;left: 0;}
.account-balance-con .balance{float:left;font-size: 1.25rem;color: #ff7800;margin-left: 1.8rem;}
.account-balance-con .btn{float:right;font-size: 0.65rem;padding: 0.15rem 0.5rem;vertical-align: top;margin-top: 0.25rem;}

.member-modules-box{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 0 0 0 .75rem;background: #fff;}
.modules-item{border-bottom: 1px solid #ddd;padding: 0.575rem 0.75rem 0.575rem 0;cursor: pointer;}
.modules-item:last-child{border-bottom: 0;}
.modules-item .media-body{line-height: 1.1rem;}
.modules-item .left-txt{font-size: 0.7rem;color: #333;}
.modules-item .right-txt{font-size: 0.6rem;color: #999;margin-right: 0.8rem;}

.user-level{display: inline-block;height: 0.85rem;line-height: 0.85rem;background: #444656;border: 1px solid #d2bb6c;border-radius: 0.375rem;font-size: 0.45rem;color: #f0e4ae;padding: 0 0.45rem;text-align: center;overflow: hidden;}
.level-ico{position: relative;padding-left: 1.1rem;}
.level-ico:before{display: block;content: "";position: absolute;top: 0.1rem;left: 0.45rem;z-index: 10;width: 0.45rem;height: 0.45rem;background: url("../../images/invite/user_rank_icon.png") no-repeat 0 0;background-size: 100%;}
.level-rules-entry{position: absolute;bottom: 0.6rem;right: 0;z-index: 10;height: 1.35rem;line-height:1.35rem;background: #444656;font-size: 0.6rem;color: #f0e4ae;border-radius: 0.675rem 0 0 0.675rem;padding-right: 0.2rem;padding-left: 0.6rem;text-align: right;}

.top-prompt~#minirefresh{top: 8.35rem;}
.top-prompt~#minirefresh .minirefresh-downwrap{top: 0;}
