@charset"utf8";
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,fieldset,button,input,textarea,th,td{margin:0;padding:0;}
body{background-color:#FFF;}
body,button,input,select,textarea,fieldset,label{font:12px/1.5 "\5FAE\8F6F\96C5\9ED1",'Microsoft Yahei';color:#666;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ul,ol{list-style:none;}
fieldset,img{border:0 none;}
img{-ms-interpolation-mode:bicubic;color:#999;}
cite,strong,em,i,dfn,address,var{font-style:normal;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
input,select,textarea,button{font-size:100%;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
button,input[type=button],input[type=submit]{cursor:pointer;}
input[type=search]{-webkit-appearance:textfield;}
textarea{overflow-y:auto;resize:vertical;}
.clear,.clrfix{zoom:1;}
.gray3{ color:#333;}
.gray6{ color:#666;}
.gray9{ color:#999;font-size: 16px;}
.red{ color:#ff6558;}
.txt_blue{ color: #50cdff;}
.txt_orange{ color: #ff7200;}
.clear:after,.clrfix:after{content:' ';display:block;clear:both;height:0;visibility:hidden;}
.hidden,.hide{display:none;}
a{text-decoration:none; outline:none; blr:expression(this.onFocus=this.blur());}
a:focus{outline:none;-moz-outline:none;}
*html,*html body{background-image:url(about:blank);background-attachment:fixed;}
.fl{float:left;}.fr{float:right;}
.bgf6{ background: #f6f7fb; }
/*公共的颜色*/
.txt-blue{ color: #27baff; }
.txt-red{ color: #d25851; }
.txt-orange{ color: #ff7200; }
.txt-brown{ color: #d25851; }

/*icon引入*/
.max-icon{ background: url(../../images/index/recycle2_ico.png) no-repeat; }
.max-icon2{ background: url(/static/home/images/common/mix-icon.png) no-repeat; }
.small-icon{ background: url(../../images/common/icon-24.png) no-repeat; }
.comm-icon{ background: url(../../images/common/com-icon.png) no-repeat; }
/*头部样式*/
.warp{ width: 100%; height: auto; min-width: 1320px;}
.header{ width: 100%; height: auto; }
.w1320{ width: 1320px; margin: 0 auto; }
.head-top{ background: #f5f5f5; font-size: 14px; }
.head-top a.head-top-left{ color: #27baff; padding-left: 20px; }
.head-top li{ float: left; }
.head-top li.site-nav-pipe{ margin: 0 10px; list-style: none;border-style: none; color: #dddddd;}
.head-top li.site-nav-help{ width: 48px;  text-align: right; position: relative; cursor: pointer; }
.head-top li.site-nav-help i.max-icon{ width: 14px; height: 14px; display: block; position: absolute; }
.head-top li.site-nav-help i.doubt-icon{ background-position:-301px -78px; top: 10px; }
.head-top li.site-nav-help .site-help-btn{color: #808080; }
.head-top li.site-nav-help.site-nav-block .site-help-btn{ color:#27baff;  }
.head-top li.site-nav-help.site-nav-block i.doubt-icon{ background-position:-301px -102px; }
.head-top li.site-nav-help.site-nav-block .site-help-box{ display: block; }
.head-top li.txt-blue{ line-height: 34px; cursor: pointer; position: relative; }
.head-top li.txt-blue img.login-img{float: left; width: 28px; height: 28px; border-radius: 20px; margin-top: 2px; }
.head-top li.txt-blue i{ margin-left: 6px; height: 34px; line-height: 34px; display: block; float: left; }
/*登陆之后的效果*/
.head-top li.txt-blue .login-comm-main{ width: 300px; position: absolute; top: 34px; left: -108px; z-index:99; }
.head-top li.txt-blue.nav-user-block .login-float-box{ display: block; }
.login-float-box{ display: none; margin-top: 8px; padding: 0 24px; background: #fff; border: 1px solid #ddd; border-radius: 6px;  }
.head-top li.txt-blue .login-user{ width: 100%; margin-top: 17px; display: block; overflow: hidden; z-index: 999; }
.head-top li.txt-blue .login-user .login-user-left{ width: 84px; height: 84px; overflow: hidden; float: left;  }
.head-top li.txt-blue .login-user .login-user-left img{ width: 84px; height: 84px; border-radius: 200px; }
.head-top li.txt-blue .login-user .login-user-right{ width: 153px; float: left; margin-left: 13px; }
.head-top li.txt-blue .login-user .login-user-right p{ line-height: 25px; }
.head-top li.txt-blue .login-user .login-user-right p.login-right-txt{ color: #999999;  } 
.login-comm-main .login-user-up { position: absolute; top: 2px; right: 174px;        width:0px;       height:0px;         border-left:6px solid transparent;         border-right:6px solid transparent;         border-bottom:6px solid #ddd;         font-size:0px;         line-height:0px;       margin: 0 auto;   } 
.login-comm-main .login-card-btn{ height: 52px; line-height: 52px; border-top: 1px dashed #ddd; margin-top: 10px; }
.login-comm-main .login-card-btn a{ color: #666666; width: 120px; height: 50px; text-align: center; font-size: 14px; line-height: 50px; display: block; float: left; }
.login-comm-main .login-card-btn a:hover{ color: #27baff; }
.login-comm-main .login-card-btn span{ color: #ddd; width: 1px; }
.login-comm-main .login-right-btn{ height: 50px; line-height: 50px; border-top: 1px dashed #ddd; }
.login-comm-main .login-right-btn a{ color: #999; width: 33%; height: 50px; text-align: center; font-size: 14px; line-height: 50px; display: block; float: left;}
.login-comm-main .login-right-btn a:hover{ color: #27baff; }
.login-comm-main .login-right-btn span{ width: 1px; color: #ddd; }
.site-help-box{ display: none; width: 188px; right: 2px;  position: absolute; top: 34px; z-index: 999; }
.site-help-hidden{padding:0 24px;  overflow: hidden; background: #fff; border: 1px solid #ddd;  }
.site-arrow-up { position: absolute; top: -6px; right: 28px;        width:0px;       height:0px;         border-left:6px solid transparent;         border-right:6px solid transparent;         border-bottom:6px solid #ddd;         font-size:0px;         line-height:0px;       margin: 0 auto;   } 
.site-help-btn{ overflow: hidden; margin: 10px 0; }
.site-help-box a{ color: #666666; }
.site-help-box a:hover{ color: #27baff; }
.site-help-box span{ padding-left: 10px; }
.site-help-hotline{ overflow: hidden; border-top: 1px dashed #ddd; text-align: center; z-index: 999; }
.site-help-hotline p{ font-size: 14px; height: 30px; }
.site-help-hotline p.txt-red{ font-size: 12px; }
.site-help-hotline a{ color:#27baff; line-height: 40px;  }
.head-logo{ width: 100%; height: 78px; background: #fff; }
.head-logo .logo{ width: 135px; height: 38px; }
.head-nav{width: 100%; height: 48px; line-height: 48px; background: #27baff; }
.head-nav .head-view-con{ width: 240px; height: 48px; background: #f16d60; color: #fff; text-align: center;}
.head-nav .head-view-tit{ display: inline-block;height: 48px; position: relative;padding-left: 34px;font-size: 16px; }
.head-nav .head-view-tit:before{content: "";display: block;position: absolute;top: 12px;left: 0;z-index: 10;width: 24px;height: 24px;background: url(../../images/common/icon-24.png) no-repeat -34px -68px;}
.head-nav .head-view-list{ padding-left: 80px; color: #fff; font-size: 16px; } 
.head-nav .head-view-list li{ float:left; position: relative; }
.head-nav .head-view-list li a{ width: 100px; text-align: center;    display: block;  color: #fff;}
.head-nav .head-view-list li.active span{ width: 4px; height: 14px; top: 17px; left: 22px; background: #fff; display: block; position: absolute; }
/*尾部样式*/
.footer{ width: 100%; border-top: 1px solid #dddddd; background: #fff; overflow: hidden; }
.footer-list-cont{ height: auto; overflow: hidden;}
.footer-list-cont .footer-list{ width: 456px; font-size: 14px;  }
.footer-list-cont .footer-list dl{ margin-bottom: 30px; }
.footer-list-cont .footer-list dt{ margin-top: 10px; color: #666; font-weight: 600; }
.footer-list-cont .footer-list dd{ margin-top: 20px; }
.footer-list-cont .footer-list dd a{ color: #999; }
.footer-list-cont .footer-list dd a:hover{ color: #27baff; }
.footer-list-cont .footer-follow{ width: 200px; overflow: hidden; }
.footer-follow-box{ width: 102px; margin-right: 58px; }
.footer-follow-box .footer-follow-tit{ height: 48px; line-height: 48px; text-align: center; font-size: 14px; }
.footer-follow-box .footer-follow-img{ width: 100px; height: 100px; border:1px solid #27baff;}
.footer-follow-box .footer-follow-img img{ width: 100px; height: 100px;  }
.footer-bottom{text-align: center;font-size: 14px;color: #999999;width: 100%;height: 82px;line-height: 82px; }
/*客服跟返回顶部*/
.float-warp{position: fixed;right: 1px;top: 50%;margin-top: -100px;z-index: 100;}
.service-float{ width: 84px; height: 142px; background: url(../../images/common/kefu-icon.png) no-repeat; }
.service-float a{ width: 100px; height: 140px; display: block; }
.service-float .service-know{ display: none; width: 140px; border-right: 4px; position: absolute; top: 56px; left: -180px; padding: 15px; background: #ffebeb; border: 1px solid #faccc6;  }
.service-float .service-arrow-right { display: none; position: absolute; left: -10px; top: 92px;      width:0px;        height:0px;        border-bottom:10px solid transparent;         border-top:10px solid transparent;         border-left:10px solid #ffebeb;         font-size:0px;         line-height:0px;    }
.service-float.service-float-block .service-know{ display: block; }
.service-float.service-float-block .service-arrow-right{ display: block; }
.back-top{ display: none;width: 84px; height: 84px; background: url(../../images/common/top.png) no-repeat; }
.back-top a{ width: 100px; height: 100px; display: block; margin-top: 280px; }
/* 面包屑导航 */
.comm-main{ width: 100%; height: auto; overflow: hidden; background: #f9fafe; }
.crumbs-main{  overflow: hidden; padding-bottom: 10px; color: #999999; }
.crumbs-main-box{  overflow: hidden; padding: 20px 0; color: #999999; }
.crumbs-main-box a{ color: #999999; font-size: 14px; }
.crumbs-main-box a:hover{ color: #27baff; }
.box-shadow-com{     -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1); box-shadow: 0 15px 30px rgba(0,0,0,0.1);}
/*分页*/
.pageing-cont{ padding: 50px 0; overflow: hidden; }
.g-pagination span a:hover {	border: 1px solid #27baff;	color: #27baff;}
.w-paging{ overflow:hidden;}
.g-pagination{    clear: both;   text-align: center;    font-size: 14px;   height: 31px;  }
.g-pagination span{   height: 30px; line-height: 30px;  color: #999;  margin: 0 4px;   padding: 50px 0;}
.g-pagination span.f-noClick a{    color: #cbcbcb;    background: #f4f4f4;    cursor: default;}
.g-pagination span a{display: inline-block;  border-radius: 4px;   height: 29px;   line-height: 29px;   text-align: center;    color: #999;    padding: 0 10px;    border: 1px solid #e4e4e4; cursor: pointer;	text-decoration:none;}
.g-pagination span.current02 a{background: #27baff;   border: 1px solid #27baff;   color: #fff;   font-weight: bold;}
.f-mar-left{margin-left: 10px!important;}
.g-pagination span input{border-width: 1px;   border-style: solid;   border-color: #bfbfbf #e6e6e6 #e6e6e6 #bfbfbf;   width: 45px;   height: 29px;  line-height: 29px;   text-align: center;   margin-right: 3px;   background: #f9f9f9;  color: #9d9d9d;   position: relative;}
.w-list-back{display: inline-block; zoom: 1;}
.f-tran{font-family: "\5b8b\4f53";}
.g-pagination span.f-noClick a:hover{     border: 1px solid #e4e4e4;}
.g-pagination span a.page-sure{ background: #27baff; color: #fff; border: 1px solid #27baff; }
/*底部图标*/
.footer-href{  overflow: hidden;  border-top: 1px solid #ddd;  }
.footer-href-main{ width: 1020px; margin: 0 auto; overflow: hidden; }
.footer-href .footer-href-btn{ width: 130px; height: 50px; float: left; color: #999999; border-radius: 4px; border: 1px solid #dddddd; display: block; margin: 20px 0; margin-right: 13px; }
.footer-href .footer-href-img{ width: 32px; height: 32px; float: left; margin-top: 10px; margin-left: 12px; }
.footer-href .footer-href-btn p{ float: left; padding-left: 10px; line-height: 20px; padding-top: 8px; }
.footer-href .business-authen{border: none;height: 52px;}
.footer-href .business-authen img{width: 130px;height: 52px;}

/*------ 销卡导航公共部分 start ------*/
.main-cont-list{width: 240px;height: 426px;background: #fff;border-bottom: 1px solid #ddd;}
.main-cont-list ul li{cursor: pointer;padding: 6px 0;border-bottom: 1px solid #f2f2f2;font-size: 16px;}
.main-cont-list ul li:last-child{border-bottom: 0;}
.main-cont-list ul li a{position: relative;display: block;padding-left: 32px;line-height: 48px;color: #8d8b89;text-align: center;}
.main-cont-list ul li a:after{content: "";display: none;position: absolute;top: 0;right: -14px;z-index: 10;width:0;height:0;border-width:24px 0 24px 14px;border-style:solid;border-color:transparent transparent transparent #5199ff;}

.main-cont-list ul li .list-icon-comm{display: block;width: 24px;height: 24px;background: url(../../images/common/nav-recycle-icon.png) no-repeat 0 0;position: absolute;left: 64px;top: 12px;}
.main-cont-list ul li .icon-iphone{background-position: 0 0;}
.main-cont-list ul li .icon-game{background-position: 0 -68px;}
.main-cont-list ul li .icon-refueling-card{background-position:0 -34px;}
.main-cont-list ul li .icon-ecommerce-card{background-position:0 -102px;}
.main-cont-list ul li .icon-enterprise{background-position: 0 -136px;}
.main-cont-list ul li .icon-video{background-position: 0 -170px;}
.main-cont-list ul li .icon-ebusiness{background-position: 0 -204px;}

.main-cont-list ul li.active a{background: #5199ff;color: #fff;}
.main-cont-list ul li.active a:after{display: block;}
.main-cont-list ul li.active .icon-iphone{background-position: -34px 0;}
.main-cont-list ul li.active .icon-game{background-position: -34px -68px;}
.main-cont-list ul li.active .icon-refueling-card{background-position: -34px -34px;}
.main-cont-list ul li.active .icon-ecommerce-card{background-position: -34px -102px;}
.main-cont-list ul li.active .icon-enterprise{background-position: -34px -136px;}
.main-cont-list ul li.active .icon-video{background-position: -34px -170px;}
.main-cont-list ul li.active .icon-ebusiness{background-position: -34px -204px;}
.main-cont-list ul li .right-arrow{display: none;width: 12px;height: 12px;background: url(../../images/common/left1.png) no-repeat -29px -2px;position: absolute;right: 0;top: 18px;}
.main-cont-list ul li.active .right-arrow{display: block;}

.head-view-sort{display: none; width: 100%; position: relative; z-index: 999; cursor: pointer; }
.head-view-sort .main-cont-list {width: 238px;height: auto;border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 0;box-shadow: 0 10px 15px rgba(0,0,0,0.3);}
/*------ 销卡导航公共部分 end ------*/


/*修改导航条*/
.head-nav .head-view-list li.active{ background: url(../../images/common/cover.png) repeat-x;  }

.common-big-footer .footer-bottom{font-size:13px;height:20px;line-height:20px;margin-bottom:20px;}
.common-small-footer .text-center{text-align:center;padding:15px 0 15px 0;}
.common-small-footer .text-center .line a{padding:0 10px 0 5px;color:gray;}
.common-small-footer .text-center .line a:hover{color: #27baff;}
.common-small-footer .footer-bottom{font-size:13px;height:40px;line-height:40px;}

.header .head-top .welcome{color:#808080;}
.header .head-logo .right-con{padding-top:30px;font-size: 14px;}
.head-top .site-help-box .work-time{font-size:0.5em}
/*修改*/
.head-top a.head-top-left:hover{ color: #00a6e8; text-decoration:underline; }
.head-top li a.txt-blue:hover{ color: #00a6e8; text-decoration:underline; }
.head-top li a.txt-red:hover{ color: #c4524b; text-decoration:underline; }
.header .head-logo .right-con a:hover{color: #00a6e8; text-decoration:underline;}
.hot-ico{background-image: url(../../images/common/new.gif);background-size: 100%;width: 35px;height: 14px;position: absolute;right: 0;top: 0;}

.no-allowed{
    background: #ddd!important;
    cursor: not-allowed!important;
}

input::-webkit-input-placeholder{
    color: #999!important;
    opacity: 1;
}
input:-moz-placeholder{/* Mozilla Firefox 4 to 18*/
    color: #999!important;
    opacity: 1;
}
input::-moz-placeholder{/* Mozilla Firefox 19+*/
    color: #999!important;
    opacity: 1;
}
input:-ms-input-placeholder{/* Internet Explorer 10+*/
    color: #999!important;
    opacity: 1;
}
input::placeholder{
    color: #999!important;
    opacity: 1;
}

.top-prompt{background: #fde4bc;}
.top-prompt .left-part{width: 85%;height: 100%;overflow: hidden;}
.top-prompt .left-part span{display: inline-block;max-width: 85%;height: 100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.top-prompt .view-detail-btn{margin-left: 20px;}
.top-prompt .close-btn{display: block;cursor: pointer;width: 20px;height: 20px;background: url(../../images/common/close_sw_icon.png) no-repeat;background-size: 100%;margin-top: 7px;}
