/**
 * date： 2018-1-8 11:06:36
 * author： lxf
 * description: 公共样式
 */
ul, ol{list-style: none;}
strong, em, i{font-style: normal;font-weight: normal;}

/*文字*/
.color80{color:#808080;}
.color333{color:#333;}
.color666{color:#666;}
.color999{color:#999;}
.text-center{text-align: center}
.text-red{color:#d25851}
.text-blue{color: #27baff;}
.text-dark-blue{color: #1a7bb9;}
a.text-blue:hover{color: #27baff; text-decoration: underline;}
.text-orange{color: #ff7200;}
.text-green{color: #0bbf06;}
a.text-green.text-underline:hover, a.text-green.text-underline:focus{color: #0bbf06; text-decoration: underline;}
.text-dark-green{color: #729600;}
.color_f00{color: #f00;}

.font14{font-size: 14px!important;}
.font16{font-size: 16px!important;}
.font20{font-size: 20px!important;}

/*按钮*/
.btn, .btn:hover, .btn:focus, .btn:active{outline: none!important;}
.btn-w-80{min-width: 80px;}
.btn-w-m72{min-width: 72px;}
.btn-green{background-color: #8cb800;border-color: #8cb800;color: #FFF;}
.btn-green:hover, .btn-green:focus{background-color: #769300;border-color: #769300;color: #FFF;}
.btn-blue{background-color: #27baff;border-color: #27baff;color: #FFF;}
.btn-blue:hover, .btn-blue:focus{background-color: #00a6e8;border-color: #00a6e8;color: #FFF;}
.btn-red{background-color: #f16d60;border-color: #f16d60;color: #FFFFFF;}
.btn-red:hover, .btn-red:focus{background-color: #d76257;border-color: #d76257;color: #FFF;}
.btn-w-full{width: 100%;}

/*间距*/
.m-r-14{margin-right: 14px;}
.m-r-100{margin-right: 100px;}
.pt5{padding-top: 5px !important;}
.pt20{padding-top: 20px !important;}
.p-l-r-10{padding:0 10px;}

.border-none{border: 0!important;}

.ellipsis{overflow: hidden;text-overflow: ellipsis;word-wrap: normal;white-space: nowrap;}

.layui-layer-btn{text-align: center!important;}


/*图标*/
.ico14{position: absolute;width: 14px;height: 14px;background: url(../../images/common/mix-icon.png) no-repeat;}
.ico24{position: absolute;width: 24px;height: 24px;background: url(../../images/common/icon-24.png) no-repeat;}

/*分割线*/
.sep{padding: 0 10px;font-family: simsun;opacity: .5;filter: alpha(opacity=50);font-size: 85%;}

.dropdown-menu{pointer-events: auto;font-size: 14px;border: 1px solid;border-color: #ddd;border-color: rgba(255,255,255,0);background-color: #fff;box-shadow: 0 3px 15px rgba(0,0,0,0.2);}

iframe{position: relative;}
.gray-bg{background: #f9fafe;}
.wrapper-content{padding:24px;}

/*表单*/
span.form-control{padding: 6px 0;}
.form-control.noBorder{border: 0;}
.text-underline{text-decoration: underline;}
.form-group .right_red_tip{line-height: 34px;color: #f00;}

/*查询*/
.search-toolbar{margin-bottom:10px;}
.search-toolbar .form-group{margin-right:30px;margin-bottom: 10px;}
.search-toolbar .form-group label{min-width: 60px;font-size: 15px;margin-right: 5px;color: #666;}
.search-toolbar .button-group .btn{background: #fff;border-color: #ddd;font-size:13px;color:#666;width: 70px;height: 34px;margin-right: 10px;outline: none;}
.search-toolbar .btn-primary{background-color: #27baff!important;border-color: #27baff!important;color: #FFFFFF!important;}
.search-toolbar .btn-red{background-color: #f16d60!important;border-color: #f16d60!important;color: #FFFFFF!important;}
.form-control.laydate-icon{padding-right: 30px;}

/*表格*/
.table tbody, .table tfoot{background: #fff;}
tr.empty td .ico{display: block;width: 50px;height: 50px;background: url(../../images/common/no-card-icon.png) no-repeat;margin: 50px auto 20px;}
tr.empty td span{display: block;margin-bottom: 100px;color: #999;font-size: 14px;}
table.dataTable thead .sorting, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc{background-color: #f5f5f6!important;}
table.space-l-30 th, table.space-l-30 td{padding-left: 30px!important;}

/*分页*/
.myPager .dropup .dropdown-toggle{padding:1px 12px;margin: -2px 3px 0 3px;}
.myPager .pagination{margin:0;}
.myPager .pagination > li > a, .myPager .pagination > li > span{line-height: 1;}
.myPager .pagination .target-page{width:40px;text-align: center;border: 1px solid #ddd;}
.myPager .pagination .btn-white{float:right;margin-left:3px;}

/*详情页面*/
.panel-body{padding:30px 15px 40px 15px;}
span.btn-green:hover{background-color: #8cb800;border-color: #8cb800;color: #FFF;}
.panel-default>.panel-heading{font-size: 18px;}
.content-part{line-height: 40px;}
.content-part p{margin:0;}

.box{border: 1px solid #ddd;background-color: #fff;border-radius: 3px;}
.return{position: relative;padding-left: 24px;text-decoration: underline;cursor: pointer;font-size: 14px;color: #27baff;}
.return:before{content: "";position: absolute;top:2px;left:0;width: 20px;height: 16px;background: url(../../images/common/com-icon.png) no-repeat 0 -118px;}

.center-box{float: none;margin: 0 auto;text-align: center;}
.pos-rela{position: relative!important;padding-right: 35px;}
.edit{position: absolute;top:0;right:0;width: 18px;height: 18px;background: url(../../images/common/com-icon.png) no-repeat -30px -116px;font-size: 0;}
.height-auto{height: auto!important;}
.inmodal .modal-header{padding: 10px 15px;text-align: left;}
.inmodal .modal-title{font-size: 16px;color: #999;font-weight: 500;}
.modal-footer{border-top: 0;background: #f8fafb;text-align: center;padding: 0 30px 30px 30px;}

.layer-content-form .control-label{width: 25%;float: left;padding-top: 7px;text-align: right;}
.layer-content-form .col-sm{float: left;width: 60%;padding-right: 15px;padding-left: 15px;}
.layer-content-form .col-sm-162{width: 162px;}
.layer-content-form .col-sm-110{width: 110px;padding:0;}

.d-inline-block{display: inline-block;}
.gray-box{background: #f5f5f6;padding: 20px 30px;border-left: 1px solid #ddd;border-right: 1px solid #ddd;}
.alert-yellow{color: #666;background-color: #fffbe3;border-color: #ffdd99;border-radius: 0 0 4px 4px;padding: 20px 30px 34px;}
.invite-link-box{margin-top: 16px;}
.link-box{display: inline-block;min-width: 680px;height: 50px;line-height: 50px;background: #fffff2;border: 1px solid #ffdd99;padding: 0 15px 0 18px;margin-right: 18px;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;}
input.link-box{cursor: text;-moz-user-select: text;-webkit-user-select: text;-ms-user-select: text;user-select: text;}

#side-menu .nav-second-level li a{padding-left: 70px;}
#side-menu .arrow{margin-top: 5px;}

/*二维码*/
.codeBox_Img{width: 230px;height: 230px;margin: 20px auto;}
.codeBox_Img img{width: 100%;height: 100%;}

.copy-btn{cursor: pointer;}
