.box-caption{padding: 29px 30px 30px 30px;font-size: 22px;font-weight: 300;border-radius: 3px 3px 0 0;}
.box-caption h2{font-size: 22px;color:#333;margin: 0;}
.alert-info{background: #e9fdff;color: #27baff;font-size: 14px;margin-top: -1px;border: 1px solid #def2f4;border-radius: 0 0 3px 3px;box-shadow: 0 6px 15px rgba(0,0,0,0.1);}
.sell-card-detail .sell-card{position: relative;padding: 10px 18px 9px 48px;font-size: 18px;}
.sell-card-detail .sell-card-ico{position: absolute;top: 14px;left: 22px;width: 22px;height: 18px;background-image: url(../../images/common/com-icon.png);background-position: -179px -88px;}
.sell-card-detail .submit-card-ico{position: absolute;top: 14px;left: 22px;width: 20px;height: 20px;background-image: url(../../images/common/com-icon.png);background-position: -60px -116px;}