{extend name="layout/user"}
{block name="css"}
<link href="__CSS__/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>	
<link href="__CSS__/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>	
{/block}
{block name="text"}
 <div class="page-inner">
     <div class="page-title">
                <h3 class="breadcrumb-header">收单记录</h3>
        </div>
	<div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                   <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">收单记录</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="apis" class="display table" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                                <tr>
                                                    <td>序号</td>
													<td>支付单号</td>
													<td>商户订单</td>
													<td>支付方式</td>
													<td>充值金额</td>
													<td>实际到账</td>
													<td>手续费</td>
													<td>订单状态</td>
													<td>充值时间</td>
													<td>回调地址</td>
													<td>回调信息</td>
													<td>收款账号</td>
													<td>操作</td>
                                                </tr>
                                            </thead>
											<tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                      </div>
			   </div>

		</div>
	</div>

{/block}
{block name="js"}
{include file="layout/footda"/}
<script>
function fuzhi(q){
  var str=$(q).attr('data-original-title'),t=copyText(str),msg=t ? "复制成功！" : "复制失败！";
  layer.msg(msg);
}
function copyText(text) {
    var textarea = document.createElement("textarea");
    var currentFocus = document.activeElement;
    document.body.appendChild(textarea);
    textarea.value = text;
    textarea.focus();
    if (textarea.setSelectionRange)
        textarea.setSelectionRange(0, textarea.value.length);
    else
        textarea.select();
    try {
        var flag = document.execCommand("copy");
    } catch(eo){
        var flag = false;
    }
    document.body.removeChild(textarea);
    currentFocus.focus();
    return flag;
}
$(function(){
    $('#apis').DataTable({
        'language': {
            "url": url
        },
		"fnInitComplete": function (oSettings, json) {
			$('.btn-xs').each(function () {
				$(this).tooltip();
			})
        },
		"columnDefs": [
                    {
                        "targets": -1,
                        "render": function ( data, type, full, meta ) {
                            return "<button type = 'button' class='btn btn-success' id = 'editButton' ><i class='fa fa-edit'></i> 手动回调</button>  <button type = 'button' class='btn btn-danger' id = 'delButton' ><i class='fa fa-close'></i> 删除</button>";
                        }
                    },
					{
					 "targets":9,
					 "render": function ( data, type, full, meta ) {
					        var qt=full.return,ht=full.notify;
							if(qt=="")qt="没有数据";
						    if(ht=="" || ht==null)ht="没有数据";
                            return "<button type = 'button' class='btn btn-default btn-xs' onclick='fuzhi(this)'  data-toggle='tooltip' title='"+qt+"' >前台地址</button><button type = 'button' class='btn btn-default btn-xs' onclick='fuzhi(this)' data-toggle='tooltip' title='"+ht+"' >后台地址</button>";
					   }
					},
					{
					 "targets":10,
					 "render": function ( data, type, full, meta ) {
					          
					        if(data!="" && data!=null){
								 if(data.length>7){
									data=data.substr(0,7)+"...";
								 }
							 }
                            return data;
					   }
					}
                ],
		"pagingType": "full_numbers",
		"serverSide":true,
		"order": [[ 0, 'desc' ]],
		"ajax": "",
	    "columns": [
		    { "data": "id" },
			{ "data": "out_trade_no" ,"bSortable": false},
			{ "data": "order" },
			{ "data": "type" },
			{ "data": "money" },
			{ "data": "price" },
			{ "data": "fl" },
			{ "data": "status" },
			{ "data": "addtime" },
			{ "data": null,"bSortable": false},
			{ "data": "count" ,"bSortable": false},
			{ "data": "account"},
			{ "data": null,"bSortable": false}

		]		
	});
	$("#apis tbody").on("click", "#editButton", function () {
	  var row = $("table#apis tr").index($(this).closest("tr"));
      var name = $("table#apis").find("tr").eq(row).find("td").eq(0).text();
	  var idd=layer.load(1);
	  $.post("{:U('home/mianqian/fanhui')}",{id:name},function(e){
	                 layer.close(idd);
				   if(e.code==1){
					    layer.alert(e.msg, {icon: 1,skin: 'layer-ext-moon'},function(index){
					    layer.close(index);
						var table = $('#apis').DataTable();
                        table.draw(false);
					   })
					}else{
					 layer.alert(e.msg, {icon: 2,skin: 'layer-ext-moon'})
					}
		 })
	  
	})
	$("#apis tbody").on("click", "#delButton", function () {
	    var row = $("table#apis tr").index($(this).closest("tr"));
        var name = $("table#apis").find("tr").eq(row).find("td").eq(0).text();
		layer.confirm('确定删除吗？', {
					  btn: ['确定删除','算了'] //按钮
					}, function(){
	    $.post("{:U('home/mianqian/uplDel')}",{id:name,tab:'pay'},function(e){
				   if(e.code==1){
					    layer.alert(e.msg, {icon: 1,skin: 'layer-ext-moon'},function(index){
					    layer.close(index);
						var table = $('#apis').DataTable();
                        table.draw(false);
					   })
					}else{
					 layer.alert(e.msg, {icon: 2,skin: 'layer-ext-moon'})
					}
		 })
		})
	})
 })
</script>

{/block}