{extend name="layout/user"}
{block name="css"}
<link href="__CSS__/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>	
<link href="__CSS__/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>	
{/block}
{block name="text"}
 <div class="page-inner">
     <div class="page-title">
                <h3 class="breadcrumb-header">收单统计</h3>
        </div>
	<div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                   <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">收单统计</h4>
                                </div>
								<div class="panel">
								<button type="button" class="btn btn-danger">总金额：{$d.np}</button>
								<button type="button" class="btn btn-default">总手续：{$d.nf}</button>
								<button type="button" class="btn btn-primary">总盈利：{$d.yl}</button>
								</div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="tics" class="display table" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                                <tr>
                                                    <td>序号</td>
													<td>日期</td>
													<td>收单金额</td>
													<td>收单笔数</td>
													<td>成功金额</td>
													<td>成功笔数</td>
													<td>手续费</td>
													<td>盈利</td>
                                                </tr>
                                            </thead>
											<tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                      </div>
			   </div>

		</div>
	</div>

{/block}
{block name="js"}
{include file="layout/footda"/}
<script>
var table;
$(function(){
      table=$('#tics').DataTable({
        'language': {
            "url": url
        },
		"columnDefs": [
                    {
                        "targets": 2,
                        "render": function ( data ) {
                            return "<span class='text-danger'>￥"+data+"</span>";
                        }
                    },
					{
					 "targets":3,
					 "render": function ( data ) {
                            return "<span class='text-primary'>"+data+"</span>";
					   }
					},
					{
					  "targets":4,
					 "render": function ( data ) {
                            return "<span style='color:#ea4c89'>￥"+data+"</span>";
					   }
					}
					,
					{
					  "targets":5,
					 "render": function ( data ) {
                            return "<span class='text-success'>"+data+"</span>";
					   }
					},
					{
					  "targets":6,
					 "render": function ( data ) {
                            return "<span style='color:#FF0084'>￥"+data+"</span>";
					   }
					},
					{
					  "targets":7,
					 "render": function ( data ) {
                            return "<span style='color:#FF0084'>￥"+data+"</span>";
					   }
					}
                ],
		"order": [[ 1, "desc" ]],
		"pagingType": "full_numbers",
		"serverSide":true,
		"processing": true,
		"ajax": "",
	    "columns": [
		    { "data": "id","bSortable": false },
			{ "data": "addtime"},
			{ "data": "nummoney" ,"bSortable": false},
			{ "data": "numcount" ,"bSortable": false},
			{ "data": "oknum" ,"bSortable": false},
			{ "data": "okcount" ,"bSortable": false},
			{ "data": "fl","bSortable": false },
			{ "data": "yl" ,"bSortable": false}
		]
	});
 });
 </script>
{/block}