<link rel="stylesheet" type="text/css" href="__CSS__/webuploader.css" />
<script src="__JS__/jquery-1.10.2.min.js?v=115"></script>
<script src="__JS__/webuploader.min.js"></script>
<script src="__JS__/webuploader.js"></script>
<body>

	  		<div class="uploader-list-container" >
		   <div class="queueList">
			  <div id="dndArea" class="placeholder">
			  <input type="hidden" id="id" value='{$id}'>
				 <div id="filePicker-2"></div>
				 <p>或将照片拖到这里，单次最多可选5张</p>
			  </div>
		   </div>
		   <div class="statusBar" style="display:none;">
			  <div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>
			  <div class="info"></div>
			  <div class="btns">
				 <div id="filePicker2"></div>
				 <div class="uploadBtn">开始上传</div>
			  </div>
		   </div>
		</div>

</body>
<script src="__JS__/upda.js?v=20"></script>