{include file="public/heard"}
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">数据中心</a>
            <a>
              <cite>更新日志</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                          更新日志
                        </div>
                        <div class="layui-card-body ">
                          <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2019-03-30</h3>
                                <p>
                                  修改 x_admin_show 弹出窗口实现最大化，默认窗口非最大化，如果需要弹出窗口最大化，在最后一个参数传 true <br>  

                                  修复x_admin_add_to_tab 函数bug，在多个页面切换过程的报错。<br>

                                  x_admin_show(title,url,w,h,full=false)
                                </p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2019-03-19</h3>
                                <p>增加非菜单打开tab函数 x_admin_add_to_tab(title,url,is_refresh) titel为tab标题,url为打开页面地址,is_refresh 可选参数，重复点击是否刷新，默认为false不刷新,true为重复点击刷新页面<br>
用法:<br>
index.html 中直接 x_admin_add_to_tab('在tab打开','http://www.baidu.com',true)<br>
iframe页面中  用 parent.x_admin_add_to_tab('在tab打开','http://www.163.com',true)</p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2019-03-07</h3>
                                <p>
                                  是否开启刷新记忆tab功能, 通过index 页面增加 var is_remember = false;不增加默认开启
                                </p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2019-03-07</h3>
                                <p>
                                  增加tab双击关闭当前tab<br>
增加tab右键菜单，可实现 关闭当前/关闭其它/关闭全部
                                </p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2019-03-07</h3>
                                <p>
                                  开发升级为2.1, 引入layui 2.4.5<br>
增加 html 根标签增加 class="x-admin-sm" 可以实现整体方格字体的细化 原字体14px 变成12px<br>16px变为14px，对于有些需要显示更多信息的页面比较友好 去除x-admin-sm 恢复原来样式<br>
增加动态表格事例<br>
增加左侧点击刷新tab 可根据实际需要选择 在 sub-menu li 标签中加上属性 date-refresh="1" ,该链接点击会进行刷新<br>
增加弹出层函数 x_admin_father_reload() 该函数可以实现对父窗口的刷新<br>
刷新保留左侧展开 （利用cookie 保存点击过的 索引，刷新读取cookie对应的索引 进行展开左侧）<br>
增加404错误页面<br>
tab记忆功能，刷新保留之前打开的tab （利用cookie 保存点击过的 索引，刷新读取cookie对应的索引 进行打开)
                                </p>
                              </div>
                            </li>
                          </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </body>
          </html>