{include file="public/heard"}
    <body>
	     <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">结算中心</a>
                <a>
                    <cite>结算列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
								
							  <form class="layui-form layui-col-space5" >
							  <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn layui-btn-danger" type="button" id="money"> 总金额:￥0.00 </button>
									<button class="layui-btn layui-btn-danger" type="button" id="delAll"><i class="layui-icon"></i>批量删除</button>
									<button class="layui-btn" type="button" id="addjs"><i class="layui-icon">&#xe65e;</i>添加结算</button>
                                </div>
								<div class="layui-inline layui-show-xs-block">
                                <input class="layui-input"  autocomplete="off" placeholder="开始日期" name="start" id="start">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<input class="layui-input"  autocomplete="off" placeholder="截止日期" name="end" id="end">
								</div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" type="button" lay-submit="" lay-filter="sreach" lay-skin="select" lay-filter="type">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
								</form>
								
                        </div>
						 
                        <div class="layui-card-body ">
                            <table class="layui-table" id="mlist" lay-filter="mlist">
                                <thead>
                                    <tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
	<script type="text/html" id="lirun">
      <p class="layui-bg-red">{{d.lirun}}</p>
    </script>
	<script type="text/html" id="action">
	<button class="layui-btn layui-btn-danger"  lay-event="del">删除</button>
	</script>
    <script>
	layui.use(['table','form','laydate'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery,laydate = layui.laydate;
        tableIn = table.render({
            elem: '#mlist',
            url: "{:U('simple/webjs/index')}",
            method: 'post',
			page:true,
			totalRow:true,
			parseData: function(res){
			  $("#money").text("总盈利:￥"+res.money);
			},
            cols: [[
			    {type: 'checkbox',width:30,minWidth:30},
				{field:'id',title:"ID", align: 'center', sort: true,width:80,totalRowText: '合计：'},
			    {field:'sum_recaharge',title: '总充值',align: 'center',width:100,totalRow: true},
				{field:'rech_fl',title: '充值手续费',align: 'center',width:100,totalRow: true},
				{field:'sum_tx',title: '总提现',align: 'center',sort: true,width:100,totalRow: true},
				{field:'tx_fl',title: '提现手续费',align: 'center',width:100,totalRow: true},
				{field:'kt_fl',title: '开通费用',align: 'center',width:100,totalRow: true},
				{field:'domain_fl',title: '域名续费',align: 'center',width:100,totalRow: true},
				{field:'dxpay',title: '短信购买',align: 'center',width:100,totalRow: true},
                {field:'payfl', title: '购买费率' ,align: 'center',width:100,sort: true,totalRow: true},
				{field:'feng', title: '开通分站' ,align: 'center',width:100,sort: true,totalRow: true},
				{field:'yongjin', title: '佣金' ,align: 'center',width:100,sort: true,totalRow: true},
				{field:'lirun', title: '利润' ,align: 'center',width:100,sort: true,toolbar: '#lirun',totalRow: true},
				{field:'addtime', align: 'center',title:'时间',width:150},
				{align: 'center',title:'操作',toolbar: '#action'}
            ]],
			limit:15,
			limits:[10,20,50,60]
        });		
		
		form.on('submit(sreach)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var st=$("#start").val(),se=$("#end").val();
			var index = layer.load(3, {
					  shade: [0.1,'#fff'] //0.1透明度的白色背景
					});
                 tableIn.reload({
					page:{curr:1
						 },
                     where:{
						 st:st,
						 se:se
                     }
                 });
				 layer.close(index);
        });
		    var nowTime=new Date();    
    var startTime=laydate.render({
    	elem:'#start',
    	type:'datetime',
    	btns: ['confirm'],
    	max:'nowTime',//默认最大值为当前日期
    	done:function(value,date){
    	    endTime.config.min={    	    		
    	    	year:date.year,
    	    	month:date.month-1,//关键
                date:date.date,
                hours:date.hours,
                minutes:date.minutes,
                seconds:date.seconds
    	    };
    	    
    	}
    })
    var endTime=laydate.render({
    	elem:'#end',
    	type:'datetime',
    	btns: ['confirm'],
    	max:'nowTime',
    	done:function(value,date){   	   
    	    startTime.config.max={
    	    		year:date.year,
        	    	month:date.month-1,//关键
                    date:date.date,
                    hours:date.hours,
                    minutes:date.minutes,
                    seconds:date.seconds
    	    }
    	    
    	}
    })

		
		table.on('tool(mlist)', function(obj){
            var data = obj.data;
			console.log(obj.event);
			switch(obj.event){
               case 'del':
                layer.confirm('您确定要删除该记录吗？', function(index){
                    var loading = layer.load(3, {shade: [0.1, '#fff']});
                    $.post("{:U('simple/webjs/dataDel')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
			  break;
			  return false;
            }
        });
		$("#delAll").click(function(){
            layer.confirm('确认要删除选中信息吗？', {icon: 3}, function(index) {
                layer.close(index);
                var checkStatus = table.checkStatus('mlist'); //test即为参数id设定的值
				console.log(checkStatus,table);
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
				
                var loading = layer.load(3, {shade: [0.1, '#fff']});
                $.post("{:U('simple/webjs/dataDel')}", {ids: ids}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        });
		$("#addjs").click(function(){
            layer.confirm('确认要添加结算信息吗？', {icon: 3}, function(index) {
                layer.close(index);
                var loading = layer.load(3, {shade: [0.1, '#fff']});
                $.post("{:U('simple/webjs/jiesuan')}", {}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        });
      });
	  
    </script>
</html>