body{background-color: #f8b644;}
/* banner*/
.banner-box{width:100%;height:9rem;margin-bottom: 1rem;}
.banner-box img{width:100%;height:100%;}
.public-warp .recycle-info-banner{height: 520px;background: url(../../images/retrieve/gift-banner.png) no-repeat center 0;width:100%;}
.recycle-info-banner{width: 100%;height: 100%;}
.recycle-banner-btn{width: 318px;height: 76px;display: block;position: absolute;bottom: 100px;right: 130px;}
.login-btn{background: url(../../images/retrieve/login-btn.png) no-repeat;}
.login-btn:hover{background: url(../../images/retrieve/login-btn-pre.png) no-repeat;}
.recycle-btn{background: url(../../images/retrieve/recycle-btn.png) no-repeat;}
.recycle-btn:hover{background: url(../../images/retrieve/recycle-btn-pre.png) no-repeat;}
.lose-btn{background: url(../../images/retrieve/lose-sen-btn.png) no-repeat;}
.lose_eg{width: 40%;height: 50px;line-height: 50px;margin: 0 auto;font-size: 24px;color: #dc3545;background-color: #FFF;border-radius: 20px;text-align: center;}
/*--------------------------活动说明-----------------------------*/
.explain{width: 200px;height: 65px;background-image: url(../../images/retrieve/rule-icon.png);background-size: 100% 100%;margin: 0 auto 28px;}
.explain_unfold{font-weight: bold;width: 0.6rem;height: 0.6rem;background-image: url(../../images/retrieve/activity_unfold_btn.png);background-size: 100%;background-color: transparent;}
.explain_{background: #fff;margin: 50px auto;width: 1200px;height: 450px;padding: 50px 60px;border-radius: 15px;}
.explain_1{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
.wz_p{font-size: 18px;color: #333;}
.wz_p span{color: #ff5454;}
/* 新人见面礼 */
.meetingCard_box:after{content:'';height:100%;display:inline-block;vertical-align:middle;}
.meetingCard_box>img{vertical-align:middle;max-height: 100%;max-width: 100%;margin: 1px auto;}
.meetingCard_box{width: 720px;margin: 0 auto;height:450px;background-image: url(../../images/retrieve/gift-word.png);background-size: 100% 100%;position: relative;top:1rem;}
.meetingCard_{width: 100%;margin: 1rem auto;}
.recycle-info-banner{position: relative;margin: 0 auto;}
.meetingCard{width: 50%;text-align: left;background: white;}
.copy_txt{resize: none;border: 0;position: absolute;right: 15%;top: 25%;width: 50%;height: 130px;font-size: 20px;outline: none;color: #ff651b;}
.text-center{text-align: center;margin-bottom: 0.5rem;}
.text-left p{margin: 20px 0;}
