{include file="public/heard"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" id="addBankCardForm">
                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_username" name="name" required="" value="{$u.user}" lay-verify="nikename" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>将会成为您唯一的登入名</div></div>
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_email" name="email" required="" value="{$u.email}" autocomplete="off" class="layui-input"></div>
                    </div>
					<div class="layui-form-item">
                        <label for="L_photo" class="layui-form-label">
                            <span class="x-red">*</span>QQ号码</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_photo" name="qq" required=""   value="{$u.qq}" autocomplete="off" class="layui-input"></div>
                    </div>
					<div class="layui-form-item">
                        <label for="L_photo" class="layui-form-label">
                            <span class="x-red">*</span>手机号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_photo" name="photo" required="" value="{$u.photo}" lay-verify="photo" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_pass" name="pass" required="" lay-verify="pass" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">不修改留空</div></div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="repass" required="" lay-verify="repass" autocomplete='new-password'   class="layui-input"></div>
							<div class="layui-form-mid layui-word-aux">不修改留空</div>
                    </div>
					 <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>交易确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="password" required="" lay-verify="password"    class="layui-input"></div>
							<div class="layui-form-mid layui-word-aux">不修改留空</div>
                    </div>
					 <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>API密钥</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="key" required="" value="{$u.key}"   class="layui-input"></div>
							<div class="layui-form-mid layui-word-aux">不修改留空</div>
                    </div>
					<div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red"></span>账户状态</label>
                        <div class="layui-input-inline">
                            <select name="state" lay-verify="" >
							  <option value="1" {eq name="$u['state']" value="1"}selected{/eq}>正常  </option>
							  <option value="0" {eq name="$u['state']" value="0"}selected{/eq}>未审核</option>
							  <option value="2" {eq name="$u['state']" value="2"}selected{/eq}>冻结</option>
							</select></div>
                    </div>
					<!--<div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red"></span>提现权限</label>
                        <div class="layui-input-inline">
						 <select name="active" lay-verify="">
                           <option value="0" {eq name="$u['active']" value="0"}selected{/eq}>未开通</option>
							  <option value="1" {eq name="$u['active']" value="1"}selected{/eq}>已开通   </option></select>
                          </div>
                    </div>
					<div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red"></span>分站权限</label>
                        <div class="layui-input-inline">
						 <select name="fenzhan" lay-verify="">
                           <option value="0" {eq name="$u['fenzhan']" value="0"}selected{/eq}>未开通</option>
							  <option value="1" {eq name="$u['fenzhan']" value="1"}selected{/eq}>已开通   </option></select></div>
                    </div>-->
                    

                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>开户行</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_bankname" name="bankname" required="" lay-verify="bankname"    class="layui-input" value="{$res.bankname}"></div>
							<div class="layui-form-mid layui-word-aux"></div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>省/直辖市</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_province" name="province" required="" lay-verify="province"    class="layui-input" value="{$res.province}"></div>
							<div class="layui-form-mid layui-word-aux"></div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>地级市</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_city" name="city" required="" lay-verify="city"    class="layui-input" value="{$res.city}"></div>
							<div class="layui-form-mid layui-word-aux"></div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>市/县</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_county" name="county" required="" lay-verify="county"    class="layui-input" value="{$res.county}"></div>
							<div class="layui-form-mid layui-word-aux"></div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>支行名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_zhibank" name="zhibank" required="" lay-verify="zhibank"    class="layui-input" value="{$res.zhibank}"></div>
							<div class="layui-form-mid layui-word-aux"></div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>银行卡号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="accounts" name="accounts" required="" lay-verify="accounts"    class="layui-input" value="{$res.accounts}"></div>
							<div class="layui-form-mid layui-word-aux"></div>
                    </div>
                    
                    
                    
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
						{:token()}
						<input type="hidden" name="id" value="{$u.id}">
                        <button class="layui-btn" lay-filter="add" lay-submit="">修改</button></div>
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
				layer.ready(function(){
				   var ok="{$ok}";
				   if(!ok){
						layer.msg("参数错误",{time:1000,icon:2},function(){
								 xadmin.close();
							});
					}
				  });
                //自定义验证规则
                form.verify({
                    nikename: function(value) {
                        if (value.length < 5) {
                            return '用户名至少得5个字符啊';
                        }
                    },
                    //pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(add)',
                   function(data) {
						var loading =layer.load(3, {shade: [0.1,'#fff']});
						$.post("{:U('simple/member/memberEdit')}",data.field,function(res){
								layer.close(loading);
								if (res.code==1) {
									layer.alert(res.msg,{icon:1},function(){
									  xadmin.close();
						              xadmin.father_reload();
									});
								}else{
									layer.alert(res.msg,{icon:2});
								}
						})
						return false;
                  
                });

            });</script>

    </body>
</html>