{include file="public/heard"}
    <body>
	     <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">会员中心</a>
                <a>
                    <cite>充值列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
								
							  <form class="layui-form layui-col-space5" >
							  <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn layui-btn-danger" id="money"> 总充值:￥0.00 </button>
										<button class="layui-btn layui-btn-danger" type="button" id="delAll"><i class="layui-icon"></i>批量删除</button>
                                </div>
								<div class="layui-inline layui-show-xs-block">
								 <select name="type" id="selt" lay-skin="select">
									 <option value="uid">UID</option>
									 <option value="out_trade_no">订单号</option>
									 <option value="ysk_order">订单金额</option>
								 </select>
                                    </div>
									<div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="username" placeholder="搜索内容" autocomplete="off" class="layui-input"></div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" type="button" lay-submit="" lay-filter="sreach" lay-skin="select" lay-filter="type">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
								</form>
								
                        </div>
						 
                        <div class="layui-card-body ">
                            <table class="layui-table" id="mlist" lay-filter="mlist">
                                <thead>
                                    <tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
	<script type="text/html" id="active">
	 {{#  if(d.status == 1){ }}
      <p class="layui-bg-red">支付成功</p>
     {{#  } else if(d.status == 2){ }}
	  <p class="layui-bg-orange">订单过期</p>
	 {{#  }else { }}
     <p class="layui-bg-black">未支付</p>
     {{#  } }}
    </script>	
	<script type="text/html" id="caoz">
	<div class="layui-btn-group">
    <button class="layui-btn layui-btn-danger"  lay-event="del">删除</button>
	</div>
   </script>
    <script>
	layui.use(['table','form','laydate'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery,laydate = layui.laydate;
        tableIn = table.render({
            elem: '#mlist',
            url: "{:U('simple/member/memberPayOrder')}",
            method: 'post',
			page:true,
			totalRow:true,
			parseData: function(res){
			  console.log(res);
			  $("#money").text("总充值:￥"+res.money);
			},
            cols: [[
			    {type: 'checkbox',width:30,minWidth:30},
				{field:'id',title:"ID", align: 'center', sort: true,width:80},
			    {field:'out_trade_no',title: '订单号',align: 'center',width:180,totalRowText: '合计：'},
				{field:'uid',title: '会员PID',align: 'center',sort: true,width:100},
				{field:'type',title: '充值类型',align: 'center',width:200},
				{field:'money',title: '充值金额',align: 'center',width:150},
				{field:'ysk_order',title: '到账金额',align: 'center',totalRow: true,width:150},
				{field:'ysk_jiaoyi',title: '微信单号',align: 'center',width:220},
                {field:'status', title: '状态' ,align: 'center',toolbar: '#active',width:100,sort: true} ,
				{field:'addtime', align: 'center',title:'时间'},
				{align: 'center',title:'操作',toolbar: '#caoz'}
            ]],
			limit:15,
			limits:[10,20,50,60]
        });		
		
		form.on('submit(sreach)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var name=$("input[name=username]").val();
			var kk=$("#selt").val();
			var index = layer.load(3, {
					  shade: [0.1,'#fff'] //0.1透明度的白色背景
					});
                 tableIn.reload({
					page:{curr:1
						 },
                     where:{
						 name:name,
						 kk:kk
                     }
                 });
				 layer.close(index);
        });
		table.on('tool(mlist)', function(obj){
            var data = obj.data;
			console.log(obj.event);
			switch(obj.event){
               case 'del':
                layer.confirm('您确定要删除该记录吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:U('simple/member/orderDel')}",{id:data.id,tab:'moneyorder'},function(res){
                        layer.close(loading);
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
			  break;
			  return false;
            }
        });
		$("#delAll").click(function(){
            layer.confirm('确认要删除选中信息吗？', {icon: 3}, function(index) {
                layer.close(index);
                var checkStatus = table.checkStatus('mlist'); //test即为参数id设定的值
				console.log(checkStatus,table);
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:U('simple/member/orderDel')}", {ids: ids,tab:'moneyorder'}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        });
      });
	  function tips(q,e){
		layer.tips(q, e, {
		  tips: [1, '#3595CC'],
		  time: 4000
		});
		}
    </script>
</html>