{include file="public/heard"}
    <body>
	  <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">会员中心</a>
                <a>
                    <cite>开通列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
								<div class="layui-inline layui-show-xs-block">
										<button class="layui-btn layui-btn-danger" id="money"> 总充值:￥0.00 </button><button class="layui-btn layui-btn-danger" id="delAll"><i class="layui-icon"></i>批量删除</button>
                                </div>
                        </div>
						 
                        <div class="layui-card-body ">
                            <table class="layui-table" id="mlist" lay-filter="mlist">
                                <thead>
                                    <tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
	<script type="text/html" id="status">
	 {{#  if(d.state == 1){ }}
      <p class="layui-bg-red">开通成功</p>
     {{#  } else { }}
     <p class="layui-bg-blue">开通失败</p>
     {{#  } }}
    </script>
	<script type="text/html" id="caoz">
		<div class="layui-btn-group">
		<button class="layui-btn layui-btn-danger"  lay-event="del">删除</button>
		</div>
   </script>
    <script>
	layui.use(['table','form','laydate'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery,laydate = layui.laydate;
        tableIn = table.render({
            elem: '#mlist',
            url: "{:U('simple/member/memberVipOrder')}",
            method: 'post',
			page:true,
			totalRow:true,
			parseData: function(res){
			  $("#money").text("总金额:"+res.money);
			},
            cols: [[
			    {type: 'checkbox',width:60,minWidth:30},
				{field:'id',title:"ID", align: 'center', sort: true},
				{field:'user',title:"用户ID", align: 'center',totalRowText: '合计：'},
			    {field:'order',title: '订单号',align: 'center'},
				{field:'money',title: '金额',align: 'center',totalRow:true},
				{field:'status',title: '状态',align: 'center',toolbar: '#status',width:100},
				{field:'logtime', align: 'center',title:'时间'},
				{align:'center',title:'操作',toolbar: '#caoz'}
            ]],
			limit:15,
			limits:[10,20,50,60]
        });		
		table.on('tool(mlist)', function(obj){
            var data = obj.data;
			console.log(obj.event);
			switch(obj.event){
               case 'del':
                layer.confirm('您确定要删除该记录吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:U('simple/message/msDel')}",{id:data.id,tab:'Viporder'},function(res){
                        layer.close(loading);
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
			  break;
			  return false;
            }
        });
		
		$("#delAll").click(function(){
            layer.confirm('确认要删除选中信息吗？', {icon: 3}, function(index) {
                layer.close(index);
                var checkStatus = table.checkStatus('mlist'); //test即为参数id设定的值
				console.log(checkStatus,table);
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:U('simple/message/msDel')}", {ids: ids,tab:'Viporder'}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        });
		
      });
    </script>
</html>