{include file="public/heard"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                      <div class="layui-form">
							  <table class="layui-table">
								<colgroup>
								  <col width="100">
								  <col width="200">
								  <col width="100">
								 <col >
								</colgroup>
								<tbody>
								  <tr>
									<td>订单号</td>
									<td>{$res.orderno}</td>
									<td>运营商</td>
									<td>{$res.class}</td>
								  </tr>
								  <tr>
									<td>卡号</td>
									<td>{$res.card_no}</td>
									<td>密码</td>
									<td>{$res.card_key}</td>
								  </tr>
								  <tr>
									<td>提交面额</td>
									<td>{$res.money}</td>
									<td>实际面额</td>
									<td>{$res.settle_amt}</td>
								  </tr>
								  <tr>
									<td>用户金额</td>
									<td>{$res.amount}</td>
									<td>系统金额</td>
									<td>{$res.amount+$res.profit}</td>
								  </tr>
								  <tr>
									<td>卡状态</td>
									<td>{:cardstate($res.state)}</td>
									<td>错误详情</td>
									<td>{$res.remarks}</td>
								  </tr>
								  <tr>
									<td>提交时间</td>
									<td>{$res.create_time}</td>
									<td>处理时间</td>
									<td>{$res.update_time} </td>
								  </tr>
								  <tr>
									<td>提交IP</td>
									<td>{$res.ip}</td>
									<td>渠道</td>
									<td>{$res.atype} </td>
								  </tr>
								  
								  <tr>
                                   <td>成功渠道</td>
								   <td><select name="ChannelType" id="ChannelType" data-am-selected="{dropUp: 1}">
								                 <option value="0" >无此渠道</option>
								                {volist name="op" id="h"}
												  <option value="{$h.id}" {eq name="$h['id']" value="$res['type']"}selected="selected"{/eq}>{$h.name}</option>
												{/volist}
												</select>
								  </td>
                                <td class="am-text-left">
                                    操作
                                </td>

                                <td>
								<p>
								<input type="hidden" id="textid" value="{$res.id}"><input id="ContentPlaceHolder1_txtRealMoney" type="text" value="{$res.money}" {eq name="$res.state" value="1"}disabled="disabled"{/eq} class="layui-input" placeholder="成功面额" style="width:150px;    float: left;" />
								
								<button class="layui-btn {eq name="$res.state" value="1"}layui-btn-disabled"{/eq}" lay-filter="sok" lay-submit="">成功</button></p>
								</p>
                                 <input id="ContentPlaceHolder1_txtErrinfo" name="txtErrinfo" style="width:150px;    float: left;"  type="text"  {eq name="$res.state" value="2"}disabled="disabled"{/eq} class="layui-input" placeholder="错误详情" />
								 </p>
                                 <button class="layui-btn {eq name="$res.state" value="2"}layui-btn-disabled"{/eq}" lay-filter="sno" lay-submit="">失败</button>     

                                    
                                </td>
                                
                            </tr>
								</tbody>
							  </table>
							</div>
                </form>
            </div>
        </div>
        <script>
		layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                //监听提交
                form.on('submit(sok)',
                   function(data) {
				        var id=$("#textid").val();
				        var t=$("#ChannelType").val();
				        var m=$("#ContentPlaceHolder1_txtRealMoney").val();
						layer.confirm('您确定要订单赔付吗？', function(index){
								var loading =layer.load(3, {shade: [0.1,'#fff']});
								$.post("{:U('simple/card/dasucc')}",{id:id,op:t,amt:m},function(res){
										layer.close(loading);
										layer.alert(res.msg,{icon:1},function(index){
										     xadmin.close();
						                     xadmin.father_reload();
											 layer.closeAll();
										});
										
								})
							})
						return false;
                  
                });
				form.on('submit(sno)',
                   function(data) {
				        var id=$("#textid").val();
						var t=$("#ChannelType").val();
				        var e=$("#ContentPlaceHolder1_txtErrinfo").val();
						layer.confirm('您确定要订单赔付吗？', function(index){
								var loading =layer.load(3, {shade: [0.1,'#fff']});
								$.post("{:U('simple/card/daerr')}",{id:id,op:t,str:e},function(res){
										layer.close(loading);
										layer.alert(res.msg,{icon:1},function(index){
										     xadmin.close();
						                     xadmin.father_reload();
											 layer.closeAll();
										});
								})
							})
						return false;
                  
                });

            });</script>
    </body>

</html>