{include file="public/heard"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>用户ID</label>
							<div class="layui-input-block" style="width:50%">
						<label for="L_pass" class="layui-form-label" style="width:100%;text-align:left">
						   <span class="x-red">{$u.uid}</span>
						   </label>
						</div>
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>用户名</label>
							<div class="layui-input-block" style="width:50%">
						<label for="L_pass" class="layui-form-label" style="width:100%;text-align:left">
						   <span class="x-red">{$u.profile.user}</span>
						   </label>
						</div>
                    </div>
					<div class="layui-form-item">
                        <label for="L_photo" class="layui-form-label">
                            <span class="x-red">*</span>提现金额</label>
							<div class="layui-input-block" style="width:50%">
						<label for="L_pass" class="layui-form-label" style="width:100%;text-align:left">
						   <span class="x-red">{$u.money}-{$u.price}={$u.money-$u.price}</span>
						   </label>
						</div>
                    </div>
					<div class="layui-form-item">
                        <label for="L_photo" class="layui-form-label">
                            <span class="x-red">*</span>手续费</label>
                        <div class="layui-input-block" style="width:50%">
						<label for="L_pass" class="layui-form-label" style="width:100%;text-align:left">
						   <span class="x-red">{$u.price}</span>
						   </label>
						</div> 
						</div>
						<div class="layui-form-item">
                        <label for="L_photo" class="layui-form-label">
                            <span class="x-red">*</span>账号余额</label>
                        <div class="layui-input-block" style="width:50%">
						<label for="L_pass" class="layui-form-label" style="width:100%;text-align:left">
						   <span class="x-red">{$u.umoney}</span>
						   </label>
						</div>                    
						</div>
					{eq name="$u->getData('type')" value="3"}
					<div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>地址</label>
                        <div class="layui-input-block" style="width:50%">
						<label for="L_pass" class="layui-form-label" style="width:100%;text-align:left">
						   <span class="x-red">{$bank.province}--{$bank.city}--{$bank.county}</span>
						   </label>
						</div>
					</div>
					<div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>开户行</label>
                        <div class="layui-input-block" style="width:50%">
						<label for="L_pass" class="layui-form-label" style="width:100%;text-align:left">
						   <span class="x-red">{$bank.zhibank}</span>
						   </label>
						</div>
					</div>
					{/eq}
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>收款账号</label>
                        <div class="layui-input-block" style="width:50%">
						<label for="L_pass" class="layui-form-label" style="width:100%;text-align:left">
						   <span class="x-red">{$u.type}:{$u.zh}</span>
						   </label>
						</div>
					</div>
					
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>真实姓名</label>
                     <div class="layui-input-block" style="width:50%">
						<label for="L_pass" class="layui-form-label" style="width:100%;text-align:left">
						   <span class="x-red">{$u.username}</span>
						   </label>
						</div>                    </div>
					<div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>备注</label>
                        <div class="layui-input-block" style="width:50%">
						  <textarea class="layui-textarea" name="result" placeholder="审核通过此处不用输入">{$u.content}</textarea>
						</div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
						<input type="hidden" name="id" value="{$u.id}">
						<input type="hidden" name="status" value="{$u.status}">
                        {neq name="$u['status']" value="1"}
                        <button class="layui-btn" type='button' lay-filter="aby" lay-submit="">通过</button>
						<button class="layui-btn layui-btn-danger" type='button' lay-filter="fail" lay-submit="">失败</button></div>
                         {/neq}
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
				layer.ready(function(){
				   var ok="{$ok}";
				   if(!ok){
						layer.msg("参数错误",{time:1000,icon:2},function(){
								 xadmin.close();
							});
					}
				  });
                  //监听提交
                form.on('submit(aby)',
                   function(data) {
						var loading =layer.load(3, {shade: [0.1,'#fff']});
						$.post("{:U('simple/member/withEdit',['no'=>1])}",data.field,function(res){
								layer.close(loading);
								if (res.code==1) {
									layer.alert(res.msg,{icon:1},function(){
									  xadmin.close();
						              xadmin.father_reload();
									});
								}else{
									layer.alert(res.msg,{icon:2});
								}
						})
						return false;
                  
                });
				form.on('submit(fail)',
                   function(data) {
				        if(data.field.result==""){
						  layer.alert("失败请输入理由",{icon:2});
						  return;
						}
						var loading =layer.load(3, {shade: [0.1,'#fff']});
						$.post("{:U('simple/member/withEdit',['no'=>2])}",data.field,function(res){
								layer.close(loading);
								if (res.code==1) {
									layer.alert(res.msg,{icon:1},function(){
									  xadmin.close();
						              xadmin.father_reload();
									});
								}else{
									layer.alert(res.msg,{icon:2});
								}
						})
						return false;
                  
                });
            });</script>
    </body>

</html>