
/*微信相关样式*/
/*关注公众号*/
.follow-wx-wrap{position: relative;top: 2.2rem;}
.null_data .wechat_ico{background: url(../../images/profileManage/weixinBind/no_weixin.png) no-repeat 0 0;background-size: 100%;}
.top-tip{border-bottom: 1px solid #7ac778;padding: 0.425rem 0 0.425rem 0.75rem;background: #80da7e;font-size: 0.6rem;color: #fff;position: relative;}
.tip-ico-parent{padding-left: 2.15rem;}
.tip-ico-parent:before{display: inline-block;content: "";position: absolute;top: 0.425rem;left: 0.75rem;width: 0.9rem;height: 0.9rem;
    background: url(../../images/profileManage/weixinBind/rem_smile_icon.png) no-repeat 0 0;background-size: 100%;}
.wx-follow-QRcode{width: 12rem;height: 12rem;margin: 2.35rem auto 0;border: 1px dashed #bfcbd9;}
.wx-follow-QRcode img{width: 100%;height: 100%;}
.wx-follow-QRcode #loadImg{padding: 3.5rem;}
.wx-follow-QRcode #addWxQRImg{display: none;}
.save-qrcode-btn{font-size: 0.75rem;display: block;width: 12.05rem;padding: 0.3rem 0.75rem 0.3rem 2rem;margin: 0.5rem auto 0;position: relative;}
.save-qrcode-btn:before{display: block;content: "";position: absolute;top: 0.35rem;left: 0.45rem;width: 1.1rem;height: 1.1rem;
    background: url(../../images/profileManage/weixinBind/touch_point_icon.png) no-repeat 0 0;background-size: 100%;}
.has-followWx-box{width: 17.25rem;height: 5.25rem;background: url(../../images/profileManage/weixinBind/official_bj.png) no-repeat 0 0;
    background-size: 100%;margin: 1.1rem auto 2.15rem;text-align: center;padding: 0.475rem 0 0.625rem;}
.has-followWx-box .dec-tit{display: inline-block;font-size: .6rem;color: #fff;opacity: .8;line-height: 1.85rem;position: relative;padding-left: 2.5rem;margin-bottom: 0.3rem;}
.has-followWx-box .dec-tit:before{display: block;content: "";position: absolute;top: 0;left: 0;width: 1.85rem;height: 1.85rem;
    background: url(../../images/profileManage/weixinBind/white_gzh_icon.png) no-repeat 0 0;background-size: 100%;}
.has-followWx-box .dec-con{font-size: 0.7rem;color: #fff;line-height: 1rem;}