/*首页*/
.index-warp{padding-bottom: 2rem;}
@media screen and (min-width: 750px) {
    .index-warp {
        padding-bottom: 2.5rem;
    }
}

.web_logo{width: 5.05rem;height: 1.4rem;}

.bannaer-box{position: relative;width: 100%;height: 10.675rem;overflow: hidden;}
.bannaer-box .swiper-container{position: absolute;top: 2.5rem;}
.bannaer-box .swiper-container .swiper-slide img{width: 83.2%;height: 6.6rem;margin: 0 auto;display: block;}
.bannaer-box .swiper-pagination{bottom: 0.75rem;left: 0;}
.bannaer-box .bg{width: 100%;max-height: 10.675rem;position: absolute;top: 0;left: 0;}

.product-category{margin:0;padding-top:0.8rem;border-bottom: 1px solid #ddd;}
.product-category .col{padding: 0;}
.fly-heart{display:block;width: 3.95rem;height: 2.5rem;margin: 2px auto 0;}
.notice-box{height: 1.85rem;line-height: 1.85rem;padding: 0 0.75rem;background: #fff;}
.notice-box .notice-logo{background: url("../../../images/index/system_notice_icon.png") no-repeat;background-size: 100%;margin: 0.45rem 0 0 0;}
.notice-box .media{padding:0 0.5rem 0 0.45rem;-moz-user-select: none;-webkit-user-select: none;user-select: none;}
.notice-box .media-body{font-size: 0.7rem;color:#666;}
.notice-box .notice-time{font-size: 0.6rem;color:#999;}

.product-list{border-top: 1px solid #f6f6f6;}
.product-list.scroll{height: 7.6rem;overflow: hidden;overflow-y: scroll;}
@media screen and (min-width: 750px) {
    .product-list.scroll {
        height: auto;
        overflow: hidden;
    }
}
.product-list li{float: left;width: 33.33%;}
.product-list .card{border:0;border-bottom: 1px solid #f6f6f6;border-right: 1px solid #f6f6f6;border-radius:0;}
.product-list .card-img-top{width: 4.55rem;height: 3.3rem;}
.product-list .card-body{padding: 0 0 0.8rem 0;}

/* .contact-way{padding: 0 0.75rem;} */
.contact-way .item{height: 1.85rem;line-height: 1.85rem;}
.contact-way a, .contact-way #copy_qq_btn{width: 100%;font-size: 0.6rem;color:#666;vertical-align: top;}
#copy_qq_btn{padding-left:0.6rem;}
#trans-pc{width: 100%;font-size: 0.6rem;vertical-align: top;}
.contact-way a i{display: inline-block;width: 0.9rem;height: 0.9rem;vertical-align: top;margin: 0.45rem 0.35rem 0 0;}
.contact-way a i.clientPhone{background: url(../../../images/index/system_pho_icon.png) no-repeat;background-size: 100%;margin-left: 0.45rem;}
.contact-way a:hover i.clientPhone{background: url(../../../images/index/system_pho_icon_pre.png) no-repeat;background-size: 100%;}
.contact-way a i.clientqq{background: url(../../../images/index/system_qq_icon.png) no-repeat;background-size: 100%;margin-left: 0.6rem;}
.contact-way a:hover i.clientqq{background: url(../../../images/index/system_qq_icon_pre.png) no-repeat;background-size: 100%;}
.contact-way a span{color:#45b5f0;}
.contact-way.fixed{position: fixed;right: 0;bottom: 2.5rem;left: 0;z-index: 1030;border-top: 1px solid #ddd;}
#clientqq{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text;}

.faq-box{margin-top: 1.05rem;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;background: #fff;padding: 0 0.75rem;}
.faq-box .media-body{padding: 1rem 0.3rem 0.8rem 0;width: 60%;}
.faq-box .media-body .tit{font-family: 'SimHei';font-size: 1.1rem;color: #333;height: 1.3rem;line-height: 1.3rem;position: relative;padding-left: 1.6rem;}
.faq-box .media-body .tit:before{display: block;content: "";position: absolute;top: 0.1rem;left: 0;z-index: 20;width: 1.1rem;height: 1.1rem;background: url(../../../images/index/system_faq_icon.png) no-repeat 0 0;background-size: 100%;}
.faq-box .media-body .subtit{font-size: 0.7rem;color: #666;height: 1.45rem;line-height: 1.45rem;}
.faq-box .media-footer{width: 4.75rem;height: 3.95rem;margin-right: 0.5rem;}
#index-faq-swiper{height: 1.45rem;overflow: hidden;}
