	.header > .btn .icon_kf {
    right: 6px;
    background: url("/static1/home/images/mobile/index/icon_kf.png") 0 0 /100% 100% no-repeat;
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 6px;
}
.header > .btn .icon_help  {
    left: 6px;
    background: url("/static1/home/images/mobile/index/icon_help.png") 0 0 /100% 100% no-repeat;
    display: block;
    width: 31px;
    height: 32px;
    position: absolute;
    top: 6px;
}
	.card.card-margin .typeicon-group.clearfix .kl1{
	background: url(/static1/home/images/mobile/index/indexkl.png) no-repeat;
	background-position: 4px 6px;
    display: block;
    width: 50px;
    height: 50px;
}
	.card.card-margin .typeicon-group.clearfix .kl2{
	background: url(/static1/home/images/mobile/index/indexkl.png) no-repeat;
	background-position: -44px 6px;
    display: block;
    width: 51px;
    height: 48px;
}
	.card.card-margin .typeicon-group.clearfix .kl3{
	background: url(/static1/home/images/mobile/index/indexkl.png) no-repeat;
	background-position: -88px 6px;
    display: block;
    width: 51px;
    height: 48px;
}
	.card.card-margin .typeicon-group.clearfix .kl4{
	background: url(/static1/home/images/mobile/index/indexkl.png) no-repeat;
	background-position: -134px 6px;
    display: block;
    width: 51px;
    height: 48px;
}
	.card.card-margin .typeicon-group.clearfix .kl5{
	background: url(/static1/home/images/mobile/index/indexkl.png) no-repeat;
	background-position: -188px 6px;
    display: block;
    width: 51px;
    height: 48px;
}
	.card.card-margin .typeicon-group.clearfix .kl6{
	background: url(/static1/home/images/mobile/index/maika.png) no-repeat;
	background-position: 6px 6px;
    display: block;
    width: 51px;
    height: 48px;
}