{extend name="layout/user"}
{block name="css"}
<link href="__CSS__/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>	
<link href="__CSS__/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>	
{/block}
{block name="text"}
 <div class="page-inner">
     <div class="page-title">
                <h3 class="breadcrumb-header">黑名单账号</h3>
        </div>
	<div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                   <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">黑名单账号</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table table-bordered">
                                        <table id="apis" class="display table" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                                <tr>
                                                    <td>序号</td>
													<td>关联订单</td>
													<td>账号类型</td>
													<td>OPENID</td>
													<td>添加时间</td>
													<td>操作</td>
                                                </tr>
                                            </thead>
											<tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                      </div>
			   </div>

		</div>
	</div>

{/block}
{block name="js"}
{include file="layout/footda"/}
<script>
$(function(){
  
    $('#apis').DataTable({
        'language': {
            "url": url
        },
		'searching': false,
		'bLengthChange':false,
		"pagingType": "full_numbers",
		"serverSide":true,
		"ajax": "",
	    "columns": [
		    { "data": "id" },
			{ "data": "gorder" },
			{ "data": "type" ,"bSortable": false},
			{ "data": "openid" },
			{ "data": "addtime" },
			{ "data": null,"bSortable": false}

		],
        columnDefs: [
		   {
			targets: 2,
	        render: function(data,type,row,meta) {
			     var str="微信";
				return str;//"<p class='text-danger'>"+data+"</p>";
	        }
			},
			{
				"targets": -1,
				"render": function ( data, type, full, meta ) {
					return "<button type = 'button' class='btn btn-danger' id = 'delButton' ><i class='fa fa-close'></i> 移出黑名单</button> ";
				}
			}
			
       ]			
	});
	$("#apis tbody").on("click", "#delButton", function () {
	    var row = $("table#apis tr").index($(this).closest("tr"));
        var name = $("table#apis").find("tr").eq(row).find("td").eq(0).text();
		layer.confirm('确定移出黑名单吗？', {
					  btn: ['确定','再考虑下'] //按钮
					}, function(){
	    $.post("{:U('home/remittance/uplDel')}",{id:name,tab:'hei'},function(e){
				   if(e.code==1){
					    layer.alert("移出成功", {icon: 1,skin: 'layer-ext-moon'},function(index){
					    layer.close(index);
						$("table#apis").find("tr").eq(row).remove();
					   })
					}else{
					 layer.alert("移出失败", {icon: 2,skin: 'layer-ext-moon'})
					}
		 })
		})
	})
 })
</script>

{/block}