{extend name="layout/user"}
{block name="text"}
 <div class="page-inner">
			<div class="page-title">
				<h3 class="breadcrumb-header">汇款API</h3>
			</div>
		<div id="main-wrapper">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-white">
						<div class="panel-body">
								<div class="row">
								 <div class="col-md-12 text-left" style="padding-left:0;">
									<h4>API配置</h4>
									  <div class="panel-body col-md-6">
									  {neq name="$u.active" value="1"}<div class="alert alert-danger" style="padding:8px" role="alert">
										 你还未开通此通道权限，请自助开通！
										</div>{/neq}
										<div class="alert alert-default" style="padding:8px" role="alert">
											<small style="margin-left:6px" class="h5">通道开关：</small><small style="margin-left:12px"><input type="checkbox" id="txopen" class="js-switch" {eq name="$u.tx[1]" value="1"} checked{/eq} ></small>
										</div>
										<div class="alert alert-default" style="padding:8px" role="alert">
											<small style="margin-left:6px" class="h5">汇款审核：</small><small style="margin-left:12px"><input type="checkbox" id="shen" class="js-switch" {eq name="$u.shen" value="1"}checked {/eq}></small>
										</div>
										<div class="alert alert-default" style="padding:8px" role="alert">
											<small style="margin-left:6px" class="h5">风控开关：</small><small style="margin-left:12px"><input type="checkbox" id="feng" class="js-switch" {eq name="$u.feng" value="1"}checked {/eq} ></small><small style="margin-left:32px;color:#F60">风控功能需要正确传递在你站的用户ID,且需要使用本站的充值接口</small>
										</div>
										<div class="alert alert-default" role="alert">
											<small class="h5">大额审核：</small><small style="margin-left:12px" class="h5 text-success">{$u.daer}</small><small style="margin-left:32px;color:#F60">0表示不限制金额</small><small><button type="button"class="btn btn-danger" onclick="kda({$u.daer})" style="float: right;margin-top: -6px;">设置金额</button></small>
										</div>
										<div class="alert alert-default" role="alert">
											<small class="h5">IP白名单：</small>
											{foreach name="$u['xip']" item="vo" key="k"}
											<small style="margin-left:12px" class="h5 text-info">{$vo}</small>{/foreach}<small><button type="button"class="btn btn-danger" onclick="kip()" style="float: right;margin-top: -6px;">设置IP</button></small>
										</div>
										<div class="alert">
											<small class="h5"><button type="button" id="khui" class="btn btn-danger btn-addon"><i class='fa fa-product-hunt'></i> 开通权限</button><button style="margin-left:12px" type="button" onclick="xiazai()" class="btn btn-default"><i class="fa fa-cloud-download"></i>  接口文档下载</button></small>
										</div>
										
									</div>
								</div>
							   
							</div>  
						</div>
					</div>
				</div>
			</div><!-- Row -->
		</div><!-- Main Wrapper -->
</div>
<div class="modal fade" id="daer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document" style="margin-top: 10%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">大额审核设置</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">设置金额:</label>
            <input type="number" class="form-control" value="" pattern="[0-9]" maxlength="15" id="name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="txda" class="btn btn-primary">提交</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document" style="margin-top: 10%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">设置IP白名单</h4>
      </div>
      <div class="modal-body">
        <form id="ipf">
        </form>
      </div>
      <div class="modal-footer">
	    <button type="button" id="zip" class="btn btn-danger">增加一个IP</button>
        <button type="button" id="toDa" class="btn btn-primary">提交确认</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{/block} 
{block name="js"}
{include file="layout/foot"/}
<script>
function xiazai(){
   window.location.href="/支付接口文档.doc";
}
   var ip={$sip};
   function kda(q){
      $("#daer #name").val(q);
	  $("#daer").modal("show");
   }
   function kip(){
     var p=$("#ipf"),str="";
	 for(let k in ip){
	    str += '<div class="form-group">';
        str += '<label for="recipient-name" class="control-label">IP'+(parseInt(k)+1)+':</label>';
        str += '<input type="text" name="ips[]" class="form-control" value="'+ip[k]+'" id="recipient-name">';
        str += '</div>';
	 }
	 str +='<input type="hidden" name="type" value="sip">';
	 p.html(str);
     $("#myModal").modal("show");
   }
   var changeCheckbox = document.querySelector('#txopen');
		changeCheckbox.onchange = function() {
		   let s=changeCheckbox.checked;
		   let state=s?1:0;
		   $.post("{:U('home/remittance/reKai')}",{type:'tx',kai:state},function(res){
		      if(res.code==1){
					layer.alert(res.msg, {
						  icon: 1,
						  skin: 'layer-ext-moon' },function(){
							location.reload();
						  })
					}else{
					layer.alert(res.msg, {
						  icon: 2,
						  skin: 'layer-ext-moon'})
					}
			  
		      
		   })
		 
		};
   var cbox = document.querySelector('#shen');
		cbox.onchange = function() {
		   let s=cbox.checked;
		   let state=s?1:0;
		   $.post("{:U('home/remittance/reKai')}",{type:'shen',kai:state},function(res){
		      if(res.code==1){
					layer.alert(res.msg, {
						  icon: 1,
						  skin: 'layer-ext-moon' },function(){
							location.reload();
						  })
					}else{
					layer.alert(res.msg, {
						  icon: 2,
						  skin: 'layer-ext-moon'})
					}
			  
		      
		   })
		 
		};
   var fbox = document.querySelector('#feng');
		fbox.onchange = function() {
		    let s=fbox.checked;
		   let state=s?1:0;
		   $.post("{:U('home/remittance/reKai')}",{type:'feng',kai:state},function(res){
		      if(res.code==1){
					layer.alert(res.msg, {
						  icon: 1,
						  skin: 'layer-ext-moon' },function(){
							location.reload();
						  })
					}else{
					layer.alert(res.msg, {
						  icon: 2,
						  skin: 'layer-ext-moon'})
					}
			  
		      
		   })
		 
		};
$(function(){
     $("#khui").click(function(){
      layer.confirm('开通提现权限需要支付{:C("opentx")}元，确定开通吗？', {
		  btn: ['确定开通','在考虑下'] //按钮
		}, function(){
		   $.post("{:U('home/member/kaiTx')}",{},function(e){
				 if(e.code==1){
					 $("#khui").attr("disabled",true);
					 $("#khui").text("已开通");
					 layer.msg(e.msg, {icon: 1});
				 }else{
				     layer.msg(e.msg, {icon: 2});
				 }
		  })
		});
  })
    $("#zip").click(function(){
	      layer.confirm('增加一个IP收费{:C("zip")}元，你确定增加吗？', {
					  btn: ['确定增加','再考虑下'] //按钮
					}, function(){
					  $.post("{:U('home/remittance/setNip')}",{},function(res){
					       if(res.code==1){
							layer.alert(res.msg, {
								  icon: 1,
								  skin: 'layer-ext-moon'},function(index){
									layer.close(index);
									let str="";
									str += '<div class="form-group">';
									str += '<label for="recipient-name" class="control-label">IP'+(parseInt(res.n)+1)+':</label>';
									str += '<input type="text" name="ips[]" class="form-control" value="" id="recipient-name">';
									str += '</div>';
									$("#ipf").append(str);
								})
							}else{
							layer.alert(res.msg, {
								  icon: 2,
								  skin: 'layer-ext-moon'})
							}
				})
		})
	})
	$("#toDa").click(function(){
	   $.post("{:U('home/remittance/reKai')}",$("#ipf").serialize(),function(res){
		    if(res.code==1){
					layer.alert(res.msg, {
						  icon: 1,
						  skin: 'layer-ext-moon'},function(index){
							layer.close(index);
							$('#myModal').modal('hide');
							location.reload();
						})
					}else{
					layer.alert(res.msg, {
						  icon: 2,
						  skin: 'layer-ext-moon'})
					}
			  
		    
		 })
	})
   	 $("#txda").click(function(){
	     var money=$("#daer #name").val();
		 $.post("{:U('home/remittance/editRe')}",{field:"daer",money:money},function(res){
		    if(res.code==1){
					layer.alert(res.msg, {
						  icon: 1,
						  skin: 'layer-ext-moon'},function(index){
							layer.close(index);
							$('#daer').modal('hide');
							location.reload();
						})
					}else{
					layer.alert(res.msg, {
						  icon: 2,
						  skin: 'layer-ext-moon'})
					}
			  
		    
		 })
	   
	 })
})
</script>
{/block}