{extend name="layout/user"}
{block name="css"}
<link href="__CSS__/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>	
<link href="__CSS__/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>	
{/block}
{block name="text"}
 <div class="page-inner">
     <div class="page-title">
                <h3 class="breadcrumb-header">出单记录</h3>
        </div>
	<div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                   <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">出单记录</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="apis" class="display table" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                                <tr>
                                                    <td>序号</td>
													<td>支付单号</td>
													<td>支付金额</td>
													<td>手续费</td>
													<td>订单状态</td>
													<td>收款OPENID</td>
													<td>用户ID</td>
													<td>商户余额</td>
													<td>支付时间</td>
													<td>操作</td>
                                                </tr>
                                            </thead>
											<tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                      </div>
			   </div>

		</div>
	</div>

{/block}
{block name="js"}
{include file="layout/footda"/}
<script>
$(function(){
  
    $('#apis').DataTable({
        'language': {
            "url": url
        },
		"pagingType": "full_numbers",
		"serverSide":true,
		"ajax": "",
		"order": [[ 1, "desc" ]],
	    "columns": [
		    { "data": "id","bSortable": false },
			{ "data": "out_trade_no" ,"bSortable": false},
			{ "data": "money" },
			{ "data": "fl" ,"bSortable": false},
			{ "data": "status" },
			{ "data": "openid" },
			{ "data": "name" },
			{ "data": "price" },
			{ "data": "addtime" },
			{ "data": null,"bSortable": false}

		],
        columnDefs: [
		   {
			targets: 2,
			//sWidth:'30%',
	        orderable : false,
	        render: function(data,type,row,meta) {
				return "<p class='text-danger'>"+data+"</p>";
	          }
			},
			{
			targets: 4,
	        render: function(data,type,full,meta) {
			     var str="<p class='btn btn-warning'>未支付</p>";
			    switch(data){
				 case 1:
				   str="<p class='btn btn-success'>支付成功</p>";
				 break;
				 case 2:
				   str="<p class='btn btn-danger'>风控提醒</p>";
				  break;
				}
				if(full.feng==1)str="<p class='btn btn-info'>黑名单账户</p>";
				return str;
	          }
			},
			{
				"targets": -1,
				"render": function ( data, type, full, meta ) {
				      var str='<div class="btn-group">';
					  console.log(full.status);
					  if(full.status!=1){
					     str += "<button type = 'button' class='btn btn-success' id = 'editButton' ><i class='fa fa-edit'></i> 通过</button>";
					  }else{
					     str += "<button type = 'button' class='btn disabled'><i class='fa fa-edit' disabled></i> 通过</button>";
					  }
					  str += "<button type = 'button' class='btn btn-primary' id = 'heiButton' ><i class='fa fa-child'></i> 加入黑名单</button> <button type = 'button' class='btn btn-danger' id = 'delButton' ><i class='fa fa-close'></i> 删除</button></div>";
					return str;
				}
			}
			
       ]			
	});
	$("#apis tbody").on("click", "#editButton", function () {
	  var row = $("table#apis tr").index($(this).closest("tr"));
      var name = $("table#apis").find("tr").eq(row).find("td").eq(0).text();
	  var loading = layer.load(3, {shade: [0.1, '#fff']});
	  $.post("{:U('home/remittance/txRest')}",{id:name},function(e){
	           layer.close(loading);
				   if(e.code==1){
					layer.alert(e.msg, {icon: 1,skin: 'layer-ext-moon'},function(index){
					 layer.close(index);
					   })
					}else{
					 layer.alert(e.msg, {icon: 2,skin: 'layer-ext-moon'})
					}
		 })
	  
	})
	$("#apis tbody").on("click", "#heiButton", function () {
	  var row = $("table#apis tr").index($(this).closest("tr"));
      var name = $("table#apis").find("tr").eq(row).find("td").eq(0).text();
	  var loading = layer.load(3, {shade: [0.1, '#fff']});
	  $.post("{:U('home/remittance/addFeng')}",{id:name},function(e){
	       layer.close(loading);
				   if(e.code==1){
					layer.alert(e.msg, {icon: 1,skin: 'layer-ext-moon'},function(index){
					 layer.close(index);
					   })
					}else{
					 layer.alert(e.msg, {icon: 2,skin: 'layer-ext-moon'})
					}
		 })
	})
	$("#apis tbody").on("click", "#delButton", function () {
	    var row = $("table#apis tr").index($(this).closest("tr"));
        var name = $("table#apis").find("tr").eq(row).find("td").eq(0).text();
		layer.confirm('确定删除吗？', {
					  btn: ['确定删除','算了'] //按钮
					}, function(){
					var loading = layer.load(3, {shade: [0.1, '#fff']});
	    $.post("{:U('home/remittance/uplDel')}",{id:name,tab:'tx'},function(e){
		layer.close(loading);
				   if(e.code==1){
					    layer.alert(e.msg, {icon: 1,skin: 'layer-ext-moon'},function(index){
					    layer.close(index);
						$("table#apis").find("tr").eq(row).remove();
					   })
					}else{
					 layer.alert(e.msg, {icon: 2,skin: 'layer-ext-moon'})
					}
		 })
		 })
	})
 })
</script>

{/block}