html {
    font-size: 20px;    
}
@media screen and (min-width: 320px) {
    html {
        font-size:17.07px;
    }
}
@media screen and (min-width: 360px) {
    html {
        font-size:19.2px;
    }
}
@media screen and (min-width: 375px) {
    html {
        font-size:20px;
    }
}
@media screen and (min-width: 414px) {
    html {
        font-size:22.08px;
    }
}
@media screen and (min-width: 640px) {
    html {
        font-size:34.13px;
    }
}
@media screen and (min-width: 720px) {
    html {
        font-size:38.4px;
    }
}
@media screen and (min-width: 750px) {
    html {
        font-size:40px;
    }
}
@media screen and (min-width: 800px) {
    html {
        font-size:42.67px;
    }
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, s, small, strong, sub, sup, b, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button, input{margin: 0;padding: 0;border: 0;outline: none;list-style: none;font-style: normal!important;}
body{font-family:'\5FAE\8F6F\96C5\9ED1';color: #333;}
/*.w-wrap{max-width: 750px;margin: 0 auto;}*/
a:hover{text-decoration: none;}

.bg-gray{background-color: #ffffff}
.bg-blue{background: linear-gradient(to right, #10aeff 0%, #5e49f6 100%);}

.w40{width: 1rem;height:1rem;}
.w44{width: 1.1rem;height:1.1rem;}
.w60{width: 1.5rem;height:1.5rem;}
.w74{width: 1.85rem;height:1.85rem;}
.w80{width: 2rem;height:2rem;}
.w96{width: 2.4rem;height:2.4rem;}
.w100{width: 2.5rem;height:2.5rem;}

.mt-43{margin-top: 2.15rem;}
.mt-44{margin-top: 2.2rem;}

.color3{color: #333!important;}
.color6{color: #666!important;}
.color9{color: #999!important;}
.color-red{color: #d25851!important;}
.color-pink{color: #ff5454!important;}
.color-blue{color: #45b5f0!important;}
.color-green{color: #0bbf06!important;}
.color-orange{color: #ff7200!important;}
.color-brown{color: #AE4B4B!important;margin-left: -0.36rem;}
.color-crimson{color:red}

.btn-red{color: #fff;background: #58b4fb;}
.btn-red:hover{color: #fff;background: #58b4fb;}

.btn-blue{color: #fff;background: linear-gradient(to right, #00aaff 0%, #0085fe 100%);}
.btn-blue:hover{color: #fff;background: linear-gradient(to right, #00aaff 0%, #0085fe 100%);}

.btn-green{color: #fff;background-color: #0bbf06;border-color: #0bbf06;}
.btn-green:hover{color: #fff;background-color: #07b003;border-color: #07b003;}

.btn-orange{color: #fff;background-color: #ff7800;border-color: #ff7800;}
.btn-orange:hover{color: #fff;background-color: #f17507;border-color: #f17507;}
.btn:focus{box-shadow: none;}

.btn-full{display: block;font-size: 0.85rem;margin: 1rem 0.75rem 1rem;}

.cursor_pointer{cursor: pointer;}

.no-allowed{background: #ddd!important;border-color: #ddd!important;}

input::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
    color: #999!important;
    opacity: 1;
}
input::-moz-placeholder, .form-control::-moz-placeholder {
    color: #999!important;
    opacity: 1;
}
input:-ms-input-placeholder, .form-control::-ms-input-placeholder {
    color: #999!important;
    opacity: 1;
}
input::-ms-input-placeholder, .form-control::-ms-input-placeholder {
    color: #999!important;
    opacity: 1;
}
input::placeholder, .form-control::placeholder {
    color: #999!important;
    opacity: 1;
}

/* chorme 浏览器记住密码后input黄色背景处理方法 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/*头部*/
header.navbar{height: 44px;/*line-height: 2.2rem;*/overflow: hidden;padding:.4rem .75rem;}
header .return{width: 1.1rem;height: 1.1rem;padding: 0.075rem 0.5rem 0.075rem 0;}
header .title{font-size: .85rem;color:#fff;}
header img{display:block;width: 100%;}

.swiper-container{width: 100%;}
.swiper-pagination{width: 100%;height: .8rem;line-height: .8rem;}
.swiper-pagination-bullet{width:.3rem;height:.3rem;border:.05rem solid #fff;border-radius:50%;background:transparent;margin:5px;opacity:1;vertical-align: top;}
.swiper-pagination-bullet-active{background:#fff;}

.card-img-top{margin: 0 auto;}
.card-body{padding: .3rem 0 .6rem 0;}
.card-text{font-size: .6rem;}

.minirefresh-wrap{height: 100%;}
.minirefresh-theme-default .minirefresh-downwrap{top: 2.2rem;}
.minirefresh-wrap.t44-b0-space {height: auto;top: 2.2rem;bottom: 0;}
.minirefresh-wrap.t44-b47-space {height: auto;top:30px;bottom: 2.35rem;}
.minirefresh-wrap.t44-b50-space {height: auto;top: 2.2rem;bottom: 2.5rem;}
main.multi-tab .minirefresh-wrap {height: auto;top: 4.35rem;bottom: 2.5rem;}
main.multi-tab .minirefresh-theme-default .minirefresh-downwrap{top: 0;}
main.multi-tab .minirefresh-theme-default .minirefresh-upwrap{background: #f6f6f6;}
main .content{position: absolute;top:0;bottom:0;left: 0;right: 0;z-index: 1000;}
main .t44{top:2.2rem;}
main .t87{top:4.35rem;}

.model-warp{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd; }
.right-arrow{width: .5rem;height: .85rem;}

/*底部*/
footer.navbar{display:block;height: 2.5rem;overflow:hidden;padding:.3rem 0 0 0;margin:0 auto;border-top: 1px solid #b3b5b6;}
footer.navbar .row{padding:0;margin:0;}
footer .card i{display: block;width: 1.2rem;height: 1.2rem;margin: 0 auto;}
footer .card i.home{background: url(../../../images/common/footer/tab_set_home_icon.png) no-repeat;background-size: 100%;}
footer .card i.category{background: url(../../../images/common/footer/tab_set_clas_icon.png) no-repeat;background-size: 100%;}
footer .card i.sell{width: 2.25rem;height: 2.25rem;background: url(../../../images/common/footer/tab_set_sale_icon.png) no-repeat;background-size: 100%;margin-top: -.2rem;}
footer .card i.enterprise{background: url(../../../images/common/footer/tab_set_firm_icon.png) no-repeat;background-size: 100%;}
footer .card i.mine{background: url(../../../images/common/footer/tab_set_me_icon.png) no-repeat;background-size: 100%;}

footer .active .card i.home{background: url(../../../images/common/footer/tab_set_home_icon_pre.png) no-repeat;background-size: 100%;}
footer .active .card i.category{background: url(../../../images/common/footer/tab_set_clas_icon_pre.png) no-repeat;background-size: 100%;}
footer .active .card i.enterprise{background: url(../../../images/common/footer/tab_set_firm_icon_pre.png) no-repeat;background-size: 100%;}
footer .active .card i.mine{background: url(../../../images/common/footer/tab_set_me_icon_pre.png) no-repeat;background-size: 100%;}

footer .card-body{padding: 0;}
footer .card-text{font-size: .45rem;color: #5f646e;}
footer .active .card-text{color: #45b5f0;}


/*返回顶部按钮*/
.totop{position: fixed;right: .75rem;bottom: 6.8rem;z-index: 1033;width: 2.1rem;height: 2.1rem;background: url("../../../images/common/com_top.png") no-repeat;background-size: 100%;overflow: hidden;display: none;}
.minirefresh-totop{right: .75rem;bottom: 6.8rem;width: 2.1rem;height: 2.1rem;background: url("../../../images/common/com_top.png") no-repeat;background-size: 100%;}

.board-box{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin-bottom: .6rem;}
.board-box:first-child{border-top: 0;}
.board-box:last-child{border-bottom: 0;margin-bottom: 0;}
.board-box .tit{font-size: 1.25rem;color:#333;text-align: center;padding: 1.8rem 0 1.625rem 0;}
.step-ico{display:block;width: 6.85rem;height: 6.85rem;margin:0 auto;}
.board-box ul{padding: .75rem 0 1.65rem 4.25rem;}
.board-box li{font-size: .8rem;color: #333;line-height: 1.4rem;}

main .fixed-top{top: 2.2rem;/*background: #45b5f0;*/}
.nav-pills .nav-item{padding: .2rem 0;}
.nav-pills .nav-link{font-size: .75rem;color: #fff;opacity: .7;padding: .35rem 0 .2rem 0;border-radius: 0;}
.nav-pills .nav-link.active{background: none;border-bottom: 2px solid #008eff;opacity: 1;}

.media img:first-child{margin-right: .75rem;}
.media-body h5{font-size: .85rem;}
.tab-content li{margin: .6rem auto;background: #fff;}
.tab-content li .tit{color:#fefefe;margin-bottom: .35rem;margin-top: .2rem;}
.tab-content li .desc{font-size: .6rem;color:#fefefe;opacity: .55;}

.null_data{position: absolute;top: 50%;transform: translateY(-50%);left: 0;right: 0;text-align: center;}
.null_data i{display: block;width: 4.3rem;height: 5.1rem;background: url(../../../images/productClassify/no_classify.png) no-repeat 0 0;background-size: 100%;margin: 0 auto;}
.null_data i.null_notice_ico{background: url(../../../images/common/no_notice.png) no-repeat 0 0;background-size: 100%;}
.null_data i.null_record_ico{background: url(../../../../memberCenter/images/common/no_draw.png) no-repeat 0 0;background-size: 100%;}
.null_data p{font-size: .75rem;color: #999;margin-top: 1rem;}
.null_data .btn{width: 10.75rem;font-size: .7rem;padding: .3rem .75rem;margin-top: .5rem;}

.layui-m-layershade{background-color: rgba(0,0,0,.2)!important;}
.layui-m-layer .layui-m-layercont{padding: 1.2rem .75rem;font-size: .65rem;color: #333;min-height: 1.25rem;line-height: 1.25rem;}
.layui-m-layercont .ico:before{display: inline-block;content: "";width: 1.25rem;height: 1.25rem;vertical-align: top;margin-right: .5rem;}
.layui-m-layercont .ico_right:before{background: url("../../../images/common/copy_right_icon.png") no-repeat;background-size: 100%;}
/*.layui-m-layercont .ico_error:before{background: url("../../../images/common/copy_right_icon.png") no-repeat;background-size: 100%;}*/
.layui-m-layercont .ico_warn:before{background: url("../../../images/common/remind_icon.png") no-repeat;background-size: 100%;}
.layui-m-layer .layui-m-layerbtn{height: 2.1rem;line-height: 2.1rem;border-top: 1px solid #ddd;background-color: #fff;}

.layui-m-layer .popuo-info{background-color: #494949;color: #fff;}
.layui-m-layer .popuo-info .layui-m-layercont{font-size:.7rem;color: #fff;padding: .5rem .75rem;}

.layui-m-layer .actionsheet-pop{position: fixed;bottom: 0;left: 0;width: 100%;}
.actionsheet-header{height: 2.5rem;background: #ffffff;position: relative;/*border-bottom: 1px solid #e5e5e5;*/}
.actionsheet-header h4{font-size: .75rem;color: #666;text-align: center;line-height: 2.5rem;}
.actionsheet-close-btn{position:absolute;top:0;right:0;width: .9rem;height: .9rem;padding: .8rem .75rem;cursor: pointer;}
.actionsheet-close-btn .icon-close{display: block;width: .9rem;height: .9rem;background: url("../../../images/recycle/closed.png") no-repeat;background-size: 100%;}


/*用户协议*/
.agreement-box{margin: 0 .75rem 0;font-size: .6rem;color: #999;}
.isAgree, .agreement{display: inline-block;height: 1.9rem;line-height: 1.9rem;cursor:pointer;}
.isAgree .checkbox{display: inline-block;width: .9rem;height: .9rem;background: url(../../../images/common/choose_no_btn.png) no-repeat;background-size: 100%;vertical-align: top;margin: .5rem .25rem 0 0;}
.isAgree .checkbox.active{background: url(../../../images/common/choose_def_btn.png) no-repeat;background-size: 100%;}

.state_box{position: absolute;top: 50%;transform: translateY(-50%);left: 0;right: 0;text-align: center;}
.state_box i{display: block;width: 4.3rem;height: 4.3rem;margin: 0 auto;}
.state_box i.success_ico{background: url(../../../images/common/com_suc_icon.png) no-repeat 0 0;background-size: 100%;}
.state_box p{font-size: .7rem;color: #999;margin-top: 1rem;}
.state_box .btn{font-size: .7rem;padding: .3rem .75rem;margin-top: .5rem;}

/*删除图标*/
.delete-ico {width: 2.25rem;height: 2.25rem;padding: 0.75rem;}

/*徽章*/
.badge{padding: 0.15rem 0.375rem;font-weight: normal !important;font-size: 0.55rem;line-height: 0.6rem;}
.badge-danger{background: #f16d60;}
.badge-success{background: #0bbf06;}

.layer-pop-dropdown{position:relative;}
.arrow-up{position: absolute;top: -0.3rem;right: -0.15rem;border-left: 0.3rem solid transparent;border-right: 0.3rem solid transparent;border-bottom: 0.3rem solid #fff;}
.layer-pop-dropdown li{position:relative;height:1.95rem;line-height:1.95rem;padding-left:2.1rem;padding-right:0.55rem;font-size: 0.7rem;color: #333;}
.layer-pop-dropdown li:first-child{border-bottom:1px solid #ddd;}
.layer-pop-dropdown li:before{display:block;content:"";position: absolute;top: 0.475rem;left: 0.6rem;width:1rem;height:1rem;}
.layer-pop-dropdown li.batch:before{background:url(../../../../memberCenter/images/sellCardRecord/batch_inqu_icon.png) no-repeat 0 0;background-size:100%;}
.layer-pop-dropdown li.single:before{background:url(../../../../memberCenter/images/sellCardRecord/single_inqu_icon.png) no-repeat 0 0;background-size:100%;}
.topTip{border-bottom: 1px solid #ffe8a1;padding: 0.425rem 0 0.425rem 0.75rem;background: #ffecc0;font-size: 0.6rem;color: #d68c34;position: relative;top: 0;}
.topTip-ico{position: absolute;top: 0;right: 0;padding: 0.425rem 0.75rem 0.425rem 0;}
.topTip-ico img{width:0.9rem;height:0.9rem;}

.comtip{font-size: 0.7rem;color: red;padding: 0 0.75rem;text-align: center;line-height: 1.2rem;margin-top: 0.5rem;}

.top-prompt{position: fixed;top: 0;left: 0;z-index: 1030;width: 100%;height: 1.85rem; line-height: 1.85rem;background: #fef4e5;padding: 0 0.75rem; color: #ee3d5f; font-size: .6rem;overflow: hidden;}
.top-prompt .left-part{width: 80%;height: 100%;overflow: hidden;}
.top-prompt .left-part span{max-width: 64%;height: 100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.top-prompt .left-part .view-detail-btn{margin-left: 0.5rem;}
.top-prompt .close-btn{width: 1.1rem;height: 1.1rem;background: url(../../../images/common/close_sw_icon.png) no-repeat;background-size: 100%;margin-top: 0.375rem;}
.top-prompt+header {top: 1.85rem;}
.top-prompt~.minirefresh-wrap .minirefresh-downwrap{top: 4.05rem;}
.top-prompt~.minirefresh-wrap .bannaer-box{height: 12.525rem;}
.top-prompt~.minirefresh-wrap .bannaer-box .swiper-container{top: 4.35rem;}
.top-prompt~.minirefresh-wrap .bannaer-box .bg{top: 1.85rem;}
.top-prompt~.minirefresh-wrap.t44-b47-space{top: 4.05rem;}
.top-prompt~.minirefresh-wrap.t44-b47-space .minirefresh-downwrap{top: 0;}
