/*订单记录详情*/
#minirefresh{height: auto;top:2.2rem;}
.detail-title{font-size: 0.6rem;text-align: center;line-height: 2.25rem;}
.detail-title img{margin-right: 0.2rem;}
.color-purple{color: #6196c7;}
.color-blue1{color: #1a7bb9;}
.detail-item{margin-bottom: 0.6rem;background: #e2f2f7;font-size: 0.65rem;padding: 0 0.75rem;line-height: 1.5rem;}
.detail-item .left-txt{color: #999;}


/*卖卡记录详情*/
.sellcard-detail-wrap{padding-top: 0.6rem;position: absolute;top: 2.2rem;left: 0;right: 0;}
#submitAllFailCard{margin: 1.6rem 0.75rem 2rem;}
.list-title{font-size: 0.6rem;color: #333;line-height: 1.95rem;text-align: center;}
.list-content{margin: 0 0.75rem;border: 1px solid #ddd;border-bottom: 0;border-radius: 0.25rem 0.25rem 0 0;background: #fff url(../../images/common/fill_page.png) repeat-x left bottom;}
.list-item{padding: 0.8rem 0;margin: 0 1.5rem;border-bottom: 1px dashed #ddd;}
.list-item:last-child{border-bottom: 0;}
.list-item .line{font-size: 0.6rem;color: #666;line-height: 1.05rem;}
.justify{float: left;display: inline-block;width: 3rem;text-align: justify;text-align-last: justify;}
.line b{float: left;font-weight: normal;max-width: 10rem;}
.list-footer{line-height: 1.9rem;font-size: 0.6rem;color: #45b5f0;padding: 0 0.75rem;text-align: center;}
.list-footer .border-top{display: block;border-top: 1px dashed #ddd!important;}