.form-pannel{position: absolute;top: 4.35rem;bottom: 0;left: 0;right: 0;z-index: 1000;}
.form-pannel form{background: #fff;margin: 1rem 0.75rem 0;padding: 0 0.75rem;border-radius: 4px;}
.form-group{margin: 0;position: relative;border-bottom: 1px solid #ddd;}
.form-group:last-child{border-bottom: 0;}
.form-group i{display: block;width: 1.1rem;height: 1.1rem;position: absolute;top: .825rem;left: 0;}
.form-group .user{background: url(../../../images/common/form/login_num_icon.png) no-repeat 0 0;background-size: 100%;}
.form-group .lock{background: url(../../../images/common/form/login_pass_icon.png) no-repeat 0 0;background-size: 100%;}
.form-group .phone{background: url(../../../images/common/form/login_pho_icon.png) no-repeat 0 0;background-size: 100%;}
.form-group .shield{background: url(../../../images/common/form/login_veri_icon.png) no-repeat 0 0;background-size: 100%;}
.form-group .number{background: url(../../../images/common/form/login_nber_icon.png) no-repeat 0 0;background-size: 100%;}

.form-group a{position: absolute;top: .5rem;right:0;padding: 0.5rem 0 0.5rem 0.5rem;}
.form-group a.right37{right: 1.85rem;}
.form-group a.right89{right: 4.45rem;}
.form-group a.right104{right: 5.2rem;}
.form-group a.delete{display: none;}
.form-group .delete b{display: block;width: .75rem;height: .75rem;background: url(../../../images/common/form/com_dele_icon.png) no-repeat 0 0;background-size: 100%;}
.form-group .showPassword, .form-group .hidePassword{padding: .325rem 0 .325rem .15rem;}
.form-group .showPassword b{display: block;background: url(../../../images/common/form/open_eye_icon.png) no-repeat 0 0;background-size: 100%;}
.form-group .hidePassword b{display: block;background: url(../../../images/common/form/close_eye_icon.png) no-repeat 0 0;background-size: 100%;}


.form-control{border: 0;border-radius: 0;font-size: 0.7rem;color: #333;width: 100%;height: 2.75rem;line-height: 1.1rem;padding: 0 3.2rem 0 1.85rem;}
.form-control.code{padding-right: 6rem;}
.form-control:focus{box-shadow: none;}

.form-group .resend-code{display: block;padding: 0.5rem 0;font-size: 0.625rem;color: #ccc;top:0.4rem;}

.forgot-password{font-size: 0.65rem;color: #999;height: 1.65rem;line-height: 1.65rem;margin: .25rem .75rem .25rem 0;}

.full-btn{display: block;margin: 0 .75rem .6rem;font-size: 0.85rem;}
.btn.mt-43{margin-top: 2.15rem;}

.login_way{margin: 0 0.75rem;position: relative;}
.login_way p{height: 1px;background: #ddd;width: 100%;margin: 1.625rem 0 0 0;}
.login_way span{display: block;width: 30%;height: 1.5rem;line-height: 1.5rem;background: #f6f6f6;position: absolute;top: -.7rem;left: 35%;z-index: 2;font-size: .6rem;color: #333;text-align: center;}
.third-login{margin: 1.2rem 0 0 0;}
.third-login .col-3{text-align: center;}
.third-login .weixinIcon{display:inline-block;background: url("../../../images/common/form/login_wx_icon.png") no-repeat 0 0;background-size: 100%;vertical-align: middle;}
.third-login .weixinIcon:hover{background: url("../../../images/common/form/login_wx_icon_pre.png") no-repeat 0 0;background-size: 100%;}
.third-login .qqIcon{display:inline-block;background: url("../../../images/common/form/login_qq_icon.png") no-repeat 0 0;background-size: 100%;vertical-align: middle;}
.third-login .qqIcon:hover{background: url("../../../images/common/form/login_qq_icon_pre.png") no-repeat 0 0;background-size: 100%;}

.register-wrap .login_way p{margin: 2.425rem 0 0 0;}


/*昵称*/
.form-easy{position: absolute;top: 2.2rem;bottom: 0;left: 0;right: 0;z-index: 1000;}
.form-easy form{margin: 0.6rem 0.75rem 0;}
.form-easy .form-group{border: 0;}
.form-easy .form-control{height: 2rem;border: 1px solid #ddd;border-radius: 4px;padding-left: 0.75rem;}
.form-tip{font-size: 0.6rem;color: #b2aea8;line-height: 1.6rem;}
.form-easy .delete{top: .124rem;padding: 0.5rem 0.75rem 0.5rem 0.5rem;}
.form-easy a.btn{margin-top: 0.55rem;}


/*第三方登录绑定*/
.third-login-bind-warp .form-pannel form{margin: 2rem 0.75rem 2.15rem;}
