/*提现记录*/
main.withdraw-record-wrap .minirefresh-wrap{bottom: 0;}
.data-list .list-item{padding: 0 0.75rem;}
.list-item .media{padding: 0.675rem 0 0.8rem 0;border-bottom: 1px dashed #ddd;}
.data-list .list-item .tit{font-size: 0.65rem;color: #333;line-height: 1.45rem;margin: 0;}
.data-list .list-item .desc{font-size: 0.55rem;color: #666;line-height: 1.1rem;opacity: 1;}

.list-item-footer{position: relative;line-height: 2rem;font-size: 0.55rem;color: #666;margin: 0;cursor:pointer;}
.list-item-footer:hover{color:#666;}
.list-item-footer:after{display:block;content:"";position: absolute;top: 0.65rem;right: 0;width: 0.5rem;height: 0.7rem;background: url("../../../web/images/common/gray_details_btn.png") no-repeat;background-size: 100%;}
.list-item-footer.no-right-arrow:after{background: none;}
.list-item-footer .col, .list-item-head .col{padding: 0;}
.list-item-footer .color-blue{color: #1a7bb9!important;}

.null_record_data{position: absolute;top: 50%;transform: translateY(-50%);left: 0;right: 0;text-align: center;}
.null_record_data i{display: block;width: 4.3rem;height: 5.1rem;background: url(../../../web/images/productClassify/no_classify.png) no-repeat 0 0;background-size: 100%;margin: 0 auto;}
.null_record_data i.null_notice_ico{background: url(../../../web/images/common/no_notice.png) no-repeat 0 0;background-size: 100%;}
.null_record_data i.null_record_ico{background: url(../../../memberCenter/images/common/no_draw.png) no-repeat 0 0;background-size: 100%;}
.null_record_data i.null_classify_ico{background: url(../../../web/images/productClassify/no_classify.png) no-repeat 0 0;background-size: 100%;}
.null_record_data i.null_finance_ico{background: url(../../../memberCenter/images/finance/no_draw.png) no-repeat 0 0;background-size: 100%;}
.null_record_data i.null_lower_ico{background: url(../../../memberCenter/images/invite/no_junior.png) no-repeat 0 0;background-size: 100%;}
.null_record_data p{font-size: .75rem;color: #999;margin-top: 1rem;}
.null_record_data .btn{width: 10.75rem;font-size: .7rem;padding: .3rem .75rem;margin-top: .5rem;}
ul.nav-pills.top44{top:2.2rem;background: #45b5f0;}
.withdraw-record-wrap{margin-top:4.35rem;overflow: hidden;}

/*卖卡记录*/
#sellcard-record-tab{top:2.2rem;background: #45b5f0;}
.sellcard-record-wrap{margin-top:4.35rem;overflow: hidden;}
.data-list .list-item .media-con{font-size: 1.25rem;}
.list-item .sellcard-media{padding: 1.3rem 0;background: url("../../../web/images/index/sale_details_btn.png") no-repeat right center;background-size: 0.5rem 0.85rem;}
.list-item-head{line-height: 2rem;font-size: 0.6rem;color: #333;border-bottom: 1px dashed #ddd; margin: 0;}

.single-card-item [class^="col"]{padding: 0;}
.state-btn{border: 1px solid #ff7200;border-radius: 2px;padding: 0.15rem 0.3rem;}
.state-btn.being-state{border-color: #00a6e8;color: #00a6e8;}
.state-btn.fail-state{border-color: red;color: red;}
.state-btn.succ-state{border-color: #07b003;color: #07b003;}
.single-card-item .sellcard-media{font-size: 0.6rem;padding: 0.675rem 0 0.8rem 0;background: none;}
.single-card-item .sellcard-media p{line-height: 1.2rem;}
.line-bar{margin: 0 0.75rem;color: #ececec;}
.single-card-item .footer{line-height: 2rem;font-size: 0.6rem;}

/*账户流水*/
.mt87{margin-top:4.35rem;overflow: hidden;}
.account-fanace-wrap .remark{width: 100%;font-size: 0.55rem;line-height: 1rem;margin-top: -0.4rem;padding-bottom: 0.55rem;}
.green5{padding:0.2rem;border:1px solid #3BBD3F;color:#3BBD3F;}
.padd-left{padding-left:0.2rem !important;}
