<!--固定底部-->
<footer class="navbar fixed-bottom bg-white w-wrap">
    <div class="row">
        <div class="col">
            <a class="d-block  {if condition="($acti == 'index') and ($cont == 'Index')"}active{/if}" href="/">
                <div class="card border-0 rounded-0">
                    <i class="home"></i>
                    <div class="card-body">
                        <p class="card-text text-center">首页</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="d-block {eq name="$acti" value="recycle"}active{/eq}" href="{:U('home/index/recycle')}" >
                <div class="card border-0 rounded-0">
                    <i class="category"></i>
                    <div class="card-body">
                        <p class="card-text text-center">分类</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="d-block" href="{:U('home/member/sellCard')}">
                <div class="card border-0 rounded-0">
                    <i class="sell"></i>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="d-block {eq name="$acti" value="retrieve"}active{/eq}" href="{:U('home/index/retrieve')}">
                <div class="card border-0 rounded-0">
                    <i class="enterprise"></i>
                    <div class="card-body">
                        <p class="card-text text-center">企业</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
        	<!-- <a class="d-block" href="http://m.renrenxiaoka.com/passport/login/index.html"> -->
            <a class="d-block {eq name="$cont" value="Member"}active{/eq}" href="{:U('home/member/index')}">
                <div class="card border-0 rounded-0">
                    <i class="mine"></i>
                    <div class="card-body">
                        <p class="card-text text-center">我的</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</footer>