{include file="public/heard"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_email" name="name"  required="" autocomplete="off" class="layui-input"></div>
                    </div>
					<div class="layui-form-item">
                        <label for="L_photo" class="layui-form-label">
                            <span class="x-red">*</span>类型</label>
                        <div class="layui-input-block" style="width:50%">
						  <select name="class">
						  	{volist name="category" id="vo"}
							  <option value="{$vo.id}">{$vo.name}</option>
							  {/volist}
						  <!--
						  <option value="1" >音乐读书</option>
						  <option value="3" >美食出行</option>
						  <option value="4" >联通卡密</option>
						  <option value="5" >其他卡类</option>
						  -->
						  <!--<option value="6" >电商卡</option>-->
						  </select>
						</div>
                    </div>
					<div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>运营商</label>
                        <div class="layui-input-block" style="width:30%">
						<select name="oper">
                            {volist name="arre" id="pp"}
							<option value="{$pp.id}" >{$pp.name}</option>
							{/volist}
							</select>
							</div>
                       </div>
                  <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>提交类型</label>
                        <div class="layui-input-block" style="width:30%">
						<select name="auto">
							<option value="0"  >自动</option>
                            <option value="1" >手动</option>
							</select>
							</div>
                       </div>
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>通道代码</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="type"  placeholder="数字：5" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>合作费率</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="payrate"  placeholder="95.00" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>系统费率</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="sysrate"  placeholder="98.00" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>卡面值</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="rule"  placeholder="50|20|100" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>图标1</label>
                        <div class="layui-input-block" style="width:30%">
                            <img id="icon" src="" width="200" height="200">
							  <input type="hidden" name="iconUrl" value="">
							  <button type="button"   class="layui-btn" id="test">
								  <i class="layui-icon">&#xe67c;</i>上传图片
								</button>
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>图标2(180*90)）</label>
                        <div class="layui-input-block" style="width:30%">
                            <img id="icon2" src="" width="200" height="200">
							  <input type="hidden" name="phoneRecycleIcon" value="">
							  <button type="button"   class="layui-btn" id="test1">
								  <i class="layui-icon">&#xe67c;</i>上传图片
								</button>
							</div>
                       </div>
					   
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>卡密规则</label><button type="button" class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="addin" lay-submit=""><i class="layui-icon"></i></button>
                        
                    </div>
					<div class="layui-form-item">
                        <div class="layui-input-block" style="width:50%" id="inpu">
						
						</div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" type='button' lay-filter="aby" lay-submit="">保存</button></div>
				</form>
            </div>
        </div>
        <script>
		function jian(p){
				    $(p).remove();
				  }
		layui.use('upload', function(){
		  var upload = layui.upload,layer = layui.layer;
		  //执行实例
		  var uploadInst = upload.render({
			 elem: '#test' //绑定元素
			,url: '{:U("simple/system/upload")}' //上传接口
			,done: function(res){
				 if(res.code==1){
					$("#icon").attr('src',res.url);
					$("input[name=iconUrl]").val(res.url);
					layer.msg(res.info,{time:1000,icon:1});
				 }else{
					layer.msg(res.info,{time:1000,icon:2});
				 }
			}
			,error: function(){
			  //请求异常回调
			}
		  });
		   //执行实例
		  var uploadInst = upload.render({
			 elem: '#test1' //绑定元素
			,url: '{:U("simple/system/upload")}' //上传接口
			,done: function(res){
				 if(res.code==1){
					$("#icon2").attr('src',res.url);
					$("input[name=phoneRecycleIcon]").val(res.url);
					layer.msg(res.info,{time:1000,icon:1});
				 }else{
					layer.msg(res.info,{time:1000,icon:2});
				 }
			}
			,error: function(){
			  //请求异常回调
			}
		  });
		});
layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,upload = layui.upload,
                layer = layui.layer;
				
                form.on('submit(addin)',
						function addin(){
						 var num=$("#inpu .layui-inline").length;
						 if(num==0)num==1;
						 var html='<div class="layui-inline">';
						 html +='<label class="layui-form-label">卡密说明</label>';
						 html +="<div class='layui-input-inline'><input type='text' name='amt["+num+"][cardNumberLength]' autocomplete='off' class='layui-input'>";
						 html +='</div><label class="layui-form-label">直接填0</label>';
						 html +="<div class='layui-input-inline'><input type='text' name='amt["+num+"][cardPasswordLength]' autocomplete='off' class='layui-input'>";
						 html +='</div></div>';
						 $("#inpu").append(html);
				        }
				);
                //监听提交
                form.on('submit(aby)',
                   function(data) {
						var loading =layer.load(3, {shade: [0.1,'#fff']});
						$.post("",data.field,function(res){
								layer.close(loading);
								if (res.code==1) {
									layer.alert(res.msg,{icon:1},function(){
									  xadmin.close();
						              xadmin.father_reload();
									});
								}else{
									layer.alert(res.msg,{icon:2});
								}
						})
						return false;
                  
                });

            });</script>
    </body>

</html>