{include file="public/heard"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>ID</label>
                        <div class="layui-input-inline ">
                            <input type="text" class="layui-input" disabled="disabled" value="{$u.id}" autocomplete="true" ></div>
                        </div>
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_email" name="name" required="" value="{$u.name}" autocomplete="off" class="layui-input"></div>
                    </div>
					<div class="layui-form-item">
                        <label for="L_photo" class="layui-form-label">
                            <span class="x-red">*</span>类型</label>
                        <div class="layui-input-block" style="width:50%">
						  <select name="class">
						  	{volist name="category" id="vo"}
						  <option value="{$vo['id']}" {if condition="$u['class'] eq $vo['id']"}selected{/if}>{$vo.name}</option>
						   {/volist}
						   
						   <!--
						  <option value="1" {eq name="$u.class" value="1"}selected{/eq}>音乐读书</option>
						  <option value="3" {eq name="$u.class" value="3"}selected{/eq}>美食出行</option>
						  <option value="4" {eq name="$u.class" value="4"}selected{/eq}>联通卡密</option>
						  <option value="5" {eq name="$u.class" value="5"}selected{/eq}>其他卡类</option>
						  -->
						  
						  <!--<option value="6" {eq name="$u.class" value="6"}selected{/eq}>电商卡</option>-->
						  </select>
						</div>
                    </div>
                  
					<div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>运营商</label>
                        <div class="layui-input-block" style="width:30%">
						<select name="oper">
                            {volist name="arre" id="pp"}
							<option value="{$pp.id}" {eq name="$u.oper" value="$pp.id"}selected{/eq}>{$pp.name}</option>
							{/volist}
							</select>
							</div>
                       </div>
                  <div class="layui-form-item">
                        <label for="L_photo" class="layui-form-label">
                            <span class="x-red">*</span>提交类型</label>
                        <div class="layui-input-block" style="width:50%">
						  <select name="auto">
						  <option value="0" {eq name="$u.auto" value="0"}selected{/eq}>自动</option>
						  <option value="1" {eq name="$u.auto" value="1"}selected{/eq}>手动</option>
						  </select>
						</div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>通道代码</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="type" value="{$u.type}" placeholder="可以为空" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>合作费率</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="payrate" value="{$u.payrate}" placeholder="可以为空" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>系统费率</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="sysrate" value="{$u.sysrate}" placeholder="可以为空" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>卡面值</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="rule" value="{$u.rule}" placeholder="可以为空" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <!--<div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>图标1</label>
                        <div class="layui-input-block" style="width:30%">
                            <img id="icon" src="{$u.iconUrl}" width="200" height="200">
							  <input type="hidden" name="iconUrl" value="{$u.iconUrl}">
							  <button type="button"   class="layui-btn" id="test">
								  <i class="layui-icon">&#xe67c;</i>上传图片
								</button>
							</div>
                       </div>-->
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>图标(180*90)</label>
                        <div class="layui-input-block" style="width:30%">
                            <img id="icon2" src="{$u.phoneRecycleIcon}" width="200" height="200">
							  <input type="hidden" name="phoneRecycleIcon" value="{$u.phoneRecycleIcon}">
							  <button type="button"   class="layui-btn" id="test1">
								  <i class="layui-icon">&#xe67c;</i>上传图片
								</button>
							</div>
                       </div>
					   
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>卡密规则</label><button type="button" class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="addin" lay-submit=""><i class="layui-icon"></i></button>
                        
                    </div>
					<div class="layui-form-item">
                        <div class="layui-input-block" style="width:50%" id="inpu">
						{volist  name="$u['amt']" id='vo' key='k'}
						 <div class="layui-inline">
							  <label class="layui-form-label">卡号位数</label>
							  <div class="layui-input-inline">
								<input type="text" name="amt[{$k-1}][cardNumberLength]" autocomplete="off" value="{$vo.cardNumberLength}" class="layui-input">
							  </div>
							  <label class="layui-form-label">卡密位数</label>
							  <div class="layui-input-inline">
								<input type="text" name="amt[{$k-1}][cardPasswordLength]" autocomplete="off" value="{$vo.cardPasswordLength}" class="layui-input">
							  </div>
							  <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="jian($(this).parent())"><e class="layui-icon">&#xe640;</e></button>
							</div>
							{/volist}
							
						</div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
						<input type="hidden" name="id" value="{$u.id}">
                        <button class="layui-btn" type='button' lay-filter="aby" lay-submit="">保存</button></div>
				</form>
            </div>
        </div>
        <script>
		function jian(p){
				    $(p).remove();
				  }
		layui.use('upload', function(){
		  var upload = layui.upload,layer = layui.layer;
		  //执行实例
		  var uploadInst = upload.render({
			 elem: '#test' //绑定元素
			,url: '{:U("simple/system/upload")}' //上传接口
			,done: function(res){
				 if(res.code==1){
					$("#icon").attr('src',res.url);
					$("input[name=iconUrl]").val(res.url);
					layer.msg(res.info,{time:1000,icon:1});
				 }else{
					layer.msg(res.info,{time:1000,icon:2});
				 }
			}
			,error: function(){
			  //请求异常回调
			}
		  });
		   //执行实例
		  var uploadInst = upload.render({
			 elem: '#test1' //绑定元素
			,url: '{:U("simple/system/upload")}' //上传接口
			,done: function(res){
				 if(res.code==1){
					$("#icon2").attr('src',res.url);
					$("input[name=phoneRecycleIcon]").val(res.url);
					layer.msg(res.info,{time:1000,icon:1});
				 }else{
					layer.msg(res.info,{time:1000,icon:2});
				 }
			}
			,error: function(){
			  //请求异常回调
			}
		  });
		});
layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,upload = layui.upload,
                layer = layui.layer;
				layer.ready(function(){
				   var ok="{$ok}";
				   if(!ok){
						layer.msg("参数错误",{time:1000,icon:2},function(){
								 xadmin.close();
							});
					}
				  });
				  
                form.on('submit(addin)',
						function addin(){
						 var num=$("#inpu .layui-inline").length;
						 if(num==0)num==1;
						 var html='<div class="layui-inline">';
						 html +='<label class="layui-form-label">卡密说明</label>';
						 html +="<div class='layui-input-inline'><input type='text' name='amt["+num+"][cardNumberLength]' autocomplete='off' class='layui-input'>";
						 html +='</div><label class="layui-form-label">直接填0</label>';
						 html +="<div class='layui-input-inline'><input type='text' name='amt["+num+"][cardPasswordLength]' autocomplete='off' class='layui-input'>";
						 html +='</div></div>';
						 $("#inpu").append(html);
				        }
				);
                //监听提交
                form.on('submit(aby)',
                   function(data) {
						var loading =layer.load(3, {shade: [0.1,'#fff']});
						$.post("{:U('simple/card/msgEdit')}",data.field,function(res){
								layer.close(loading);
								if (res.code==1) {
									layer.alert(res.msg,{icon:1},function(){
									  xadmin.close();
						              xadmin.father_reload();
									});
								}else{
									layer.alert(res.msg,{icon:2});
								}
						})
						return false;
                  
                });

            });</script>
    </body>

</html>