{include file="public/heard"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>ID</label>
                        <div class="layui-input-inline ">
                            <input type="text" class="layui-input" disabled="disabled" value="{:isset($da.id)?$da.id:""}" autocomplete="true" ></div>
                        </div>
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_email" name="name" value="{:isset($da.name)?$da.name:""}" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>类名</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="class" value="{:isset($da.class)?$da.class:""}" placeholder="必填" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>商户ID</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="des[pay_pid]" value="{:isset($da.des.pay_pid)?$da.des.pay_pid:""}" placeholder="可以为空" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>商户密钥</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="des[pay_key]" value="{:isset($da.des.pay_key)?$da.des.pay_key:""}" placeholder="可以为空" autocomplete="off" class="layui-input">
							</div>
                       </div>
					   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>3DES密钥</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="des[pay_3de]" value="{:isset($da.des.pay_3de)?$da.des.pay_3de:""}" placeholder="没有可以为空" autocomplete="off" class="layui-input">
							</div>
                       </div>
					    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">url</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="url" value="{:isset($da.url)?$da.url:""}" placeholder="没有可以为空" autocomplete="off" class="layui-input">
							</div>
                       </div>
					    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">技术QQ</label>
                        <div class="layui-input-block" style="width:30%">
                            <input type="text" id="L_pass" name="qq" value="{:isset($da.qq)?$da.qq:""}" placeholder="没有可以为空" autocomplete="off" class="layui-input">
							</div>
                       </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
						<input type="hidden" name="id" value="{:isset($da.id)?$da.id:""}">
                        <button class="layui-btn" type='button' lay-filter="aby" lay-submit="">保存</button></div>
				</form>
            </div>
        </div>
        <script>
layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,upload = layui.upload,
                layer = layui.layer;
				layer.ready(function(){
                //监听提交
                form.on('submit(aby)',
                   function(data) {
						var loading =layer.load(3, {shade: [0.1,'#fff']});
						$.post("",data.field,function(res){
								layer.close(loading);
								if (res.code==1) {
									layer.alert(res.msg,{icon:1},function(){
									  xadmin.close();
						              xadmin.father_reload();
									});
								}else{
									layer.alert(res.msg,{icon:2});
								}
						})
						return false;                  
                });
				});

            });</script>
    </body>

</html>