@charset"utf8";

/*帮助页面*/
.list-comm-warp{ width: 1320px; height: auto; overflow:hidden; margin-bottom: 40px;  }
.list-comm-warp .list-comm-left{ background: #fff; width: 258px; min-height: 560px; float: left; border: 1px solid #ddd;  border-radius: 6px; }
.list-comm-warp .list-comm-left dl{ width: 258px; }
.list-comm-warp .list-comm-left dt{ width: 147px; height: 48px; background: #bae7fe; padding-left: 111px; line-height: 48px; position: relative; color: #333333; font-size: 16px; }
.list-comm-warp .list-comm-left dt i{ width: 24px; height: 24px; display: block; position: absolute; top: 12px; left: 77px; }
.list-comm-warp .list-comm-left dt a{ color: #333333; }
.list-comm-warp .list-comm-left dt a:hover{ color: #27baff; }
.list-comm-warp .list-comm-left dt i.icon-user{ background-position: 0px -374px;  }
.list-comm-warp .list-comm-left dt i.icon-help{ background-position: -34px -373px;  }
.list-comm-warp .list-comm-left dt i.icon-info{ background-position: 0px -407px;  }
.list-comm-warp .list-comm-left dd{ font-size: 14px; color: #999999; text-align: center; line-height: 40px; }
.list-comm-warp .list-comm-left dd a{ color: #999999; }
.list-comm-warp .list-comm-left dd a:hover{ color: #27baff; }
.list-comm-warp .list-comm-left dd a.txt-blue{color: #27baff;}
.list-comm-warp .list-comm-right{ width: 1028px; float: right; border: 1px solid #ddd;  border-radius: 6px; background: #fff; }
.list-comm-warp .list-comm-right .list-right-main{ overflow: hidden; padding: 0 27px 0 34px;}
.list-comm-right .list-right-main .list-right-tit{ height: 96px; line-height: 96px; border-bottom: 1px solid #ddd; }
.list-comm-right .list-right-main .list-right-tit h3{ font-size: 24px; font-weight: 500; color: #333; }
.list-comm-right .list-right-main.list-cordcoupons .list-right-tit h3.txt-blue{color: #27baff;}
.list-comm-right .list-right-main ul{ overflow: hidden; }
.list-comm-right .list-right-main li{    /*width: 962px;*/  cursor: pointer;   position: relative;  line-height: 54px;border-bottom: 1px dashed #ddd;}
.list-comm-right .list-right-main li b{ font-size: 16px; color: #333333;}
.list-comm-right .list-right-main li .list-right-explain{    display: none;padding-bottom: 10px;font-size: 14px;color: #666666;overflow: hidden;line-height: 30px;}
.list-comm-right .list-right-main li i{    width: 8px; height: 8px;display: block; position: absolute; top: 24px; right: 0px;}
.list-comm-right .list-right-main li i.icon-down{    background-position: -262px -114px;}
.list-comm-right .list-right-main li.active i.icon-down{    background-position: -244px -114px;}
.list-comm-right .list-right-main li.active .list-right-explain{ display: block; }
.list-right-main{ min-height: 558px; overflow: hidden; }
/*导航*/
.crumbs-nav{ width: 100%; height: 60px; line-height: 60px; border-bottom: 1px solid #ddd; overflow: hidden; background: #fff; }
.crumbs-nav-box{ overflow: hidden; }
.crumbs-nav-box li{ width: 328px; float: left; position: relative; text-align: center; font-size: 16px; color: #333; cursor: pointer; }
.crumbs-nav-box li i.list-border{ display: none; width: 64px; height: 3px; border-radius: 4px; position: absolute; bottom: 0; background: #27baff; left: 132px; }
.crumbs-nav-box li.list-division{ width: 1px; color: #dddddd; }
.crumbs-nav-box li.active{ color:#27baff;  }
.crumbs-nav-box li.active i.list-border{ display: block; }
.list-cordcoupons-main{ padding-top: 30px; }
.list-comm-warp .list-comm-left ul.list-comm-li{ padding: 0 20px; height: 384px; }
.list-comm-warp .list-comm-left ul.list-comm-li li{ width: 144px; height: 48px; cursor: pointer; position: relative; border-bottom: 1px dashed #ddd; line-height: 48px; padding-left: 84px; font-size: 16px; color: #666666; }
.list-comm-warp .list-comm-left ul.list-comm-li li i{ width: 24px; height: 24px; display: block; position: absolute; top: 12px; left: 54px; }
.list-comm-warp .list-comm-left ul.list-comm-li li i.icon-all{ background-position: 0px -237px;  }
.list-comm-warp .list-comm-left ul.list-comm-li li i.icon-list-iphone{ background-position: 0px -271px;  }
.list-comm-warp .list-comm-left ul.list-comm-li li i.icon-list-game{ background-position: 0px -304px;  }
.list-comm-warp .list-comm-left ul.list-comm-li li i.icon-list-fuel{ background-position: 0px -339px;  }
.list-comm-warp .list-comm-left ul.list-comm-li li.active{ color: #d25851; }
.list-comm-warp .list-comm-left ul.list-comm-li li.active i.icon-all{ background-position: -34px -237px;  }
.list-comm-warp .list-comm-left ul.list-comm-li li.active i.icon-list-iphone{ background-position: -34px -271px;  }
.list-comm-warp .list-comm-left ul.list-comm-li li.active i.icon-list-game{ background-position: -34px -304px;  }
.list-comm-warp .list-comm-left ul.list-comm-li li.active i.icon-list-fuel{ background-position: -34px -339px;  }
.list-comm-right .list-right-main.list-cordcoupons .list-right-tit h3{ color: #d25851; }
.list-right-main.list-cordcoupons.list-service{ color: #333; }
.list-comm-right .list-right-main.list-cordcoupons li{ color: #333333; font-size: 16px;  }
.list-comm-right .list-right-main.list-cordcoupons li s{ list-style: none; }
.list-comm-right .list-right-main.list-cordcoupons li a{ height: 36px; padding-left: 10px; color: #666; background: url(../../images/common/s.png) 0px center no-repeat; }
.list-comm-right .list-right-main.list-cordcoupons li a:hover{ color:#27baff;  }
.list-right-main.list-cordcoupons{ height: 876px; }
/*详情*/
.list-comm-warp.list-comm-details{ overflow: hidden; }
.list-comm-warp.list-comm-details .list-details-img{ width: 212px; height: 154px; margin: 0 auto; }
.list-comm-warp.list-comm-details .list-details{ width: 160px; height: 50px; position: relative; line-height: 50px; background: #beeaff; font-size: 16px; color: #333333; padding-left: 98px;  }
.list-comm-warp.list-comm-details .list-details i.icon-product{ width: 24px; height: 24px; display: block; position: absolute; top: 12px; left: 68px; background-position: 0px -67px;  }
.list-comm-warp.list-comm-details .list-details{}
.list-comm-warp.list-comm-details .aside-menu{ overflow: hidden; height: 788px;  padding: 0 20px;}
.list-comm-warp.list-comm-details .aside-menu .ifold-menu{overflow: hidden;      }
.list-comm-warp.list-comm-details .aside-menu .list-ifold{width: 228px;  border-bottom: 1px dashed #ddd; cursor: pointer;      }
.list-comm-warp.list-comm-details .aside-menu .list-ifold.iunfold .list-ifold-menu{ color: #d25851; }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-menu{width: 144px; height: 48px; line-height: 48px; color: #666666;  font-size: 16px;  position: relative; padding-left: 84px;}
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-menu i{ width: 24px; height: 24px; display: block; position: absolute; top: 12px; left: 54px; }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-menu i.icon-all{ background-position: 0px -237px;  }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-menu i.icon-list-iphone{ background-position: 0px -271px;  }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-menu i.icon-list-game{ background-position: 0px -304px;  }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-menu i.icon-list-fuel{ background-position: 0px -339px;  }
.list-comm-warp.list-comm-details .aside-menu .list-ifold.iunfold{ color: #d25851; }
.list-comm-warp.list-comm-details .aside-menu .list-ifold.iunfold .list-ifold-menu i.icon-all{ background-position: -34px -237px;  }
.list-comm-warp.list-comm-details .aside-menu .list-ifold.iunfold .list-ifold-menu i.icon-list-iphone{ background-position: -34px -271px;  }
.list-comm-warp.list-comm-details .aside-menu .list-ifold.iunfold .list-ifold-menu i.icon-list-game{ background-position: -34px -304px;  }
.list-comm-warp.list-comm-details .aside-menu .list-ifold.iunfold .list-ifold-menu i.icon-list-fuel{ background-position: -34px -339px;  }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-menu s{ width: 24px; height: 24px; display: block; position: absolute; right: 0; top: 12px; }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-menu s.icon-plus{ background-position: -236px -127px; }
.list-comm-warp.list-comm-details .aside-menu .list-ifold.iunfold .list-ifold-menu s.icon-reduce{ background-position: -260px -128px; }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-info{ display: none; }
.list-comm-warp.list-comm-details .aside-menu .list-ifold.iunfold .list-ifold-info{ display: block; }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-ul{ overflow: hidden; margin: 0 -20px; }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-ul li{ clear: both; width: 258px; float: left; }
.list-comm-warp.list-comm-details .aside-menu .list-ifold .list-ifold-ul li a{ height: 36px; line-height: 36px;      padding-left: 98px;    background: url(../../images/common/s.png) 86px center no-repeat; color: #999; font-size: 14px;  }
.list-comm-warp.list-comm-details .aside-menu .list-ifold.iunfold .list-ifold-ul li.active{ width: 256px; background: #d25851; margin: 0 1px; border-radius: 6px;  }
.list-comm-warp.list-comm-details .aside-menu .list-ifold.iunfold .list-ifold-ul li.active a{ color: #fff; padding-left: 82px; background: url(../../images/common/b.png) 74px center no-repeat;  }
.list-comm-warp.list-comm-details .cordcoupons-details-cont{ overflow: hidden; }
.list-comm-warp.list-comm-details .cordcoupons-details-cont .cordcoupons-details-info{ padding: 30px 0; font-size: 16px;color:#666; }
.list-comm-warp.list-comm-details .cordcoupons-details-cont .cordcoupons-details-info p{ color: #666666; font-size: 16px; line-height: 30px; }
/*内容*/
.list-comm-warp .list-comm-right .list-right-main.list-cordcoupons{padding: 0 34px;}
.list-article-cont{ overflow: hidden; }
.list-article-cont .list-article-top{ width: 100%; overflow: hidden; }
.list-article-cont p{ float: left; font-size: 16px; padding-right: 44px; line-height: 50px; color: #999999; }
.list-article-centent{ overflow: hidden; width: 100%; margin-top: 10px; font-size: 16px; color: #666;}
.list-article-centent p{ font-size: 16px; line-height: 30px; color: #666;float: none; }
/*公告*/
.web-notice-page .list-comm-warp .list-comm-right{padding-bottom: 40px;}
.list-notice-cont{position: relative; overflow: hidden; zoom: 1; padding: 0; }
s.list-notice-line{ position: absolute;   top: 6px;    left: 36px;   bottom: 0;    _height: 2000px;    width: 0;    overflow: hidden;   border-right: 1px solid #ddd; }
.list-notice-ul{width: 100%;}
.list-notice-ul .list-notice-item{    width: 100%; }
.list-notice-ul .list-notice-item .notice-item-spot{float: left;   position: relative;    width: 20px; height: 40px;    overflow: hidden;    color: #999;    text-align: right;     line-height: 40px;   font-size: 18px;       font-family: Arial, Helvetica, sans-serif;}
.list-notice-ul .list-notice-item .notice-spot{    position: absolute;    top: 5px;    _top: 6px;    right: 0;    display: block;    width: 10px;    height: 10px;    overflow: hidden;    border-radius: 50%;    border: 2px solid #aaa;    background-color: #fff;}
.list-notice-ul .list-notice-item .icon-spot{ width: 3px; height: 3px; border-radius: 50%; position: absolute; top: 20; left: 10px; display: block; background: #dddddd;  }
.list-notice-ul .list-notice-item .icon-spot.active{ background: #30c260; }
.notice-item-main{     overflow: hidden;  font-size: 15px;color: #666; }
.notice-item-tit{ width: 100%; overflow: hidden;  padding:10px 0; }
.notice-item-tit h5{font-size: 16px; color: #666; position: relative;}
.notice-item-tit h5:hover{    text-decoration: underline;color: #27baff;}
.notice-item-tit h5 i.icon-new{ width: 30px; height: 16px; display: block; position: absolute; right: -36px; top: 4px; background: url(../../images/common/new-label.png) no-repeat; }
.notice-item-tit p{ font-size: 14px; color: #999; }
.list-comm-right .list-right-main.list-notice li{ line-height: 24px; border-bottom: none; border-bottom: 1px solid #ddd;}
span.notice-item-c{ font-size: 14px; color: #666666; }
.list-notice-ul .list-notice-item.active .icon-spot{ background: #30c260; }
.list-right-main.list-notice{  min-height: 1000px; }
/*修改*/
.list-comm-warp .list-comm-left dd{ position: relative; }
.list-comm-warp .list-comm-left dd i.comm-icon{ width: 16px; height: 16px; display: block; position: absolute; left: 80px; top: 12px; }
.list-comm-warp .list-comm-left dd i.text-icon{ background-position: -111px -60px; }
.list-comm-warp .list-comm-left dd:hover i.text-icon{ background-position: -137px -60px; }
.list-comm-warp .list-comm-left dd i.href-icon{ background-position: -162px -60px; }
.list-comm-warp .list-comm-left dd:hover i.href-icon{ background-position: -188px -60px; }
.list-comm-warp .list-comm-left dd:hover a{color: #27baff; }

/*卡券文章*/
.card-article-page .crumbs-main{padding-bottom:0;}
.card-article-page .crumbs-nav-box a li{width:150px;}
.card-article-page .crumbs-nav-box li i.list-border{left:44px;}
.card-article-page .list-right-main.list-cordcoupons{min-height:384px;height:auto;}
.null-content-box{text-align:center;padding:110px 0 110px 0;}

/*卡券文章详情*/
.cardArticle-detail-page .list-right-main.list-cordcoupons{height:auto;min-height:770px;}

.cardNews-detail-page .list-comm-warp .list-comm-right{float:none;border:none;width: 1320px;padding-bottom: 40px;}
.cardNews-detail-page .list-right-main.list-cordcoupons{width:1252px;height:auto;min-height:500px;}

.faq-page .know-cont{width: 967px;height: auto;border: none;overflow: hidden;margin-bottom: auto;-webkit-box-shadow: none;box-shadow: none;-webkit-transform: none;transform: none;}
.faq-page .know-cont .know-box, .faq-page .know-cont .know-box-right{width: 100%;}
.faq-page .know-right-main ul, .faq-page .list-comm-right .list-right-main li{width: 100%;}
.faq-page .know-right-main{border:none;width: 927px;padding: 0 20px;}

.help-center-page .list-right-explain{margin-top:10px;}
/*卡回收列表页面*/
.cardrecycle{ overflow: hidden;  min-height:348px;}
.list-cardrecycle{ background: #fff; overflow: hidden; }
.cardrecycle .cardrecycle-tit{ width: 968px; height: 96px; line-height: 96px; border-bottom: 1px solid #ddd; margin: 0 30px; }
.cardrecycle .cardrecycle-tit h3{ color: #d25851; font-size: 24px; }
.cardrecycle .cardrecycle-list{ font-size: 14px; }
.cardrecycle .cardrecycle-list a{ color: #999999; }
.cardrecycle .cardrecycle-list a:hover{ color: #27baff; }
.cardrecycle .cardrecycle-list span{ padding: 0 10px; color: #cccccc; }
.list-comm-right.box-shadow-com.cardrecycle .list-right-main.list-cordcoupons{ min-height:1248px; padding: 0px; width: 100%; }
.cardrecycle-cont{ width: 100%; margin-left: 30px; margin-top: 9px; overflow: hidden; }
.cardrecycle-main{ width: 100%;  overflow: hidden; }
.cardrecycle-submit{ width: 100%;  overflow: hidden; margin-bottom: 6px; }
.cardrecycle-cont .cardrecycle-main-tit{ width: 88px; height: 54px;line-height: 54px;color: #333; font-size: 16px; float: left; margin-top: 6px; }
.cardrecycle-cont .cardrecycle-btn{ width: 868px; overflow: hidden; float: left;    position: relative; }
.cardrecycle-btn-list{position: relative;float: left;width: 136px;height: 50px;overflow: hidden;margin: 6px 16px 6px 0;text-align: center;cursor: pointer;font-size: 12px;color: #333;border-radius: 6px;border: 2px solid #bfcbd9;}
.cardrecycle-btn-list .m_price{font-size: 16px;margin-top: 3px;}
.cardrecycle-cont .cardrecycle-btn .cardrecycle-btn-list.active{border: 2px solid #27baff!important;}
.cardrecycle-cont .cardrecycle-btn .cardrecycle-btn-list.active i.max-icon{width: 26px;height: 26px;display: block;position: absolute;right: 0;bottom: 0;}
.cardrecycle-cont .cardrecycle-btn .cardrecycle-btn-list.active i.icon-treat {background-position: -244px -78px;}
.cardrecycle-submit .cardrecycle-btn .cardrecycle-btn-list{width: 164px;height: 24px;padding: 13px 20px 13px 0;font-size: 16px;color: #333;text-align: right;}
.cardrecycle-submit .cardrecycle-btn .cardrecycle-btn-list i.card-icon{width: 30px;height: 30px;position: absolute;left: 14px;top: 13px;display: block;background: url(../../images/common/icon-24.png) no-repeat;}
.cardrecycle-submit .cardrecycle-btn .cardrecycle-btn-list i.icon-batch{background-position: 0 -474px;}
.cardrecycle-submit .cardrecycle-btn .cardrecycle-btn-list i.icon-single-card{background-position: -34px -474px;}
.cardrecycle-submit .cardrecycle-notice-info{ width: 100%; float: left; position: relative; padding-left: 18px; font-size: 12px; font-family: '宋体'; color: #d25851; }
.cardrecycle-submit .cardrecycle-notice-info i.comm-icon{width: 16px;height: 16px;display: block;position: absolute;top: 0;left: 0; background-position: 0 -60px;}
.cardrecycle-input .form-control{width: 844px;height: 232px;border: 2px solid #bfcbd9;text-indent: 0;word-wrap: normal;display: block;color: #666;overflow: auto;padding: 0 10px;line-height: 33px;font-size: 14px;margin: 0;font-family: Tahoma;background: url(../../images/common/textarea.gif) 0 0;background-attachment: local;}
.card-operation{overflow: hidden; margin-top: 16px;}
.card-operation-btn{float: left;width: 150px;height: 48px;line-height: 48px;text-align: center;background: #f16d60;border-radius: 6px;color: #fff;font-size: 16px;}
.card-operation-btn:hover{ background: #d76257; }
.card-operation-txt {float: left;line-height: 48px;padding-left: 10px;font-size: 14px;}
.card-recovery-agree{line-height: 32px;position: relative;padding-left: 18px;}
.card-recovery-agree i.icon-agree-up{background-position: -278px -78px;}
.card-recovery-agree i.icon-agree-off{background-position: -279px -100px;}
.card-recovery-agree i{width: 14px;height: 14px;cursor: pointer;display: block;position: absolute;left: -1px;top: 10px;}
.card-recovery-agree a {color: #789e00;}
/* .cardrecycle-prompt{ position: relative;} */
.cardrecycle-prompt .cardrecycle-prompt-info{ display: block;width: 320px; color: #d25851;position: absolute;top: 16px;right: 0;padding: 15px;background: #ffebeb;border: 1px solid #faccc6; }
.service-arrow-top{position: absolute;left: 180px;top: -10px;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #ffebeb;font-size: 0px;line-height: 0px;}
.card-recovery-submit{width: 100%;height: auto;overflow: hidden;text-align: center;margin: 40px 0;}
.card-submit-btn{width: 300px;height: 48px;text-align: center;color: #fff;background: #00b1f8;display: block;margin: 0 auto;border-radius: 6px;line-height: 48px;font-size: 18px;}
.card-submit-btn:hover{ background: #00a6e8; }
.cardrecycle-input{ overflow: hidden;}
.cardrecycle-inner{ overflow: hidden; display: none; }
.cardrecycle-inner.active{ display: block;  }
.cardrecycle-inner span{ float: left; line-height: 54px; }
.cardrecycle-mode-tit{ width: 88px;color: #333333;font-size: 16px; }
.cardrecycle-mode-input {width: 392px;height: 54px; position: relative;}
.cardrecycle-mode-input .card-input{width: 344px; height: 30px;color: #999999;border-radius: 6px;padding: 10px 12px;font: 16px arial;border: 1px solid #b8b8b8;border-bottom: 1px solid #ccc;vertical-align: top;outline: none;box-shadow: none;}
.cardrecycle-info{ display: block; width: 420px; min-height: 24px;  line-height: 24px;position: relative;overflow: hidden;padding-top: 4px; padding-left: 20px; font-size: 18px;}
.cardrecycle-info .batch-textarea-erro{ display: none; }
.cardrecycle-info .mode-inner-error{ display: none; }
.cardrecycle-info i{width: 16px;height: 16px;position: absolute;left: 0;top: 8px;}
.cardrecycle-info i.icon-error2 {background-position: -26px -60px;}
.cardrecycle-inner .cardrecycle-btn.cardrecycle-comm-s{ margin-left: 88px; }
.cardrecycle-close{display: none;width: 19px;height: 19px;background-position: -51px -60px;position: absolute;top: 16px;right: 28px;z-index: 99;cursor: pointer;}
.form-control.active{ border: 2px solid #27baff; }
.card-recovery-cont .retrieve-span{background: #ffeb7e; font-size: 12px; padding: 10px;line-height: 66px; color: #ff3d3d; border-radius: 4px;}
.card-recovery-cont .retrieve-detail span{color: #27baff;font-size: 14px;margin: 10px; border-bottom: 1px solid;}
.cardrecycle-btn .retrieve-span{background: #ffeb7e; font-size: 12px; padding: 10px;line-height: 66px; color: #ff3d3d; border-radius: 4px;}
.cardrecycle-btn .retrieve-detail span{color: #27baff;font-size: 14px;margin: 10px; border-bottom: 1px solid;}
.triangle_border_left span{display: block; width: 0;height: 0;border-width: 5px 5px 5px 0; border-style: solid; border-color: transparent #ffeb7e transparent transparent;position: absolute; top: 28px; left: 46.5%;}

/*加油卡折扣*/
.cardrecycle-mode-inner{ width: 100%; height: 54px;line-height: 54px;margin: 6px 0; }
.cardrecycle-mode-inner span {float: left;}
.cardrecycle-mode-inner span.cardrecycle-inner-tit{width: 88px;color: #333;font-size: 16px;}
.cardrecycle-mode-inner span.cardrecycle-inner-input {width: 392px;height: 54px;}
.cardrecycle-mode-inner .cardrecycle-mode-i {width: 344px;height: 30px;color: #999999;border-radius: 6px;padding: 10px 12px;font: 16px arial;border: 1px solid #b8b8b8;border-bottom: 1px solid #ccc;vertical-align: top;outline: none;box-shadow: none;}
.cardrecycle-mode-inner span.cardrecycle-mode-float{overflow: hidden;}
.cardrecycle-mode-inner span.cardrecycle-mode-float .cardrecycle-float {width: 318px;height: 38px;margin-left: 10px;margin-top: 4px;line-height: 38px;position: relative;background: #ffef99;border: 1px solid #dccd7b;padding-left: 10px;}
.cardrecycle-mode-inner span.cardrecycle-mode-float .cardrecycle-float-left {position: absolute;left: -10px;top: 10px;width: 0px;height: 0px;border-bottom: 10px solid transparent;border-top: 10px solid transparent;border-right: 10px solid #dccd7b;font-size: 0px;line-height: 0px;}
.cardrecycle-mode-inner span.cardrecycle-mode-float .cardrecycle-mode-green{display: none;color: #0bbf06;}
.list-comm-warp.list-comm-details.list-comm-cardrecycle .aside-menu{ height: 0px; min-height: 788px; }
/*修改*/
.list-float-main{     position: relative;   zoom: 1;  border-bottom: 1px solid #eee; }
.list-comm-warp.list-comm-details .list-details-float{ display: none; width:622px; padding: 0px 20px 20px 0px;   border-radius: 6px;   top: -1px; left: -1px;  position: absolute; box-shadow: 0 3px 15px rgba(0,0,0,0.2);     background-color: #fff;    border: 1px solid #ddd;     font-size: 14px;     z-index: 9; }
.list-comm-warp.list-comm-details .list-details-float .list-float-img{ width: 258px; float: left; }
.list-comm-warp.list-comm-details .list-details-float .list-float-img img{width: 212px;height: 154px;margin: 0 auto; display: block;}
.list-comm-warp.list-comm-details .list-details-float h3{ display: block;  font-size: 18px; margin-top: 10px; color: #333333;  padding: 5px 0;}
.list-comm-warp.list-comm-details .list-details-float p{  display: block;  color: #999999;    overflow: hidden;    zoom: 1; }
.list-float-main.active .list-details-float{ display: block; }
/*修改*/
.com-btn:hover{ background: #00a6e8; }
.login-code .login-code-btn:hover{  background: #d76257;  }
.register-main .login-code .login-code-btn:hover{ background: #0bae06; }
.register-main .login-from .com-btn:hover{ background: #ff6600; }
.register-warp-cont.bind-warp-cont .register-main .login-from .com-btn:hover{ background: #d76257; }
.register-main .bind-main-btn a.com-btn:hover{ background: #d76257; }
.bind-com-btn:hover{ width: 334px; height: 42px; line-height: 43px; color: #c7574c; border: 2px solid #c7574c; }

/*新增实时消耗时间*/
.card-recovery-duration{display: inline-block;font-size: 14px;padding-left: 88px;color: #789b18;line-height: 18px;overflow: hidden;}
.batch-consume-duration{width: 868px;font-size: 14px;color: #c48de8;line-height: 18px;overflow: hidden;border-top: 1px dashed #ddd;padding-top: 5px;margin: 5px 0 0 88px;}


.operator-introduce-con{max-height: 164px;overflow: hidden;}
.read-more{display: block;width: 80px;padding: 10px 0 0;margin-left: 258px;font-size: 16px;color: #00a6e8;}

/*当天限额 */
.card-recovery-limit{font-weight: normal;font-size: 16px;color: #789e00;padding-left: 42px;}

/*话费卡选择面值提醒功能*/
.layui-layer-page.lxf-layer-con .layui-layer-content .card-submit-tipcon{padding: 10px 20px 10px 50px;min-width: 280px;font-size: 14px;color: #333;line-height: 24px;}
.layui-layer-page.lxf-layer-con .layui-layer-btn{text-align: center;}

/*新增骏网全业务卡*/
#priceWrap .null-card-data{width: 180px;height: 50px;line-height: 50px;border: 2px solid red;border-radius: 6px;text-align: center;}
.cardrecycle-prompt .cardrecycle-prompt-info.nocode{display: none;line-height: 24px;text-align: center;font-size: 15px;padding: 25px 15px;}

/*文章详情页面标题居中*/
.cardNews-detail-page .list-right-tit{border: 0!important;height: auto!important;line-height: 44px!important;text-align: center;margin-top: 50px;}
.cardNews-detail-page .list-right-tit h2{margin: 0;}
.cardNews-detail-page .list-article-cont .list-article-top{text-align: center;padding-bottom: 50px;border-bottom: 1px solid #ddd;}
.cardNews-detail-page .list-article-cont .list-article-top p{float: none;display: inline-block;line-height: 24px;}
.cardNews-detail-page .list-article-cont .list-article-top p:last-child{padding-right: 0;}
.cardNews-detail-page .list-article-centent{margin-top: 30px;}
