{include file="public/heard"}
    <body>
	 <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">系统设置</a>
            <a>
              <cite>轮播图设置</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
		<form class="layui-form" action="">

		 
		  <div class="layui-form-item">
			<label class="layui-form-label">轮播图1：</label>
			<div class="layui-input-block">
			  <img id="bannerimg1" src="{:C('bannerimg1')}" width="100%" height="200">
			  <input type="hidden" name="bannerimg1" value="{:C('bannerimg1')}">
			  <button type="button"   class="layui-btn" id="test1">
				  <i class="layui-icon">&#xe67c;</i>上传图片
				</button>
			</div>
		  </div>
		  <div class="layui-form-item">
			<label class="layui-form-label">轮播图2：</label>
			<div class="layui-input-block">
			  <img id="bannerimg2" src="{:C('bannerimg2')}" width="100%" height="200">
			  <input type="hidden" name="bannerimg2" value="{:C('bannerimg2')}">
			  <button type="button"   class="layui-btn" id="test2">
				  <i class="layui-icon">&#xe67c;</i>上传图片
				</button>
			</div>
		  </div>
		  <div class="layui-form-item">
			<label class="layui-form-label">轮播图3：</label>
			<div class="layui-input-block">
			  <img id="bannerimg3" src="{:C('bannerimg3')}" width="100%" height="200">
			  <input type="hidden" name="bannerimg3" value="{:C('bannerimg3')}">
			  <button type="button"   class="layui-btn" id="test3">
				  <i class="layui-icon">&#xe67c;</i>上传图片
				</button>
			</div>
		  </div>
		  <div class="layui-form-item">
			<label class="layui-form-label">轮播图1链接：</label>
			<div class="layui-input-block">
			  <input type="text" name="bannerurl1" style="width:50%" value="{:C('bannerurl1')}" lay-verify="" autocomplete="off" placeholder="轮播图1链接" class="layui-input">
			</div>
		  </div>		 
		  <div class="layui-form-item">
			<label class="layui-form-label">轮播图2链接：</label>
			<div class="layui-input-block">
			  <input type="text" name="bannerurl2" style="width:50%" value="{:C('bannerurl2')}" lay-verify="" autocomplete="off" placeholder="轮播图2链接" class="layui-input">
			</div>
		  </div>		 
		  <div class="layui-form-item">
			<label class="layui-form-label">轮播图3链接：</label>
			<div class="layui-input-block">
			  <input type="text" name="bannerurl3" style="width:50%" value="{:C('bannerurl3')}" lay-verify="" autocomplete="off" placeholder="轮播图3链接" class="layui-input">
			</div>
		  </div>		 
	
		  <div class="layui-form-item">
			<div class="layui-input-block">
			  <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
			  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		  </div>
		</form>
	</div>
</div>
	</div>
</div>
	</div>

    </body>
<script>
layui.use('upload', function(){
  var upload = layui.upload,layer = layui.layer;
  //执行实例
  var uploadInst = upload.render({
     elem: '#test1' //绑定元素
    ,url: '{:U("simple/system/upload")}' //上传接口
    ,done: function(res){
		 if(res.code==1){
		    $("#bannerimg1").attr('src',res.url);
			$("input[name=bannerimg1]").val(res.url);
			layer.msg(res.info,{time:1000,icon:1});
		 }else{
		    layer.msg(res.info,{time:1000,icon:2});
		 }
    }
    ,error: function(){
      //请求异常回调
    }
  });
});
layui.use('upload', function(){
  var upload = layui.upload,layer = layui.layer;
  //执行实例
  var uploadInst = upload.render({
     elem: '#test2' //绑定元素
    ,url: '{:U("simple/system/upload")}' //上传接口
    ,done: function(res){
		 if(res.code==1){
		    $("#bannerimg2").attr('src',res.url);
			$("input[name=bannerimg2]").val(res.url);
			layer.msg(res.info,{time:1000,icon:1});
		 }else{
		    layer.msg(res.info,{time:1000,icon:2});
		 }
    }
    ,error: function(){
      //请求异常回调
    }
  });
});
layui.use('upload', function(){
  var upload = layui.upload,layer = layui.layer;
  //执行实例
  var uploadInst = upload.render({
     elem: '#test3' //绑定元素
    ,url: '{:U("simple/system/upload")}' //上传接口
    ,done: function(res){
		 if(res.code==1){
		    $("#bannerimg3").attr('src',res.url);
			$("input[name=bannerimg3]").val(res.url);
			layer.msg(res.info,{time:1000,icon:1});
		 }else{
		    layer.msg(res.info,{time:1000,icon:2});
		 }
    }
    ,error: function(){
      //请求异常回调
    }
  });
});
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
   
  //自定义验证规则
  form.verify({
    title: function(value){
      if(value.length < 5){
        return '标题至少得5个字符啊';
      }
    }
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });
  
  
  //监听提交
  form.on('submit(demo1)', function(data){
     var loading =layer.load(3, {shade: [0.1,'#fff']});
    $.post("{:U('simple/system/banner')}",data.field,function(res){
	        layer.close(loading);
			if (res.code==1) {
				layer.msg(res.msg,{time:1000,icon:1});
			}else{
				layer.msg(res.msg,{time:1000,icon:2});
			}
	})
    return false;
  });  
});
</script>
</html>