{include file="public/heard"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
		<form class="layui-form" action="">
		  <div class="layui-form-item">
			<label class="layui-form-label">标题：</label>
			<div class="layui-input-block">
			  <input type="text" name="title" style="width:50%" lay-verify="title" autocomplete="off" value="{$u.title}" placeholder="请输入标题" class="layui-input">
			</div>
		  </div>
		  <div class="layui-form-item">
			<label class="layui-form-label">文章关键字：</label>
			<div class="layui-input-block">
			  <textarea  name="keyword" style="width:670px;height:100px" >{$u.keyword}</textarea>
			</div>
		  </div>
		  <div class="layui-form-item">
			<label class="layui-form-label">类型：</label>
			<div class="layui-input-block" style="width:20%">
			 {:Nstate($u.type)}
			</div>
		  </div>
		   <div class="layui-form-item layui-form-text">
			<label class="layui-form-label">编辑器</label>
			<div class="layui-input-block">
			  <textarea class="layui-textarea layui-hide" name="contents" lay-verify="content" id="LAY_demo_editor">{$u.contents}</textarea>
			</div>
		  </div>
		  <div class="layui-form-item">
			<div class="layui-input-block">
			<input type="hidden" name="id" value="{$u.id}">
			  <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
			  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		  </div>
		</form>
	</div>
</div>
	</div>
</div>
	</div>

    </body>
<script>

layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form,layer = layui.layer,layedit = layui.layedit
  ,laydate = layui.laydate;
   layedit.set({
		  uploadImage: {
			url: "{:U('simple/system/tdieupload')}" //接口url
		  }
	});
  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');
 

  //监听提交
  form.on('submit(demo1)', function(data){
    data.field.contents=layedit.getContent(editIndex);
  $.post('{:U("simple/system/editNews")}',data.field,function(e){
          if(e.code==1){
					layer.alert("更新成功", {icon: 6},function() {
						xadmin.close();
						xadmin.father_reload();
					});
				}else{
				 layer.alert("更新失败", {icon: 5});
				}
  })
    return false;
  });

});
</script>
</html>