{include file="public/heard"}
    <body>
	 <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">系统设置</a>
            <a>
              <cite>分站配置</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
		<form class="layui-form" action="">
		  <div class="layui-form-item">
			<label class="layui-form-label">CNAME解析地址：</label>
			<div class="layui-input-block">
			  <input type="text" name="fzcname" style="width:50%" value="{:C('fzcname')}" lay-verify="" autocomplete="off" placeholder="请输入地址" class="layui-input">
			</div>
		  </div>
		  <div class="layui-form-item">
			<label class="layui-form-label">分站服务器：</label>
			<div class="layui-input-block">
			  <input type="text" name="fzserver" style="width:50%" value="{:C('fzserver')}" lay-verify="" autocomplete="off" placeholder="请输入地址" class="layui-input">
			</div>
		  </div>
		  <div class="layui-form-item">
			<label class="layui-form-label">分站功能开关</label>
			<div class="layui-input-block">
			  <input type="checkbox" {eq name=":C('fzopen')" value="on"}checked=""{/eq} name="fzopen" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
			</div>
		  </div>
		  <div class="layui-form-item">
			<div class="layui-inline">
			  <label class="layui-form-label">充值佣金比率</label>
			  <div class="layui-input-inline">
				<input type="tel" name="fzpaybl" lay-verify="required"  value="{:C('fzpaybl')}" autocomplete="off" class="layui-input">
			  </div>
			</div>
			<div class="layui-inline">
			  <label class="layui-form-label">提现佣金比率</label>
			  <div class="layui-input-inline">
				<input type="tel" name="fzgobl" lay-verify="required" value="{:C('fzgobl')}" autocomplete="off" class="layui-input">
			  </div>
			</div>
			<div class="layui-inline">
			  <label class="layui-form-label">开通佣金比率</label>
			  <div class="layui-input-inline">
				<input type="tel" name="fzkaibl" lay-verify="required" value="{:C('fzkaibl')}" autocomplete="off" class="layui-input">
			  </div>
			</div>
			<div class="layui-inline">
			  <label class="layui-form-label">购买短信佣金比率</label>
			  <div class="layui-input-inline">
				<input type="tel" name="fzdxbl" lay-verify="required" value="{:C('fzdxbl')}" autocomplete="off" class="layui-input">
			  </div>
			</div>
			<div class="layui-inline">
			  <label class="layui-form-label">域名续费佣金比率</label>
			  <div class="layui-input-inline">
				<input type="tel" name="fzymbl" lay-verify="required" value="{:C('fzymbl')}" autocomplete="off" class="layui-input">
			  </div>
			</div>
			<div class="layui-inline">
			  <label class="layui-form-label">域名增加佣金比率</label>
			  <div class="layui-input-inline">
				<input type="tel" name="fzzjbl" lay-verify="required" value="{:C('fzzjbl')}" autocomplete="off" class="layui-input">
			  </div>
			</div>
		  </div>
          <fieldset class="layui-elem-field">
			  <legend>开通代理条件</legend>
			  <div class="layui-field-box">
				 <div class="layui-form-item">
					<label class="layui-form-label">拥有下级数量：</label>
					<div class="layui-input-block">
					  <input type="text" name="fz_xianum" style="width:50%" value="{:C('fz_xianum')}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
					</div>
				 </div>
				 <div class="layui-form-item">
					<label class="layui-form-label">总佣金达：</label>
					<div class="layui-input-block">
					  <input type="text" name="fz_nummoney" style="width:50%"  value="{:C('fz_nummoney')}"lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
					</div>
				 </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">购买分站：</label>
					<div class="layui-input-block">
					  <input type="text" name="fz_money" style="width:50%" value="{:C('fz_nummoney')}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
					</div>
				 </div>
			  </div>
		  </fieldset>
		  <div class="layui-form-item">
			<div class="layui-input-block">
			  <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
			  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		  </div>
		</form>
	</div>
</div>
	</div>
</div>
	</div>

    </body>
<script>

layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer;
 
  //监听提交
  form.on('submit(demo1)', function(data){
    var loading =layer.load(3, {shade: [0.1,'#fff']});
    $.post("{:U('simple/system/fenzhan')}",data.field,function(res){
	        layer.close(loading);
			if (res.code==1) {
				layer.msg(res.msg,{time:1000,icon:1});
			}else{
				layer.msg(res.msg,{time:1000,icon:2});
			}
	})
    return false;
  });
 
 
  
});
</script>
</html>