{include file="public/heard"}
    <body>
	 <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">系统设置</a>
            <a>
              <cite>软件设置</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
            <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
                    <div class="layui-card">
						<form class="layui-form" action="">
                        <div class="layui-card-body ">
					
						  <fieldset class="layui-elem-field">
							  <legend>沃尔玛账号设置</legend>
							  <div class="layui-field-box">
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">手机号：</label>
									<div class="layui-input-inline">
									  <input type="text" name="sphone" class="layui-input" value="{:C('sphone')}" >
									</div>
								 </div>
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">密码：</label>
									<div class="layui-input-inline">
									  <input type="text" name="spassword" class="layui-input" value="{:C('spassword')}" >
									</div>
								 </div>
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">通道代码：</label>
									<div class="layui-input-inline">
									  <input type="text" name="sneixing" class="layui-input" value="{:C('sneixing')}" >
									</div>
									<div class="layui-input-inline">
									<button type="button" class="layui-btn" lay-submit="" lay-filter="user">立即更新</button>
									</div>
								 </div>
							  </div>
						  </fieldset>
					</div>
					 <div class="layui-card-body ">
					
						  <fieldset class="layui-elem-field">
							  <legend>苏宁账号设置</legend>
							  <div class="layui-field-box">
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">手机号：</label>
									<div class="layui-input-inline">
									  <input type="text" name="snphone" class="layui-input" value="{:C('snphone')}" >
									</div>
								 </div>
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">密码：</label>
									<div class="layui-input-inline">
									  <input type="text" name="snpassword" class="layui-input" value="{:C('snpassword')}" >
									</div>
								 </div>
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">通道代码：</label>
									<div class="layui-input-inline">
									  <input type="text" name="snneixing" class="layui-input" value="{:C('snneixing')}" >
									</div>
									<div class="layui-input-inline">
									<button type="button" class="layui-btn" lay-submit="" lay-filter="snuser">立即更新</button>
									</div>
								 </div>
							  </div>
						  </fieldset>
					</div>
					<div class="layui-card-body ">
						  <fieldset class="layui-elem-field">
							  <legend>密钥设置</legend>
							  <div class="layui-field-box">
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">通讯密钥：</label>
									<div class="layui-input-inline">
									  <input type="text" name="skey" class="layui-input" value="{:C('skey')}" >
									</div>
									<div class="layui-input-inline">
									<button type="button" class="layui-btn" lay-submit="" lay-filter="miyao">立即更新</button>
									</div>
								 </div>
							  </div>
						  </fieldset>
					</div>
					<div class="layui-card-body ">
						  <fieldset class="layui-elem-field">
							  <legend>基本配置</legend>
							  <div class="layui-field-box">
							    <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">登陆地址：</label>
									<div class="layui-input-inline" style="width:320px">
									  <input type="text" name="sdenglu" class="layui-input" value="{:C('sdenglu')}" >
									</div>
								 </div>
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">网站域名：</label>
									<div class="layui-input-inline">
									  <input type="text" name="sdomain" class="layui-input" value="{:C('sdomain')}" >
									</div>
								 </div>
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">沃尔玛自动提交：</label>
									<div class="layui-input-inline">
									  <input type="checkbox" {eq name=":C('sopen')" value="on"}checked=""{/eq} name="sopen"  lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
									</div>
								  </div>
								  <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">苏宁自动提交：</label>
									<div class="layui-input-inline">
									  <input type="checkbox" {eq name=":C('snopen')" value="on"}checked=""{/eq} name="snopen"  lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
									</div>
								  </div>
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">扫描间隔：</label>
									<div class="layui-input-inline" style="width:50px">
									  <input type="text" name="sminnum" class="layui-input" value="{:C('sminnum')}" >
									</div>
									<div class="layui-input-inline" style="width:1px">-</div>
									<div class="layui-input-inline" style="width:50px">
									  <input type="text" name="smaxnum" class="layui-input" value="{:C('smaxnum')}" >
									</div>
									<div class="layui-input-inline" style="width: 90px;">
									<button type="button" class="layui-btn" lay-submit="" lay-filter="peizhi">立即更新</button> 
									</div>
									<div class="layui-input-inline">
									<button type="button" class="layui-btn layui-btn-danger" lay-submit="" lay-filter="tongbu">同步数据</button> 
									</div>
								 </div>
							  </div>
						  </fieldset>
			
					</div>
								</form>
				</div>
			</div>
		</div>
	</div>
 </body>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form,layer = layui.layer,layedit = layui.layedit;
   
  //监听提交
  form.on('submit(user)', function(data){
     var loading =layer.load(3, {shade: [0.1,'#fff']});
	 var nx=$("input[name=sneixing]").val();
    $.post("{:U('simple/system/Software')}",{type:'setting',sphone:$("input[name=sphone]").val(),spassword:$("input[name=spassword]").val(),sneixing:nx},function(res){
	        layer.close(loading);
			if (res.code==1) {
				layer.msg(res.msg,{time:1000,icon:1});
			}else{
				layer.msg(res.msg,{time:1000,icon:2});
			}
	})
    return false;
  });
    //监听提交
  form.on('submit(snuser)', function(data){
     var loading =layer.load(3, {shade: [0.1,'#fff']});
	 var nx=$("input[name=snneixing]").val();
    $.post("{:U('simple/system/Software')}",{type:'setsn',snphone:$("input[name=snphone]").val(),snpassword:$("input[name=snpassword]").val(),snneixing:nx},function(res){
	        layer.close(loading);
			if (res.code==1) {
				layer.msg(res.msg,{time:1000,icon:1});
			}else{
				layer.msg(res.msg,{time:1000,icon:2});
			}
	})
    return false;
  });
 form.on('submit(miyao)', function(data){
     var loading =layer.load(3, {shade: [0.1,'#fff']});
    $.post("{:U('simple/system/Software')}",{type:'userkey',skey:$("input[name=skey]").val()},function(res){
	        layer.close(loading);
			if (res.code==1) {
				layer.msg(res.msg,{time:1000,icon:1});
			}else{
				layer.msg(res.msg,{time:1000,icon:2});
			}
	})
    return false;
  }); 
 form.on('submit(peizhi)', function(data){
     var loading =layer.load(3, {shade: [0.1,'#fff']});
	 var sdenglu=$("input[name=sdenglu]").val(),sdomain=$("input[name=sdomain]").val(),sminnum=$("input[name=sminnum]").val(),smaxnum=$("input[name=smaxnum]").val();
    $.post("{:U('simple/system/Software')}",{type:'peizhi',sdenglu:sdenglu,sdomain:sdomain,sminnum:sminnum,smaxnum:smaxnum},function(res){
	        layer.close(loading);
			if (res.code==1) {
				layer.msg(res.msg,{time:1000,icon:1});
			}else{
				layer.msg(res.msg,{time:1000,icon:2});
			}
	})
    return false;
  });  
  form.on('submit(tongbu)', function(data){
     var loading =layer.load(3, {shade: [0.1,'#fff']});
    $.post("{:U('simple/system/Software')}",data.field,function(res){
	        layer.close(loading);
			if (res.code==1) {
				layer.msg(res.msg,{time:1000,icon:1});
			}else{
				layer.msg(res.msg,{time:1000,icon:2});
			}
	})
    return false;
  });  
   form.on('switch(switchTest)', function(data){
     var loading =layer.load(3, {shade: [0.1,'#fff']});
	  var checked = data.elem.checked;
	  var name=data.elem.name;
	  var sopen=checked?"on":"off";
	  $.post("{:U('simple/system/Software')}",{type:'open',sopen:sopen,name:name},function(res){
		layer.close(loading);
		if(res.code==1) {
			layer.msg(res.msg,{time:1000,icon:1});
		}else{
			layer.msg(res.msg,{time:1000,icon:2});
		}
	})
    return false;
  });
});
</script>
</html>