{include file="public/heard"}
    <body>
	 <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">系统设置</a>
            <a>
              <cite>微信设置</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
              <div class="layui-card">
				<div class="layui-card-body ">
					<form class="layui-form" action="">
					  <div class="layui-form-item">
						<label class="layui-form-label">APPID：</label>
						<div class="layui-input-block">
						  <input type="text" name="wxappid" style="width:50%" value="{:C('wxappid')}" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
						</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">secretID：</label>
						<div class="layui-input-block" style="width:50%">
						<input type="text" name="wxsecret" style="width:50%" value="{:C('wxsecret')}" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
						  
						</div>
					  </div>
					   <div class="layui-form-item">
						<label class="layui-form-label">微信商户号：</label>
						<div class="layui-input-block">
						  <input type="text" name="wxmach" style="width:50%" value="{:C('wxmach')}" lay-verify="title" autocomplete="off" placeholder="请输入内容" class="layui-input">
						</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">微信KEY：</label>
						<div class="layui-input-block">
						  <input type="password" name="wxkey" value="{:C('wxkey')}" style="width:50%" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
						</div>
					  </div>
					   <div class="layui-form-item">
						<label class="layui-form-label">微信CERT证书：</label>
						<div class="layui-input-block">
						  <input type="text" name="wxcert" style="width:30%" value="{:C('wxcert')}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
						</div>
						<button type="button" class="layui-btn" id="cert">
							  <i class="layui-icon">&#xe67c;</i>上传文件
							</button>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">微信KEY证书：</label>
						<div class="layui-input-block">
						  <input type="text" name="wxfkey" style="width:30%" value="{:C('wxfkey')}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
						</div>
						<button type="button" class="layui-btn" id="text">
							  <i class="layui-icon">&#xe67c;</i>上传文件
							</button>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">单笔最高限额：</label>
						<div class="layui-input-block">
						  <input type="number" name="wxxian" value="{:C('wxxian')}" style="width:50%" lay-verify="required" placeholder="请输入金额" autocomplete="off" class="layui-input">
						</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">自动汇款开关：</label>
						<div class="layui-input-block">
						  <input type="checkbox" {eq name=":C('txopen')" value="on"}checked=""{/eq} name="txopen" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
						</div>
					  </div>
					  
					   <div class="layui-card-body ">
					
						  <fieldset class="layui-elem-field">
							  <legend>公众号验证</legend>
							  <div class="layui-field-box">
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">token：</label>
									<div class="layui-input-inline">
									  <input type="text" name="stoken" class="layui-input" value="{:C('stoken')}" >
									</div>
								 </div>
								 <div class="layui-form-item">
									<label class="layui-form-label" style="width:120px">aeskey：</label>
									<div class="layui-input-inline">
									  <input type="text" name="saeskey" class="layui-input" value="{:C('saeskey')}" >
									</div>
								 </div>
								  <div class="layui-form-item">
									<label class="layui-form-label">是否验证：</label>
									<div class="layui-input-block">
									  <input type="checkbox" {eq name=":C('wxyan')" value="on"}checked=""{/eq} name="wxyan" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
									</div>
									<div class="layui-form-mid" style="color:red">验证通过必须关闭此开关才能正常使用微信功能</div>
								  </div>
							  </div>
						  </fieldset>
					</div>
					  <div class="layui-form-item">
						<div class="layui-input-block">
						  <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
						  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					  </div>
					</form>
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
<script>
layui.use(['form', 'layedit', 'laydate','upload'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
  
  //监听提交
  form.on('submit(demo1)', function(data){
    var loading =layer.load(3, {shade: [0.1,'#fff']});
    $.post("{:U('simple/system/weixin')}",data.field,function(res){
	        layer.close(loading);
			if (res.code==1) {
				layer.msg(res.msg,{time:1000,icon:1});
			}else{
				layer.msg(res.msg,{time:1000,icon:2});
			}
	})
    return false;
  });
 
  var upload = layui.upload;
   
  //执行实例
  var uploadInst = upload.render({
     elem: '#cert' //绑定元素
    ,url: '{:U("simple/system/uploadfile")}' //上传接口
	,accept: 'file'
    ,done: function(res){
      if(res.code==1){
			$("input[name=wxcert]").val(res.url);
			layer.msg(res.info,{time:1000,icon:1});
		 }else{
		    layer.msg(res.info,{time:1000,icon:2});
		 }
    }
    ,error: function(){
      //请求异常回调
    }
  });
  var uploadInst = upload.render({
    elem: '#text' //绑定元素
    ,url: '{:U("simple/system/uploadfile")}' //上传接口
	,accept: 'file'
    ,done: function(res){
      if(res.code==1){
			$("input[name=wxfkey]").val(res.url);
			layer.msg(res.info,{time:1000,icon:1});
		 }else{
		    layer.msg(res.info,{time:1000,icon:2});
		 }
    }
    ,error: function(){
      //请求异常回调
    }
  });
  
  
});

</script>
</html>