{include file="public/heard"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
						<form class="layui-form" action="">
						<div class="layui-form-item">
							<label class="layui-form-label">账号ID：</label>
							<div class="layui-input-block">
							  <input type="text" name="uid" style="width:50%" lay-verify="uid" autocomplete="off" value="" placeholder="请输入UID" class="layui-input">
							</div>
						  </div>
						  <div class="layui-form-item">
							<label class="layui-form-label">收款账号：</label>
							<div class="layui-input-block">
							  <input type="text" name="account" style="width:50%" lay-verify="title" autocomplete="off" value="" placeholder="请输入账号" class="layui-input">
							</div>
						  </div>
						  <div class="layui-form-item">
							<label class="layui-form-label">类型：</label>
							<div class="layui-input-block" style="width:20%">
							 {:payT()}
							</div>
						  </div>
						  <div class="layui-form-item">
							<label class="layui-form-label">限额：</label>
							<div class="layui-input-block">
							  <input type="text" name="quota" style="width:50%" lay-verify="money" autocomplete="off" value="" placeholder="请输入金额" class="layui-input">
							</div>
						  </div>
						  <div class="layui-form-item">
							<div class="layui-input-block">
							<input name="isxt" type="hidden" value="1">
							  <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
							  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						  </div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		</body>
<script>

layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form,layer = layui.layer,layedit = layui.layedit
  ,laydate = layui.laydate;
  
            form.verify({
			        uid: function(value) {
                        if (value < 1) {
                            return '账户ID不能小于1呀！';
                        }
                    }, 
                    title: function(value) {
                        if (value.length < 5) {
                            return '账号至少得5个字符啊';
                        }
                    },
                    money: function(value) {
                        if (value > 1000000) {
                            return '限额不能大于1000000';
                        }
                    }
                }); 

  //监听提交
  form.on('submit(demo1)', function(data){
	  $.post('{:U("simple/ewm/ewmEdit")}',data.field,function(e){
			  if(e.code==1){
						layer.alert("更新成功", {icon: 6},function() {
							xadmin.close();
							xadmin.father_reload();
						});
					}else{
					 layer.alert("更新失败", {icon: 5});
					}
	  })
		return false;
	  });

});
</script>
</html>