{include file="public/heard"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                          身份证正面
                        </div>
                        <div class="layui-card-body ">
						  <div class="layui-anim"><img style="width:600px;height:600px" src="{$da.idjust}"></div>
                        </div>
						<div class="layui-card-header">
                          身份证背面 
                        </div>
                        <div class="layui-card-body ">
						  <div class="layui-anim"><img style="width:600px;height:600px" src="{$da.idback}"></div>
                        </div>
						<div class="layui-card-header">
                          营业执照 
                        </div>
                        <div class="layui-card-body ">
						  <div class="layui-anim"><img style="width:600px;height:600px" src="{$da.license}"></div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
    </body>

</html>