{include file="public/heard"}
    <body>
       <div class="layui-fluid">
            <fieldset class="layui-elem-field layui-field-title" >
			  <legend>可以上传多张图片,图片名称设置为对应金额，会自动分配，主图不要设置为金额名字<em></em></legend>
			</fieldset>
			 <div class="layui-upload">
			  <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button> 
			  <div class="layui-upload-list">
				<table class="layui-table">
				  <thead>
					<tr><th>文件名</th>
					<th>大小</th>
					<th>状态</th>
					<th>操作</th>
				  </tr></thead>
				  <tbody id="demoList"></tbody>
				</table>
			  </div>
			  <button type="button" class="layui-btn" id="testListAction">开始上传</button>
			</div> 
			
            </div>
    </body>
	 <script>
	 layui.use('upload', function(){
     var $ = layui.jquery,upload = layui.upload;
	  var demoListView = $('#demoList'),uploadListIns = upload.render({
			elem: '#testList'
			,url: '{:U("simple/ewm/upfiel",["id"=>$id])}'
			,accept: 'file'
			,multiple: true
			,auto: false
			,bindAction: '#testListAction'
			,choose: function(obj){   
			  var files = this.files = obj.pushFile();
			  obj.preview(function(index, file, result){
				var tr = $(['<tr id="upload-'+ index +'">'
				  ,'<td>'+ file.name +'</td>'
				  ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
				  ,'<td>等待上传</td>'
				  ,'<td>'
					,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
					,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
				  ,'</td>'
				,'</tr>'].join(''));
				
				//单个重传
				tr.find('.demo-reload').on('click', function(){
				  obj.upload(index, file);
				});
				
				//删除
				tr.find('.demo-delete').on('click', function(){
				  delete files[index]; //删除对应的文件
				  tr.remove();
				  uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
				});
				
				demoListView.append(tr);
			  });
			}
			,done: function(res, index, upload){
			  if(res.code == 1){ //上传成功
				var tr = demoListView.find('tr#upload-'+ index)
				,tds = tr.children();
				tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
				tds.eq(3).html(''); //清空操作
				return delete this.files[index]; //删除文件队列已经上传成功的文件
			  }else{
			    var tr = demoListView.find('tr#upload-'+ index)
				  ,tds = tr.children();
				  tds.eq(2).html('<span style="color: #FF5722;">'+res.msg+'</span>');
				  tds.eq(3).find('.demo-reload').removeClass('layui-hide');
			  }
			  this.error(index, upload);
			}
			,error: function(index, upload){
			  var tr = demoListView.find('tr#upload-'+ index)
			  ,tds = tr.children();
			  tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
			  tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
			}
		  });
	 
	  })
  
	 </script>
</html>