/*实名认证*/
.null_data .phone_ico{background: url(../../../../images/profileManage/realNameAuthen/no_phone.png) no-repeat 0 0;background-size: 100%;}
.null_data .fail_ico{height: 4.3rem;background: url(../../../../images/profileManage/realNameAuthen/com_wrong_icon.png) no-repeat 0 0;background-size: 100%;}
.null_data .bindPhone{margin-top: 1.25rem;}
.null_data .btn-sm{width: 6.75rem;}

.realName-wrap{position: relative;top: 2.2rem;}
.top-tip{border-bottom: 1px solid #ffe8a1;padding: 0.425rem 0 0.425rem 0.75rem;background: #ffecc0;font-size: 0.6rem;color: #d68c34;position: relative;}
.tip-ico-parent{padding-left: 2.15rem;}
.tip-ico-parent:before{display: inline-block;content: "";position: absolute;top: 0.425rem;left: 0.75rem;width: 0.9rem;height: 0.9rem;background: url(../../../../images/profileManage/realNameAuthen/icon_rem_draw.png) no-repeat 0 0;background-size: 100%;}
.form-group .name{background: url(../../../../images/profileManage/realNameAuthen/true_name_icon.png) no-repeat 0 0;background-size: 100%;}
.form-group .idCard{background: url(../../../../images/profileManage/realNameAuthen/true_idcard_icon.png) no-repeat 0 0;background-size: 100%;}

.realname-info-box{width: 100%;height: 14.2rem;overflow: hidden;background: url(../../../../images/profileManage/realNameAuthen/real_bj.png) no-repeat 0 0;background-size: 100%;}
.realname-info-box .navbar{padding: 0;height: 2.2rem;line-height: 2.2rem;}
.realname-info-box .return, .realname-info-box .w44{width: 2.1rem;height: 2.2rem;padding: 0.625rem 0.75rem;}
.realname-info-box img.pic{width: 8.3rem;height: 5.95rem;margin: 1.925rem auto 0;}
.realname-minirefresh-wrap{height: auto;top: 14.2rem;}
.setting-modules{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;background: #fff;padding: 0 0 0 0.75rem;}
.setting-modules .media img:first-child{margin-right: 0.75rem;}
.setting-modules .media-body{border-bottom: 1px solid #ddd;position: relative;height: 2.25rem;line-height: 2.25rem;padding-right: 0.75rem;}
.setting-modules .media-body:after{display: block;content: "";position: absolute;top: 0.875rem;right: 0.75rem;width: 0.5rem;height: 0.85rem;background: url("../../../../images/index/sale_details_btn.png") no-repeat;background-size: 100%;}
.setting-modules .media-body.no-bg:after{background: none;}
.setting-modules .media:last-child .media-body{border-bottom: 0;}
.setting-modules .media-body .left-txt{font-size: 0.7rem;}
.setting-modules .media-body .right-txt{font-size: 0.6rem;color: #999;}


/*认证优化*/
ul.nav-pills.top44{top:2.2rem;background: #45b5f0;}
.null_data .identificate_tip, .identificate_tip{font-size: 0.6rem;color: #0bbf06;margin: 0.3rem 0.75rem 0;text-align: left;}
.realName-wrap.top87{top: 4.35rem;}
.realName-wrap .success_pic{display: block;width: 8.3rem;height: 5.95rem;margin: 1.95rem auto 2.7rem;}
.null_data .approve_ico{background: url(../../../../images/profileManage/realNameAuthen/new/no_approve.png) no-repeat 0 0;background-size: 100%;}
.null_data .wait_approve_icon{height: 4.3rem;background: url(../../../../images/profileManage/realNameAuthen/new/wait_approve_icon.png) no-repeat 0 0;background-size: 100%;}
.null_data .com_wait_icon{height: 4.3rem;background: url(../../../../images/profileManage/realNameAuthen/new/com_wait_icon.png) no-repeat 0 0;background-size: 100%;}
.upload_pic_rule{padding-top: 1.05rem;}
.upload_pic_rule .media{font-size: 0.7rem;color: #666;line-height: 0.9rem;padding: 0.325rem 0.75rem;}

.green_bg_box{padding-top: 2.5rem;}
.green_bg_box .box{width: 17.25rem;height: 5.25rem;margin: 0 auto 2.15rem;text-align: center;padding: 0.475rem 0 0.625rem;background: url(../../../../images/profileManage/realNameAuthen/new/green_approve_bj.png) no-repeat 0 0;background-size: 100%;}
.green_bg_box .dec-tit{display: inline-block;font-size: .6rem;color: #fff;opacity: .8;line-height: 1.85rem;position: relative;padding-left: 2.5rem;margin-bottom: 0.3rem;}
.green_bg_box .dec-tit:before{display: block;content: "";position: absolute;top: 0;left: 0;width: 1.85rem;height: 1.85rem;background: url(../../../../images/profileManage/realNameAuthen/new/white_approve_icon.png) no-repeat 0 0;background-size: 100%;}
.green_bg_box .dec-con{font-size: 0.7rem;color: #fff;line-height: 1rem;}
.tips{font-size: 0.7rem;color: red;padding: 0 0.75rem;}
.bg-blue_pic{position: absolute;width: 100%;top: 0;bottom: 0;height: 100%;background: #1887fc url(../../../../images/profileManage/realNameAuthen/new/approvel_bj.png) no-repeat center top;background-size: 100%;text-align: center;}
.bg-blue_pic .white_logo{width: 8.2rem;height: 2.3rem;margin-top: 2.5rem;}
.high_approve_suc_ico{position: absolute;top: 10.4rem;transform: translateX(-50%);left: 50%;right: 0;width: 8.2rem;height: 5.95rem;}

#mediumAuthenInitForm .media-body .left-txt{width: 5rem;}
#submitMediumAuthenInitFormBtn{margin-top: 2.125rem;}

.setting-modules .show-pic-wrap .media-body{border-bottom: 0;}
.setting-modules .show-pic-wrap .media-body:after{width: 0.85rem;height: 0.5rem;top: 1.05rem;background: url(../../../../images/profileManage/realNameAuthen/new/unfold_main_btn.png) no-repeat;background-size: 100%;}

.upload-wrap .upload-rules{position: absolute;top: 0;right: -2.1rem;padding: 0 0.5rem;height: 2rem;}
.upload-wrap .upload-rules img{width: 1.1rem;height: 1.1rem;vertical-align: top;}
.realName-wrap .upload-item{position: relative;width: 10.05rem;height: 7.9rem;background: #e8e8e8;margin: 0 auto 0.9rem;border-radius: 4px;}
.realName-wrap .upload-tips{width: 100%;height: 100%;}
.realName-wrap .upload-input{position: absolute;top: 0;left: 0;z-index: 10;display: block;width: 100%;height: 100%;overflow: hidden;text-align: center;opacity: 0;background-color: transparent;}
.realName-wrap .upload-sucimg-wrap{display: none;position: absolute;top: 0.825rem;left: 0;z-index: 5;width: 100%;height: 6.25rem;overflow: hidden;text-align: center;}
.realName-wrap .upload-sucimg-wrap img{width: 100%;height: 100%;}