﻿@charset "utf-8";
@import "reset.css";

.w1400{width:1430px}
@media (max-width:1440px) {
	.w1400{width:1200px}
}
/*头部*/
.header{background:#fff;border-bottom:1px solid #eee;box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.07);-webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.07)}
.fixed{position:fixed;top:0;left:0;right:0;z-index:8}
.header .warning{background:#fde4bc}
.header .warning .w1400{margin:0 auto;line-height:36px}
.header .warning .w1400 span{display:inline-block;max-width:1200px;position:relative;padding-right:90px;word-wrap:break-word;word-break:break-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.header .warning .w1400 span a{position:absolute;right:0}
.header a.close{display:block;width:20px;height:20px;margin-top:8px;background:url("../images/close_icon.png") center no-repeat}
.header-content{min-width:1400px;margin:0 auto;padding-top:20px;position:relative}
@media (max-width:1440px) {
	.header-content{min-width:1200px}
}
/*登录注册页面引用的简单头部*/
.header-simple{background:#F8FAFF;border-bottom:1px solid #eee}
.header-simple .wrap1200{width:1200px;padding:15px 0;margin:0 auto}
.header-simple a.back{line-height:35px;color:#399EFF}

/*头部中间导航*/
.logo{position:absolute;left:1%;top:10px}
.navbar{margin-left:20%}
.navbar ul{white-space:nowrap}
.navbar li{display:inline-block;height:45px;margin:0 4.5%}
@media (max-width:1680px) {
    .navbar li{margin:0 3.5%}
} 
@media (max-width:1440px) {
    .navbar li{margin:0 3%}
}
@media (max-width:128px) {
    .navbar li{margin:0 2.5%}
} 
.navbar li>a{display:block;height:25px;overflow:hidden;float:left;font-size:16px;transition:0.2s}
.navbar li i{display:inline-block;width:25px;height:27px;vertical-align:middle;margin-right:3px;transition:background-position 0.2s}
.navbar li .home{background:url("../images/sprite_index.png") 0 -81px no-repeat}
.navbar li .card{width:28px;background:url("../images/sprite_index.png") 0 -167px no-repeat}
.navbar li .arrow{display:inline-block;margin-left:3px;width:14px;height:8px;overflow:hidden;background:url("../images/sprite_index.png") 0 0 no-repeat}
.navbar li .intro{background:url("../images/sprite_index.png") 0 -53px no-repeat}
.navbar li .help{background:url("../images/sprite_index.png") 0 -140px no-repeat}
.navbar li .contact{background:url("../images/sprite_index.png") 0 -111px no-repeat}
.navbar li:hover>a,.navbar li>a.cur{color:#399EFF}
.navbar li:hover .arrow{background-position:0 -9px}
.navbar li:hover .home,.navbar li a.cur .home{background-position:-28px -81px}
.navbar li:hover .card,.navbar li a.cur .card{background-position:-31px -167px}
.navbar li:hover .intro,.navbar li a.cur .intro{background-position:-29px -53px}
.navbar li:hover .help,.navbar li a.cur .help{background-position:-30px -140px}
.navbar li:hover .contact,.navbar li a.cur .contact{background-position:-30px -111px}

.navbar li .card-drop-menu{opacity:0;filter:alpha(opacity=0);visibility:hidden;width:552px;background:#fff;position:absolute;top:46px;z-index:9;border:1px solid #eee;border-top:none;border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;box-shadow:0 5px 35px -3px rgba(50,50,50,0.2);-webkit-box-shadow:0 5px 35px -3px rgba(50,50,50,0.2);transition:0.2s}
.navbar li.relative:hover .card-drop-menu{opacity:1;filter:alpha(opacity=100);visibility:visible}
.navbar li .card-drop-menu .imglist a{float:left;margin:18px 0 0 18px;position:relative;top:0;transition:top 0.4s}
.navbar li .card-drop-menu .imglist a:hover{top:-4px;color:#399EFF}
.navbar li .card-drop-menu .imglist em{display:block;text-align:center;line-height:100%}
.navbar li .card-drop-menu .item {
	display:inline-block;

	width:160px;
	height:88px;
	/*background:url("../images/speite_category.png") no-repeat;*/
		background-size:160px 88px;
	/*border-radius:5px;*/
	/*-webkit-radius:5px;*/
	/*box-shadow:0 0 16px 0 #ddd;*/
	/*-webkit-box-shadow:0 0 16px 0 #ddd*/
}

.navbar li .card-drop-menu .img1{background-position:-2px 0}
.navbar li .card-drop-menu .img2{background-position:-182px 0}
.navbar li .card-drop-menu .img3{background-position:-362px 0}
.navbar li .card-drop-menu .img4{background-position:-2px -100px}
.navbar li .card-drop-menu .img5{background-position:-182px -100px}
.navbar li .card-drop-menu .img6{background-position:-362px -100px}
.navbar li .card-drop-menu .hot-search{width:520px;margin:0 auto;padding:12px 0;}
.navbar li .card-drop-menu .hot-search strong{color:#000}
.navbar li .card-drop-menu .hot-search a{color:#666;display:inline-block;font-size:14px;margin-right:12px}
.navbar li .card-drop-menu .hot-search a:hover{color:#399EFF}

/*头部右边*/
.oper{position:absolute;right:4%;top:16px}
.oper li{float:left}
.oper li>a{float:left;display:inline-block;margin-left:10px;border:1px solid #399EFF;color:#399EFF;border-radius:16px;-webkit-border-radius:16px;padding:5px 15px}
.oper li:hover>a,.oper li a.cur{color:#fff;box-shadow:0 0 10px 2px #c6e8fb;background:#519cff;
	background:linear-gradient(to right,#519cff 0%,#bb71ff 100%);
	background:-webkit-linear-gradient(left,#519cff 0%,#bb71ff 100%);
	background:-moz-linear-gradient(left,#519cff 0%,#bb71ff 100%);
	background:-o-linear-gradient(left,#519cff 0%,#bb71ff 100%);
	background:-ms-linear-gradient(left,#519cff 0%,#bb71ff 100%)
}

.oper li .user-img{vertical-align:middle;border-radius:50%;-webkit-border-radius:50%}
.oper li .user-name{display:inline-block;vertical-align:middle;padding:0 10px 0 5px;white-space:nowrap;max-width:100px;overflow:hidden;text-overflow:ellipsis;cursor:pointer}
.oper li .login-out-drop-menu{opacity:0;filter:alpha(opacity=0);visibility:hidden;width:383px;right:-94px;padding-top:22px;position:absolute;top:35px;z-index:9;transition:0.2s}
.oper li .login-out-drop-menu .wrap{padding:0 0 12px 0;text-align:center;background:#fff;border-top:none;border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;box-shadow:0 5px 35px -3px rgba(50,50,50,0.2);-webkit-box-shadow:0 5px 35px -3px rgba(50,50,50,0.2);}
.oper li.relative:hover .login-out-drop-menu{opacity:1;filter:alpha(opacity=100);visibility:visible;cursor:pointer}
.oper li.relative>a{width:36px;height:36px;padding:0;text-align:center;font:bold 20px/34px "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;border-radius:50%;-webkit-border-radius:50%}
.oper li.relative:hover>a{color:#fff;background:#399EFF}
.oper li.relative .contact-drop-menu{opacity:0;filter:alpha(opacity=0);visibility:hidden;width:140px;padding-top:30px;position:absolute;z-index:9;right:-50px;top:33px;transition:0.4s}
.oper li:hover>.contact-drop-menu{opacity:1;filter:alpha(opacity=100);visibility:visible}
.oper .contact-drop-menu .wrap{background:#fff;border:1px solid #fafafa;border-radius:5px;-webkit-border-radius:5px;box-shadow:0 0 8px 1px #eee;box-shadow:0 10px 35px -3px rgba(50,50,50,0.2);-webkit-box-shadow:0 10px 35px -3px rgba(50,50,50,0.2)}
.oper .contact-drop-menu .sj{display:block;width:0;height:0;position:absolute;top:22px;left:63px;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:10px solid #fff;box-shadow:0 1px 10px -3px rgba(50,50,50,0.2)}
.oper .contact-drop-menu .list{padding:15px}
.oper .contact-drop-menu .list a{display:block;height:27px;line-height:27px;margin-bottom:12px;transition:color 0.3s}
.oper .contact-drop-menu .list a:hover{color:#399EFF}
.oper .contact-drop-menu .list>a.last{margin-bottom:0}
.oper .contact-drop-menu .list i{display:inline-block;width:27px;height:27px;vertical-align:middle;margin-right:6px}
.oper .contact-drop-menu .list .c1{background:url("../images/sprite_index.png") 0 -195px no-repeat}
.oper .contact-drop-menu .list .c2{background:url("../images/sprite_index.png") -30px -194px no-repeat}
.oper .contact-drop-menu .list .c3{background:url("../images/sprite_index.png") -61px -195px no-repeat}
.oper .contact-drop-menu .tel{padding:8px 4px;border-top:1px solid #ddd;text-align:center}
.oper .contact-drop-menu .tel p:nth-child(1){font-size:16px;font-weight:bold;color:#FE7050}
.oper .contact-drop-menu .tel p:nth-child(2){font-size:12px;color:#999}
.login-out-drop-menu .wrap {font-size:12px;}
.login-out-drop-menu .wrap .l_bg{height:100px;width:100%;background:url("../images/kj-bg.png") 0 -195px repeat-y}
.login-out-drop-menu .wrap .l_bg img{margin-top:18px;float:left;margin-left:20px}
.login-out-drop-menu .wrap .l_bg .l_info{position:absolute;left:100px;top:44px}
.login-out-drop-menu .wrap .l_bg .l_info div{text-align:left;color:#fff;line-height:1.5}
.login-out-drop-menu .wrap .l_bg a.member_link{display:block;height:100%}
.login-out-drop-menu .wrap .l_bg a.btn{position:absolute;top:64px;display:inline-block;padding:2px 5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.login-out-drop-menu .wrap .l_bg a.member{right:20px;background:#F6C356;color:#fff}
.login-out-drop-menu .wrap .l_bg a.logout{right:100px;background:#FFF;color:#399EFF}
.login-out-drop-menu .wrap .hr{height:1px;margin-top:3px;margin-bottom:3px;background:#cec7c7}
.login-out-drop-menu .wrap #xshouw {height:75px;margin-top:5px}
.login-out-drop-menu .wrap #xshouw a{width:58px;height:80px;float:left;margin:10px 0 10px 31px}
/*.login-out-drop-menu .wrap #xshouw .ico1 i{background: url(../images/kj-ioc.png) -161px 0 no-repeat;height:40px;width: 40px;display: block;margin-left: 8px;}
.login-out-drop-menu .wrap #xshouw .ico2 i{background: url(../images/kj-ioc.png) -200px 0 no-repeat;height:40px;width: 40px;display: block;margin-left: 8px;}
.login-out-drop-menu .wrap #xshouw .ico3 i{background: url(../images/kj-ioc.png) -242px 0 no-repeat;height:40px;width: 40px;display: block;margin-left: 8px;}
.login-out-drop-menu .wrap #xshouw .ico4 i{background: url(../images/kj-ioc.png) -280px 0 no-repeat;height:40px;width: 40px;display: block;margin-left: 8px;}*/
.login-out-drop-menu .wrap #xshouw i{height:40px;width:40px;display:block;margin-left:8px}
.login-out-drop-menu .wrap #xshouw .ico1 i{background:url(../images/kj-ioc.png) 0 0 no-repeat}
.login-out-drop-menu .wrap #xshouw .ico2 i{background:url(../images/kj-ioc.png) -38px 0 no-repeat}
.login-out-drop-menu .wrap #xshouw .ico3 i{background:url(../images/kj-ioc.png) -81px 0 no-repeat}
.login-out-drop-menu .wrap #xshouw .ico4 i{background:url(../images/kj-ioc.png) -120px 0 no-repeat}
.login-out-drop-menu .wrap #xshouw .ico1:hover i{background-position:-161px 0}
.login-out-drop-menu .wrap #xshouw .ico2:hover i{background-position:-200px 0}
.login-out-drop-menu .wrap #xshouw .ico3:hover i{background-position:-242px 0}
.login-out-drop-menu .wrap #xshouw .ico4:hover i{background-position:-280px 0}
.login-out-drop-menu .wrap #xlog_a{height:20px}
.login-out-drop-menu .wrap #xlog_a a:first-child {float:left;margin-left: 10px}
.login-out-drop-menu .wrap #xlog_a a:last-child {float:right;margin-right: 10px}
.login-out-drop-menu .wrap #xlog_a a:hover {color:#399EFF}

/*底部文件*/
.footer{background:#F8FAFF;color:#999A9D}
.footer .f-top{padding:40px 0;border-top:1px solid #ECF0F6}
.footer .wrap1100{width:1100px;margin:0 auto}
.footer a{color:#999A9D}
.footer .go-link{width:36%}
.footer .go-link span{display:inline-block;margin-right:20px;width:100px;margin-top:13px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.footer .go-link a:hover{color:#399EFF}
.footer .go-link b,.footer .contact-us b{font-size:16px;color:#333}
.footer .contact-us{width:20%;margin:0 3% 0 0}
.footer .contact-us p{margin-top:16px}
.footer .contact-us p.first{margin-top:0}
.footer .contact-us .tel{font-size:22px;color:#FBC366}
.footer .service{width:18%}
.footer .service p{margin:5px 0 10px 0}
.footer .f-btm{text-align:center;padding:20px 0;border-top:1px solid #ECF0F6}
.footer .f-btm a{margin:20px 8px}
.footer .f-btm a.txt{display:inline-block;width:90px;text-align:left;position:relative;vertical-align:middle;padding:8px 8px 6px 48px;line-height:120%;border:1px solid #ddd;border-radius:4px;-webkit-border-radius:4px}
.footer .f-btm a i{display:inline-block;position:absolute;left:10px;top:8px;width:30px;height:30px;vertical-align:middle;background:url("../images/sprite_index.png") no-repeat}
.footer .f-btm .s1{background-position:-262px -188px}
.footer .f-btm .s2{background-position:-290px -190px}
.footer .f-btm .s3{background-position:-200px -190px}
.footer .f-btm .s4{background-position:-230px -190px}

/*登录注册引用的简单底部*/
.footer-simple{background:#F8FAFF;color:#999A9D;border-top:1px solid #ECF0F6;text-indent:200px}
.footer-simple .tcenter{padding:18px 0}
.footer-simple a{margin:0 8px;color:#999A9D}
.footer-simple .btm{padding:13px 0;border-top:1px solid #ECF0F6}

/*返回顶部*/
a.back-top{display:block;width:53px;height:79px;position:fixed;z-index:9;right:1.5%;bottom:3%;background:url("../images/back_top.png") 0 0 no-repeat;transition:0.2s}
a.back-top:hover{background-position:0 -79px}
.right-bar{width:60px;position:fixed;right:0;bottom:10%;z-index:8;background:#fff;box-shadow:0 5px 35px -3px rgba(50,50,50,.2);border-radius:6px 0 0 6px}
.right-bar li{height:60px;overflow:hidden;border-top:1px dashed #e6e6e6}
.right-bar li a{text-align:center;display:block}
.right-bar li i,.right-bar li span{display:block;height:60px;line-height:1.3}
.right-bar li .online{position:absolute;right:-2px;top:-20px;width:80px;height:80px;background:#0085fe;border-radius:16px 0 0 16px;border:1px solid #fff;box-shadow:0 0 0 2px rgba(255,255,255,.8), 0 3px 30px -3px rgba(0,133,254,.6)}
.right-bar li .online span{color:#fff;height:24px}
@keyframes kfmsg{0%{transform:scale(1,1)}50%{transform:scale(0.75,0.75)}100%{transform:scale(1,1)} } 
@-webkit-keyframes kfmsg{0%{transform:scale(1,1)}50%{transform:scale(0.75,0.75)}100%{transform:scale(1,1)} }  
@-moz-keyframes kfmsg{0%{transform:scale(1,1)}50%{transform:scale(0.75,0.75)}100%{transform:scale(1,1)} }  
@-o-keyframes kfmsg{0%{transform:scale(1,1)}50%{transform:scale(0.75,0.75)}100%{transform:scale(1,1)} }  
@-ms-keyframes kfmsg{0%{transform:scale(1,1)}50%{transform:scale(0.75,0.75)}100%{transform:scale(1,1)} }
.right-bar li .msg{width:40px;height:40px;margin:10px auto 4px auto;background:url("../images/xiaoxi.png") center no-repeat;animation:kfmsg 2s linear infinite alternate} 
.right-bar li .wx{background:url("../images/weixin.png") center no-repeat}
.right-bar li .fk{background:url("../images/bianji.png") center no-repeat}
.right-bar li .top{background:url("../images/btop.png") center no-repeat}
.right-bar li .hide-menu{transition:0.3s;position:absolute;z-index:7;width:200px;height:86px;text-align:center;background:#fff;box-shadow:0 5px 35px -3px rgba(50,50,50,.2);border-radius:6px;box-sizing:border-box;right:-200px;top:-22px}
.right-bar li .hide-menu .bt{margin-top:5px}
.right-bar li .hide-menu .tel{font-size:16px;color:#ff5c38}
.right-bar li .hide-menu .font12{font-size:12px}
.right-bar li .hide-menu2{position:absolute;z-index:7;border:1px solid #e6e6e6;box-sizing:border-box;right:-142px;top:64px;transition:0.3s}
.right-bar li .move-top{z-index:8;position:relative;transition:0.3s}
.right-bar li .move-top:hover{transform:translate3d(0,-48px,0)}
.right-bar .move-left:hover .hide-menu{transform:translate3d(-282px,0,0)}
.right-bar .move-left:hover .hide-menu2{transform:translate3d(-204px,0,0)}

/*系统消息提示弹窗*/
.message-box-tip{width:auto;border:0;background:#fff;position:fixed;left:40%;top:28%;z-index:11;border-radius:10px;-webkit-border-radius:10px;box-shadow:0 0 20px 2px #666;-webkit-box-shadow:0 0 20px 2px #666}
.message-box-tip .title{padding:6px 10px;background:#e4f2fb;border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0}
.message-box-tip .close-icon{display:inline-block;width:20px;height:20px;background:url("../images/sprite_index.png") -275px -93px no-repeat;cursor:pointer;transition:background 0.3s;position:absolute;top:8px;right:6px}
.message-box-tip .close-icon:hover{background-position:-275px -115px}
.message-box-tip .contents{padding:6%}
.message-box-tip .contents .suc,.message-box-tip .contents .fail{display:block;width:80px;height:80px;overflow:hidden;margin:0 auto;text-indent:-999px;background:url("../images/mes-box-icon.png") no-repeat}
.message-box-tip .contents .suc{background-position:0 0}
.message-box-tip .contents .error{background-position:0 -81px}
.message-box-tip .contents h3{margin-bottom:15px}
.message-box-tip .contents .btn{display:inline-block;margin:20px 5px;height:32px;line-height:32px;padding:0 20px}
.message-box-tip .login-area{width:384px;margin-top:0}
.mask-layout{width:100%;height:100%;position:fixed;left:0;top:0;z-index:10;background:#333;opacity:0.5;filter:alpha(opacity=50)}

/*分页*/
.pager a{margin:0 5px;padding:3px 8px;border:1px solid #ddd;border-radius:4px;-webkit-border-radius:4px}
.pager a:hover,.pager a.cur{background:#399EFF;color:#fff}
.pager a.cur{cursor:default}

/*字体颜色*/
.colorf97373{color:#F97373} /*红*/
.color399eff{color:#399EFF} /*蓝*/
.color8e98a8{color:#8E98A8} /*灰*/
.color2dd488{color:#2DD488} /*绿*/
.color999{color:#999}
.colorff5c38{color:#FF5C38}/*橙*/

/*字号*/
.font16{font-size:16px}
.font18{font-size:18px}
.font20{font-size:20px}
.font22{font-size:22px}
.font24{font-size:24px}
.font28{font-size:28px}
.font30{font-size:30px}

/*form按钮*/
.chk{width:16px;height:16px;vertical-align:-3px}
.get-code{display:inline-block;height:40px;vertical-align:middle;padding:0 12px;vertical-align:middle;text-align:center;color:#fff;line-height:40px;background:#F97373;border-radius:5px}
.get-code:hover{background:#fb8383}
.sub-btn{height:45px;padding:0 20px;cursor:pointer;font-size:18px;font-weight:400;color:#fff;background:#399EFF;background:linear-gradient(0deg,rgba(51,154,251,1) 0%,rgba(53,174,253,1) 100%);-webkit-background:linear-gradient(0deg,rgba(51,154,251,1) 0%,rgba(53,174,253,1) 100%);border-radius:5px;-webkit-border-radius:5px;}
.sub-btn:hover{background:#4fa7fb}
.oper-btn-green{height:28px;line-height:28px;color:#fff;padding:0 5px;background:#2DD488;border-radius:4px;-webkit-border-radius:4px}
.oper-btn-blue{height:28px;line-height:28px;color:#fff;padding:0 5px;background:#399EFF;border-radius:4px;-webkit-border-radius:4px}
.sub-btn.default,.get-code.default,.oper-btn-green.default,.oper-btn-blue.default{background:#eceef0;color:#ccc;cursor:default}
input.error{border:1px solid #F97373 !important;background: #fff2f2 !important;}
select.error{border:1px solid #F97373 !important;background: #fff2f2 !important;}
/*快速登录*/
.spead-login{position:fixed;left:38%;top:22%;z-index:11}
.spead-login .login-area{margin-top:0;width:480px}
.spead-login .close-icon{position:absolute;display:inline-block;right:-10px;top:-10px;width:28px;height:28px;border-radius:50%;z-index:3;background:#fff url("../images/sprite_index.png") -270px -89px no-repeat;cursor:pointer}
.spead-login .close-icon:hover{background-position:-270px -111px}

/*注册成交步骤*/
.join-step{padding:30px 0;color:#fff;background:#0aa8d1;
    background:linear-gradient(to right, #58b4fb 0%, #56eda4 100%);
    background:-webkit-linear-gradient(left, #58b4fb 0%, #56eda4 100%);
    background:-moz-linear-gradient(left, #58b4fb 0%, #56eda4 100%);
    background:-o-linear-gradient(left, #58b4fb 0%, #56eda4 100%);
    background:-ms-linear-gradient(left, #58b4fb 0%, #56eda4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#58b4fb', endColorstr='#56eda4',GradientType=1)}
.join-step .w1400{margin:0 auto}
.join-step li{float:left;margin:0 10px;position:relative}
.join-step li:nth-last-child(1){margin:0}
.join-step li.txt{text-align:center}
.join-step li i{display:block;width:72px;height:72px;margin:0 auto;background:url("../images/sprite-card-step.png") no-repeat}
.join-step li .s1{background-position:0 0}
.join-step li .s2{background-position:0 -144px}
.join-step li .s3{background-position:0 -72px}
.join-step li .s4{background-position:0 -216px}
.join-step li .s5{background-position:0 -288px}
.join-step li .s6{background-position:0 -360px}
.join-step li b{font-size:16px}
.join-step li em{display:block;width:5px;height:5px;font-size:0;position:absolute;right:0;top:66%;background:#FFF;border-radius:50%;-webkit-border-radius:50%}
.join-step li .line{padding:0 34px;margin-top:25px}
.join-step li .line:before,.join-step li .line:after{content:"";width:28px;height:0;position:absolute;top:70%;border-top:1px dashed #FFF}
.join-step li .line:before{left:0}
.join-step li .line:after{right:3px}
.join-step li.last{margin:0}
@media (max-width:1440px) {
	.join-step li {margin:0 3px}
	.join-step li .line{padding:0 29px}
	.join-step li .line:before,.join-step li .line:after{width:24px}
}

/*可销卡的分类Swiper*/
.swiper-category{padding-top:50px;background:#EFF3F9 url("../images/img12.png") center 0 no-repeat}
.swiper-category .w1400{margin:0 auto}
.swiper-category .tab-title{padding:70px 0 0 40px}
.swiper-category .tab-title li{float:left;width:160px;text-align:center;padding:10px 34px;position:relative;border-right:1px solid #ddd}
.swiper-category .tab-title li:nth-last-child(1){border-right:none}
.swiper-category .tab-title li a{display:block;float:left;font-size:16px;line-height:20px}
.swiper-category .tab-title li i{display:inline-block;width:27px;height:25px;vertical-align:middle;margin-right:5px;background:url("../images/sprite1_index.png") no-repeat}
.swiper-category .tab-title li .s1{background-position: -207px -3px;}
.swiper-category .tab-title li .s2{background-position:-3px -3px}
.swiper-category .tab-title li .s3{background-position:-44px -3px}
.swiper-category .tab-title li .s4{background-position:-83px -3px}
.swiper-category .tab-title li .s5{background-position:-124px -3px;/*vertical-align:-5px*/}
.swiper-category .tab-title li .s6{background-position:-167px -3px}
.swiper-category .tab-title li .s7{background-position:-167px -3px}
.swiper-category .tab-title li .cover{position:absolute;top:-9px;cursor:pointer;left:30px;transform:scale(0,0);-webkit-transform:scale(0,0);opacity:0;filter:alpha(opacity=0);visibility:hidden;transition:0.3s}
.swiper-category .tab-title li:hover .cover,.swiper-category .tab-title li.hover .cover{opacity:1;filter:alpha(opacity=100);visibility:visible;transform:scale(1,1);-webkit-transform:scale(1,1)}
@media (max-width:1440px) {
	.swiper-category .tab-title li{padding:10px 22px}
	.swiper-category .tab-title li .cover{left:17px}
}
.swiper-category .swiper-container{margin:30px 0 0 0;width:100%;height:360px}
.swiper-category .swiper-container .pagination{width:100%;position:absolute;z-index:20;left:0;bottom:10px;text-align:center}
.swiper-category .swiper-container .swiper-pagination-switch{display:inline-block;width:6px;height:6px;border-radius:50%;background:#d3ddeb;margin-right: 5px;cursor:pointer}
.swiper-visible-switch{/*background:#06f*/}
.swiper-category .swiper-container .swiper-active-switch{background:#40c4ff}
.swiper-category .swiper-container .arrow-left,.swiper-category .swiper-container .arrow-right{width:17px;height:30px;position:absolute;top:42%;transition:0.3s;background:url("../images/arrows.png") 0 0 no-repeat}
.swiper-category .swiper-container .arrow-left{left:3px;background-position:-17px 0;z-index:100}
.swiper-category .swiper-container .arrow-right{right:3px;background-position:-17px -30px;z-index:100}
.swiper-category .swiper-container .arrow-left:hover,.swiper-category .swiper-container .arrow-right:hover{transform:scale(1.25,1.25)}
.swiper-category .swiper-slide-inner{width:10%;display:inline-block;margin:20px 1.3%;padding:20px 1.8%;background:#fff;text-align:center;transition:0.3s;box-shadow:0 0 6px 4px rgba(238, 238, 238, 0.9);border-radius:8px;-webkit-border-radius:8px}
.swiper-category .swiper-slide-inner:hover{transform:scale(1.1,1.1)}
.swiper-category .swiper-slide-inner .img{display:block;width:130px;height:130px;margin:0 auto;border:1px solid #ddd;border-radius:50%;}
.swiper-category .swiper-slide-inner .img img{margin:47px auto;height:36px;max-width:108px}
.swiper-category .swiper-slide-inner p{padding-top:15px}
.swiper-category .swiper-slide-inner strong{display:block;max-width:130px;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:500}
.swiper-category .swiper-slide-inner .txt{padding-top:0;color:#FF5C38}
.swiper-category .swiper-slide-inner .btn{display:block;width:120px;margin:20px auto 0 auto;color:#888;line-height:240%;border:1px solid #ddd;border-radius:16px;-webkit-border-radius:16px}
.swiper-category .swiper-slide-inner .btn:hover{background:#399EFF;color:#fff}
@media (max-width:1440px) {
	.swiper-category .swiper-container{height:330px}
	.swiper-category .swiper-slide-inner .img{width:118px;height:118px}
	.swiper-category .swiper-slide-inner .img img{margin:41px auto}
	.swiper-category .swiper-slide-inner p{padding-top:8px}
	.swiper-category .swiper-slide-inner .btn{margin-top:10px}
}
/*页面底部回收常见问题*/
.foot-faq{background:#fff}
.foot-faq .w1400{margin:0 auto;padding-bottom:60px}
.foot-faq .title{padding-top:74px;text-align:center}
.foot-faq .title h3{font-size:30px;line-height:160%;letter-spacing:2px;background:url("../images/img9.png") center no-repeat}
.foot-faq .title b{color:#399EFF}
.foot-faq .tab-links{text-align:center;margin:30px 0;color:#bbb}
.foot-faq .tab-links a{display:inline-block;padding:2px 8px 4px 8px;margin:0 15px}
.foot-faq .tab-links i{display:inline-block;width:18px;height:18px;vertical-align:middle;margin-right:3px;background:url("../images/sprite_index.png") no-repeat}
.foot-faq .tab-links a:hover{background:#666;border-radius:16px;color:#fff}
.foot-faq .tab-links .s1{background-position:-19px 0}
.foot-faq .tab-links .s2{background-position:-43px -1px}
.foot-faq .tab-links .s3{background-position:-68px 0}
.foot-faq .tab-links .s4{background-position:-90px 0}
.foot-faq .tab-links .s5{background-position:-112px 0}
.foot-faq .tab-links .s6{background-position:-138px 0}
.foot-faq .item{float:left;width:40%;height:120px;overflow:hidden;padding:0 5%;margin:2.5% 0}
.foot-faq .item h5{font-size:16px;margin-bottom:20px}
.wxtxt{text-indent: 13px}
.gzh-img {margin-top:-5px}
.zxkf-mag {margin-left:4%}
/*协议*/
.treaty-div {line-height:28px;color: #333;font-size:18px;font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;}
.treaty-div p{padding: 0;vertical-align: baseline;margin-bottom: 10px;letter-spacing: 2px;}
.treaty-div span.tr_ju {padding-right:10px;}
.treaty-div span.tr_ju0 {padding-right:10px;font-weight:bold;}
.treaty-div span.tr_ju2 {font-weight:bold;}
.treaty-div span.tr_ju3 {font-weight:bold;text-decoration: underline;}
.treaty-div span.tr_ju4 {font-weight:bold;text-decoration: underline;color:#FF5C38}
.treaty-div div .indent {text-indent:44px}
.treaty-div div .indent2 {text-indent:88px}
.treaty-div b.treatr_b {color:#008400;font-weight:400}
.treaty-div b.treatr_b2 {text-decoration: underline}
.treaty-div .under {text-decoration:underline}

.authent_div {width: 400px;height: 320px;text-align: center;padding-top: 20px;display:none}
.authent_div h2 {color:#F5AA15;font-size:24px;margin:15px 0px}
.authent_div div {color:#6e768e;font-size:16px;width:270px;margin:0px auto;line-height:25px}
.authent_div a{background: #3267cc;border-radius:8px;width:130px;height:40px;line-height:40px;color:#fff;font-size:14px;margin:20px 10px 0 10px;display:inline-block;font-weight:bold}
.member-details-AuthWindow{border-radius:10px !important}
.member-details-AuthWindow .layui-layer-title {border-top-left-radius: 10px !important;border-top-right-radius: 10px !important;}
.xlink {white-space: nowrap;word-break: break-all;word-wrap: break-word;overflow: hidden;text-overflow: ellipsis;max-width: 800px;display: inline-block;height: 20px;}

.sbalert p{padding-bottom:10px}
.sbalert p span:first-child{margin-left: 20px;float:left}
.sbalert p span:last-child{float: left;margin-right: 20px;max-width: 200px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}