.banner-wrap{width:100%;height:600px;position:relative;background:#161d87 url("../images/img10.jpg") center no-repeat}
.notify{width:100%;height:66px;position:absolute;bottom:0;left:0;z-index:2}
.notify-bg{width:100%;height:66px;overflow:hidden;position:absolute;bottom:0;left:0;z-index:1;background:#000;opacity:0.3;filter:alpha(opacity=30)}
.notify-txt{height:26px;position:relative;margin:0 auto;padding:20px 0;color:#fff;z-index:2}
.notify-txt strong{vertical-align:top;font-size:20px;font-weight:bold;color:#fff;padding-right:14px;margin-right:14px;border-right:1px dashed #fff}
.notify-txt strong i{display:inline-block;vertical-align:top;width:30px;height:26px;margin-right:8px;background:url("../images/sprite_index.png") -92px -195px no-repeat}
.notify-txt a.link{display:inline-block;vertical-align:-7px;max-width:1000px;color:#fff;white-space:nowrap;word-break:break-all;word-wrap:break-word;overflow:hidden;text-overflow:ellipsis}
.notify-txt a.more{float:right;color:#5BAFFF}
.notify-txt .left span {margin-left:20px}
.notify-list{height:25px;overflow:hidden;display:inline-block}
.banner-btn{width:100%;height:85px;z-index:1;position:absolute;left:0;bottom:66px}
.banner-btn a{display:block;margin:0 auto;width:220px;text-align:center;height:64px;font-size:24px;background:#519cff;line-height:64px;border-radius:36px;-webkit-border-radius:36px;color:#fff;background:#519cff;background:linear-gradient(to right,#519cff 0%,#bb71ff 100%);background:-webkit-linear-gradient(left,#519cff 0%,#bb71ff 100%);background:-moz-linear-gradient(left,#519cff 0%,#bb71ff 100%);background:-o-linear-gradient(left,#519cff 0%,#bb71ff 100%);background:-ms-linear-gradient(left,#519cff 0%,#bb71ff 100%)}
.banner-btn a:hover{background:#fff;color:#1925a0}

.join-step-index{background:#f8faff}
.join-step-index .w1400{margin:0 auto;position:relative;top:70px;z-index:1;border:1px solid #eee;background:#fff;box-shadow:0 0 20px 4px #eee;-webkit-box-shadow:0 0 20px 4px #eee;border-radius:70px;-webkit-border-radius:70px}
.join-step-index ul{padding:20px 50px}
.join-step-index li{float:left;margin:0 5px;position:relative}
.join-step-index li.last{margin:0}
.join-step-index li.txt{text-align:center}
/*.join-step-index li i{display:block;width:50px;height:50px;margin:0 auto;background:url("../images/sprite_index.png") no-repeat}
.join-step-index li .s1{background-position:0 -228px}
.join-step-index li .s2{background-position:-57px -226px}
.join-step-index li .s3{background-position:-114px -226px}
.join-step-index li .s4{background-position:-173px -226px}
.join-step-index li .s5{background-position:-230px -226px}
.join-step-index li .s6{background-position:-283px -228px}*/
.join-step-index li i{display:block;width:70px;height:70px;margin:0 auto;background:url("../images/sprite-card-step.png") no-repeat}
.join-step-index li .s1{background-position:0 0}
.join-step-index li .s2{background-position:0 -144px}
.join-step-index li .s3{background-position:0 -70px}
.join-step-index li .s4{background-position:0 -216px}
.join-step-index li .s5{background-position:0 -288px}
.join-step-index li .s6{background-position:0 -360px}
.join-step-index li b{font-size:16px}
.join-step-index li em{display:block;width:5px;height:5px;font-size:0;position:absolute;right:0;top:66%;background:#399EFF;border-radius:50%;-webkit-border-radius:50%}
.join-step-index li .line{padding:0 35px;margin-top:25px;color:#999}
.join-step-index li .line:before,.join-step-index li .line:after{content:"";width:26px;height:0;position:absolute;top:70%;border-top:1px dashed #399EFF}
.join-step-index li .line:before{left:0}
.join-step-index li .line:after{right:3px}
@media (max-width:1440px) {
	.join-step-index li {margin:0 3px}
	.join-step-index li .line{padding:0 25px;font-size:12px}
	.join-step-index li .line:before,.join-step-index li .line:after{width:20px}
}

.card-intros{background:#f8faff;border-bottom:1px solid #ECF0F6}
.card-intros .w1400{margin:0 auto}
.card-intros .title{padding-top:60px;text-align:center}
.card-intros .title h3{font-size:30px;line-height:180%;color:#333;background:url("../images/img9.png") center no-repeat}
.card-intros .title b{color:#399EFF}
.card-intros .title p{color:#999}
.card-intros .list{padding:30px 0 60px 0}
.card-intros li{float:left;width:15%;padding:2%;margin:0 3%}
.card-intros li:hover{background:#fff;box-shadow:0 0 12px 4px #eee;color:#5596FD;border-radius:10px;-webkit-box-shadow:0 0 12px 4px #eee;-webkit-border-radius:10px}
.card-intros li:hover h4:after{border-top-color:#5596FD}
.card-intros li:hover i{animation:shake 0.4s linear}
@keyframes shake{ 0%{transform:rotate(0)}25%{transform:rotate(-45deg)}75%{transform:rotate(45deg)}100%{transform:rotate(0)} }
.card-intros li i{display:block;width:120px;height:120px;margin:0 auto;transition:0.3s;background:url("../images/sprite-card-intro.png") no-repeat}
.card-intros li h4{position:relative;text-align:center;font-size:24px;line-height:240%}
.card-intros li h4:after{content:"";width:14px;height:0;position:absolute;bottom:0;left:48%;border-top:4px solid #666}
.card-intros li p{margin-top:12px;font-size:16px}
.card-intros li .s1{background-position:0 -240px}
.card-intros li .s2{background-position:0 -360px}
.card-intros li .s3{background-position:0 0}
.card-intros li .s4{background-position:0 -120px}

.news{background:#fff}
.news .w1400{margin:0 auto;padding-bottom:60px}
.news .title{padding-top:74px;text-align:center}
.news .title h3{font-size:30px;line-height:160%;letter-spacing:3px;background:url("../images/img9.png") center no-repeat}
.news .title b{color:#399EFF}
.news .tab-links{text-align:center;margin:30px 0;color:#bbb}
.news .tab-links a{display:inline-block;padding:2px 8px;margin:0 15px}
.news .tab-links i{display:inline-block;width:18px;height:18px;vertical-align:middle;margin-right:3px;background:url("../images/sprite_index.png") no-repeat}
.news .tab-links a:hover{background:#666;color:#fff;border-radius:10px}
.news .tab-links .s7{background-position:-294px -1px}
.news .tab-links .s8{background-position:-312px -1px}
.news .tab-links .s9{background-position:-216px -53px}
.news .tab-links .s10{background-position:-216px -70px}
.news .main .top b{font-size:18px;font-weight:bold}
.news .main .top i{display:inline-block;width:30px;height:30px;vertical-align:middle;margin-right:5px;background:url(../images/sprite_index.png) no-repeat}
.news .main .top .que{background-position:-168px -192px}
.news .main .top .mes{background-position:-135px -192px}
.news .main .top .more{color:#bbb;border:1px solid #bbb;padding:3px 6px;border-radius:10px;-webkit-border-radius:10px}
.news .main .top .more:hover{background:#0096FF;color:#fff}
.news .main .part{width:44%}
.news .main .list li{height:14px;overflow:hidden;padding:10px 0}
.news .main .list li a:hover{color:#0096FF}
.news .main .list li a{padding-left:12px;position:relative}
.news .main .list li a:before{content:".";position:absolute;left:0;top:-8px;font-size:20px;font-weight:bold}
.news .main .list li span.left{display:inline-block;width:70%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;word-wrap:break-word}
.news .main .list li span.right{color:#999}