@charset "utf-8";
/* CSS Document */

/*Reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,b,blockquote,th,td,em,span,img{padding:0;margin:0;outline:none}
table {border-collapse:collapse;border-spacing:0}
img{border:0;vertical-align:middle}
input{border:none;outline:none}
address,caption,cite,code,dfn,em,th,var,i{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
:focus{outline:none}
.clear:after{display:block;content:".";height:0;font-size:0;overflow:hidden;clear:both;visibility:hidden} 
.left{float:left}
.right{float:right}
.hide{display:none}
.block{display:block}
.lblock{display:inline-block}
.tcenter{text-align:center}
.relative{position:relative}
body{min-width:1420px;color:#333;font:14px/180% "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif}
@media (max-width:1440px) {
	body{min-width:1260px}
}
a{color:#666;text-decoration:none}
a:hover{text-decoration:none;cursor:pointer}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill{-webkit-box-shadow:0 0 0px 1000px white inset}
input::-webkit-input-placeholder{color:#999}
input::-moz-placeholder{color:#999}  /* Mozilla Firefox 19+ */
input:-moz-placeholder{color:#999}   /* Mozilla Firefox 4 to 18 */
input:-ms-input-placeholder{color:#999} /* Internet Explorer 10-11 */ 

/*index*/
	.web-trends {
        background: #fff;
    padding: 30px 0 54px;
}
.w1320 {
    width: 1320px;
    margin: 0 auto;
}
.web-trends .title {
    font-size: 30px;
    line-height: 160%;
    letter-spacing: 3px;
    background: url(/static1/home/images/img9.png) center no-repeat;
    text-align: center;
}
.web-trends .crumbs-nav-box {
    overflow: hidden;
    margin: 22px auto 28px;
}
ul, ol {
    list-style: none;
}
.web-trends .crumbs-nav-box li {
    width: 187px;
    float: left;
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
}
.web-trends .crumbs-nav-box a {
    display: block;
    color: #333;
    cursor: pointer;
}
.web-trends .crumbs-nav-box li.list-division {
    width: 1px;
    color: #ddd;
}
.web-trends .crumbs-nav-box li {
    width: 187px;
    float: left;
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
}
.web-trends .box {
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    background: #fff;
}
.web-trends .box .module {
    width: 50%;
}
.fl {
    float: left;
}
.web-trends .content-pad-l {
    padding: 0 33px 0 38px;
}
.web-trends .box .top {
    height: 50px;
    line-height: 50px;
    margin-top: 13px;
    margin-bottom: 8px;
}
.web-trends .box .subtit {
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    color: #333;
}
.web-trends .box .top {
    height: 50px;
    line-height: 50px;
    margin-top: 13px;
    margin-bottom: 8px;
}
.web-trends .box .more {
    font-size: 16px;
    color: #999;
    /*text-decoration: underline;*/
}
.fr {
    float: right;
}
.web-trends .box .subtit:before {
    content: "";
    position: absolute;
    top: 13px;
    left: -5px;
    width: 30px;
    height: 30px;
    background: url(/static1/home/images/sprite_index.png) no-repeat -168px -192px;
}
.web-trends .box .subtit.industry:before {
    background: url(/static1/home/images/sprite_index.png) no-repeat -135px -192px;
}
.web-trends .list a {
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 52px;
    border-bottom: 1px dashed #c2c2c2;
    margin-left: 36px;
    overflow: hidden;
}
.web-trends .list .tag {
    position: absolute;
    top: 18px;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(/static/home/images/common/icon-24.png) no-repeat 0 -1325px;
    text-align: center;
    color: #fff;
}
.web-trends .list li {
    position: relative;
}
.title b {
    color: #399EFF;
}